#find-compare { border: 3px solid #88abc7; width: 950px; margin: 10px auto 20px auto; clear: both; overflow: visible; position: relative; height: 410px; background:#fff; font-size:11px }
#find-cruise {
overflow: hidden;
padding: 20px 0;
position: relative;  
font-size:11px;
border-bottom:solid 1px #d5d5d5;
background:#fff;
}
#ct-banner {
	border: 1px solid #88ABC7;
	margin: 10px auto 0;
	background:#fff;
	padding: 0;
	width: 954px;
	height: 125px;
}
#ct-banner a{
	display: block;
}
.no-cssgradients #find-cruise { border-bottom:solid 2px #999; padding-bottom:15px}
.bottom-border				{border-bottom:1px solid #f0eee2;}
#searchlight-top-panel 					{ background: url(/images/global/find_bgs.png) repeat-x; padding: 2px 6px; height: 21px; position: relative; }
#searchlight-top-panel label 			{ font-weight: 700; padding-right: 10px; }
#searchlight-top-panel label,#searchlight-top-panel input[type="radio"] {
  vertical-align: middle;
}

#searchlight-top-panel .blue 			{ color: #29649f; }
#searchlight-top-panel .green 			{ color: #729731; }
.col1 						{ float: left; width: 240px; padding: 0px; border-right: 1px solid #8D8D8D; }
.col2 						{ float: left; width: 150px; padding: 0px; border-right: 1px solid #8D8D8D; }
.col3 						{ float: left; width: 168px; padding: 0px; border-right: 1px solid #8D8D8D; }
.col4 						{ float: left; width: 178px; padding: 0px;  border-right: 1px solid #8D8D8D; }
.dates						{padding:10px; overflow:hidden; min-height: 122px;}
#find-compare li			{ list-style: none; padding: 2px 2px 2px 7px; border-bottom: 1px solid #CCC; cursor:pointer;-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
 }
#find-cruise .dates li{
	border: 1px solid #CCC;
    float: left;
    margin: 3px;
    width: 22px;
    text-align: center;
	padding:2px;
	cursor:pointer;
	}
#find-compare h2 			{ font-size: 11px; background: #666; color: #FFF; padding: 2px 5px 2px 8px; }
#find-compare .duration li 	{ line-height:17px; }
#find-compare .col1 li		{ line-height:18px}
#find-compare .col4 li		{ width: 22px; border: 1px solid #CCC; margin: 3px; float: left; }
/*.col2 .year					{ clear: both; overflow: hidden; font-size: 13px; font-weight: 700; color: #333; padding: 6px 0 0 3px; }*/
.results 					{ 
text-align: center; 
width:140px;
margin:0 auto;
padding:5px;
font-size:12px;
line-height:1.75;
font-weight:700;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border:solid 1px #ccc;
background:#fafcfd; /* old browsers */
background:-moz-linear-gradient(top, #eef2f6 0%, #f9fafc 10%,#fff 15%, #fff 85%,#f9fafc 90%, #eef2f6 100%); 
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eef2f6),color-stop(10%, #f9fafc),color-stop(15%, #fff),color-stop(85%, #fff),color-stop(90%,#f9fafc), color-stop(100%, #eef2f6));
background:-webkit-linear-gradient(top, #eef2f6 0%, #f9fafc 10%,#fff 15%, #fff 85%,#f9fafc 90%, #eef2f6 100%); 
}
.results .no-of-results		{ color: #5a8310; font-size:20px; display:block; padding-top:3px }
#cruisetours .results       { line-height: 1.25; }
.buttons 					{ margin-top: 20px; text-align: center; }
#cruisetours .buttons       { margin-top: 15px; }
/*.col2 .year:first-child 	{ padding-top:0}*/
#cruises .selected:hover	{ background: #769abc ; color:#fff }
#cruises .default, .searchlight-simple .default			{ background: #dde6ee; }
#cruises .selected, .searchlight-simple .selected		{ background: #2a6aa3; color:#fff }
#find-compare .disabled:hover, #find-cruise .dates li.disabled:hover { background:#fff; cursor:auto}
#cruises 					{ position: absolute; top: 25px; left: 0px; clear: both; overflow:hidden; height:400px  }
#cruisetours				{ position: absolute; top: 25px; left: 0px;clear: both; overflow: hidden; height:400px}
#cruises li:hover			{ background:#c1d1e1}
#cruisetours .default		{ background: #e6ecdd; }
#cruisetours .selected		{ background: #7c9949; color:#fff }
#cruisetours li:hover		{ background:#c4d1ad}
#cruisetours .selected:hover{ background: #7c9949; color:#fff }
#find-compare #sub-trade	{ margin:-3px -2px -2px -7px; background: #f0f3ea; padding: 4px; border-top: 1px solid #e1e1e1; overflow:hidden}
#find-compare #cruisetours  #sub-trade li { background:#fff;font-size:9px;padding: 4px 7px; border-style: none;margin: 4px 2px 4px; line-height: 12px; border-radius:15px;}
#find-compare #cruisetours  #sub-trade li.default 	{ background: #e6ecdd;  }
#find-compare #cruisetours  #sub-trade li:hover		{ background:#c4d1ad}
#find-compare #cruisetours  #sub-trade li.selected	{background:#7c9949; color:#fff}
#find-compare #cruisetours  #sub-trade li.disabled:hover{background:#fff; color:#333}
#find-compare #cruisetours li.selected ul			{ background:#adb2a6}
#find-compare #cruisetours li.selected li			{ color:#333 }
#find-compare #cruisetours .col1 li 				{ line-height: 29px; }
#find-compare #cruisetours #ship-n-sequence li		{ line-height: 15px; }
#find-compare #cruisetours #tour-duration li 		{ line-height:20px }
#color-legend 				{ position: absolute; top:2px; right: 15px; text-transform:uppercase }
#options span 				{ background: #DDE6EE; }
#selections span 			{ background: #769ABC; }
#eliminated span 			{ background: #fff; }
#color-legend div 			{ float: left; color:#333; margin:5px 5px 5px 7px; line-height:12px; font-size:9px }
#color-legend div span 		{ text-indent: -7000px; padding:0; width: 10px; display: block; float: left; margin-right: 5px; height:10px; width:12px;border:solid 1px #999}
#searchlite-error 			{ background: #FFF; clear: both; height: 435px;  width: 715px;overflow: hidden; position: absolute; top:-6px; left:-3px; z-index:100; opacity:0.8;	filter: alpha(opacity=80);
zoom: 1; display:none}
#error-msg 					{ color: #DB0000; font-weight:700; padding:10px 15px 5px 15px; border: 1px solid #333; background: #FFF; width:250px; margin:0 auto; position: absolute; top:150px; left:200px; z-index:101; text-align: center; }
#error-msg p				{ padding-bottom: 10px; }
#find-compare h4			{ background:#c8c8c8; color:#606060; font-size:10px; padding-left:7px}
.col5 						{float:left;background: #eee; width:210px }
.port li					{ line-height:22px}
.select-room-type 			{ margin:6px 6px 0; background:#e0e0e0; line-height:20px; border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0;}
.select-room-type h6		{ padding:2px}
.select-room-type fieldset  { padding:0 5px 5px 25px; border: none;}
.select-pax 			    { margin:0 6px 12px; line-height:20px; padding: 6px 5px 10px; background:#e0e0e0; }
.select-pax label           {font-weight: bold; padding: 2px;}
.select-pax select          { font-size: 12px; margin: 0 auto; width: 100%;}
.dates ul { overflow:hidden; margin-bottom:10px}
#recently-viewed{ width:526px; float:left; margin:0 10px 0 2px; position:relative; min-height:240px}
#top-picks-slot{ float:left; width:405px !important}
.cruised-with-princess-block { margin: 12px auto;}
#find-compare .cruised-with-princess-block { text-align: center}
.cruised-with-princess-block label{ display:inline-block }
.cruised-with-princess-block input{ vertical-align:middle}
#search-cruisetours-button {
	color: #333;
	 background:#D6ECAA; /*dae6c0*/ /* old browsers */
	 background:-moz-linear-gradient(top, rgba(238,241,230,1) 0%, rgba(214,236,170,1) 100%); /*218,230,192,1*/
	 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,241,230,1)),color-stop(100%, rgba(214,236,170,1)));
	 background:-webkit-linear-gradient(top, rgba(238,241,230,1) 0%, rgba(214,236,170,1) 100%);
	 display: inline-block;
	 padding:3px 10px 3px;
	 border:solid 1px #aaa;
	 font-size:13px;
	 font-weight: 700;
}
#search-cruisetours-button:hover{ 
	 text-decoration:none; 
	 background:#e2f1c6; /* old browsers */
	 background:-moz-linear-gradient(top, rgba(238,241,230,.5) 0%, rgba(214,236,170,1) 100%); 
	 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,241,230,.5)),color-stop(100%, rgba(214,236,170,1)));
	 background:-webkit-linear-gradient(top, rgba(238,241,230,.5) 0%, rgba(214,236,170,1) 100%);
}
.results-container .button{ padding:5px 10px; font-size:1.2em; }
#find-cruise select{
    margin: 7px 0;
    width: 285px;
    /*
    border: 1px solid #999;
    width: 285px;
    font-size: 14px;
    */
}
#find-cruise option{ padding:1px}
.searchlight-simple option.default{background:none}
.searchlight-simple option.selected{background:none; color:#000}
#find-cruise .col1 { width:285px; border:none; margin:0 25px 0 60px; border-right:solid 1px #dddbdb; padding-right: 25px;}
#find-cruise .col2 { width:525px; border-right: none;}
.year-block { width:150px; float:left}
#find-cruise .results{ float:left; width: auto; padding: 16px 16px 14px; }
.ie7 #find-cruise .results {
    width: 270px;
}
#find-cruise .results .no-of-results { display:inline-block; margin-right:5px; font-size:18px; padding:0}
#find-cruise .cruised-with-princess-block{ padding: 0 3px; margin:0 auto 16px 0}
#find-cruise .cruised-with-princess-block label{ width:auto}
#find-cruise .buttons{ float:left; width:auto; text-align:left; padding:16px; margin-top: 0;}
/* DELETE -
#view {
    display: block;
    font-size: 15px;
    background: #619412;
    background: -moz-linear-gradient(top, #a2c65d 0%, #619412 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c65d), color-stop(100%,#619412));
    background: -webkit-linear-gradient(top, #a2c65d 0%,#619412 100%);
    background: -o-linear-gradient(top, #a2c65d 0%,#619412 100%);
    background: -ms-linear-gradient(top, #a2c65d 0%,#619412 100%);
    background: linear-gradient(top, #a2c65d 0%,#619412 100%); 
}
#view:hover { 
    background: #b7d57c;
    background: -moz-linear-gradient(top, #b7d57c 0%, #619412 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7d57c), color-stop(100%,#619412));
    background: -webkit-linear-gradient(top, #b7d57c 0%,#619412 100%);
    background: -o-linear-gradient(top, #b7d57c 0%,#619412 100%);
    background: -ms-linear-gradient(top, #b7d57c 0%,#619412 100%);
    background: linear-gradient(top, #b7d57c 0%,#619412 100%);
}
*/
#find-cruise .green-btn { 
    display: block;
    margin-left: 24px;
    float: right;
}
#cruisetours .green-btn {
    margin: 0 auto 8px;
}
#find-cruise .buttons-cruisetours{ float:left; width:150px; text-align:left; padding-left:22px; margin-top:5px; border-left: 1px solid #ccc}
#find-cruise .dates{ padding:0}
#find-cruise .results-container{ margin:20px 0 10px 40px; overflow:hidden}
#advanced-search-link { float:left; margin-top:8px; font-size:12px; margin-right: 22px;}
#find-cruise li:hover{ background:#c1d1e1}
#find-cruise li.selected:hover{ background:#769ABC}
#no-recently-found-cruises {position:absolute; top:30px; left:15px; width:90%; padding:10px; text-align:center}
#no-recently-found-cruises p{margin:7px 0; font-size:16px}
.cruised-with-princess-block a{color:#FF6600}
#find-compare li.disabled { opacity:1;filter:alpha(opacity=100);}
#find-compare .dates li.disabled{opacity:.35; filter:alpha(opacity=35); cursor:auto; text-decoration:none}
h3.year{padding-left:3px; padding-top:3px}
#find-cruise .dates li.disabled:hover{ background:#fff; color:#666; cursor:auto}
/*Search wrappers*/
#search-wrapper {
    border-top: solid 1px #d2d2d2;
    margin-bottom: 10px;
}
#search-cruises {
    border-bottom: solid 1px #b1b1b1;
}