/*
 * Princess Home Page
 * IE8 specific styles at the bottom of the file
 */

/*
 * Layout
 */
#banner {
	background: no-repeat center center transparent;
	display: block;
	height: 0;
	left: 0;
	overflow: hidden;
	padding: 214px 0;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	z-index: 1;
}
/*p13 for banner - used to minimize page bounce*/
.p13nListItemId_124050 {
	display: block;
	height: 428px;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
}
#content {
	padding:0;
	z-index:50;
}
.rwd #content {
	margin-left:auto;
	margin-right:auto;
}

/*
 * Quick Seach Block - Hidden until 768px
 */
 
#search-block {
	display:none;
}

.full-width {
	position: relative;
	padding-top: 1px;
}


/*
 *	Promo Block - for homepage only
 */
#promo-block {
	margin-top:58%;
	margin-bottom: 15px;
	z-index:200;
}
.full-width #promo-block {
	margin-bottom: 0;
	margin-top: 0;
}
.promo-price {
	background:#bd0000;
	left:20px;
	line-height:1.15em;
	position:absolute;
	bottom:90px;
}
.promo-cta {
	background:#333;
	background:rgba(0,0,0,.75);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	color:#DDD;
	display:none;
	line-height:1.1em;
	padding:10px;
	position:absolute;
	bottom:1px;
	width:230px;
}
.lt-ie8 .promo-cta {
	width:210px;
}
#res-find a {
	margin:0;
	padding:.5em 2.3em;
	text-decoration: underline;
}
#res-find a.button {
	text-decoration: none;
}


/* Booked Passengers Promo */
.promo-row .booked-passengers {
	background: rgba(79,0,82,.4);
	padding: 0 15px 15px 15px;
	margin: 0 auto;
	text-align: left;
	max-width: 375px;
}
.promo-row .no-rgba .booked-passengers {
	background: #22072e;
}
.booked-passengers.w-notice {
	padding:0 8px 11px;
}
.booked-passengers .promo-title {
	background:none;
	filter:none;
}
.booked-passengers, .booked-passengers a {
	color:#FFF;
	line-height: 1.125;
}
.booked-passengers h2 {
	text-align:left;
}
.booked-passengers ul {
	margin: 0;
	padding:0;
	list-style: none;
}
@media (max-width: 767px) {
	.no-promo {
		clear: both;
	}
	.booked-passengers, .booked-passengers h2, .booked-passengers ul {
		text-align: center;
	}
}
@media (min-width: 850px) {
	.booked-passengers ul {
		font-size: 1.230769230769231em;	
	}
}
.booked-passengers li {
	background-position: 0 1px;
	padding-left:0;
}
.booked-passengers li + li {
	margin-top: 10px;
}
@media (min-width: 900px) {
	.booked-passengers li + li {
		margin-top: 15px;
	}
}
@media (min-width: 975px) {
	.booked-passengers li {
		line-height: 1.5;
	}
}
.booked-passengers a {
	text-decoration:underline;
}

.promo-row .special-offers-button {
	background: rgb(5,69,135);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1NDU4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTM3NzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(5,69,135,1) 0%, rgba(9,55,114,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,69,135,1)), color-stop(100%,rgba(9,55,114,1)));
	background: -webkit-linear-gradient(top, rgba(5,69,135,1) 0%,rgba(9,55,114,1) 100%);
	background: -o-linear-gradient(top, rgba(5,69,135,1) 0%,rgba(9,55,114,1) 100%);
	background: -ms-linear-gradient(top, rgba(5,69,135,1) 0%,rgba(9,55,114,1) 100%);
	background: linear-gradient(to bottom, rgba(5,69,135,1) 0%,rgba(9,55,114,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054587', endColorstr='#093772',GradientType=0 );
	box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	cursor:pointer;
	display: none;
	line-height: 1.25;
	padding: 10px 15px;
	margin: 0 auto;
	text-align: center;
	max-width: 375px;
}
@media (min-width: 768px) {
	.promo-row .special-offers-button {
		text-align: left;
	}
}
.special-offers-button .pc-icons {
	margin-right: 5px;
	margin-top: -5px;
	margin-left: 0;
	display: inline-block;
}
@media (min-width: 800px) {
	.special-offers-button .pc-icons {
		float: left;
		margin-top: 5px;
		margin-right: 8px;
		margin-bottom: 5px;
	}
}

/* */
.show-so-btn {
	text-align: center;
}
.show-so-btn > .special-offers-button + .booked-passengers {
	margin-top: 15px;
}
.show-so-btn > .special-offers-button {
	display: block;
}
@media (min-width: 640px) and (max-width: 767px) {
	.show-so-btn > .special-offers-button, .show-so-btn > .booked-passengers {
		display: inline-block;
		vertical-align: middle;
		width: 48.5%;
	}
	.show-so-btn > .special-offers-button + .booked-passengers {
		margin-top: 0;
		margin-left: 2%;
	}	
}


/*
 * Alert
 */
.alert {
	display: block;
	position:relative;
	text-decoration: none;
	z-index:999;
}
.alert .alert-title {
	color: #fff;
	background: #a60000; 
	background: -moz-linear-gradient(top, rgba(204,39,45,1) 0%, rgba(166,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,39,45,1)), color-stop(100%,rgba(166,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(204,39,45,1) 0%,rgba(166,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(204,39,45,1) 0%,rgba(166,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(204,39,45,1) 0%,rgba(166,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(204,39,45,1) 0%,rgba(166,0,0,1) 100%);
	font-size: 1.38461em;
	font-weight: 400;
	padding: 5px 10px;
	margin:0;
}
.alert > p {
	background:#FFF;
	color: #333;
	font-size: 1.07692em;
	margin:0;
	padding:5px 10px;
}


/*
 *  Global Updates
 */
#container {
	background:#0d2f56;
}
#content .fieldset-block, .alert .alert-blue {
	background:#053266;
	background:rgba(5,50,102,.8);
	border:none;
}
.full-width #content .fieldset-block {
	background: transparent;
}
.lt-ie9 .fieldset-block {
	border:none;
}
#princess-footer {
	margin-top:0;
}
.form-field.reduce-spacing {
	padding-bottom:.25em;
	padding-top:.25em;
}
.label-stack.reduce-spacing > label {
	top:.85em;
}
.label-stack.reduce-spacing > .mac-label {
	top:.65em;
}
.row.search {
	overflow:visible;
}
.width960 {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}
.width1060 {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:100%;
}
.lt-ie8 .row.width1060 {
	z-index:60;
}
.row.width1060 {
	margin-top:8px;
}
.row.search {
	margin-top:0;
}


/*
 * Expanded Content - duplicating #content rules from princess.normalize.
 */
.expanded-content {
	position: relative; 
	width: 960px;
	margin: 0 auto;
	padding: 15px 0 0;
	overflow: visible;
	max-width: 768px;
	width: auto;
}
@media screen and (min-width: 798px) and (max-width: 1020px) {
	.expanded-content {
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media screen and (min-width: 798px) {
	.expanded-content {
		max-width: 990px;
	}
}


/*
 *  Reduced Fares Styles
 */
.reduced-fares-icon {
	background:transparent;
	height:18px;
	margin:-3px 8px 0 0;
	width:18px;
}
#reduced-fares-box {
	border:#0054A0 solid 3px;
	bottom:60px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	display:none;
	left:615px;
	padding:15px;
	position:absolute;
	overflow: visible;
	/*top:-45px;*/
	width:375px;
	z-index:999;
}
#reduced-fares-checkbox {
	margin:0 8px 0 0;
}
#reduced-fares-box label {
	position:relative;
	top:-3px;
}
#reduced-fares-box > .close-btn {
	background:url(/images/global/close-btn.png) no-repeat transparent top left;
	cursor:pointer;
	display:none;
	height:30px;
	position:absolute;
	top:-11px;
	right:-17px;
	width:30px;
}
.ie8 .search.trans-black-bg {
	filter: none;
	background-color: #09213d;
}


/*
 *  Slideshow Styles
 */
#slideshowControls {
	display:none;
}

/* Main slideshow styles */
#slideshowHolder {
	display:block;
	height:auto;
	left:auto;
	margin-left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%;
}
.lt-ie8 #slideshowHolder {
	z-index:1;
}
#slideshow {
	position: relative;
	left:0;
	margin:0;
}
.lt-ie8 #slideshow {
	z-index:1;
}

#slideshow > a {
	display:none;
	width:100%;
}

/* SlideshowNav Styles - "The dots" */
#slideshowNav {
	display:none;
	left:50%;
	position:absolute;
	bottom:32%;
	z-index:150;
}
#slideshowNav a {
	text-shadow: 2px 2px 4px #111;
	text-shadow: 2px 2px 4px rgba(0,0,0,.4);
	color:#464646;
	display:inline-block;
	font-size:2em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	-moz-opacity:.6;
	-khtml-opacity:.6;
	opacity:.6;
	outline:none;
	text-decoration:none;
	-webkit-text-stroke: 1px;
}
#slideshowNav a + a {
	margin-left:10px;
}
#slideshowNav a:focus {
	outline:none;
}
#slideshowNav a:hover {
	color:#AAA;
	opacity:.5;
}
#slideshowNav a.activeSlide, #slideshowNav .cycle-pager-active {
	color:#FFF;
	opacity:1;
}
#slideshowNav a::-moz-focus-inner {
	border:0;
}

.slide-img {
	width: 100%;
	overflow: hidden;
}
.slide-img > img {
	width: 100%;
}

.fade {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkMmY1NiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDJmNTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(13,47,86,0) 0%, rgba(13,47,86,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13,47,86,0)), color-stop(100%,rgba(13,47,86,1)));
	background: -webkit-linear-gradient(top,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	background: -o-linear-gradient(top,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	background: -ms-linear-gradient(top,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	background: linear-gradient(to bottom,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000d2f56', endColorstr='#0d2f56',GradientType=0 );
	pointer-events:none;
	height:200px;
	position:absolute;
	bottom:0px;
	width:100%;
	z-index:150;
}
.ie9 .gradient {
	filter: none;
}



/* Notice for alerts that arent critical */
#notice {
	margin-bottom:8px;
}
#notice h2 {
	color:#0054A0;
	background: #e3eaf1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZWFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWQxZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e3eaf1 0%, #bed1e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3eaf1), color-stop(100%,#bed1e3));
	background: -webkit-linear-gradient(top,  #e3eaf1 0%,#bed1e3 100%);
	background: -o-linear-gradient(top,  #e3eaf1 0%,#bed1e3 100%);
	background: -ms-linear-gradient(top,  #e3eaf1 0%,#bed1e3 100%);
	background: linear-gradient(to bottom,  #e3eaf1 0%,#bed1e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaf1', endColorstr='#bed1e3',GradientType=0 );
	padding:8px 0;
	text-align:center;
}

/*
 *  Top alert (Important Update) styles
 */
#important-update {
	background:#4D4D4D;
	-webkit-box-shadow: inset 0px -15px 15px -10px rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0px -15px 15px -10px rgba(0, 0, 0, .4);
	box-shadow: inset 0px -15px 15px -10px rgba(0, 0, 0, .4); 
	padding:12px 0;
	position:fixed;
	width:100%;
	z-index:1100;
}
#important-update > .inner-wrapper {
	margin:0 auto;
	text-align:center;
	width:100%;
}
#important-update .highlight, #important-update .message {
	display:inline-block;
}
#important-update .highlight {
	background:#F26522;
	letter-spacing:.5px;
	padding:4px 10px;
}
#important-update .message {
	background:#595959;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	padding:4px 12px;
	position:relative;
	left:-4px;
}


@media screen and (min-width:640px) {
	/* Promos */
	#promo-block {
		margin-top:58.5%;
	}
	.full-width #promo-block {
		margin-top: 0;	
	}
	/* Slideshow */
	#slideshowNav a {
		font-size:2.5em;
	}
	/* Top alert (Important Update) styles */
	#important-update {
		padding:12px;
	}
	#important-update > .inner-wrapper {
		text-align:right;
	}
	#important-update .highlight {
		background:#F26522;
		letter-spacing:.5px;
		padding:4px 15px;
	}
	#important-update .message {
		padding:4px 17px;
	}
}

@media screen and (min-width:768px) {
	/* Quick Search */
	#search-block {
		display:block;
		margin-top:450px;
		position:relative;
		z-index:200;
	}
	.full-width #search-block {
		margin-top: 0;
	}
	#searchWidgetForm {
		padding: 10px 0;
	}
	#quick-search {
		pointer-events:auto;
	}
	#quick-search h2 {
		color:#FFF;
		float:left;
		line-height:30px
	}
	#quick-search > fieldset, #quick-search > .search-unavailable, #quick-search > .fieldset-block {
		margin: 0;
		padding:7px 0 7px 2%;
	}
	#quick-search > .search-unavailable {
		background: #fff;
	}
	#quick-search .field-group {
		font-size: 0.9230769230769231em;
	}
	.ie7 #quick-search > fieldset {
		border: none;
	}
	#quick-search .form-field {
		padding-left: 0;
	}
	#quick-search label {
		left: .65em;
	}
	.fieldset-block > legend + .field-group, .lt-ie8 .fieldset-block > legend + .field-group {
		margin-top:0;
	}
	.destination {
		width:18%;
	}
	.month {
		width:18%;
	}
	.duration {
		width:18%;
	}
	.port {
		width:23%;
	}
	#destination, #duration, #month, #port {
		width:100%;
	}
	.ie7 .year {
		margin-top: -40px;	
	}
	#view-results {
		box-shadow:none;
		display:inline-block;
		position:relative;
		text-align:center;
		top:-1px;
		white-space:pre;
		width:15%;
	}
	#quick-search .reduced-fares {
		color:#FFF;
		line-height: 28px;
		outline:none;
		float:none;
		margin-left:25px;
	}
	#quick-search .row {
		margin: .75em 0;
	}
	#quick-search .inline-field + .inline-field {
		margin-left:1%;
	}
	#searching {
		color: #fff;
		display: none;
		font-weight: 700;
		font-size: 1.15384em;
		line-height: 28px;
		margin-left:20px;
		text-align: right;
		width: 115px;
	}
	#searching > img {
		margin-right: 3px;
		width: 26px;
		height: 26px;
		vertical-align: middle;
	}
	
	/* Promo Block */
	#promo-block {
		margin-top:15px;
	}
	.full-width #promo-block {
		margin-top: 0;
	}
	#res-find {
		display:none;
	}

	/* Slideshow */
	#slideshowHolder {
		max-height:650px;
	}

	/* Top alert (Important Update) styles */
	#important-update {
		position:relative;
	}
}

@media screen and (min-width:769px) {
	/* Quick Search */
	#search-block {
		margin-top:400px;
	}
	.full-width #search-block {
		margin-top: 0;
	}
	
	/* Slideshow */
	#slideshowNav {
		top: 350px;
	}
	.slide-img > img {
		margin-left: -28%;
		width: 156%;
	}

	/* Slideshow Controls - Arrows */
	#slideshowControls {
		display:block;
		position:absolute;
		top:170px;
		width:100%;
		z-index:250;
	}
	#prev, #next {
		background:rgb(0,84,160);
		background:rgba(0,84,160,.3);
		cursor:pointer;
		display: inline-block;
		position:absolute;
	}
	.touch #prev, .touch #next {
		background:rgba(0,84,160,.5);
	}
	#slideshowControls .arrow {
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		background:url(/images/home/arrows.png) no-repeat;
		display:inline-block;
		height:54px;
		margin:7px 5px;
		text-indent:-999em;
		text-transform: capitalize;
		width:19px;
	}
	.lt-ie8 #slideshowControls  .arrow {
		font-size: 0;
		line-height: 0;
		text-indent: 0;
	}
	#prev {
		left:20px;
	}
	#prev .arrow {
		background-position:top left;
	}
	#prev:hover, #next:hover {
		background:rgb(66,114,158);
		background:rgba(66,114,158,.4);
	}
	#next {
		right:20px;
	}
	#next .arrow {
		background-position:top right;
	}
}

@media screen and (min-width:960px) {
	/* Quick Search */
	#search-block {
		padding: 0 14px;
	}

	/* Slideshow */
	#slideshowControls {
		left:50%;
		margin-left:-480px;
		width:960px;
	}
	.slide-img > img {
		margin-left: 3%;
		width: 94%;
	}
	
	/* Slide Backgrounds */
	#slideshowHolder {
		left:50%;
		margin-left:-800px;
		width:1600px;
	}
	
	/* Top alert (Important Update) styles */
	#important-update .inner-wrapper {
		width:940px;
	}
	
}

@media screen and (min-width:1024px) {
	#slideshowControls {
		margin-left:-512px;
		width:1024px;
	}
	.slide-img > img {
		margin-left: 0%;
		width: auto;
		max-width: 100%;
	}
}

@media screen and (min-width:1200px) {
	#slideshowControls {
		margin-left:-600px;
		width:1200px;
	}
}

/*
 * IE8 specific styles
 */
.lt-ie9 #content {
	width:100% !important;
}
.lt-ie9 #slideshowHolder, .lt-ie9 .slide {
	width:1600px !important;
}
.lt-ie9 #slideshowHolder {
	left:50% !important;
	margin-left:-800px !important;
}
.lt-ie9 #slideshowControls{
	left:50% !important;
	margin-left:-512px !important;
	width:1024px !important;
}
.lt-ie9 .promo-box .promo-title {
	background: #0b223e;
}
.lt-ie9 .booked-passengers .promo-title {
	background:none;
}
