#content {
	padding-top:0;
	padding-bottom:15px;
}
.banner > img {
	display:block;
}
.countdown {
	background-color:#333;
	font-size:1.30769em;
	margin-top:0;
}
.countdown .highlight {
	color:#FCAF31;
}
.font-size-p15 > sup, .font-size-p9 > sup {
	font-size: 50%;
	top: -0.85em
}
.search-cruises > h2 {
	margin-bottom: .5em;
}
.product {
	float:left;
	margin-bottom:15px;
}
.product > img {
	margin-bottom:5px;
}
.product.one-img, .product.two-img {
	width:100%;
	float:none;
}
.product.one-img {
}
.product.four-img, .testimonial .product {
	width:100%;
}
.product.four-img:nth-child(2n), .testimonial .product:nth-child(2n){
	margin-left:0%;
}
.product.four-img:nth-child(2n+1), .testimonial .product:nth-child(2n+1){
	clear:left;
}
.get-pricing > .pricing, .no-pricing > .pricing {
	display: none;
}
.get-pricing > .show-pricing, .no-pricing > .show-pricing {
	display: block;
}
.cruise-offers-uk {
	float:right;
}
.cruise-offers > h3 {
	text-align: center;
}
.lt-ie8 .cruise-offers > .inner-wrapper {
	margin: 1em auto 0;
}
.signup_first-name, .signup_last-name, .signup_first-name > input, .signup_last-name > input, .signup_email, .signup_email > input {
	width: 100%;
}
.inline-field + .inline-field {
	margin-left:0;
}
#special-offers-form .loading {
	display: none;
	font-weight: 700;
	font-size: 14px;
}
#special-offers-form .loading > img {
	height: 32px;
	vertical-align: middle;
}
.checkmark {
	line-height:1.25em;
	list-style-image: url(/images/global/pc-icon_green-check-12.png);
	padding-left: 18px;
	margin: 1.5em auto;
}
.checkmark li + li {
	margin-top:1em;
}
.lt-ie8 .checkmark {
	margin-bottom: 1em; 
}
.ship-desc {
	margin-top:20px;
}
.ship-desc li + li {
	margin-top: .5em;
}
.privacy-policy {
	margin-left:-15px;
	margin-right:-15px;
}
.privacy-policy p {
	margin-bottom:0;
}
/* Responsive video */
.ship-video {
	position:relative;
	padding-bottom:46.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.ship-video iframe, 
.ship-video object, 
.ship-video embed {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product iframe,  
.product object, 
.product embed, {
    position:relative;
    width: 100%;
    height: 100%;
}

/*
 *	Alaska Landing Page Specific Styles
 */

.ak-map-offer a {
	text-decoration:none;
}
.ak-map-offer h2 {
	font-size:1.6em;
	margin:1em 0 0;
	line-height:1.1em;
}
.ak-map-offer h3 {
	margin:0;
	line-height:1.15em;
	text-align:left;
}
.brochure-order-section {
	padding:0;
}
.ak-brochure {
	margin-right:12px;
	vertical-align:middle;
}
.ak-map {
	margin-top:1em;
}
.ak-map-text {
	padding-top:.5em;
}
.ak-map-text > p {
	line-height:1.1em;
	margin:0;
	padding-top:1em;
}
.ak-map-text > .button {
	margin-top:1.5em;
}

/*
 *  New promo page specific styles
 */

#content .row {
	padding:0 7px;
}
.sale-banner {
	display:block;
}
.gallery {
	margin-top:1em;
}
.gallery img {
	display:block;
	width:100%;
}
.gal-item {
	padding-left:7px;
	padding-right:7px;
	padding-bottom:15px;
}
.get-special-offers {
	padding-top:15px;
}


.product {
	overflow: hidden;
	position: relative;
}
/* hide elements of the pricing text when class names are not present */
.product:not(.show-cruise-fare) .cruise-fare, .product:not(.show-meta) .meta-name, .product:not(.show-pricing) .pricing, .product:not(.show-per-diem) .per-diem-pricing, .product.show-pricing > .per-diem > .meta-name  {
	display: none;
}
.product > .pricing, .product:not(.show-pricing) > .per-diem {
	font-family:'Gotham SSm 7r', Arial, Helvetica, sans-serif;
}
/* flow per-diem pricing over the image when product has the class show-pricing */
.product.show-pricing > .per-diem {
	background-color: rgba(0,84,159,.8); 
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-family:'Gotham XNarrow SSm 4r', Arial, Helvetica, sans-serif;
	font-size: 1em;
	left: -40px;
	letter-spacing: 1px;
	line-height: 1.1;
	min-width: 130px;
	padding: 45px 20px 20px 50px;
	position: absolute;
	text-align:left;
	top: -35px;
}
.product.show-pricing > .per-diem span {
	position: relative;
}
/* for the fare to be on a new line by itself */
.product.show-pricing > .per-diem > span {
	display: block;
}
.product.show-pricing > .per-diem > .formatted-fare {
	font-size: 2.15384615384615em;
}
.product.show-pricing > .per-diem > .from {
	font-size: 1.07692307692308em;
}
.product.show-pricing  > .per-diem > .formatted-fare > .sup {
	font-size: 60%;
    line-height: 0;
	top: -.5em;
    vertical-align: baseline;
}
.product.show-pricing > .per-diem > .per-day {
	top: -2px;
}



@media (min-width:480px) {
	.countdown {
		font-size:1.30769em;
	}
	.product.two-img {
		float:left;
	}
	.product.two-img, .product.four-img, .testimonial .product {
		width:48%;
	}
	.product.two-img:nth-child(2n), .product.four-img:nth-child(2n), .testimonial .product:nth-child(2n){
		margin-left:4%;
	}
	.product.wide-img {
		margin-left:0 !important;
		width:100%;
	}
	.brochure-order-section {
		padding-left:15px;
		padding-right:15px;
	}
	.privacy-policy {
		margin-left:0;
		margin-right:0;
	}
	.ak-map-offer h2 {
		font-size:2.4em;
		margin:.4em 0 0;
	}
}

@media (max-width: 767px) {
	.gal-item.col-xs-6:nth-child(2n+1) {
		clear: both;
	}
}

@media (min-width:640px) {
	.countdown {
		font-size:1.38461em;
	}
	.ship-desc {
		margin-top:0;
	}
}

@media (min-width:768px) {
	.countdown {
		font-size:1.53846em;
	}
	#special-offers-btn {
		padding: .5em 1.5em;
	}
	.gal-item {
		padding-bottom:0;
	}
	.gallery .row + .row {
		margin-top:15px;
	}
	.ak-map-offer h2 {
		font-size:1.8em;
		margin:.8em 0 0;
	}
}

@media (min-width:900px) {
	.countdown {
		font-size:1.76923em;
	}
	.ak-map-offer h2 {
		font-size:2.4em;
		margin:.4em 0 0;
	}
}
	
.local-alert .mfp-content {
	max-width: 480px;
}