
/* Special Promotion */

.special-promotion-banner {
	background: #fefcf4;
	background: rgba(255,255,255,.9);
	-webkit-border-radius: 0;
	border-radius: 0;
	overflow: visible;
	margin: 15px 0;
	height: auto;
}
.ie8 .special-promotion-banner {
	margin-left: 0;
}
.special-promotion-excursion {
	margin: 10px 5px;
	overflow: hidden;
}
.special-promotion-banner .promo-flag {
	background: #a60000;
	padding: 10px 15px;
}
.ie8 .special-promotion-banner .promo-flag {
	width: 265px;
}
.special-promotion-banner .promo-title {
	color: #fff;
	font-size: 20px;
	line-height: .9;
	margin: 0;
	padding: 0;
	text-align: left;
}
.special-promotion-banner .promo-title > small {
	font-size: 13px;
}
.promo-discount {
	padding: 10px 15px;
}
.discount-title {
	color: #a60000;
	font-size: 18px;
	font-weight: 700;
	margin: 5px 0 0;
	padding: 0;
}
.discount-details {
	margin: 0;
}
.ie8 .special-promotion-banner .promo-title, .ie8 .discount-title {
	letter-spacing: 0;
}
.special-promotion-banner .browse-button {
	float: right;
	margin: 22px 15px 0 0;
}
@media screen and (min-width: 768px) {
	.special-promotion-banner {
		-webkit-border-radius: 0 10px 10px 0;
		border-radius: 0 10px 10px 0;
		overflow: hidden;
		margin: 15px 0 15px 15px;
		height: 80px;
	}
	.special-promotion-banner .promo-flag:before, .special-promotion-banner .promo-flag:after {
		border-style: solid;
		content: '';
		height: 0;
		left: 0;
		position: absolute;
		width: 0;
	}
	.special-promotion-banner .promo-flag:before {
		border-width: 0 15px 40px 0;
		border-color: transparent #a60000 transparent transparent;
		top: 0;
	}
	.special-promotion-banner .promo-flag:after {
		border-width: 0 0 40px 15px;
		border-color: transparent transparent #a60000 transparent;
		top: 40px;
	}
	.special-promotion-banner .promo-flag {
		float: left;
		height: 100%;
		width: 250px;
	}
	.special-promotion-banner .promo-title {
		text-align: right;
	}
	.promo-discount {
		float: left;
		padding: 10px 0 10px 15px;
		width: 480px;
	}
}
.special-promotion-banner.excursion-listing {
	background: transparent;
	border: 0;
    margin: 0 0 20px 0;
    padding: 0;
    width: 225px;    
    height: auto;
    border-radius: 0;
}
.excursion-listing .promo-flag {	
	float: none;
	height: 56px;
	padding: 6px 20px 10px 15px;
	width: 225px;
	margin-bottom: 10px;
	background: url(/images/cp/special-promo-flag.png) no-repeat -8px -61px #a60000;
	background-position: 212px 0;
}
@media screen and (min-width: 1020px) {
	.special-promotion-banner.excursion-listing .promo-flag:before, .special-promotion-banner.excursion-listing .promo-flag:after{
		border:none;
	}
}
.excursion-listing .promo-title {
	text-align: left;
	font-size: 17px;
	font-weight: 700;
}
.excursion-listing .promo-title small{
	font-size: 12px;
	font-weight: normal;
}
.excursion-listing .promo-discount {
	float: none;
	margin-left: 0;
	width: 100%;
	padding:0px;
}
.excursion-listing .promo-discount p{
	margin: 0;
}
.excursion-listing .discount-details {
	padding: 0 0 0 15px;
	list-style-type: disc;
	font-size: 12px;
	margin-bottom: 5px;
}
.excursion-listing .discount-details li {
	border: 0 none;
    line-height: 1.4;
	margin: 7px 0;
}
@media screen and (max-width: 1020px) {
	.special-promotion-banner.excursion-listing {
		width: 100%;
		height: 80px;
		padding: 0 0 0 15px;
	}
	.excursion-listing .promo-flag {
		background: #a60000;
		height: 100%;
		float: left;
	}
	.excursion-listing .promo-discount {
		float: left;
		width: auto;
		padding: 0 0 0 15px;
	}
	.excursion-listing .discount-details li {
		margin: 4px 0;
		float: none;
		padding: 0;
	}
	.excursion-options ul li{
		float: left;
		margin: 0;
	}
	.excursion-options li + li{
		margin-top: 0;
		padding: 0 15px;
	}
}
/* Excursions Landing Action Area */
.browse-button {
	margin-top: 0;
	margin-bottom: 0;
}
.browse-excursions-button-holder {
	text-align: center;
}
.why-choose-princess {
	margin-top: 2em;
}
@media screen and (min-width: 640px) {
	.browse-button {
		margin-top: 40px;
		margin-bottom: 10px;
	}
	.browse-excursions-button-holder {
		text-align: left;
	}
	.why-choose-princess {
		margin-top: 0;
	}
}
@media screen and (max-width: 639px) {
	.faq-tc a {
		display: block;
	}
	.faq-tc a + a{
		padding: 1em 0 0 0;
	}
}
@media screen and (min-width: 640px) {
	.faq-tc a + a{
		padding: 0 20px;
	}
}
/* Fix FAQ lightbox */
#popupContent .trigger {
	background: none;
}
.trigger:before {
	background: url("/images/cp/sprite_cuise-personalizer.png") no-repeat scroll -374px -269px;
	content: "";
	display: inline-block;
	height: 15px;
	left: -25px;
	margin-right: -15px;
	position: relative;
	top: 3px;
	width: 15px;
}
.trigger.active:before {
	background-position: -374px -299px;
}
/* Excursions Landing Reservations */
.create-brochure {
	display: none;
}
#current-reservations > div + div {
	margin-top: 15px;
}
.css-table {
	margin: 0;
}
.css-table a {
	padding-top: 0;
}
.css-table a.button {
	padding-top: 0.3076em;
}
.css-table .image-holder img {
	margin: 0 15px 10px 0;
}
@media screen and (min-width: 640px) {
	#port-box .image-holder img {
		display: inline;
		width: auto;
	}
	.css-table .image-holder img {
		display: inline;
	}
}
@media screen and (max-width: 639px) {
	#port-box .iefloatleft, .css-table .image-holder, .css-table .image-holder a {
		width: 100%;
	}
	.css-table .image-holder img {
		margin: 0 auto 10px auto;
	}
}
.tour-details-box {
	background: rgb(229,243,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,243,253,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,243,253,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,243,253,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,243,253,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,243,253,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,243,253,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f3fd', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	padding: 15px 15px 0 15px;
	position: relative;
}
.tour-details-box h4 {
	font-size: 18px;
}

.tour-pricing {
	margin-top: 1em;
}
.tour-pricing table, .edit-reservation table {
	margin: 1em 0;
	width: 100%;
}
.tour-pricing table td, .tour-pricing table th, .select-passengers td, .select-indexs td {
	border: 1px solid #d0d1d2;
	padding: 5px 10px;
}
.tour-pricing input, .select-passengers input, .select-indexs input {
	vertical-align: middle;
}
.tour-pricing table .amount, .select-passengers .amount, .select-indexs .amount {
	font-family: 'Gotham XNarrow SSm 5r', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: right;
}
.tour-pricing th.amount, .select-passengers .amount, .confirmed, .select-indexs .amount {
	color: #6c8526;
}
.tour-details .col1, .tour-details .col2, .tour-details .col3 {
	margin-top: 1em;
}
.edit-cancel {
	text-align: center;
}
.tour-pricing .edit-cancel .inactive {
	display: none;
}
.inactive button {
	opacity: .3;
	cursor: default;
}
@media screen and (min-width: 450px) {
	.tour-pricing {
	}
	.tour-pricing table, .tour-pricing .edit-cancel, .edit-reservation table {
		display: inline-block;
		vertical-align: top;
		width: auto;
	}
	.edit-cancel {
		margin: 3em 1em 1em;
		text-align: left;
	}
}
@media screen and (min-width: 550px) {
	.tour-details .col1, .tour-details .col2, .tour-details .col3 {
		float: left;
	}
	.tour-details .col1 {
		width: 32%;
	}
	.tour-details .col2 {
		margin-left: 2%;
		width: 32%;
	}
	.tour-details .col3 {
		margin-left: 2%;
		width: 30%;
	}
	.tour-details .col1, .tour-details .col2 {
		border-right: 1px solid #d0d1d2;
	}
}
@media screen and (min-width: 640px) {
	.css-table img {
		border-right: 1px solid #d0d1d2;
		display: inline-block;
	}
	.tour-details {
		max-width: 435px;
	}
	.tour-pricing {
		padding-left: 140px;
	}
}
@media screen and (min-width: 700px) {
	.tour-details {
		max-width: none;
	}
}
@media screen and (min-width: 768px) {
	.create-brochure {
		display: block;
		/*text-align: center;*/
	}
	.create-brochure a + a {
		margin-left: 15px;
	}
	.pdf-download {
		background:url('/images/global/excursions/pdf_icon.gif') no-repeat left top;
		margin-left:6px;
		padding-left:25px;
	}
	.print-icon {
		background: url('/images/global/excursions/print.gif') no-repeat 10px center;
		padding: 2px 10px 0 42px !important;
		line-height: 25px;
		border-left: 1px solid #CCC;
	}
	.share-icon {
		background:url('/images/global/excursions/share_icon.png') no-repeat scroll 10px center transparent;
		border-left:1px solid #CCCCCC;
		padding-left:42px !important;
	}
	.excursion-icon {
		background: url('/images/global/excursions/excursion-icon.gif') no-repeat 10px 0;
		padding: 2px 10px 0 42px !important;
		line-height: 25px;
		border-left: 1px solid #CCC;
	}
}
@media screen and (min-width: 768px) and (max-width: 900px) {
	.tour-details-box .iefloatleft + .iefloatleft{
		width: 80%;
	}
}
@media screen and (min-width: 900px) {
	.tour-details {
		width: 480px;
	}
	.tour-details-box {
		min-height: 200px;
	}
	.tour-details-box .iefloatleft + .iefloatleft{
		max-width: 500px;
	}
	.tour-pricing {
		margin: 0;
		padding: 0;
		position: absolute;
		right: 15px;
		top: 3px;
	}
	.tour-pricing .edit-cancel {
		display: inherit;
	}
	.edit-cancel {
		margin: 0;
		text-align: center;
	}
}
@media screen and (min-width: 1020px) {
	.tour-details {
		width: 605px;
	}
	.tour-details-box .iefloatleft + .iefloatleft{
		max-width: 605px;
	}
}

/* Edit Reservation */

@media screen and (min-width: 900px) {
	.tour-details-box > .box-content {
		margin-top: 35px;
	}
}
.cancel-reservation-box {
	background: #F1F1F1;
	border-top: 1px solid #d0d1d2;
	margin: 5px -15px 0;
	padding: 15px;
}
@media screen and (max-width: 480px) {
	.button + .button, .button + .plain-text-btn{
		margin: 10px 0 0 0;
	}
}
@media screen and (min-width: 640px) {
	.cancel-reservation-box {
		padding-left: 10%;
	}
}
@media screen and (min-width: 768px) {
	.cancel-reservation-box {
		padding-left: 20%;
	}
}
@media screen and (min-width: 1020px) {
	.cancel-reservation-box {
		padding-left: 30%;
	}
}


/* Shorex Landing Page Pre-Pay */

#excursions-prepay {
	font-size: 13px;
	line-height: 1.3846;
}
#excursions-prepay h2 {
	font-size: 18px;
}
#excursions-prepay input {
	font-size: 13px;
	padding: 4px;
}
.lt-ie9 #excursions-prepay .checkbox input {
	padding: 0;
}
#excursions-prepay select {
	font-size: 13px;
	padding: 3px 4px;
}
#excursions-prepay option {
	font-size: 13px;
	padding: 0;
}
#balance-payment {
	position: relative;
}
#balance-payment h2:first-child {
	margin: 0;
	padding: 0;
}
#excursions-prepay .flag-pole {
	left: 15px;
	line-height: 20px;
	position: absolute;
	right: 0;
	top: 4px;
}
#excursions-prepay .flag {
	background: #bd0000;
	color: #fff;
	font-weight: 700;
	font-size: .93333em;
	letter-spacing: .2em;
	padding: 2px 4px;
	position: relative;
	text-transform: uppercase;
	z-index: 2;
}
#excursions-prepay .flag:before {
	border: 9px solid transparent;	
	border-left-width: 7px;
	border-right-width: 0;
	border-bottom-color: #8A181A;
	content: ' ';
	font-size: 0;
	height: 0;
	left: -7px;
	line-height: 0;
	position: absolute;
	width: 0;
	top: -9px;
}
#balance-table th, #balance-table td {
	display: table-cell;
	vertical-align: middle;
}
.all-obc thead th {
	text-align: inherit;
}
.all-obc thead th.align-center {
	text-align: center;
}
#shorex-prepay-msg {
	padding-left: 15px;
}
#shx-prepay-accordion dt, #shx-prepay-accordion dd {
	display: inline-block;
}
#shx-prepay-accordion dt {
	min-width: 135px;
	text-align: right; 
	width: 30%;
}
#shx-prepay-accordion dd {
	margin-left: .5em;
	width: 60%;
}
#shx-prepay-accordion dd + dt {
	margin-top: 1em;
}
@media screen and (min-width: 600px) {
	.billing_useCard, .terms-disclaimer {
		margin-left: 31%;
	}
}
.col-30, .col-60 {
	display: inline-block;
	margin-top: 1em;
	vertical-align: top;
}
.col-30 {
	width: 50%;
}
.col-60 {
	width: 48%;
}
@media screen and (min-width: 768px) {
	.col-30, .col-60 {
		margin-top: 0;
		vertical-align: middle;
	}
	.col-30 {
		width: 40%;
	}
	.col-60 {
		width: 55%;
	}
}
@media screen and (min-width: 1020px) {
	.col-30 {
		width: 30%;
	}
	.col-60 {
		width: 60%;
	}
}
.which-balance .col-60 label {
	margin-top: -5px;
}
.submit-payment {
	width: auto;
}
.submit-payment > p {
	display: inline;
}
.make-payment label.error {
	text-align: left;
}
#content p#refund-disclaimer {
	margin-top: 1em;
	width: 100%;
}
@media screen and (min-width: 1020px) {
	#content p#refund-disclaimer {
		margin-left: 30%;
		padding-left: 10px;
		width: 65%;
	}
}

/* Wish List */
#wishListTab {}
@media screen and (min-width: 798px) {
	.wishlist-border-radius {
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	.wishlist-border-radius > h1 {
		-webkit-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
	}
}
/*#wishListTab img {
	display: none;
}*/
@media screen and (min-width: 1020px) {
	#wishListTab img {
		display: inline;
	}
}
#wishListTab .tour-caption img, #wishListTab .buttons img, #wishListTab .poi-group img {
	border:none;
	display: inline;
	margin: 0;
}
.place-date-panel {
	background: #F1F1F1;
	border: 1px solid #d0d1d2;
	font-family: 'Gotham XNarrow SSm 5r',Arial,Helvetica,sans-serif;
	font-size: 1.15385em;
	letter-spacing: 2px;
	margin: 0;
	padding: 5px 15px;
}
.place-date-panel .place, .place-date-panel .date {
	display: inline;
}
.css-table + .place-date-panel {
	margin-top: 15px;
}
.css-table.excursion {
	background: #f2f6ff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f2f6ff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6ff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f2f6ff 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f2f6ff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f2f6ff 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #f2f6ff 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6ff', endColorstr='#ffffff',GradientType=0 );
	border-bottom: 1px solid #d0d1d2;
	border-left: 1px solid #d0d1d2;
	border-right: 1px solid #d0d1d2;
	margin-top: 0;
	padding: 15px;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.excursion .shorex-img {
		width: 18%;
		margin-right: 2%;
	}
	.excursion .iefloatleft + .iefloatleft {
		width: 80%;
	}
	.tour-description {
		float: left;
		width: 80%;
	}
}
@media screen and (min-width: 900px) {
	.excursion .shorex-img {
		width: 16%;
	}
	.excursion .iefloatleft + .iefloatleft {
		width: 82%;
	}
}
@media screen and (min-width: 1020px) {
	.excursion .shorex-img {
		width: 14%;
	}
	.excursion .iefloatleft + .iefloatleft {
		/*width: auto;*/
		width: 84%;
	}
	.tour-description {
		width: 640px;
	}
}
.excursion .buttons {
	margin: 1em 0;
	text-align: center;
	position: relative;
}
@media screen and (min-width: 768px) {
	.excursion .buttons {
		float: right;
		margin: 1em 0 0 0;
		width: 20%;
	}
	.excursion .buttons .button + .button {
		margin: 1em 0 0 0;
	}
}
@media screen and (min-width: 850px) {
	.excursion .buttons {
		width: 17%;
	}
}
@media screen and (min-width: 1020px) {
	.excursion .buttons {
		margin: 1em 0 0 0.5em;
		width: 133px;
	}
}
.title-n-heading {
	padding-bottom: 10px;
	position: relative;
}
@media screen and (min-width: 768px) {
	.title-n-heading {
		border-bottom: #CCC solid 1px;
	}
}
.title-n-heading h4 {
	font-size: 18px;
}
.title-n-heading h4, .title-n-heading h6 {
	margin-top: 0;
}
@media screen and (min-width: 1021px) {
	.title-n-heading h4, .title-n-heading h6 {
		width: 70%;
	}
}
.title-n-heading a, #wishListTab .image-holder a {
	padding-top: 0;
}
.hours {
	border-right: 1px solid #CCC;
    position: absolute;
    height: 100%;
    left: 0;
    padding: 8px 8px 3px 8px;
}
.price {
	padding: 10px 10px 10px 60px;
}
.price-hours {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#f7f7f8;
	border:solid 1px #ccc;
	border-radius:5px;
	margin-top: 1em;
	text-align:center;
	min-width:170px;
	z-index:5;
	overflow:hidden;
	position: relative;
	display: inline-block;
}
.icons-price-hours:before, .icons-price-hours:after, .title-n-heading:before, .title-n-heading:after, .css-table > div:before, .css-table > div:after  { content: ""; display: table; }
.icons-price-hours:after, .title-n-heading:after, .css-table > div:after { clear: both; }
.icons-price-hours {
	display: inline;
	text-align: right;
	zoom: 1;
}
@media screen and (min-width: 550px) {
	.price-hours {
		float: left;
	}
}
@media screen and (min-width: 1020px) {
	.price-hours {
		position: absolute;
	}
	.price-hours {
		margin-top: 0;
		right: 45px;
		top: 0;
	}
	.icons-price-hours {
		float: right;
	}
	.tour-caption + h4 ~ .icons-price-hours {
		margin-top: -19px;
	}
}
.poi-group {
	display: block;
	margin-top: 1em;
}
@media screen and (min-width: 768px) {
	.poi-group {
		display: inline;
		margin-top: 0;
	}
}
.you-will-visit, .you-will-see {
	float: left;
	margin: 3px 15px 0 0;
	min-height: 29px;
	padding: 5px 15px 0 0;
	text-align: right;
	border-right: 1px solid #CCC;
	color: #000000;
	font-size: 11px;
	font-weight: 400;
	line-height: 5px;
}
.you-will-visit a.poi img, .you-will-see a.poi img {
	margin-top:4px;
}
@media screen and (min-width: 550px) and (max-width: 767px) {
	.you-will-visit, .you-will-see {
		margin-left: 2em;
		margin-top: 0;
	}
}
a.poi {
	padding-top: 6px;
}
.icons-price-hours .icons {
	float: left;
	padding-top: 8px;
}
.big-hours {
	display: block;
	font-size:15px;
	line-height: 11px;
}
.little-hours {
	font-size:11px;
	line-height: 10px;
}
.price .amount { 
	font-size:1.1em; 
}
.no-share-checkbox .price-hours {
	right:0px
}
.no-share-checkbox .icons-price-hours {
	right:180px;
}
.tour-grid .price-hours {
	width:auto
}
.tour-grid .you-will-visit, .tour-grid .you-will-see {
    border-left: 1px solid #CCC;
    border-right: none;
	text-align:left;
    padding: 5px 0 0 7px;
}
.red-note, .box-content select span {
	color:#DB0000;
}
.reservation-actions {
	margin:15px 0 0 0;
	text-align:center;
	position:relative;
	zoom:1
}
#wishListTab .create-brochure {
	display: none;
}
@media screen and (min-width: 768px) {
	#wishListTab .create-brochure {
		display: block;
		text-align: center;
	}
	#wishListTab .create-brochure .create-brochure {
		display: inline;
		margin-left: 1em;
	}
}

/* Wishlist popup */

.css-table > div {
	overflow: visible;
}
.popup-box {
	position:absolute;
	top:-30px;
	right:-10px;
	width:310px;
	z-index: 1001; /*z-index:9;*/
	zoom:1;
	display: none;
	text-align:left;
}
@media screen and (min-width: 768px) {
	.popup-box {
		top: -10px;
	}
}
.popup-box h4 {
	font-size: 18px;
}
.imp-message {
	color: #bd0000;
}
.time-options th {
	vertical-align: middle;
}
@media screen and (min-width: 370px) {
	.popup-box {
		right:0;
		width:100%;
	}
}
@media screen and (min-width: 640px) {
	.popup-box {
		width:565px;
	}
}
.popup-box .box-content {
	background: #f2f6ff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f2f6ff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6ff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f2f6ff 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f2f6ff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f2f6ff 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #f2f6ff 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6ff', endColorstr='#ffffff',GradientType=0 );
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	margin: 10px;
	padding:20px;
	position:relative;
	text-align:left;
	min-height:115px;
}
.lt-ie9 .popup-box .box-content {
	background: #f2f6ff;
}
.popup-box .box-content:before, .popup-box .box-content:after { 
	content: ""; display: table; 
}
.popup-box .box-content:after { 
	clear: both; 
}
.ie8 .popup-box .box-content {
	border: 1px solid #d0d1d2;
}
.popup-box .box-content h4, .popup-box .box-content h6 {
	margin: 0;
}
.popup-box .box-content table {
	background: none;
}
#content .popup-box .box-content a, #wishlist .popup-box .box-content a {
	text-align: left;
	text-decoration: none;
}
.popup-box .box-content .buttons {
  background: none repeat scroll 0 0;
  border: medium none;
  float: none;
  margin: 15px 0 0 0;
  position: relative;
  text-align: left;
  width: auto;
}
.view-excursion-details-link {
	display: block;
	margin: 15px 0 0 0;
}
@media screen and (min-width: 500px) {
	.view-excursion-details-link {
		display: inline-block;
		margin: 0 0 0 10px;
	}
}
.time-options {
	width: 100%;
	border-collapse: collapse;
}
.time-options td {
	border: 1px solid #CCC;
	padding: 5px;
	background: #fbfdf6;
	vertical-align: middle;
}
.time-options .selected td, .select-passengers .selected td, .select-indexs .selected td {
	background: #FCFBE1;
}
.time-options th {
	background: transparent;
	padding: 0 4px 2px;
	text-align: left;
	color: #333;
}
.time-options th:first-child {
	padding-left:0
}
.time-options .time-select{
	border-right:none;
}
.time-options .time-display {
	border-left:none
}
.time-options .time-space {
	text-align: center;
	width: 95px;
}
.time-options .time-price {
	width: 235px;
}
/*Disable rows that are sold out*/
.time-options tr.sold-out td, .time-options tr.sold-out .amount {
	color: #999;
}
/*Used for tables that don't include space available column*/
.time-options  .time-display {
	width: auto;
}
/*Used for tables that don't include space available column*/
.time-options.no-time-space .time-price {
	width: 200px;
}
.time-options.no-time-display .time-price {
	width: auto;
}
.time-options.no-time-display .time-space {
	width: 200px;
	text-align:left;
}
.time-options .waitlist label {
	color:#DB0000;
	font-weight:700;
}
.status-of-reservation .confirmed-reservation, .status-of-reservation .error {
	border-radius: 3px;
	font-size:13px;
	padding:6px;
	font-weight: 700;
	text-align: center;
}
.status-of-reservation .confirmed-reservation {
	background: #d1ff93;
	color:#6C8526;
}
.status-of-reservation .error {
	background: #FFD7D7;
	color:#DB0000;
}
.status-of-reservation img {
	vertical-align: middle;
}
.error-reservation {
	color:#DB0000;
	font-size:13px;
	padding:6px;
	font-weight: 700;
}
.error {
	color:#DB0000;
	font-size:14px;
	padding:5px;
}
.popup-box .box-content .messages {
	padding:50px 15px;
	text-align:center;
}
.popup-box .box-content .messages-long {
	padding:15px 15px;
	text-align:center;
}
.lightbox .close-button a, .box-content .close-button a, .no-current-reservations-messagebox .errorbox-close-button a {
	background: url("/images/global/lightbox_close-btn.png") no-repeat right;
	color: #999 !important;
	position: absolute;
	height: 50px;
	right: -13px;
	text-indent: -999em;
	top: -15px;
	width: 102px;
	display: inline-block;
}
#content .popup-box .box-content a, #wishlist .popup-box .box-content a {
	display: inline;
	cursor: pointer;
}

/* Itinerary */
.breadcrumb-new {
	display: none;
	margin: 0 0 15px 0;
	padding: 0;
}
.breadcrumb-new ~ .breadcrumb-new {
	margin: 15px 0 0 0;
}
.tour-types {
	margin: 1.5em 0;
}
.tour-type.shorex, .tour-type.landex {
	padding: 5px 10px;
	margin-left: 1em;
}
.map {
	display: block;
	margin-top: .5em;
}


/* Itinerary table */
.itinerary-box td, .itinerary-box th {
	padding: 5px 10px;
	vertical-align: middle;
}
.itinerary-box td, .tour-type.shorex {
	background: #E4E9F1;
}
.itinerary-box .landex td, .tour-type.landex {
	background: #DFF5D3;
}
.itinerary-box .at-sea td {
	background: #F4F7F9;
}
@media screen and (max-width: 767px) {
	.itinerary-box .duration:before, .itinerary-box .duration:after, 
	.itinerary-box .reserved:before, .itinerary-box .reserved:after, 
	.itinerary-box .excursions:before, .itinerary-box .excursions:after { 
		content: ""; display: table; 
	}
	.itinerary-box .duration:after, 
	.itinerary-box .reserved:after,
	.itinerary-box .excursions:after { 
		clear: both; 
	}
	.itinerary-box .duration, 
	.itinerary-box .reserved,
	.itinerary-box .excursions { 
		zoom: 1; 
	}
	.mobile-title {
		display: block;
		float: left;
		padding-right: 5px;
		text-align: right;
		width: 40%;
	}
	.itinerary-box .info {
		display: block;
		float: left;
		padding-left: 5px;
		width: 60%;
	}
	.itinerary-box tr + tr .port {
		margin-top: 1em;
	}
	.itinerary-box .port, .itinerary-box .landex .port {
		background: #E6E6E6;
		border: 1px solid #d0d1d2;
		display: inline-block;
		font-family:'Gotham XNarrow SSm 5r', Arial, Helvetica, sans-serif;
		font-size: 15px;
		letter-spacing: 1px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
	}
	.itinerary-box .duration, .itinerary-box .reserved, .itinerary-box .excursions {
		border-bottom: 1px solid #d0d1d2;
		border-left:  1px solid #d0d1d2;
		border-right:  1px solid #d0d1d2;
		display: block;
		text-align: left;
		width: 100%;
	}
	.itinerary-box .excursions {
		text-align: center;
	}
	.itinerary-box .date, .at-sea .duration, .at-sea .reserved, .at-sea .excursions, .no-excursions .reserved, .no-excursions .excursions, .itinerary tr:first-child th {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.breadcrumb-new {
		display: block;
	}
	.breadcrumb-new li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.breadcrumb-new li + li:before {
		background: url("/images/global/sprite_pc-icons.png") no-repeat scroll -107px -42px;
		content: "";
		display: inline-block;
		height: 14px;
		margin: 0 10px;
		position: relative;
		top: 3px;
		width: 8px;
	}
	.itinerary-box table {
		margin: 1em 0;
		width: 100%;
	}
	.itinerary-box table td, .itinerary-box table th {
		border: 1px solid #d0d1d2;
	}
	.itinerary-box th {
		background: #E6E6E6;
	}
	.itinerary-box .excursions {
		min-width: 150px;
	}
	.mobile-title {
		display: none;
	}
}

/* Excursions List Page */
.port-description p {
	margin-top: 0;
}
@media screen and (min-width: 640px) {
	.main-img {
		margin-right: 2%;
		width: 28%;
	}
	.port-description {
		width: 70%;
	}
}
.excursion-options, .excursion-options .boxy, .excursion-options .boxy + p {
	display: none;
	/*margin-top: 15px;
	width: 100%;*/
}
@media screen and (min-width: 768px) {
	.main-img {
		width: 23%;
	}
	.port-description {
		width: 75%;
	}
	/*.excursion-options {
		display: inline-block;
		border-left: 1px solid #d0d1d2;
		margin-left: 15px;
		padding-left: 15px;
		width: 25%;
	}*/
}
@media screen and (min-width: 1020px) {
	.main-img {
		margin-right: 10px;
		width: 160px;
	}
	.port-description {
		width: 530px;
	}
	.excursion-options {
		display: inline-block;
		border-left: 1px solid #d0d1d2;
		margin-left: 15px;
		padding-left: 15px;
		width: 240px;
	}
	.excursion-options .boxy, .excursion-options .boxy + p {
		display: block;
	}
}
.lt-ie9 .main-img {
	margin-right: 10px;
	width: 160px;
}
.lt-ie9 .port-description {
	width: 530px;
}
.lt-ie9 .excursion-options {
	display: inline-block;
	border-left: 1px solid #d0d1d2;
	margin-left: 15px;
	padding-left: 15px;
	width: 240px;
}
.lt-ie9 .excursion-options .boxy, .lt-ie9 .excursion-options .boxy + p {
	display: block;
}
.change-port select {
	width: 100%;
}
@media screen and (min-width: 450px) {
	.change-port select {
		width: auto;
	}
}
.show-hide-panel-container {
	margin-left: -15px;
	margin-right: -15px;
}
.show-hide-panels, .panel-header, .panel-header-grey {
	background: #999;
	margin: 1em 0;
	padding: 0.555556em 0.833333em;
	position: relative;
}
.show-hide-panels h3, .panel-header h3, .panel-header-grey h3 {
	color: #FFF;
	margin-bottom: 0;
}
.show-hide-panels a, .panel-header a, #detailed-itinerary h4 {
	color: #FFF;
	padding-left: 18px;
}
.show-hide-panels a:before, .panel-header a:before, #detailed-itinerary h4:before {
	border-style: solid;	
	content: '';
	height: 0;
	left: 10px;
	position: absolute;
	top: 15px;
	width: 0;
}
.show-hide-panels a.upArrow:before, .panel-header a.upArrow:before, #detailed-itinerary h4.upArrow:before {
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #ffffff transparent;
}
.show-hide-panels a.downArrow:before, .panel-header a.downArrow:before, #detailed-itinerary h4.downArrow:before {
	border-width: 5px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
}

@media screen and (min-width: 768px) {
	.show-hide-panel-container {
		margin-left: 0;
		margin-right: 0;
	}
	#detailed-itinerary .panel-header-grey, #detailed-itinerary h4, #detailed-itinerary .itinerary-details-container {
		margin-left: -15px;
		margin-right: -15px;
	}
}
.excursion-list-poi a {
	display: block;
	font-family:'Gotham SSm 4r', Arial, Helvetica, sans-serif;
	font-size: 13px;
	letter-spacing: 0;
	text-transform: capitalize;
}
@media screen and (min-width: 700px) {
	.excursion-list-poi a {
		border-left: 1px solid #d0d1d2;
		display: inline-block;
		margin-left: 2em;
		padding-left: 2em;
	}
}
.lt-ie9 .excursion-list-poi a {
	border-left: 1px solid #d0d1d2;
	display: inline-block;
	margin-left: 2em;
	padding-left: 2em;
}
.excursion-list{
	overflow:hidden;
}
.excursion-list ul, .excursion-options ul, .tour-at-glance ul {
	list-style-type: none;
	padding: 0;
}
.excursion-options li + li {
	margin-top: .5em;
}
.excursion-options img, .excursion-options .print-icon {
	border: none;
	margin: 0;
}
.excursion-options img {
	margin-left: 5px;
	vertical-align: baseline;
}
.excursion-options .boxy img{
	margin-left: 0;
}
.excursion-options .print-icon {
	background-position: center left;
	padding: 0 0 0 30px;
}
@media screen and (min-width: 768px) {
	.excursion-list ul {
		float: left;
		padding: 0 1em;
		vertical-align: top;
		width: 50%;
	}
}
.lt-ie9 .excursion-list ul {
	float: left;
	padding: 0 1em;
	vertical-align: top;
	width: 50%;
}
.excursion-list h4 img {
	margin-right: 5px;
	vertical-align: top;
}


/* Excursions Filter */
#filters {
	border-color: #d0d1d2;
	border-style: solid solid none solid;
	border-width: 1px;
	overflow: hidden;
	background:#fff;
}
#filters h2 {
	background: #E6E6E6;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
	padding: 4px 0;
	vertical-align: middle;
}
#categories li {
	border-bottom: 1px solid #d0d1d2;
	vertical-align: middle;
	font: 13px Arial, Helvetica, sans-serif;
	color: #333;
	padding: 6px 5px 6px 20px;
	list-style: none;
}
#categories label, .aLevel label {
	cursor:pointer;
}
#slider-img {
	display: block;
	margin-top: 10px;
	text-align: center;
}
#categories, #range, #act-results, #wheelchair, #act-level, #act-level .aLevel, .result-box, .rightborder, #reset-filters {
	display: block;
	float: left;
	position: relative;
}
#act-level {
	width: 70%;
}
#al_message {
	display: block;
	position: absolute;
	padding-left: 20px;
	padding-top: 60px;
	visibility: hidden;
	float: left;
	bottom: -15px;
	left: 0;
}
#categories, #range, #act-results {
	height: auto;
	width: 100%;
}
#act-results {
	border: none;
}
#wheelchair {
	width: 30%;
	text-align: center;
}
#price-range, #duration {
	height: 94px;
}
#activities, #wheelchair {
	height: 118px;
}
#result-block {
	border-top: 1px solid #d0d1d2;
	height: 70px;
}
.aLevel {
	vertical-align: middle;
	padding-top: 10px;
	text-align: center;
}
#act-level .aLevel {
	width: 33.3333%;
}
.result-box, .rightborder, #reset-filters {
	margin-top: 20px;
}
.result-box {
	font-size: 15px;
	border-right: 1px solid #d0d1d2;
	width: 55%;
}
#reset-filters {
	width: 45%;
}
.result-box, #reset-filters {
	text-align: center;
	display: inline-block;
}
@media screen and (min-width: 360px) {
	.result-box {
		font-size: 21px;
		width: 60%;
	}
	#reset-filters {
		width: 40%;
	}
}
@media screen and (min-width: 640px) {
	#categories {
		height: 188px;
		width: 45%;
	}
	#range {
		width: 55%;
	}
	#activities {
		width: 60%;
	}
	#result-block {
		width: 40%;
	}
	#activities, #result-block {
		float: left;
	}
	#result, #reset-filters {
		border: none;
		display: block;
		float: none;
		width: 100%;
	}
	#categories, #activities {
		border-right: 1px solid #d0d1d2;
	}
	#activities {
		border-top: 1px solid #d0d1d2;
	}
}
@media screen and (min-width: 930px) {
	#categories {
		width: 25%;
		height: 188px;
	}
	#range {
		width: 35%;
	}
	#act-results {
		width: 40%;
	}
	#categories, #range, #act-results, #wheelchair {
		border-right: 1px solid #d0d1d2;
	}
	#act-results, #activities {
		border: none;
	}
	#activities, #result-block {
		float: none;
		width: auto;
	}
	#result, #reset-filters {
		float: left;
	}
	#result {
		border-right: 1px solid #d0d1d2;
		width: 60%;
	}
	#reset-filters {
		width: 40%;
	}
}
.sort-panel-bigger {
	background: #E6E6E6;
	border: solid 1px #d0d1d2;
	padding: 4px;
}
.print-share{
	text-align: left;
	margin-top: 5px;
}
.print-share a{
	padding: 0 3px;
}
.print-share a.print-icon{
	padding: 0 20px;
}
.duration-child-pricing .child-pricing {
	background: #e5f3fd;
	border: 1px solid #d0d1d2;
	margin: 1em 0 0 0;
	padding: 1em 1em 0 1em;
}
@media screen and (min-width: 640px) {
	.print-share{
		text-align: right;
	}
}
@media screen and (min-width: 768px) {
	.print-share {
		display: inline-block;
		float: right;
	}
	.print-share-bottom-panel .print-share {
		margin-top: 10px;
	}
	.print-share .excursion-icon {
		border: none;
	}
}
.lt-ie9 .print-share {
	display: inline-block;
	float: right;
}
.lt-ie9 .print-share-bottom-panel .print-share {
	margin-top: 10px;
}
.lt-ie9 .print-share .excursion-icon {
	border: none;
}
@media screen and (min-width: 640px) {
	.duration-child-pricing .duration, .duration-child-pricing .child-pricing {
		float: left;
		width: 50%;
	}
	.duration-child-pricing .duration {
		padding: 0 1em 0 0;
	}
}

/* Content */
#content {
	overflow: hidden;
}
@media (min-width: 798px) {
	#content {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
}
#contentTab .panel-header, .poi-filter {
	margin-top: 2em;
}
#contentTab .panel-header {
	margin-bottom: 0;
}
#contentTab img {
	border: none;
	margin: 0;
}
.shorex-img img {
	border: 1px solid #d0d1d2;
}
#contentTab .image-holder a, #wishlist .image-holder a {
	padding: 0;
	width: 100%;
}
#flash-filter{ display: none; }
.share {
	vertical-align: text-bottom;
	margin: 15px 15px 0;
	display: inline-block;
}
@media screen and (max-width: 1020px) {
	.share, .share-components, .print-share {
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
	#contentTab .price-hours, #contentTab .icons-price-hours {
		float: left;
		margin-left: 2em;
		margin-top: 1em;
		position: relative;
	}
	#contentTab .price-hours {
		margin-left: 0;
		right: auto;
	}
}
@media screen and (min-width: 1021px) {
	.share {
		display: inline-block;
		top: 5px;
		right: 0;
		position: absolute;
		text-align: center;
		margin: 0;
	}
}
.lt-ie9 .share {
	display: inline-block;
	top: 5px;
	right: 0;
	position: absolute;
	text-align: center;
	margin: 0;
}
@media screen and (max-width: 767px) {
	.excursion-group .excursion {
		margin-left: -15px;
		margin-right: -15px;
		width: auto;
	}
}

/* Excursion Details */
#excursion-details {

}
#excursion-details-main, #excursion-details-sidebar {

}
#excursion-details-main {

}
#excursion-details-sidebar {

}
#excursion-details-main .mobileView{
	display: block;
}
#excursion-details-sidebar .normalView{
	display: none;
}
@media screen and (min-width: 768px) {
	#excursion-details-main, #excursion-details-sidebar {
		float: right;
	}
	#excursion-details-main {
		padding-left: 15px;
		width: 60%;
	}
	#excursion-details-sidebar {
		border: #E6E6E6 solid 1px;
		padding: 15px;
		width: 40%;
	}
	#excursion-details-main .excursion-icon {
		border: none;
	}
	#excursion-details-main .mobileView{
		display: none;
	}
	#excursion-details-sidebar .normalView{
		display: block;
	}
}
.lt-ie9 #excursion-details-main, .lt-ie9 #excursion-details-sidebar {
	float: right;
}
.lt-ie9 #excursion-details-main {
	padding-left: 15px;
	width: 60%;
}
.lt-ie9 #excursion-details-sidebar {
	border: #E6E6E6 solid 1px;
	padding: 15px;
	width: 40%;
}
.lt-ie9 #excursion-details-main .excursion-icon {
	border: none;
}
.lt-ie9 #excursion-details-main .mobileView{
	display: none;
}
.lt-ie9 #excursion-details-sidebar .normalView{
	display: block;
}
/*#box-content > p {
	display: none;
}*/
@media screen and (min-width: 768px) {
	#box-content > p {
		display: block;
	}
}
#excursion-details .view-cancellation-policy {
	display: block;
	margin-top: 1em;
}
#excursion-details table {
	background: none;
}
#excursion-details .show-creditcard-content table {
	background: #FFF;
	width: 100%;
}
.show-creditcard-content .passenger-select {
	text-align: center;
	width: 30;
}
.tour-at-glance .iefloatleft {
	width: 50%;
}
.tour-at-glance .iefloatleft + .iefloatleft {
	padding-left: 1em;
	border-left: 1px solid #CCC;
}
.tour-at-glance .iefloatleft + .iefloatleft + .iefloatleft {
	padding-left: 0;
	border: none;
}
.tour-at-glance .iefloatleft img {
	border: none;
	vertical-align: middle;
}
.tour-at-glance .iefloatleft li + li {
	margin-top: 5px;
}
#images-videos-of-excursion, #video-and-image-thumbnails {
	overflow: hidden;
	width: 100%;
}
#images-videos-of-excursion > img {
	height: auto;
	width: 100%;
}
.shorex-video {
	/*display: block;*/
	display: inline-block;
	margin-top: .5em;
	padding-left: 18px;
	position: relative;
}
.shorex-video:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #0054a0;
	content: '';
	position: absolute;
	top: 6px;
	left: 5px;
}
@media screen and (min-width: 768px) {
	.shorex-video {
		display: block;
	}
}
#detailed-itinerary {
	margin-top: 3em;
}
#detailed-itinerary .show-hide {
	margin-bottom: 1em;
}
#detailed-itinerary h4:before {
	border-color: transparent transparent #0054a0;
	border-width: 0 5px 5px 5px;
	top: 16px;
}
#detailed-itinerary h4 {
	background: #F1F1F1;
	margin-top: 0;
	padding: 10px 10px 10px 30px;
	position: relative;
}
#detailed-itinerary h4.odd {
	background: #E6E6E6;
}
#detailed-itinerary h4.active:before {
	border-color: #0054a0 transparent transparent;
	border-width: 5px 5px 0 5px;
}
#detailed-itinerary h4.active {
	background: #E5F3FD;
}
.itinerary-details-container {
	border-bottom: #E6E6E6 solid 1px;
	border-top: #E6E6E6 solid 1px;
	padding: 15px;
}
.itinerary-details-container > div {
	margin-top: .5em;
}
.itinerary-details-container > div + div {
	border-top: #E6E6E6 solid 1px;
	padding-top: .5em;
}
.itinerary-details-container span {
	color: #845aa5;
	font-family:'Gotham SSm 7r', Arial, Helvetica, sans-serif;
	padding-left: 3px;
}

.prepay-wrapper .balance-payment {
	margin: 0;
}

.prepay-wrapper .rwd-accordion{
	border: none;
	background: none;
}

.prepay-wrapper .rwd-accordion-header{
	border: none;
	background: none;
}
.prepay-wrapper .rwd-accordion-header:hover{
	background: none;
}

.strike-out-amount {
	text-decoration: line-through;
}

/*
 * Excursion listing page
 */
 .no-excursions-selected-messagebox {
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: -1px 6px 12px #666666;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #DB0000;
	display: none;
	padding: 30px 15px 20px;
	position: absolute;
	left: 10px;
	width: 220px;
	z-index: 6000;
	font-size:11px;
	bottom: 23px;
	box-shadow: 4px 4px 4px -3px #333;
}
.no-excursions-selected-messagebox .errorbox-close-button a {
	background: url(/images/global/excursions/x_box.gif) no-repeat right center;	
	cursor:pointer;
	right:10px;
	top: 5px;
	color: #999999 !important;
	padding-right: 16px;
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	font-size:10px
}
.print-share-bottom-panel .no-excursions-selected-messagebox, .sort-panel-bigger .no-excursions-selected-messagebox {
	bottom: -50px;
	/*left: -85px;*/
}
#contentTab img.added-wishlist{
	margin-left: 10px;
}
@media screen and (min-width: 768px) {
	#contentTab img.added-wishlist{
		margin: 15px 0 0;
	}
}

/* Qtip popup styles */
@media screen and (max-width: 1020px) {
	/*.qtip{
		display: none !important;
	}*/
}

.qtip-content {
	font-weight:700;
	font-size: 1.1em;
	white-space: nowrap
}
.qtip-content a {
	color: #eae6e6;
	font-size: 11px
}
.qtip-share-title {
	background: #0054A0 !important;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding-bottom: 0 !important;
}
.qtip-share-shadow{
	display: none !important;
}
/*@media screen and (min-width: 1020px) {
	.qtip-share-shadow{
		display: block;
	}	
}*/
.qtip-share-shadow .qtip-wrapper {
	-webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}
.tooltip-content {
	padding: 8px 6px 2px;
	background: #fff;
}
.qtip-share-content {
	color: #333;
	font-size: 14px;
	padding: 5px;
	font-weight: 400;
}
.qtip-share-content  a {
	color: #0054A0;
	font-size: 14px;	
}

/* Icon badges */
.icons-badges {
	margin: 0 auto;
	/*width: 825px;
	position:absolute;*/
	/*padding: 20px;*/
}
.icons-badges h2 {
	font: 200 17px Arial, Helvetica, sans-serif;
	/*padding-left:20px;*/
	color: #6a737b;
}
.icons-badges h2 span {
	color: #8a8a8c
}
.icons-badges ul {
	float: left;
	width: 100%;
	list-style: none;
	/*margin-left: 10px;*/
}
.icons-badges li {
	padding: 10px 10px 10px 60px;
	position: relative;
	border-bottom: 1px solid #dedede;
}
.icons-badges ul.icon-description img {
	position:absolute;
	left:11px;
	top:14px
}
.icons-badges ul.icon-description h3 {
	padding-left:0
}
.icons-badges ul.catergories {
	border: 1px solid #dedede;
	padding: 10px
}
.icons-badges .catergories p {
	padding-bottom:2px
}
.icons-badges ul.catergories li {
	padding: 10px 0 0 0;
	border:none;
}
.icons-badges .col {
	/*width:50%;*/
	/*float:left;*/
	padding:20px 0 0 0;
	overflow: hidden;
}
ul.icon-description {
	border-top:solid 1px #DEDEDE;
	padding-left: 0;
}
@media screen and (min-width: 768px) {
	.icons-badges .col {
		float: left;
	}
}

/* Shorex Share */
#content-box{
	float: right;
	/*width: 380px;*/
	box-sizing: border-box;
	padding: 8px 0;
}
#picture-box img{
	width: 100%;
	height: auto;
}

#share-form input[type="text"], #share-form textarea {
	width: 100%;
	margin-bottom: 10px;
}
#share-form input#send-to-self-check{
	float: left;
	margin-right: 5px;
}
.print-icon-wrapper {
	text-align: left;
}
#sharedForm .panel-header{
	margin-bottom: 0;
}
@media screen and (min-width: 640px) {
	.print-icon-wrapper {
		text-align: right;
	}
}
@media screen and (min-width: 1020px) {
	#sharedForm .tour-description {
		width: 786px;
	}
}

#shorexVideoContainer{
	text-align: center;
	padding: 15px 0;
}
#shorexVideoContainer #mediaplayer_sharing{
	display: inline-block;
	width: 100% !important;
	height: auto !important;
	min-height: auto !important;
}
@media screen and (max-width: 640px) {
	.print-btn{
		padding-right: 0.5em;
	}
}

/* Landex Detail page */
.box-content .instructions {
	padding:3px 2px 10px;
}
.box-content .instructions em{
	display: inline-block;
	margin: 5px 0;
}
.box-content .error-block {
	color:#DB0000;
	padding:3px 5px;
}
.creditcard-section {
	/*width: 300px;*/
	width: 230px;
	line-height:24px;
	margin:0 0 5px 1px;
	float: left;
}
.creditcard-section img {
	vertical-align: middle;
}
.help {
	background: url(/images/global/excursions/question_mark_blue.gif) no-repeat left center;
	padding: 5px 5px 5px 17px;
	width: 30px;
	float:left;
	margin-left:8px
}
.original-amount, .box-content .amount, .box-content .original-amount, .edit-reservation .amount, .edit-reservation .original-amount {
	color:#68942f;
}
.button-group .buy-now {
	margin-left: 0;
	margin-right: 5px;
	float: left;
}
.button-group .print-share{
	display: block;
	margin-top: 10px;
}
.button-group .print-share .print-icon{
	padding: 0 20px 0 0;
}
@media screen and (min-width: 400px) {
	.button-group .print-share{
		display: inline-block;	
		float: right;	
		margin-top: 0;
	}
	.button-group .print-share .print-icon{
		padding: 0 20px;
	}
}
.soldout{
	display: inline-block;
	margin-right: 10px;
}
@media screen and (min-width: 768px) {
	.soldout{
		margin-bottom: 10px;
		margin-right: 0;
	}
}
.separator{
	border-bottom: solid 1px #ccc;
}
p.required {
	color: #DB0000;
	width: 200px;
}
.credit-card{
	background: #e5f3fd;
	padding: 10px;
}
.add-credit-card{
	display: inline;
}
.ccValidMonth{
	margin-left: 3px !important;
} 
.valid-through-label{
	margin: 0 !important;
}
#view-only-mode-content{
	margin-left: 8px;
    text-align: left;
    display: inline-block;
}
#ccForm .horizontal-field label, #ccForm .horizontal-fieldset legend{
	text-align: right;
    min-width: 135px;
    width: 30%;
    display: inline-block;
}
#ccForm .horizontal-fieldset legend{
	float: left;
	margin-right: 10px;
}
#ccForm .horizontal-field input[type="text"], #credit-card-details-form select {
	min-width: 245px;
    width: 30%;
}
#credit-card-details-form .ccValidMonth select, #credit-card-details-form .ccValidYear select {
	min-width: 135px;
	width: 15%;
}
.pre-populate{
	margin-left: 31%;
	padding-left: 7px;
}
@media screen and (max-width: 599px) {
	#ccForm .horizontal-field label, #ccForm .horizontal-fieldset legend{
	    display: block;
		text-align: left;
		vertical-align: middle;
		float: none;
		width: 100%;
	}
	#ccForm .horizontal-field input[type="text"]{
		width: 100%;
	}
	#countryCode{		
		width: 100%;
	}
	.pre-populate{
		margin-left: 0;
		padding: 0;
	}
	#select_card{
		width: 100%;
	}
	.add-credit-card{
		display: block;
		margin-top: 10px;
	}
	.add-credit-card em{
		display: block;
		margin: 0 0 10px 30px;
	}
}

.input-error, #share-form .input-error {
	background: #fdfdf0;
	border: 1px solid #bd0000;
	color: #bd0000;
}
#authorization-form .cc-fields {
	/*margin-left: 285px;*/
}
#authorization-form .error-block {
	color:#DB0000;
	margin:5px 0;
	padding:5px 5px 5px 0;
}
#authorization-form .cc-fields ul {
	margin-top: -5px;
	padding: 0;
}
#authorization-form .cc-fields li {
	list-style: none;
	border-top: 1px solid #CCC;
	/*width: 382px;*/
	width: 50%;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-top: 5px;
	padding-bottom: 0;
}
#authorization-form .cc-fields li:first-child {
	border-top-style: none;
}
#authorization-form label {
	text-align: right;
	width: 207px;
	display: block;
	float: left;
	margin-right: 10px;
}
#authorization-form .cc-fields label {
	display: inline;
	float: none;
	line-height:20px;
	vertical-align:bottom
}
#authorization-form .cc-fields .user-auth li:first-child{
	border: none;
}
#authorization-form .cc-fields .user-auth li{
	width: 100%;
	border-top: solid 1px #ccc;
}
#authorization-form .cc-fields .user-auth .passenger-col, #authorization-form .cc-fields .user-auth .auth-status, #authorization-form .cc-fields .user-auth .dob{
	width: 50%;
	float: left;
}
#authorization-form .cc-fields .user-auth .dob{
	margin: 0 0;
}
@media screen and (max-width: 599px) {
	.passenger-col, .auth-status, .dob{
		width: 100% !important;
		float: left;
	}
	#authorization-form .cc-fields .user-auth .dob{
		margin: 5px 0;
	}
}
.passenger-title, .dob-title {
	border-bottom:1px solid #CCCCCC;
	float:left;
	margin-bottom:7px;
}
.passenger-title, .dob-title {
	/*width:210px;*/
	width: 50%;
}
.dob-title {
	/*width:172px;*/
}
.as-it-in-card {
	margin-top:0px;
	text-align:right;
	width:230px;
}
.auth-status {
	float:right;
	padding-right:15px;
	padding-top:2px;
	/*text-align:right;*/
	font-style:italic;
	color:#666;
}
@media screen and (max-width: 550px) {
	.auth-status {
		float:none;
		text-align:left;
		font-style:italic;
		display: block;
	}
	.as-it-in-card {
		text-align:left;
	}
}

.hideOnMobile{
	display: inline;
}
#credit-card-submit-response {
	text-align: center;
	padding: 10px 10px 180px;
}
#credit-card-submit-response .passenger-card-details {
	width: 100%;
	margin: 0 auto;
	border-collapse:collapse;
	text-align:left;
	background: none;
	border: 1px solid #d0d1d2 ;
}
#credit-card-submit-response .passenger-card-details tr {
	background: none;
	border-top: 1px solid #d0d1d2;
	border-bottom: 1px solid #d0d1d2;
}
#credit-card-submit-response .passenger-card-details th {
	padding: 5px;
	background: #E6E6E6;
}
#credit-card-submit-response .passenger-card-details td {
	padding: 5px;
	background: #E4E9F1;
}
.ccNumberTd, .tickTd, .actionTd{
	text-align: center;
}
@media screen and (max-width: 768px) {
	#credit-card-submit-response .passenger-card-details {
		border: none;
	}
	#credit-card-submit-response .passenger-card-details tr {
		background: none;
		border: none;
	}
	#credit-card-submit-response .passenger-card-details th {
		display: none;
	}
	#credit-card-submit-response .passenger-card-details td {
		padding: 5px;
		display: block;
		width: 100%;
		overflow: hidden;
		background: #E4E9F1;
	}
	#credit-card-submit-response .passenger-card-details td .mobile-title{
		font-weight: bold;
	}
	.hideOnMobile{
		display: none;
	}
	.guestTd{
		margin-top: 1em;
	}
	.mobile-content{
		display: block;
		width: 60%;
		float: left;
		text-align: left;
		padding-left: 5px;
	}
	.guestTd{
		border: 1px solid #d0d1d2;
	}
	.ccNumberTd, .tickTd, .actionTd{
		border-bottom: 1px solid #d0d1d2;
		border-right: 1px solid #d0d1d2;
		border-left: 1px solid #d0d1d2;
		text-align: left;
	}
}



@media print {
	#balance-payment {
		display: none;
	}
	.edit-cancel {
		display: none;
	}
	.tour-details-box {
		background: none;
		height: auto;
		overflow: hidden;
	}
	.box-content {
		display: none;
	}
	.css-table {
		height: auto;
	}
}