html    {overflow-y:scroll}
a:focus {color:#1E4E8D}
.ieleftfloat{ float:left}
.css-table {
    display:table;
    margin-top:4px;
    clear:both;
    padding-bottom: 4px;
    height: auto;
}
.css-table>div {display:table-row}
.css-table>div>div:first-child {
    display:table-cell;
    vertical-align:top;
    margin-right:5px;
}
.css-table p {padding-bottom:6px}
h1 { background-color:#FFF; color:#333; font-size:18px; padding:12px 0 10px 4px; text-transform:none; 
}
h2 {
clear:both;
color:#2E2E2E;
font-size:16px;
font-weight:700;
padding:13px 0 5px 5px;
}
h4 {
color:#444;
font-size:13px;
font-weight:700;
padding-left:5px;
}
h6 {
font-size:11px;
padding-left:5px;
padding-right: 5px;
line-height: 14px
}

p {padding: 1px 5px 12px}
img {border:0;}
.iefloatleft img {margin:3px 5px 5px}
#col-40{ float:left; line-height:14px; width:39%; }
#container{background:url(/images/share/excursions/page_background.jpg) no-repeat center top; text-align:left}
#container #content{background:#FFF;margin:15px auto 0 auto;width:960px; overflow:hidden}
* html #container #content{ margin-top:38px}
#content .excursion{ background:url(/images/share/excursions/excursion_box_bg.gif) repeat-x; margin-bottom:4px; margin-top:4px; border-top:1px solid #ccc; padding:5px 0 0; text-align:left; }
.panel-header{ background:url(/images/share/excursions/panel_bg.gif) repeat-x bottom; clear:both; height:24px; margin-top:5px; position: relative;cursor:pointer; text-align:left }
.panel-header-grey{background:url(/images/share/excursions/panel_grey_bg.gif) repeat-x bottom;clear:both;height:29px;margin-top:10px;}
#container-for-2col{ background:url(/images/share/excursions/faux_bg.gif) repeat-y; clear:both; overflow:hidden; padding-left:15px; padding-right:15px; }
#content #excursion-details-main{ float:right; width:60%; }
#content .excursion .box-content h6{border-style:none;}
#content .excursion .image-holder img{border:1px solid #CCC;}
#content .excursion h4{padding-top:2px;line-height:15px; font-size:12px}
.excursion-group .excursion h4 {width:360px;} /*list view only */
.excursion h6{border-bottom:1px solid #CCC;padding-bottom:8px; margin-right:0;}
#content .excursion h6 .group-size{font-weight:200;}
#content .no-border{border:none;}
#content .no-bottom-margin{margin-bottom:0;}
#content .panel-header h3{ background:url(/images/share/excursions/panel_heading_bg.gif) repeat-x; color:#FFF; font-size:13px; padding:4px 24px; display:inline; line-height: 24px; }
#content .panel-header .curved-bg{background:url(/images/share/excursions/panel_blue_curved_bg.gif) no-repeat;color:#FFF;font-size:13px; padding:4px 10px; width:40px}
.panel-header-grey h3{background:url(/images/share/excursions/panel_heading_grey_bg.gif) no-repeat;color:#FFF;font-size:15px;font-weight:500;padding:7px 10px;}
#excursion-details{background:url(/images/share/excursions/excursion_details_bg.jpg) repeat-x;overflow:hidden;padding:10px 10px 15px;width:auto;}
#excursion-details-sidebar{ background:#FFF; border:1px solid #999; float:right; margin:0 15px 5px 0; width:38%; position: relative; }
#images-videos-of-excursion{padding:8px;}
#itinerary-page{padding:20px;}
#itinerary-page .itinerary-box{border:1px solid #CCC;margin:5px 70px;text-align:center;}
#itinerary-page .mode-of-travel{margin-bottom:15px;margin-left:auto;margin-right:auto;text-align:right;width:350px;}
#itinerary-page div.note{color:#666;margin:0 70px 10px;}
* + html #port-box .css-table{ overflow:hidden}
#port-box{background:url(/images/share/excursions/port_bg.gif) repeat-x;padding:5px 0;}
#reserve-box{ background:url(/images/share/excursions/reserve_box_bg.jpg) repeat-x; border:6px double #c1cedf; clear:both; color:#F60; font-size:1.25em; margin:10px auto; overflow:visible; padding:10px; position:relative; text-align:center; width:325px; font-weight: 700; }
#reserve-box .browse-button{ left:60px; position:absolute; top:35px; }
#reserve-box .browse-only-button{left:85px;position:absolute;top:50px;}
#reserve-box p strong{border-bottom:1px solid #999;padding-left:10px;padding-right:10px;}
#reserve_popup{background:url(/images/share/excursions/popup_bg.jpg) repeat-x;height:220px;width:300px;}

/* Hacks for IE6 and IE7 */
* html #container #content{width:960px;}
* html .box-arrow{bottom:-12px;}
* html .place-date-panel{width:96%;}
* html .popup-box .reservation-details { width:360px}
* html .tooltip{margin-bottom:-3px;padding-top:7px;white-space:nowrap;width:auto;}
* html #excursion-details.landex .box-content{ background:transparent}
* html div.popup-box .box-footer { background:url(/images/share/excursions/box_bottom_bg_ie.gif) no-repeat}
* html #excursion-details { width:940px}
* html .sort-panel-bigger {width:955px; overflow:hidden}
* html #container #content div.tour-grid .excursion{width: 473px; margin-right:12px}
* html #container #content div.tour-grid .excursion.even {margin-right:0}
* html #content #excursion-details-main.full-width {width:99%}
* html .icons-badges li {zoom:1}
* html .icons-badges h2 {padding-left:60px}
* html .tour-at-glance div div { width:148px}
.box-arrow{background:url(/images/share/excursions/point_of_interest_tip.gif) no-repeat center bottom;bottom:-1px;position:relative;}
.box-content .amount,.edit-reservation .amount{color:#68942f;}
.lightbox .close-button a, .box-content .close-button a, .no-current-reservations-messagebox .errorbox-close-button a{background:url(/images/share/excursions/x_box.gif) no-repeat right;color:#999 !important;padding-right:16px;position:absolute;right:25px;text-decoration:none;text-transform:uppercase;top:15px;}
.lightbox .close-button,.box-content .close-button, .no-current-reservations-messagebox .errorbox-close-button  { zoom:1;}
.total{font-size:12px;font-weight:700;padding:15px 0 0;}
.box-content .waitlist{background:url(/images/share/excursions/question_mark_blue.gif) no-repeat left top;color:red;font-weight:700;margin-top:5px;padding-bottom:9px;padding-left:18px;padding-top:0;line-height:18px}
.box-content .imp-message{color:red;font-weight:700;margin-top:5px;padding-bottom:5px;padding-left:5px;padding-top:0; line-height:16px; width:480px}
.box-content form{padding:5px;}
.box-content label{display:block;font-weight:700;padding-bottom:3px;}
.breadcrumb-new{ background:#f5f5f5 repeat-x; color:#666; font:11px Arial, Helvetica, sans-serif; height:22px; line-height:22px; margin:0 0 5px; overflow:hidden; padding:0; width:100%; clear: both; }
.breadcrumb-new a{ background:url(/images/share/excursions/breadcrumb_arrow.gif) no-repeat right; color:#1E4E8D; display:inline-block; outline:none; padding-right:20px; text-decoration:none; }
.breadcrumb-new li{background:url(/images/share/excursions/breadcrumb_bg.gif) repeat-x;display:inline-block;float:left;list-style-type:none;padding-left:10px;}
.breadcrumb-new li.current{background:none;}
.breadcrumb-new li.prev-page{ background:url(/images/share/excursions/breadcrumb_arrow_last.gif) no-repeat right; }
.brochure-snippet{margin-bottom:15px;margin-top:15px;}
.change-port{ margin-bottom:15px; margin-left:5px; margin-top:15px; }
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0;}
.close-box a{color:#999;text-decoration:none;}
.col-50{ float:left; line-height:14px; margin-right:5px; width:48%; color: #666; margin-top: 5px; margin-left: 5px; }
.confirmed{background:url(/images/share/excursions/tick_green.gif) no-repeat;color:#6c8526;font-weight:700;padding-left:10px;}
.dotted-line{background:url(/images/share/excursions/dotted_line.gif) repeat-x left center;}
.dotted-line p{background:#FFF;display:inline;}
.edit-note{color:red;font-size:1.1em;text-align:center;}
.email{background:url(/images/share/excursions/email.gif) no-repeat;padding-left:30px;}
.error-image-block{position:relative;}
.error-image-block span{color:#900;font-size:1.1em;font-weight:700;position:absolute;top:8px;}
.excursion .buttons{background:#f7f7f8;border:1px solid #CCC;border-bottom:none;float:right;margin:5px 4px 5px 5px;position:relative;text-align:center;z-index:inherit; width:133px}
.excursion .buttons a{border-bottom:1px solid #CCC;display:block;line-height:8px;text-align:center;cursor:pointer;}
.excursion .buttons img{margin:0;padding:6px 6px 5px;}
.excursion .icons-price-hours img{margin:0;}


.excursion .iefloatleft{ margin-left:2px;}
.tour-grid .iefloatleft{ overflow:visible; margin-left:0;}

.excursion .tour-description{ float:left;width:82%; overflow:hidden}
.excursion-bot-bg{background:url(/images/share/excursions/excursion-bot-bg.png) repeat-x top;clear:both;height:11px;width:100%;}
.excursion-list{background:url(/images/share/excursions/excursion-top-bg.png) repeat-x top #fefcf6;clear:both;width:100%; margin-top:11px}
.excursion-list .tour-grid .excursion .price-hours4{height:22px;line-height:22px;padding-left:25px;position:relative;}
.excursion-list h4 img{margin-left:-25px;position:absolute;}
.excursion-list h4 { padding-left:25px; position:relative;height:22px; line-height:22px;}
.excursion-list li{margin-bottom:5px;}
.excursion-list ul{float:left;list-style:none;margin:20px 10px 5px;width:455px;}
.excursion-list-poi {padding: 5px 10px 10px; background: url(/images/share/excursions/excursion-top-bg.png) repeat-x top #fdf2e0;}
.excursion-list-poi h2 {font-size: 18px; font-weight: 400;}
.excursion-list-poi a {font-size: 13px; margin-left: 20px; padding: 7px 20px; border-left:1px solid #999;}
.excursion-note{color:#999;font:11px Arial, Helvetica, sans-serif;padding:5px 0 0 10px;}
.excursion-options{border-left:1px solid #cdcfd0;margin-left:10px;margin-top:30px;padding-bottom:20px;padding-left:10px;}
.excursion-options ul{font-size:12px;font-weight:700;line-height:24px;list-style:none outside;padding:0 7px;}
.excursion-options li { border-bottom:1px solid #CCC; width: 100%; clear:both; overflow:hidden; padding:4px 0}
.home{border:none;margin:7px 0;}
.hours{ float:left;
    margin-right:2px;
    padding:4px 2px;
    font-weight:600;
    line-height:11px;
    border-right:1px solid #ccc;
    padding: 4px 5px;
}
.tour-details-box .tour-pricing{position:absolute;right:10px;top:10px;z-index:5;}
.icons-price-hours{margin-top:-44px;text-align:right; position:absolute; right:205px; }
.icons-price-hours a{ padding:2px 2px 0 0; display:inline-block; cursor:pointer }
.icons-price-hours img,.confirming img,.excursion-options li img,.buttons img,.popup-box .confirmed-reservation img,.popup-box .error img,.sort-panel-bigger img{vertical-align:middle;}
.iefloatleft .tour-caption{line-height:8px;padding-left:5px;}
.iefloatleft .tour-caption img{margin:5px 0 0;}
.image-holder{width:138px; padding-right:2px;  }
.itinerary-box h6{font-size:13px;font-weight:700;padding-bottom:7px;padding-top:10px;}
.itinerary-box img { border:solid 1px #ccc}
.itinerary-box table{background:#e4e9f1;border-collapse:collapse;text-align:left;}
.itinerary-box table img, .itinerary-box .mode-of-travel img{ border:none}
.itinerary-box table .align-center{text-align:center;}
.itinerary-box table .odd{background:#f2f5f7;}
.itinerary-box table td,.itinerary-box table th{border-right:1px solid #F2F2F2;padding:5px;}
.itinerary-box table th{text-align:left;}
.meal-tooltip{background:url(/images/share/excursions/meal_included.png) no-repeat;margin-left:-143px;margin-top:-113px;}
.no-reservations{color:#666;font-size:1.1em;font-style:italic;font-weight:700;margin-top:10px;}
.pdf-download{background:url(/images/share/excursions/pdf_icon.gif) no-repeat left top;font-size:1.1em;margin-left:6px;padding-left:25px;}
.place-date-panel{background:#e3e9f0;clear:both;font-size:12px;font-weight:700;margin-bottom:6px;margin-top:12px;overflow:hidden;padding:3px 15px;}
.place-date-panel .date{float:left; margin-left:3px}
.place-date-panel .place{float:left;text-align:left;}
.poi-not-available{color:red;float:left;line-height:13px;width:165px;margin-right:8px;}
.error{color:#900;font-size:14px;padding:5px;}
.port-description{display:table-cell;vertical-align:top;width:480px;}
.port-description h2{padding-top:10px;}
.price{border-bottom: medium none;padding:8px 0 0; font-weight:400; color:#000; }
.price-hours{ -moz-border-radius:5px; -webkit-border-radius:5px; background:#fefceb; border:solid 1px #ccc; border-radius:5px; padding:0 2px; text-align:center; width:160px; z-index:2000; position: absolute; right: 40px; bottom: 6px; overflow:hidden }
.tour-grid .price-hours {width:auto}

.red-note,.box-content select span{color:red;}
.reservation-actions{ margin-bottom:15px; padding:15px 0 10px; text-align:center; position:relative; zoom:1}
.reservation-actions .email{padding-top:2px;}
.reservation-actions .error{color:red;font-size:1.1em;font-style:italic;margin-top:5px;}
.reservation-actions .pdf-download{margin-right:5px;padding:3px 10px 3px 25px;}
.reservation-actions .status{background:#FFF;padding:100px 5px;text-align:center;}
.reservation-actions .status .confirming,.popup-box .confirming{color:#F90;font-size:14px;padding:5px;}
.select-time{font-weight:700;padding:5px 5px 2px;}
.sort-panel-bigger{ background:#e9eaea url(/images/share/excursions/panel_bottom_gradient.gif) repeat-x left bottom; font-weight:700; line-height:28px; padding-bottom:22px; padding-left:5px; padding-top:7px; position: relative; }
.sort-panel-bigger .select-options{margin-left:5px;margin-right:5px;margin-top:2px;width:150px;}
.special-note{color:#666;font-size:10px;line-height:12px;margin-top:20px;text-align:center;padding:0 0 5px 5px;}
.special-note a,.amount{font-weight:700;}
.special-notes-link a{font-style:italic;font-weight:200;padding-left:10px}
.status{-moz-border-radius:8px;-webkit-border-radius:8px;border:1px solid #b3b3b4;border-radius:8px;clear:both;margin:10px auto;overflow:hidden;padding:5px;text-align:left;width:90%;z-index:2000;}
.success{padding:15px;}
.tour-details .col1{border-right:1px solid #666;float:left;margin-left:5px;margin-right:10px;padding-right:10px;width:135px;min-height:75px;}
.tour-details .col2{float:left;width:200px;}
.tour-details .col3{float:left;width:175px;border-left:1px solid #666666; padding-left:10px; min-height:75px}
.tour-details-box{-moz-border-radius:8px;-webkit-border-radius:8px;background:#FFF url(/images/share/excursions/box_bg.gif) repeat-x;border:1px solid #b3b3b4;border-radius:8px;clear:both;margin:10px auto;overflow:visible;padding:5px;text-align:left;width:92%;z-index:2000; position:relative}
.tour-details-box .css-table{position:relative;z-index:3;}
.tour-details-box .css-table .iefloatleft img{margin-top:1px; border:solid 1px #ccc}
.tour-details-box .css-table h4{font-size:12px;line-height:13px;}
.tour-details-box .tour-details{clear:both;margin-bottom:3px;margin-top:10px;overflow:hidden;}
.tour-pricing table{background:#FFF;border:1px solid #999;border-collapse:collapse; float: left;}
.tour-pricing table td{border:1px solid #999;padding:2px 8px;text-align:right;}
.tour-pricing table th{background:#ffffed;border:1px solid #999;padding:3px 8px;text-align:center;}
.view-excursion-details-link{font-weight:700;padding-left:5px;}
.width-70{ width:70%; }
p.create-brochure{padding-bottom:3px; overflow:hidden}
th.amount{color:#6c8526;}
#video-and-description img { margin-left: 2px; margin-right: 12px; float: left; }
#video-and-description { padding-top: 18px; padding-bottom: 5px; }
h4.heading { cursor:pointer; display:block; padding:5px 5px 5px 25px; margin-top: 0; text-decoration: none; font-weight: bold; font-size: 11px; background-color: #fff; border-top: 1px; border-bottom: 1px solid #e2e2e2; background-image: url(/images/share/excursions/right_arrow.gif); background-repeat: no-repeat; background-position: 7px 8px; color: #1D4F8D; }
h4.active   {background-image: url(/images/share/excursions/down_arrow.gif); background-position: 4px 10px;}
.itinerary-details-container    { display:block; background: url(/images/share/excursions/itinerary_details_container_bg.gif) repeat-x top; border-bottom: 1px solid #e2e2e2; padding-left: 20px; padding-top: 5px; }
h4.heading a { color:#1D4F8D; text-decoration:none }
#detailed-itinerary .heading.odd { background: #fafafa url(/images/share/excursions/right_arrow.gif) no-repeat;background-position: 7px 8px; }
#detailed-itinerary h4.odd.active   {background:#fafafa url(/images/share/excursions/down_arrow.gif) no-repeat; background-position: 4px 10px;}
#detailed-itinerary h4.active   {background: url(/images/share/excursions/down_arrow.gif) no-repeat; background-position: 4px 10px;}
.itinerary-details-container div { padding-left: 5px; padding-top: 2px; padding-bottom: 2px; border-bottom: 1px solid #E5E5E5; margin-right: 10px; margin-bottom: 2px; }
#detailed-itinerary .itinerary-details-container div span { color: #990066; font-weight: 700; padding-right: 1px; padding-left: 1px; }
#detailed-itinerary h3 { background: url(/images/share/excursions/detailed_itinerary_heading_bg.gif) repeat-x; color: #FFF; line-height: 17px; padding-left: 7px; padding-top: 3px; padding-bottom: 3px; }
#content .border-none {border:none}.itinerary-details-container h6 { color: #999; margin-bottom: 5px; margin-top: 5px; }
.panel-header .expand-collapse { position: absolute; left: 7px; top: 6px; }
.float-cell { display:table-cell;vertical-align:top; }
.tour-at-glance div div { padding: 3px 24px 3px 7px; margin: 3px; border-right: 1px solid #CCC; min-width:120px; max-width:175px; }
.tour-at-glance img { margin: 2px; vertical-align: middle; }
.tour-at-glance ul { padding-left: 19px; width:100% }
.tour-at-glance { padding-top: 7px; }
.tour-at-glance .value, #excursion-details-sidebar .quick-look .value{ font-weight: 700; color: #666; }
.tour-overview-content, .special-notes-content { padding: 5px; }
#excursion-details-sidebar .disclaimer { padding-top:5px;position:absolute; }
.box-content .status-of-reservation { text-align: center; padding: 50px 68px; height:135px }
.status-of-reservation img { vertical-align: middle; }
.box-content .error-note { color: #F00; }
.reservation-details { background: #FFF; border: 1px solid #CCC; padding: 15px 10px 15px 15px; width: 380px; margin: 0px auto 5px; text-align: left; overflow: hidden; }
.reservation-details .date-time { float: left; width: 48%; margin-right: 20px; border-right: 1px solid #999; padding-left: 5px; }
.reservation-details div span { font-weight: 700; }
.popup-box.detailed-message .box-content{padding:30px 30px 11px;text-align:center;}
.reservation-details .pax-details { float: left; width: 45%; }
.confirmed-reservation img { vertical-align: middle;}
.excursion .buttons .confirmed-reservation img{ padding:6px 2px 5px; }
.tour-grid { background: url(images/share/excursions/grid-bg.png) repeat-y scroll 479px 50% transparent;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: visible;
    width: 958px;}
.tour-grid .excursion{float:left;width:473px;clear:none;margin:0 12px 2px 0; height:140px; padding:5px 0}
.tour-grid .excursion .icons { float:left; margin-top:0; margin-right:5px; text-align:left}
* + html .tour-grid .excursion{ height:155px}
/* .tour-grid .excursion .icons img{ margin:1px; vertical-align:middle} */


.tour-grid .excursion .price-hours { margin:-2px 5px 1px; float:none; position:static}
.tour-grid .you-will-visit,.tour-grid .you-will-see { border-left:solid 1px #ccc; border-right:none; text-align:left;padding: 5px 0 0 7px;}

.tour-grid .excursion .buttons { float:left; margin-top:6px; border-right:none; min-width:254px;}
.tour-grid .excursion  .poi-not-available {float:left; margin:5px;}
.popup-box .box-content  a { border:none; display:inline; text-align:left; line-height:14px; }
.popup-box .box-content .buttons {background:none;border:none;float:none;margin:0;position:relative;text-align:left;}
.popup-box .box-content .buttons img {padding:2px 0 2px;}
.border-1px { border:solid 1px #CCC}
.border-bottom { border-bottom:solid 1px #CCC}
.excursion-list li p { padding-bottom:6px}
#detailed-itinerary .show-hide { background: transparent; color: #FFF; font-size: 11px; text-transform: none; position: relative; display: inline; left: 74px; }
#detailed-itinerary .show-hide a { color: #FFF; }
#detailed-itinerary .show-hide a:hover { text-decoration:none }
#detailed-itinerary .show-hide img { vertical-align: middle;margin-top:-2px; }
* html .place-holder-image { width:958px} /* To be removed later */
html>body .place-holder-image { width:957px} /* To be removed later */

/*popupbox-lightbox*/

.icons-badges{
    margin: 0 auto;
    position:relative;
}
.icons-badges h2{ font: 200 17px Arial, Helvetica, sans-serif; padding-left:20px;color: #6a737b; 
}
.icons-badges h2 span{color: #8a8a8c}

.icons-badges ul{
    float: left;
    width: 370px;
    list-style: none;
    margin-left: 10px;
    }
    
.icons-badges li{
    padding: 10px 10px 10px 60px;
    position: relative;
    border-bottom: 1px solid #dedede;
    }
ul.icon-description img{ position:absolute; left:11px; top:14px}
ul.icon-description h3 { padding-left:0}
.icons-badges ul.catergories{
    border: 1px solid #dedede;
    padding: 10px
    }
.catergories p { padding-bottom:2px}
.catergories li{
    padding: 10px 0 0 0 ;
    border:none;
    }   

.image-border { border:solid 1px #CCC}
#excursion-details-sidebar.width-190 { width:190px; padding-left:2px}
#content #excursion-details-main.wider {width:77%}
#content #excursion-details-main.full-width {width:99%}
#excursion-details-sidebar.width-190 #video-and-image-thumbnails img {margin:0}
#excursion-details-sidebar .quick-look { padding:4px}
#excursion-details-sidebar .quick-look img { margin:0 2px}
#excursion-details-sidebar .quick-look p { line-height:14px; padding:5px 0 }
#excursion-details-main .box-content .error-block { text-align: center; }
.box-content .imp-message em { font-weight: 200; }
.box-content .imp-message span { color:#999; font-weight:200; margin:0 3px }
.popup-box .box-content .imp-message { padding-bottom:2px; margin-top:2px}
.box-content .instructions { padding:3px 2px 10px; }
.panel-header h3 a { color: #fff; }
.panel-header h3 a:hover { text-decoration:none}
* html .excursion-list ul { width:450px}
h3.poi-filter{ clear:both; font-size:13px;margin:8px 0 0; padding:0 0 7px 32px; border-bottom:solid 1px #ccc; background-image:url(/images/share/excursions/minus_box.gif); background-position:15px 2px; background-repeat:no-repeat; cursor:pointer }

.show-hide-panel-container { position: relative; top: -18px; height:30px}
.show-hide-panels { position: absolute; width:100% }
.show-hide-panel-container.single-item  { clear:both; height:1px;margin-top:5px;}
.line-break {margin-bottom:9px; display:block}
.tour-at-glance li { line-height:16px; margin-left:2px; padding-left:5px; padding-bottom:5px; list-style:disc}
.close-window{text-align:center;clear:both;padding:25px 0 10px;}
.lightbox .excursion .tour-description { width:80%}
.lightbox.video {margin:0 auto;padding:50px 14px 8px;text-align:center;width:530px;}
.view-excursion-link { white-space:nowrap; font-weight: 700; margin-left: 3px; }
.qtip-content { font-weight:700; font-size:1.1em; white-space:nowrap }
.qtip-content a { color:#eae6e6; font-size:11px}
.catergories .title-header{background:url(/images/share/excursions/title_background.gif) no-repeat left bottom; clear:both; height:22px; margin-top:0px; position: relative; }
.catergories .title-header h3{color:#FFF; font-size:11px; padding-top:3px; padding-left:10px;}
.grid-button { float:left; border-right:solid 1px #ccc; height:26px}
.icons-badges .col{ width:50%; float:left;padding:20px 0}
ul.icon-description { border-top:solid 1px #DEDEDE}
.lightbox .border-none { border:none}
h3#filter-options { cursor:pointer; zoom:1}
img.special-notes{ cursor:pointer}
.special-notes-tooltip { display:none;}
.special-notes-tooltip-content {white-space:normal; text-align:left; font-size:11px; font-weight:200}
.special-notes-tooltip-content img{ vertical-align:middle}
.special-notes-tooltip-content h6{ padding:5px}
.special-notes-tooltip-content p{ padding:3px 5px 6px 5px}
#special-notes { overflow:hidden; clear:both}
#container #navigation {z-index:100; height:28px}
.not-available{color:red; font-size:1.1em; font-style:italic; margin-top:5px;}
#content .tour-grid .css-table.excursion.even { clear: right; margin-right:0;}
.added-wishlist{border-bottom:1px solid #CCC;line-height:8px;text-align:center;}
.popup-title {color:#6A737B;font:200 17px "Century Gothic", Arial, sans-serif; margin-bottom:10px;}
.lite-popup .cancellation-policy { padding: 50px 80px 10px ; width:590px}
.lite-popup .cancellation-policy ul{ margin:20px 40px 55px 40px}
.lite-popup .cancellation-policy li{ margin-bottom:10px}
* html #container #navigation {top:90px}
.editing { color:#f60; font-weight:700}
.added-wishlist-in-gridview{ border-bottom:solid 1px #ccc; border-right:solid 1px #ccc}
#loading { width: 960px; height:1000px; margin-right: auto; margin-left: auto; text-align: center; margin-top: 15px;  font-size: 1.1em; color: #666; font-weight: 700; line-height: 1.2em;  padding: 100px 10px 10px; position:absolute; z-index:7002; background:#fff; top:-300px; left:-10px; opacity:.9; filter: alpha(opacity=90); }
.loading-container { position:relative;  z-index:7001; }
.list-view, .grid-view {padding-right:5px}
.tour-at-glance .with-poi { list-style:none; margin-left:-15px; padding-left:24px; position:relative; width:94% }
.faq-link { text-align: center; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 1em; font-weight: 700;/* [disabled]color: #666; */ }
.cancel-link { text-align: center; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 1em; font-weight: 700; margin-top:-10px;padding-left:12px; padding-bottom:30px}
.with-poi img {left:-3px; position:absolute;top:-2px;}
.print-icon { background: url(/images/share/excursions/print.gif) no-repeat 10px center; padding-left: 42px; line-height: 25px; border-left: 1px solid #CCC; padding-right: 5px; font-size: 1.1em; padding-top: 2px; }
.print-icon:hover { text-decoration: none; }
.excursion-options .print-icon{ padding:0 13px 0 30px; display:block; line-height: 24px; border-left: none; font-size:inherit; background-position:0px 3px }
.place-date-panel.landex {background:#E5EDD6}
.tour-details-box.landex {background:#FFF url(/images/share/excursions/landex_box_bg.gif) repeat-x;}
.reservation-actions .landex.excursion,#content .landex.excursion{background:#FFF url(/images/share/excursions/landex_box_bg.gif) repeat-x;border-top:1px solid #CCC;}
.tour-type { text-align: left; display: block; }
.itinerary-box .maps { text-align: center; overflow: hidden; margin-right: auto; margin-left: auto; width: 100%; margin-bottom: 5px; }
.itinerary-box .map { display:inline-block; margin-right: 8px; margin-left: 8px; margin-bottom: 5px; }
.tour-type img { border-style: none; }

.itinerary-box table td,.itinerary-box table th{border-bottom:solid 1px #fff}
.itinerary-box table .landex td{ background: #f1f4ea}
.itinerary-box table .landex th{ background:#e6e6e6}
.itinerary-box table .odd.landex td {background:#e5edd6}
.poi-group { display:inline}
.tour-grid .poi-group { display:block; margin-bottom: 7px; overflow: hidden;}
#print-logo{ display:none}
.time-options { width: 99%; color: #333; border-collapse:collapse; margin-left:2px; }
.time-options .selected td { background: #fcfbe1; }
.time-options td { border: 1px solid #CCC; padding: 3px; font-weight: 700; background: #fbfdf6; }

.time-options th { background: transparent; padding-left: 4px; padding-bottom: 2px; text-align: left; color: #333; }
.time-options th:first-child {padding-left:0}
.font-weight-normal { font-weight:200}
.buy-now { margin-right: 10px; float: left; width: 102px; }
.total-price { float: left; }
.landex-content { overflow: hidden; clear: both; width: 100%; }
.soldout{ border-bottom:1px solid #ccc; color:red; display:block; font-weight:700; padding:3px; }
.help { background: url(/images/share/excursions/question_mark_blue.gif) no-repeat left center; padding: 5px 5px 5px 17px; width: 30px; float:left; font-weight:700; margin-left:8px}
.width-220{ width:160px}
.disabled { color: #666; }
#excursion-details.landex { background: url(/images/share/excursions/landex_box_bg.gif) repeat-x; }
.passengers { font-weight: 700; line-height: 1.2em; }
.button-group { overflow: hidden; width: 100%; clear: both; margin-top: 10px; margin-bottom: 10px; height: 27px; vertical-align: middle; }
#excursion-details-main .time-options { margin-left: 5px; width: 90%; }
#excursion-details-main .select-passengers { width: 90%; margin-left: 5px; }
.width10{ width:10px}
.grey-text { color: #999; }
.soldout img { }
#content .soldout img { padding: 0px; vertical-align: text-top;margin-top:-1px; }
#content .soldout a { display: inline; border-style: none; color:red; padding-left:2px; }
p.required { color: #F00; width: 200px; text-align: right; }
.bottom-bg { background: url(/images/share/excursions/bottom_bg.gif) repeat-x; height: 25px; clear: both; overflow: hidden; width: 100%; }
form br { clear: both; }
.width225{ width:225px}
.required{ color:#F00}
#submit-status img { vertical-align: middle; }
#submit-status { line-height: 24px; height: 25px; padding-top: 20px; padding-bottom: 30px; font-weight: 700; color: #690; }
#authorization-form .tick img { vertical-align: text-top; padding-right: 10px; }
.auth-status{float:right;padding-right:5px;padding-top:2px;text-align:right; color:#666; font-size:10px; font-style:italic}
.green{color:#6C8526}
.red{color:#F00}
.passenger-title, .dob-title{border-bottom:1px solid #CCCCCC;float:left; margin-bottom:7px;}
.passenger-title{width:210px;}
.dob-title{width:172px;}
.box-content .error-block {color:red;padding:3px 5px;}
.tour-pricing .discount { width: 135px; text-align: right; float: left; padding: 5px; font-style: italic; font-weight: 700; color: #666; }
.landex-content .error-block{ padding:3px; color:#F00}
.time-options .time-select{ width:16px; border-right:none}
.time-options .time-display{ border-left:none}
.passenger-select{width:16px;}
.select-passengers caption { font-weight: 700; text-align: left; }
#itinerary-page .footnote { margin: 5px 70px; }
.help-content h4 { color: #666; padding-top: 15px; }
.help-content .separator { border-bottom: 1px solid #CCC; }
.section-heading { display:none}
#excursion-details-main.full-width .time-options,#excursion-details-main.full-width .select-passengers, #excursion-details-main.wider .time-options,#excursion-details-main.wider .select-passengers  { width: 470px; }
*+ html .iefloatleft{float: left; overflow:hidden; }
.no-group td { background: #F7F7F7; }
.error-msg{ padding:3px; color:#F00;}
.facebook-links { font-size: 11px; font-weight: 200; color: #666; margin-top:5px; padding-bottom: 0 !important; }

.facebook-links img { margin-left: 0px; }
.share-icon { background: url(/images/share/excursions/share_icon.png) no-repeat 10px center; padding-left: 42px; border-left: 1px solid #CCC; display:block; float:left; }
.share { width: 35px; padding: 3px 3px 6px; font-weight: 700; text-align: center; position: absolute; right: 0; bottom: 5px; line-height:12px; z-index:2001}
.excursion-group .share {bottom:0} /* for list views */
.share label { color: #1E4E8D; cursor:pointer }
.title-n-heading { position: relative; width:810px; }
.print-share { position:absolute;right:15px;top:8px;width:156px;}
.print-share .print-icon {border-style:none;float:left;}
.print-share .share-icon {float:right;}
#picture-box { float: left; width: 575px; height: 320px; }
#content-box { width: 356px; float: left; background: url(/images/share/excursions/content_box_bg.jpg) repeat-x; height: 324px; color: #333; padding: 8px 11px 8px 15px; border-left: 1px solid #EBEBEB; }
#content-box h2 { color: #666; font-weight: 200; }
#sidebar { padding: 10px; width: 260px; background: #ebf6fa; float: left; height: 100%; }

#excursion-categories {clear:both; border-top:1px solid #e0e0e0; margin-right: 15px;}
#excursion-categories .category { float: left; width: 181px; margin: 10px 15px; }
#left-col { float: left; width: 669px; padding-bottom: 10px; padding-left: 10px; background: #FFF; }
.category h3 { background: #0069AA url(/images/share/excursions/category_heading_bg.gif) no-repeat right center; color: #FFF; padding: 2px 7px 2px 5px; }
.category p { padding-top: 5px; padding-bottom: 5px; padding-left: 0px; color: #666;line-height:15px; }
#left-col h2 { color: #333; margin-left: -10px; font-weight: 200; }
#excursions-videos {float:left;width:355px; border-right: 1px solid #e0e0e0; margin: 25px 10px 20px 0; padding: 0 10px 10px; }
#depart-ports {float:left; width:245px; margin: 25px 0; padding: 0 10px 10px;}
#excursions-videos h2, #depart-ports h2, #departure-ports h2{font-size:17px;color:#333333;margin-left:0}
#excursions-videos img{margin: 3px 10px 0px 5px}
#departure-ports{margin-right:5%;}
#departure-ports h2{padding-left:0}
#departure-ports p{padding:1px 0px 12px }
.ports-by-region{list-style:none}
.col1of3 {
    float: left;
    width: 28%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#left-col h2.region {
    border-bottom: 1px solid #e0e0e0;
    margin: .15em 0 .25em;
    padding-bottom: 5px;
    padding-left: 0;
}
#content-box form { margin: 10px 0}
#content-box label { display: block; font-weight: 700; color: #000; padding: 3px 5px; }
#content-box label img { vertical-align: middle; }
#content-box select {margin-bottom: 12px;margin-left: 26px;width: 180px;}
#content-box select {width: auto\9;}/*IE hack*/
#content-box small { font-size: 0.9em; color: #999; line-height: 11px; display: block;padding:0 5px; }
#content-box p { line-height: 14px;  }
object {margin: 0;  padding: 0; border: 0;  outline: 0;}
#search-block {
    padding: 6px;
    margin-bottom: 8px;
    overflow: hidden;
    zoom:1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:solid #ccc 1px;
    background-image: url(/images/share/excursions/ready_to_book_bg.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #fefdf7;
}
#search-block h3, #cp-block h3 { font-size: 15px; color: #0069aa; padding-bottom: 5px; padding-left: 5px; font-weight: 200; padding-top: 3px; line-height: 18px; font-style: italic; }
#search-block p, #cp-block p { font-size: 12px; padding-bottom: 7px; }
#cp-block {
    padding: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    zoom:1;
    background-image: url(/images/share/excursions/already_booked_bg.gif);
    background-repeat: repeat-x;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:solid #ccc 1px;
    background-color: #FFF;
    background-position: left bottom;
}
#cp-block li { list-style: circle outside; margin-left: 20px; }
.visit-cp { background: url(/images/share/excursions/cp_icon.gif) no-repeat left center; padding: 5px 0 8px 35px; line-height: 18px; margin-top:3px; display:block; font-size: 13px; margin-left: 4px; }
#cp-block .visit-text { font-size: 11px; padding-bottom: 2px; color:#666 }
#wrap { width: 962px; overflow: hidden; clear: both; background: #EBF6FA; }
.col-50 strong { color: #333; }
#faq-n-terms { padding: 10px 10px 15px 5px; font-weight: 700; }
#faq-n-terms a {padding:0 5px}

/* Expand Collapse */
h4.trigger  { cursor:pointer; display:block; padding:5px 5px 5px 25px; margin-top: 0; text-decoration: none; font-weight: bold; font-size: 11px; background-color: #fff;  border-bottom: 1px solid #e2e2e2; background-image: url(/images/global/collapsed.gif); background-repeat: no-repeat; background-position: 5px 7px; }
.toggle_container{border-bottom: 1px solid #e2e2e2;}
.content-bg {display:block;  background: url(/images/global/accordion_content_bg.gif) repeat-x top; height:10px; margin-bottom:5px;}
h4.trigger a {color:#444; text-decoration:none}

.cruise-table {border-collapse:collapse;border-right:1px solid #B0B0B0;border-top:1px solid #B0B0B0;margin:5px 5px 12px;width:98%;}
.cruise-table th {background:none repeat 0 0 #DDE6EE; border-bottom:1px solid #B0B0B0; border-left:1px solid #B0B0B0;padding:5px;text-align:left;}
.cruise-table td {background:none repeat scroll 0 0 #FFF;border-bottom:1px solid #B0B0B0;border-left:1px solid #B0B0B0;padding:5px;}
#content-inner h2{color:#6A737B; font:200 19px "Century Gothic",Arial,sans-serif; margin-bottom:15px;}
.box-content h4 { font-size: 17px; font-weight: 200; color: #000; }
.box-content h6 { color: #666; font-weight: 700; padding-top: 2px; }
.box-content .share-icon {display: inline;float: none;padding-right: 12px;}
.box-content .print-icon { border-style: none; }
.box-content img { vertical-align: middle; }
#shorex-box h2 { text-align: center; padding-top: 3px; }
.filter-fine-print { text-align: right; display: block; line-height: 12px; color: #666; width: 80%; font-size: 10px; float: right; padding-bottom: 10px; }
.share-components { padding-bottom: 15px; padding-top: 3px;position:relative; }
* + html .share-components{ z-index:200}
.box-content small { font-size: 10px; display: block; line-height: 11px; color: #999; padding-bottom: 3px; padding-left: 5px; }
.amount-text { padding-left: 5px; padding-bottom: 3px; padding-top: 3px; }
.amount-text .amount { font-size: 13px; font-weight: 700; }
.box-content h6 .special-notes { font-style: italic; padding-left: 5px; }
.tour-at-glance h6 { padding-bottom: 5px; }
.tour-grid h6 .share {position:relative; bottom:0; padding-left:0; z-index:1999}
h6 .separator {color:#999; padding:0 3px}
.tour-grid h6 .share input{vertical-align:bottom;margin:0;}
.excursion-links { line-height:21px}
.excursion-links iframe { vertical-align:top !important}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.tour-grid h6 .share input {vertical-align:top;}
}
*+html .tour-grid h6 .share input{vertical-align:middle;}
.tour-grid .icons-price-hours{position:static; text-align:left; margin:0 0 0 5px; float:left} /*for excursions.css*/
#share-form { padding:20px 15px; position: relative;zoom:1 }
#share-form p {font-size:12px;padding-top:12px;}
#share-form input, #share-form textarea {
border:1px solid #666;color:#666;font-family:Arial,Helvetica,sans-serif;font-size:11px;margin-bottom:8px;width:315px;resize: none;}
#share-form label span {font-size:11px;font-style:italic;font-weight:200;}
#share-form label { color:#333; font-weight:200; padding:0}
.hint small {color:#999;display:block;font-size:10px;line-height:12px;padding-left:5px;width:75%;}
.hint {margin-top:10px;padding:10px;position:relative;}
.hint .print-icon {border-style:none;position:absolute;right:10px;top:20px;}
.hint h6 {font-size:12px;padding-bottom:3px;}
#share-form h6 { color: #690; font-size: 15px; border-bottom: 1px solid #CCC; padding-bottom: 3px; font-weight: 200; display: inline; }
#message { background: url(/images/share/excursions/princess_watermark.gif) no-repeat right 85px; padding: 75px 0px 10px; color: #666; min-height:240px }
#message p { font-size: 13px; padding-bottom: 4px; }
p#salutation { font-size: 14px; }
p#sender-name { font-family: Georgia, Palatino, "Times New Roman", Times, serif; font-style: italic; font-size: 17px; padding-top: 14px; color: #797979; }
.sea-witch-watermark {clear:right;float:right;margin-bottom:12px;}
.no-share-checkbox .price-hours {right:5px;}
.no-share-checkbox .icons-price-hours {right:170px;}
.print-share-bottom-panel { position: relative; height: 40px; background: url(/images/share/excursions/print_share_panel_bg.jpg) repeat-x; margin-bottom: 15px; font-weight:700; clear: both; width: 100%; }
.print-share-bottom-panel .share-icon {height:25px;line-height:25px;}
.print-share-bottom-panel .print-share{padding-top:4px;}
#sidebar object { padding: 5px 3px; border: 1px solid #CCC; background: #FFF; margin-right: auto; margin-left: auto; margin-top:8px }
#share-form .error { font-size: 10px; font-style: normal; color: #F00; }
#share-form .form-error { position: absolute; left: 15px; top: 0px; color: #F00; font-weight: 700; }
#share-form h6.error { display: block; border-style: none; font-size: 14px; }
.share-components iframe{ vertical-align: middle !important; padding-left:5px}
.tour-grid .excursion h6 { line-height: 1.4em; padding-bottom: 6px; margin-bottom:4px }
.tour-grid .iefloatleft .tour-caption { margin-bottom: 5px; }
h4.trigger.active { background: url("/images/expanded.gif") no-repeat 5px 7px;}
* + html .excursion-options { position:absolute; overflow:visible}
* + html .excursion-options li{width:270px}
.tour-grid .facebook-like-link, .excursion-links .facebook-like-link { display: inline-block; margin: 0 0 0 5px; width: 90px; vertical-align: middle;}
* + html .tour-grid .facebook-like-link, * + html .excursion-links .facebook-like-link { display: inline; zoom: 1; }
.no-excursions-selected-messagebox, .no-excursions-limited-messagebox { -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px; -moz-box-shadow: -1px 6px 12px #666; box-shadow: -1px 6px 12px #666; background: none repeat scroll 0 0 #FFF; border: 1px solid #CCC; color: red; display: none; padding: 30px 15px 20px; position: absolute; bottom: -5px; right: 10px; width: 220px; z-index: 2000; font-size:11px;line-height:15px; }
.no-excursions-selected-messagebox .errorbox-close-button a, .no-excursions-limited-messagebox .errorbox-close-button a  {background: url("/images/share/excursions/x_box.gif") no-repeat right center;cursor:pointer;
 right:10px; top: 5px; color: #999999 !important; padding-right: 16px; position: absolute;
 text-decoration: none; text-transform: uppercase; font-size:10px}
.no-excursions-limited-messagebox {  width: 665px;}
.tour-grid .no-excursions-limited-messagebox {  width: 335px;}
.print-share-bottom-panel .no-excursions-selected-messagebox, .sort-panel-bigger .no-excursions-selected-messagebox{bottom: -20px;left: -85px;}
.print-share-bottom-panel .no-excursions-limited-messagebox, .sort-panel-bigger .no-excursions-limited-messagebox{bottom: -5px;right: -10px;}
.video{ padding-top:25px}
.excursion-group .icons-price-hours .icons {
    float:left; 
    padding-top:10px; 
    margin-right:5px;
}
.tour-grid .icons-price-hours .icons {
    float:left; 
    padding-top:10px; 
    margin-right:5px;
}
.excursion .icons-price-hours .poi-not-available img {
    margin-top:10px;
}
.you-will-visit, .you-will-see {
    float: left;
    margin: 3px 7px 0 0;
    min-height: 29px;
    padding: 5px 7px 0 0;
    text-align: right;
    border-right: 1px solid #CCC;
    color: #000000;
    font-size: 11px;
    font-weight: 400;
    line-height: 5px;
}
.you-will-visit a.poi img, .you-will-see a.poi img {
    margin-top:4px;
}
.big-hours {
    font-size:12px;
    display: block;
}
.little-hours {
    font-size:10px;
}
.price .amount { 
    font-size:1.1em; 
    font-weight:700;
} 

/* Link to CP */
.pre-reserve-excursion {
	background: #eaf6fa;
	border: 1px solid #d0d1d2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 20px 15px 20px 5px;
	overflow: hidden;
	padding: 10px 20px;
	position: relative;
	width: auto;
	max-width: 450px;
}
.pre-reserve-excursion.thin {
	padding: 5px 10px;
}
.excursion-options > .pre-reserve-excursion {
	margin-bottom: 0;
}
/*.pre-reserve-excursion > h2, #sidebar > h2 {*/
.book-excursion-title {
	font-size: 17px;
	line-height: 21px;
	padding-top: 6px;
	padding-bottom: 2px;
	font-weight: 400;
	clear: none;
}
.pre-reserve-excursion > p {
	padding-bottom: 6px;
}
.button {
    color: #fff;
    font-size: 13px; /*need to switch to ems*/
    font-weight: 700; 
    padding: 4px 10px; 
    border: solid 1px #999; 
    background: #0054a0; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3779b5), color-stop(100%,#0054a0)); 
    background: -webkit-linear-gradient(top, #3779b5 0%,#0054a0 100%); 
    background: -moz-linear-gradient(top, #3779b5 0%, #0054a0 100%); 
    background: -o-linear-gradient(top, #3779b5 0%,#0054a0 100%); 
    background: -ms-linear-gradient(top, #3779b5 0%,#0054a0 100%); 
    background: linear-gradient(top, #3779b5 0%,#0054a0 100%); 
}
.pre-reserve-excursion .amount-text {
	background: #fefceb;
	border-right: 1px solid #d0d1d2;
	float: left;
	margin: -10px 20px -10px -20px;
	padding: 30px 20px;
	width: auto;
}
.pre-reserve-excursion.thin .amount-text {
	margin: -5px 20px -5px -10px;
	padding: 25px 20px;
}
/* Temporarly hiding actions-widget until after excursion landing page is updated to a v2 or v3 cms template */
.actions-widget {
    display: none;
}
.child-pricing {
    background: #fefceb;
    border: 1px solid #ccc;
    padding: 10px 15px;
}
.child-pricing h3, .child-pricing p {
    padding: 0;
}
.child-pricing h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: .5em;
}