.css-table {
    page-break-inside: avoid;
}
.price-hours {
    right: 0;
}
.icons-price-hours {
    right: 170px;
}
.port-description {
    width: 680px;
}
.panel-header h3 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.excursion {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #aaa;
}
.tour-grid .excursion {
    margin-right: 2px;
}
.excursion-list ul {
    width: 435px;
}
.excursion-list-poi {
    padding-bottom: 0;
}
#print-logo{ 
    text-align:left; 
    width:100%; 
    display:block; 
    padding:5px; 
    background: #FFF; 
}

/*hide interactive elements that are not needed for hard copy prints*/
.excursion-options, .change-port, .poi-filter, .excursion-list-poi a, .expand-collapse, .excursion-links,
#filter-options, #flash-filter, .sort-panel-bigger, .share, .print-share-bottom-panel {
    display: none !important;
}
