.action-toolbar-wrapper {
	font-family:'Gotham XNarrow SSm 4r', Arial, Helvetica, sans-serif;
	background-color: #009DD2;
	position: fixed;
	bottom: 0px;
	margin: 0px auto;
	width: 100%;
	z-index: 1000;
	letter-spacing: 1px;
}
@media screen and (min-width: 1700px){
	.action-toolbar-wrapper{
		max-width: 1700px;
	}
}
.link-text{
	padding: 5px 15px;
	margin-bottom: -7px;
}
.printer-link-text{
	padding: 5px 15px 5px 15px;
	margin-bottom: -4px
}
.toolbar-item{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: .875rem;
}
.toolbar-hover:hover{
	background-color: #006C90;
}
.toolbar-item + .toolbar-item{
	padding-bottom: 5.5px;
	border-left: 1px solid white;
}
.action-toolbar-maxWidth{
	max-width: 1700px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.action-toolbar{
	position: relative;
	z-index: 1000;
	margin: 0 auto;
}
.action-toolbar-lowered{
	position: absolute;
	bottom: -31px;
	left: 0px;
	width: 100%;
	background-color: #009DD2;
	z-index: 1000;
}
.toolbar-hide{
	position: absolute;
	right: 10px;
	top: -15px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width: 50px;
	height: 50px;
	padding-bottom: 15px;
	z-index: 1000;
}
.toolbar-hide:focus{
	outline: none;
}
.toolbar-hide-lower{
	top:-30px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width: 70px;
	height: 30px;
	padding-top: 5px;
	z-index: 1000;
}
.toolbar-button {
	background-color:#009DD2;
	color: white;
	border: none;
	cursor: pointer;
	font-size: .875rem;
}
.text-white{
	color: white;
}
.action-toolbar-list{
	padding: 0px;
	margin: 0px;
	font-size: 0;
}
.toolbar-link-view{
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color: white;
}
.toolbar-hide-text{
	display: block;
	font-family: 'Gotham XNarrow SSm 4r', Arial, Helvetica, sans-serif;
	margin-top: -3px;
}
.share-button{
	display: none;
	border: none;
}
.share-links{
	display: inline-block;
	text-decoration: none;
	color: white;
	margin:0px;
	padding: 0px;
	z-index: 1000;
}

.hidden-share-bar{
	position: fixed;
	bottom: -40px;
	left: 0px;
	height: 40px;
	list-style-type: none;
}
.shareBar-center-align{
	text-align: center;
}

.show-text{
	display: none;
}
.show-box{
	display: inline-block;
	font-family: 'Gotham XNarrow SSm 4r', Arial, Helvetica, sans-serif;
	margin-right: 0px;
	margin-left: 3px;
}
.downchevron-position{
	margin-bottom: 5px;
}
.upchevron-position{
	margin-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
}
.hover-icon{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-bottom: -5px;
	padding-top: 5px;
}
.email-icon{
	margin-right: 12px;
}
.toolbar-printer{
	border-left: 1px solid white;
	padding-bottom: 6px;
}
.unpinned-action-toolbar .action-toolbar-wrapper{
	position: relative;
}
.unpinned-action-toolbar .action-toolbar-wrapper .toolbar-hide{
	display: none;
}
.disable-toolbar .action-toolbar-wrapper{
	display:none;
}
.disable-tooblar-printer .toolbar-printer{
	display: none;
}
.disable-toolbar-brochure .toolbar-brochure{
	display: none;
}
.disable-toolbar-contact .toolbar-contact{
	display: none;
}
.disable-toolbar-share .toolbar-share{
	display: none;
}
.show-chat .toolbar-chat{
	display: inline-block;
}
#share-active{
	border-left: none;
}
.toolbar-icon-margin{
	margin-left: 0px;
}
.pc-icons >span{
	vertical-align: center;
}
@media screen and (max-width: 900px){
	.toolbar-printer{
		display: none;
	}
}
@media screen and (max-width: 767px){
	.toolbar-item-hide{
		display: none;
	}
	.share-button{
		display: inline-block;
	}

	.link-text{
		padding: 6px 10px;
	}
	.toolbar-item + .toolbar-item{
		padding-bottom: 5px;
		border-left: 1px solid white;
	}
	.action-toolbar-list{
		padding: 0px;
		margin: 0px;
	}
	.share-button:hover{
		background-color: #006C90;
	}
	.toolbar-link-view{
		text-decoration: none;
		color: white;
	}
	.text-change{
		display: none;
	}
	.toolbar-item + .toolbar-item{
		border-left: 1px solid white;
	}
	.share-bar{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		background-color: #006C90;

	}
	.action-toolbar-raised{
		position: fixed;
		bottom: 40px;
		left: 0px;
		width: 100%;
		background-color: #009DD2;
		text-align: center;
	}
	.show-box{
		display: none;
	}
	.toolbar-hide-text{
		display: none;
	}
	.toolbar-hide{
		position: absolute;
		height: 20px;
		left: 5px;
		top: -23px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius: 3px 3px 0px 0px;
		width: 40px;
		z-index: 1;
	}
	.toolbar-hide-raised{
		position: absolute;
		height: 20px;
		left: 5px;
		top: -94px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius: 3px 3px 0px 0px;
		width: 40px;
		z-index: 1;
	}
	.share-icon-spacing{
		margin: 12.5px 15px;
	}
	.downchevron-position{
		margin-bottom: 10px;
	}
	.upchevron-position{
		margin: -4px auto 7px auto;
	}
	.disable-share-link{
		display: none;
	}
}
