@charset "utf-8";

/*
 * Actions Widget
 */
.actions-widget-list {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: left;
}
.action-item {
	display: inline-block;
	font-size: 13px;
	line-height: 1.1;
	text-align: center;
}
.action-item + .action-item {
	border-left: 1px solid #a1a1a1;
}
.action-item > a, .action-item > button {
	background: transparent;
	border: none;
	color: #0054A0;
	display: inline-block;
	font-family: 'Gotham XNarrow SSm 5r', Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	padding: .4em;
	margin: 0;
	text-decoration: none;
}
.mfp-content .action-item > a, .mfp-content .action-item > button {
	padding-left: .75em;
	padding-right: .75em;
}
.action-item > a:hover, .action-item > button:hover, .action-item > .active {
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.action-icon, .mfp-content .action-icon {
	display: none;
}
@media screen and (min-width: 300px) {
	.action-icon {
		background: url(/images/global/sprite_pc-icons.svg) no-repeat;
		display: inline-block;
		height: 12px;
	}
	.no-svg .action-icon {
		background: url(/images/global/sprite_pc-icons.png) no-repeat;
	}
	.action-icon.ship {
		background-position: -20px -20px;
		width: 24px;
	}
	.action-icon.share {
		background-position: -50px -20px;
		width: 14px;
	}
	.action-icon.brochure {
		background-position: -93px -20px;
		width: 10px;
	}
	.action-icon.email {
		background-position: -70px -19px;
		width: 18px;
	}
	.action-icon.print {
		background-position: -153px -20px;
		width: 19px;
	}
	.action-icon.print-white {
		background-position: -247px -20px;
		width: 19px;
	}
	.action-icon.save {
		background-position: -405px -20px;
		width: 14px;
	}
	.action-icon.unsave {
		background-position: -387px -20px;
		width: 14px;
	}
	.action-icon.dashboard {
		background-position: -351px -20px;
		width: 14px;
	}
}
.share-icons {
	background: url(/images/global/sprite_pc-icons.svg) no-repeat -108px -20px;
	display: none;
	height: 12px;
	margin-bottom: -2px;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
	width: 40px;
}
.no-svg .share-icons {
	background: url(/images/global/sprite_pc-icons.png) no-repeat -108px -20px;
}
@media screen and (min-width: 360px) {
	.mfp-content .action-icon {
		display: inline-block;
	}
	.mfp-content .action-item > a, .mfp-content .action-item > button {
		padding-left: .4em;
		padding-right: .4em;
	}
}
@media screen and (min-width: 420px) {
	.action-item > a, .action-item > button {
		padding-left: .75em;
		padding-right: .75em;
	}
}
@media screen and (max-width: 539px) {
	.action-item .long-text {
		display: none;
		visibility: hidden;
	}
}
@media screen and (min-width: 600px) {
	.action-item > a, .action-item > button {
		padding-left: .4em;
		padding-right: .4em;
	}
	.lt-ie9 .action-item > a, .lt-ie9 .action-item > button {
		padding-left: .2em;
		padding-right: .2em;
	}
}
@media screen and (min-width: 768px) {
	.actions-widget-list {
		text-align: right;
	}
	.lg-icons > .action-item .text-line {
		display: block;
	}
	.share-icons {
		display: inline-block;
	}
	.action-item > a, .mfp-content .action-item > a, .action-item > button, .mfp-content .action-item > button {
		padding-left: .25em;
		padding-right: .25em;
	}
	.lg-icons .action-icon {
		display: block;
		height: 25px;
		margin: 0 auto .45em;
	}
	.lg-icons .action-icon.ship {
		background-position: 0px -150px;
		width: 43px;
	}
	.lg-icons .action-icon.share {
		background-position: -48px -150px;
		width: 26px;
	}
	.lg-icons .action-icon.brochure {
		background-position: -78px -150px;
		width: 20px;
	}
	.lg-icons .action-icon.email {
		background-position: -103px -150px;
		width: 30px;
	}
	.lg-icons .action-icon.print {
		background-position: -138px -150px;
		width: 32px;
	}
	.lg-icons .action-icon.save {
		background-position: -175px -150px;
		width: 20px;
	}
}
@media screen and (min-width: 960px) {
	.full-width .action-widget-wrapper, .full-width .action-widget-wrapper {
		padding: 0;
		width: 100%;
	}
	.full-width .actions-widget-list, .full-width .actions-widget-list {
		text-align: center;
	}
}
.action-share-drawer {
	background: #edf1f2;
	border-top: 1px solid #9ba8ab;
	border-bottom: 1px solid #9ba8ab;
	display: none;
	padding: 15px;
	margin: .5em -15px;
}
@media screen and (min-width: 768px) {
	.action-share-drawer {
		text-align: right;
	}

}
@media screen and (min-width: 960px) {
	.full-width .action-share-drawer {
		text-align: center;
	}
}
.action-share-drawer > .share-cta {
	display: inline-block;
	font-size: 1.384615384615385em;
	line-height: 1;
	margin: 0;
	padding: 0 1em .25em 0;
	vertical-align: middle;
}
@media screen and (min-width: 515px) {
	.action-share-drawer > .share-cta {
		padding-top: .25em;
	}
}
.addthis_toolbox {
	display: inline-block;
	vertical-align: middle;
}
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m {
    padding: 0;
}
.addthis_default_style .addthis_separator,
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m,
.addthis_default_style .at300bs {
    float: right;
}
.addthis_default_style .addthis_counter {
    float: right;
}

/*Action Toolbar CSS*/

.action-toolbar-wrapper {
	font-family:'Gotham XNarrow SSm 4r', Arial, Helvetica, sans-serif;
	background-color: #009DD2;
	position: fixed;
	bottom: 0px;
	margin: 0px auto;
	width: 100%;
	z-index: 1000;
	letter-spacing: 1px;
}
@media screen and (min-width: 1700px){
	.action-toolbar-wrapper{
		max-width: 1700px;
	}
}
.link-text{
	padding: 5px 15px;
	margin-bottom: -7px;
}
.printer-link-text{
	padding: 5px 15px 5px 15px;
	margin-bottom: -4px
}
.toolbar-item{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: .875rem;
}
.toolbar-hover:hover{
	background-color: #006C90;
}
.toolbar-item + .toolbar-item{
	padding-bottom: 5.5px;
	border-left: 1px solid white;
}
.action-toolbar-maxWidth{
	max-width: 1700px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.action-toolbar{
	position: relative;
	z-index: 1000;
	margin: 0 auto;
}
.action-toolbar-lowered{
	position: absolute;
	bottom: -31px;
	left: 0px;
	width: 100%;
	background-color: #009DD2;
	z-index: 1000;
}
.toolbar-hide{
	position: absolute;
	right: 10px;
	top: -15px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width: 50px;
	height: 50px;
	padding-bottom: 15px;
	z-index: 1000;
}
.toolbar-hide:focus{
	outline: none;
}
.toolbar-hide-lower{
	top:-30px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width: 70px;
	height: 30px;
	padding-top: 5px;
	z-index: 1000;
}
.toolbar-button {
	background-color:#009DD2;
	color: white;
	border: none;
	cursor: pointer;
	font-size: .875rem;
}
.text-white{
	color: white;
}
.action-toolbar-list{
	padding: 0px;
	margin: 0px;
	font-size: 0;
	text-align: center;
}
.toolbar-link-view{
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color: white;
}
.toolbar-hide-text{
	display: block;
	font-family: 'Gotham XNarrow SSm 4r', Arial, Helvetica, sans-serif;
	margin-top: -3px;
}
.share-button{
	display: none;
	border: none;
}
.share-links{
	display: inline-block;
	text-decoration: none;
	color: white;
	margin:0px;
	padding: 0px;
	z-index: 1000;
}

.hidden-share-bar{
	position: fixed;
	bottom: -40px;
	left: 0px;
	height: 40px;
	list-style-type: none;
}
.shareBar-center-align{
	text-align: center;
}

.show-text{
	display: none;
}
.show-box{
	display: inline-block;
	font-family: 'Gotham XNarrow SSm 4r', Arial, Helvetica, sans-serif;
	margin-right: 0px;
	margin-left: 3px;
}
.downchevron-position{
	margin-bottom: 5px;
}
.upchevron-position{
	margin-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
}
.hover-icon{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-bottom: -5px;
	padding-top: 5px;
}
.email-icon{
	margin-right: 12px;
}
.toolbar-printer{
	border-left: 1px solid white;
	padding-bottom: 6px;
}
.unpinned-action-toolbar .action-toolbar-wrapper{
	position: relative;
}
.unpinned-action-toolbar .action-toolbar-wrapper .toolbar-hide{
	display: none;
}
.disable-toolbar .action-toolbar-wrapper{
	display:none;
}
.disable-tooblar-printer .toolbar-printer{
	display: none;
}
.disable-toolbar-brochure .toolbar-brochure{
	display: none;
}
.disable-toolbar-contact .toolbar-contact{
	display: none;
}
.disable-toolbar-share .toolbar-share{
	display: none;
}
.show-chat .toolbar-chat{
	display: inline-block;
}
#share-active{
	border-left: none;
}
.toolbar-icon-margin{
	margin-left: 0px;
}
.pc-icons >span{
	vertical-align: center;
}
@media screen and (max-width: 900px){
	.toolbar-printer{
		display: none;
	}
}
@media screen and (max-width: 767px){
	.toolbar-item-hide{
		display: none;
	}
	.share-button{
		display: inline-block;
	}

	.link-text{
		padding: 6px 10px;
	}
	.toolbar-item + .toolbar-item{
		padding-bottom: 5px;
		border-left: 1px solid white;
	}
	.action-toolbar-list{
		padding: 0px;
		margin: 0px;
	}
	.share-button:hover{
		background-color: #006C90;
	}
	.toolbar-link-view{
		text-decoration: none;
		color: white;
	}
	.text-change{
		display: none;
	}
	.toolbar-item + .toolbar-item{
		border-left: 1px solid white;
	}
	.share-bar{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		background-color: #006C90;

	}
	.action-toolbar-raised{
		position: fixed;
		bottom: 40px;
		left: 0px;
		width: 100%;
		background-color: #009DD2;
		text-align: center;
	}
	.show-box{
		display: none;
	}
	.toolbar-hide-text{
		display: none;
	}
	.toolbar-hide{
		position: absolute;
		height: 20px;
		left: 5px;
		top: -23px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius: 3px 3px 0px 0px;
		width: 40px;
		z-index: 1;
	}
	.toolbar-hide-raised{
		position: absolute;
		height: 20px;
		left: 5px;
		top: -94px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius: 3px 3px 0px 0px;
		width: 40px;
		z-index: 1;
	}
	.share-icon-spacing{
		margin: 12.5px 15px;
	}
	.downchevron-position{
		margin-bottom: 10px;
	}
	.upchevron-position{
		margin: -4px auto 7px auto;
	}
	.disable-share-link{
		display: none;
	}
}
