*{
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.content{
  padding-left: 10%;
}

body{
  background-color: #efefef;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: auto;
}

header{
  position: relative;
  border: 1px solid black;
  text-align: center;
}
h1{
  visibility: hidden;
}

.logo{
  max-width: 668px;
  width: 80%;
  height: auto;
}
/*if an image is in a box use this
along with .image*/
.image_box{
  float:left;
  width: 15em;
  text-align: left;
  padding: 10px 1em;
  margin: 10px 10px;
}
/*sets size of image in box*/
.image{
  float: left;
  width: 100%;
  height: auto;
  padding: 5px;
}
.toolbar {
  background-color: lightblue;
  z-index: 2;
  padding: 5px;
  position: fixed;
  text-align: left;
  top: 5px;
}
input[type="search"]{
  width: 150px;
  text-align: left;
}


.bikes img{
  margin: 5px;
  width: 45%;
  min-width: 8em;
  height: auto;
}

.box{
  border: 1px solid black;
  margin: 5px;
  width: 29%;
  min-width: 10em;

  border: 1px solid black;
  padding: 5px;
  text-align: left;
  float: left;
}

.clear{
  clear:both;
}
