@charset "utf-8";
/* Princess Bridgecam Page Styles */

.bridgecam-holder {
	padding-top:15px;
}
.bridgecam-info {
	display:block;
	clear:both;
	padding:15px 0;
}
#ship-list-bridge {
	margin-top:0;
}
.list-column {
	margin-bottom:15px;
}
.list-column ul {
	padding:0;
}
.list-column a {
	text-decoration:none;
	outline: none;
	border: none;
}
.list-column .selected a {
	color:#ff9c00;
}
.cam-column h2 {
	padding:10px 0;
}
.sel-button-holder {
	padding:0 15px 15px 15px;
	text-align:center;
}
.cam-select-btn {
	cursor:pointer;
}
.drop-tab-ul a{
	display:block;
}

@media screen and (min-width:640px) {
	.buttons {
		margin-top:0;
	}
	.drop-tab-ul li {
		font-size:15px;
		padding: 2px 5px;
	}
	.list-column li + li {
		margin:0;
	}
	.drop-tab-ul li:hover, .drop-tab-ul .active {
		background-color: #e5f3fd;
	}
	.sel-button-holder {
		border-bottom:1px solid #B2B2B2;
		margin-bottom:15px;
		padding:0 0 15px 0;
		text-align:left;
	}
	#ship-list-bridge .active .ship-link:hover {
		background: transparent;
	}
}