@charset "utf-8";
/*
 *  Princess Cruises Contact CSR
 *  
 */ 
.main-bg {
	background-image: url(/images/global/background/header/iceland-1600x265.jpg);
	background-position: top center;
	background-size: contain;
}
.loading {
	display: inline-block;
	font-size: 1.1538em;
	font-weight: 700;
}
.loading img {
	height: 26px;
	width: 26px;
	vertical-align: middle;
}
@media screen and (min-width: 40em) {
	.csr-form-col:nth-child(2n+1) {
		clear: left;
	}
	.csr-form-col.odd {
		clear: left;
	}
}
.csr-form input[type="text"], .csr-form input[type="email"], .csr-form select , .csr-form textarea {
	width: 100%;
} 
.top-10-faq-list {
	margin-top: 0;
}
.top-10-faq-list > li {
	padding-bottom: .5em;
	padding-top: .5em;
}
.contact-address {
	font-style: normal;
	padding: 2em 15px;
}