@charset "utf-8";

/*
 * Global Layout
 */
#content-aside > div {
	background: #f4f9fd;
	background: -moz-linear-gradient(top, #f4f9fd 0%, #d3e8f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f9fd), color-stop(100%,#d3e8f5));
	background: -webkit-linear-gradient(top, #f4f9fd 0%,#d3e8f5 100%);
	background: -o-linear-gradient(top, #f4f9fd 0%,#d3e8f5 100%);
	background: -ms-linear-gradient(top, #f4f9fd 0%,#d3e8f5 100%);
	background: linear-gradient(to bottom, #f4f9fd 0%,#d3e8f5 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f9fd', endColorstr='#d3e8f5',GradientType=0 );*/
	background-clip:  padding-box;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 22px 0 0 0;
}
.checkmark {
	list-style-image: url(/images/global/pc-icon_green-check-12.png);
	margin-bottom: 0;
}
.checkmark li + li {
	margin-top: 1em;
}
.article-header {
	position:relative;
}
.article-header h1 {
	margin:15px;
}
.article-header h2 {
	font-size: 1.153846153846154em;
	letter-spacing: normal;
	margin:-10px 15px 15px 15px;
}
.article-header h1, .article-header h2 {
	line-height:1em;
}

/*
 * Register & Cruise Vacation Planner Forms
 */

.cvp-confirm-email {
	margin-left: 80px;
}
.responsive-reg select, .responsive-reg input {
	width:100%;
}
.responsive-reg input[type="checkbox"], .responsive-reg input[type="radio"] {
	width:14px;
}
.responsive-reg .radio, .responsive-reg .checkbox {
	padding:1em 0 1em 2.4em;
}
.responsive-reg legend + .row {
	margin-top:2em;
}
.responsive-reg fieldset > fieldset + fieldset {
	margin:2em 0;
}
.responsive-reg .reg-zip-lookup, .responsive-reg .cvp-zip-lookup {
	padding-left:0;
}
.responsive-reg .reg-zip-lookup > a, .responsive-reg .cvp-zip-lookup > a {
	display:inline-block;
	padding:2.5em 0 0 0;
}
.responsive-reg .register-btn-holder {
	text-align:center;
}
.responsive-reg #register-btn, .responsive-reg #cvp-btn {
	width:200px;
}
.cvp-phone.deactive, .cvp-email.deactive, .cvp-confirm-email.deactive, .cvp-casl.deactive {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#reg .required-instructions, #cvp .required-instructions {
	position: relative;
	margin-bottom: .5em;
	text-align: right;
}
.lt-ie8 #reg .required-instructions, .lt-ie8 #cvp .required-instructions {
	margin-bottom: -1.5em;
}
#reg legend .required, #reg .required-instructions .required, #cvp legend .required, #cvp .required-instructions .required {
	font-size: 1.2307em;
    font-weight: 700;
    padding-right: 0.3em;
	top: 0;
}
.reg-city-select {
	margin-left: 0;
}
#reg .button, #cvp .button {
	padding: .5em 1.50em;
	margin-top: .75em;
}
#spinner {
	display:inline-block;
	height:32px;
	display:none;
}
#spinner > img {
	vertical-align:middle;
}
.lt-ie8 #spinner {
	position:relative;
	top:8px;
}
.lt-ie8 fieldset fieldset legend {
	display:block;
	margin-top:25px;
}
.additional-information > legend + fieldset {
	margin-top: 40px;
}
#why-register-button {
	display:block;
	margin-left:auto;
	margin-right:auto;
	outline:none;
	width:230px;
}
.why-register h2, .why-register ul {
	display:none;
}

@media screen and (min-width:640px){
	.responsive-reg .reg-zip-lookup, .responsive-reg .cvp-zip-lookup {
		margin-top:-10px;
		text-align:right;
	}
	.responsive-reg .reg-zip-lookup > a, .responsive-reg .cvp-zip-lookup > a {
		padding:0 0 15px 0;
	}
	.responsive-reg .register-btn-holder {
		text-align:left;
	}
	.responsive-reg .cvp-contact {
		padding-top:2.5em;
	}
}

@media screen and (min-width:768px){
	.article-header {
		-webkit-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
		margin-top:30px;
	}
	.responsive-reg .reg-zip-lookup, .responsive-reg .cvp-zip-lookup {
		margin-top:0;
		text-align:left;
	}
	.responsive-reg .reg-zip-lookup > a, .responsive-reg .cvp-zip-lookup > a {
		padding:2.5em 0 0 0;
	}
	.responsive-reg .radio, .responsive-reg .checkbox {
		padding:.5em 0 .5em 2.4em;
	}
	.responsive-reg .cvp-contact {
		padding-top:2.5em;
	}
	.responsive-reg #register-btn, .responsive-reg #cvp-btn {
		width: auto;
	}
	#why-register-button {
		display:none;
	}
	.why-register h2, .why-register ul {
		display:block !important;
	}
}

@media screen and (min-width:992px){
	.responsive-reg .reg-zip-lookup, .responsive-reg .cvp-zip-lookup {
		margin-top:-10px;
		text-align:right;
	}
	.responsive-reg .reg-zip-lookup > a, .responsive-reg .cvp-zip-lookup > a {
		padding:0 0 15px 0;
	}
}