@charset "utf-8";

/*
 * Styles for Registration in CC
 */
.loading {
	display: inline-block;
	font-size: 1.1538em;
	font-weight: 700;
}
.loading > img {
	height: 26px;
	width: 26px;
	vertical-align: middle;
}
#container {
	background-image: none;
}
.main-bg {
	background-image: url(/images/global/background/header/aruba-1600x265.jpg);
	background-position: top center;
	background-size: contain;
}
/* move to global, but need to check with team first */
.form-field .required {
	display: none;
}
.required-field .required {
	display: block;
}
/* show passwrd button position over password field */
.show-password-btn {
	position: absolute;
	right: .5em;
	top: 2.66666666666667em;
}
/* simple formating for error messages on fieldset-group */
.fieldset-group > legend > .form-field-msg {
	padding-left: 1em;
	display: inline-block;
}
/* error message formating for all devices */
.form-field > .form-field-msg {
	background: #bd0000;
	display: block;
	color: #fff;
	line-height: 1;
	padding: .4em .5em;
	position: relative;
}
.form-field > .form-field-msg:before {
	bottom: 100%;
	border: 8px solid transparent;
	border-bottom: 6px solid #bd0000;
	content: '';
	left: .5em;
	position: absolute;
}
@media screen and (max-width: 47.9375em) {
	.form-field > .form-field-msg {
		margin-top: .5em;
	}
}
/* tooltip effect for error messages on tablet & desktop */
@media screen and (min-width: 48em) {
	.form-field > .form-field {
		overflow: hidden;
	}
	.form-field > .form-field-msg {
		left: .76922307em;
		position: absolute;
		top: -999em;
	}
	.form-field:hover, .form-field.focused {
		overflow: visible;
	}
	.form-field:hover > .form-field-msg, .focused > .form-field-msg {
		top: 100%;
	}
}
/* layout for fieldsets under 'your preferences' */
.preference-section {
	padding-bottom: 1px;
}
.preference-section .fieldset-group {
	border-bottom: 1px dotted #333;
	padding-bottom: .5em;
}