@charset "utf-8";

/*
 * 1. Default (current layout in production)
 * 2. Side-by-Side (login on the left, register on the right)
 * 3. Side-by-Side (register on the left, login on the right)
 */

/*
 * Login Multivarient Test
 */
.article-header {
	padding-left: 20px;
	padding-right: 20px;
}
.login-form, .create-account {
	padding: 25px 20px 40px;
}
.login-form .form-field > input[type="text"], .login-form .form-field > input[type="password"] {
	width: 100%;
	max-width: 400px;
}
.create-account > .benefits > li {
	line-height: 1.86;
}
.need-help {
	display: block;
	padding: 1px;
	width: 150px;
}
.login-form > #sign-in .login-btn {
	margin-top: 15px;
}

/* Option 1 */
.opt-1 {
	margin: 0 auto;
	max-width: 640px;
}
@media (min-width: 540px) {
	.opt-1 .login-form, .opt-1 .create-account {
		float: left;
		width: 50%;
	}
	.opt-1 .login-form {
		padding-right: 25px;
	}
	.opt-1 .create-account > .benefits {
		margin: 25px 0 33px;
	}
}

/* Option 2 */
.opt-2 {
	margin: 0 auto;
	max-width: 640px;
}
@media (min-width: 540px) {
	.opt-2 .login-form, .opt-2 .create-account {
		float: left;
		width: 50%;
		position: relative;
	}
	.opt-2 .login-form {
		left: 50%;
		padding-right: 25px;
	}
	.opt-2 .create-account {
		right: 50%;
	}
	.opt-2 .create-account > .benefits {
		margin: 25px 0 33px;
	}
}


/* 
 * Sign In Lightbox (Option 1)
 */
#error-message, .loading {
	display: none;
}
.loading {
	font-weight: 700;
	height: 26px;
}
.loading > img {
	height: 26px;
	margin-right: 5px;
	vertical-align: middle;
	width: 26px;
}
#response-error {
	margin-bottom: 0;
}
#response-error + #error-message {
	margin-top: 0
}
#error-message + form > fieldset {
	margin-top: 1em;
}

/*Sign In & Password Recovery*/
#sign-in {
	padding-bottom: .75em;
}
#sign-in fieldset {
	margin: 2.25em 0;
}
#sign-in p, #password-reminder p{
	margin-bottom: .5em;
}
#sign-in .button, #password-reminder .button {
	margin: 0;
}
#sign-in #popup-register-btn {
	margin: 5px 15px;
}
#password-reminder fieldset {
	margin-bottom: .5em;
}
.lt-ie9 .fieldset-block {
	border: 1px solid #D0D1D2;
}
.signin-email, .signin-email > input, .signin-password, .signin-password > input, .reminder-firstName, .reminder-firstName > input, .reminder-lastName, .reminder-lastName > input, .reminder-email, .reminder-email > input {
	width: 100%;
}
.keep-signed-in {
	vertical-align:inherit !important;
}
.fieldset-block .form-field {
	display: inline-block;
	margin-top: 1.25em;
}
#password-reminder .form-field {
	display: inline-block;
}
.required-instructions {
	position: relative;
	margin-left: 54px;
}
.required-instructions .required {
	font-size: 1.2307em;
    font-weight: 700;
    padding-right: 0.3em;
    top: 0;
}
.bottom-row > div {
	padding-left:7px;
	padding-right:7px;
}
#sign-in .bottom-row .form-field {
	margin-top:0;
	padding-top:1em;
	padding-bottom:1em;
}
.bottom-row a {
	position:relative;
	top:-2px;
}