@charset "utf-8";

.loading {
	display: inline-block;
	font-size: 1.1538em;
	font-weight: 700;
}
.loading img {
	height: 26px;
	width: 26px;
	vertical-align: middle;
}
.referral-step > fieldset {
	margin: 0;
}
.referral-step .font-size-p9 sup {
	font-size: 16px;
	top: -0.3em;
}
.step-1-drawer {
	padding-left: 19px;
}
.step-1-drawer.closed {
	display: none;
}
.step-1-drawer > .form-field:first-child {
	padding-top: 0; 
}
.step-1-drawer + .form-field {
	margin-top: 10px;
}

.referral-rewards input[type=text] {
	width: 100%;
}
.horizontal-fieldset > legend + .form-field {
	margin-left: 0;
}
.dob .month-field > select {
	width: 110px;
}
.dob .date-field > select {
	width: 62px;
}
.dob .year-field > select {
	width: 67px;
}
@media (max-width: 639px) {
	.step-2 {
		border-top: 1px solid #b2b2b2;
	}
}
@media (min-width: 640px) {
	.step-1 {
		border-right: 1px solid #b2b2b2;
	}
}
@media (min-width: 990px) {
	.step-1 {
		padding-right: 40px;
	}
	.step-2 {
		padding-left: 40px;
	}
}