@charset "utf-8";
/* CSS Document */

/*
*  Widget Global
*/

/*
#widget {
	float:left;
	margin:-15px 0 0 10px;
	width:470px;
}
*/
#widget {
	position:absolute;
	left:0;
	margin:-15px 0 0 10px;
	width:470px;
}
#widget .form-field {
	padding-top:0;
	padding-bottom:0;
}
#widget.fixed {
	position:fixed;
	left:50%;
	margin-left:-470px;
	top:0;
	z-index:2;
}
#widget.bottom {
	bottom:0;
	position:absolute;
}
#progressbar {
	background:none;
	border:none;
	height:25px;
	left:532px;
	position:relative;
	top:300px;
	width:400px;
	z-index: 3;
}
#progress-text {

}
#deck-holder {
	width:1940px;
	position:relative;
}
#deck-plan-landing, #deckplan {
	width:960px;
	margin-right:10px;
	float:left;
	position:relative;
}
#content {
	overflow:hidden;
}

.ui-progressbar .ui-progressbar-value {
	height:10px;
	margin:0;
}



/*
*  Ship
*/

#ship {
	float:right;
	min-height:2500px;
	position:relative;
	width:410px;
	overflow: hidden;
}
#ship-overlay {
	background:#FFF;
	opacity:.85;
	filter:alpha(opacity=85);
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index: 1;
}

#ship-above-below {
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index: 1;
	display:none;
}

#ship > div {
	float: left;
	width: 410px;
}
#ship > .front, #ship > .back {
	/*background:#FFF;
	opacity:.5;
	filter:alpha(opacity=50);*/
	position:absolute;
	z-index:999;
}
#ship > .front {
	top:30px;
	right:70px;
}
#ship > .back {
	bottom:100px;
}

/*
*  Widget
*/

/* Deck */
#deck, #border, #arrow {
	-moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .5);
}
.lt-ie9 #deck, .lt-ie9 #border, .lt-ie9 #arrow, .oldie #deck, .oldie #border, .oldie #arrow {
	box-shadow:none;
}
#deck {
	
}
.lt-ie9 #deck, .oldie #deck {
	border: 1px solid #B2B2B2;
}
.sr-selector {
	background: #E6E6E6;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #d6d6d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#d6d6d6));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#d6d6d6 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#d6d6d6 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#d6d6d6 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d6d6d6',GradientType=0 );
	padding:1px 10px;
}
#sr-number {
	width:65px;
}
.sr-selector .button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left:10px;
}
.sr-selector .form-field {
	margin: .4em 0;
}
.profile-map {
	background:#f4f9fd;
	box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, .25);
	min-height: 0;
	padding: 8px 0 8px 12px;
	position:relative;
	-webkit-box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, .25);
}
.profile-map > label {
	display: inline;
}
.ship-profile, #deck-profile {
	height:84px;
	width:426px;
}
.ship-profile {
	display:none;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:18px;
}
#deck-no {
	position: static;
	margin-left:10px;
	min-width:260px;
}

#change-date {
		
}
#change-date a, #public-areas a {
	text-decoration:none;
}

/* Meta Options */

#sort {
	position:relative;
}
#sort .tab-content {
	padding:0;
	z-index:auto;
}
#abv-bel {
	position:relative;
	top:10px;
}
#whats-above, #whats-below {
	padding:3px 8px;
}
#abv-bel .blue:hover {
	cursor:help;
	background:#939393;
	color:#FFF;
}
#abv-bel .gray:hover {
	cursor:default;
}
#sort .tab-nav {
	margin:1em auto -1px auto;	
}
#sort .tab-btn.selected {
	outline:none;
	border-bottom:none;
}
.tab-nav .button {
	filter: alpha(opacity=100);
	opacity: 1;
}
.lt-ie8 #sort .tab-btn, .ie7 #sort .tab-btn {
	margin-bottom: -4px;
	margin-right: 4px;
}
#arrow {
	background:#FFF;
	height:40px;
	left:440px;
	position:absolute;
	top:110px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	width:40px;
	z-index:5;
}
.lt-ie9 #arrow, .oldie #arrow {
	background:url(/images/deckplan/deckplanArrow.gif) top right;
	border:none;
	height:48px;
	left:469px;
	transform:none;
	-ms-transform:none;
	width:22px;
}

/* State Rooms */
#state-rooms, #public-areas, #not-available {
	background:#FFF;
	position:relative;
	z-index:10;
}
#top-options {
	margin:0 -30px 15px;
}
#top-options p {
	margin:.2em 0;
}
#top-options .inline-field {
	margin-left:1.5em;
}
#meta-options {
	margin:0 15px;
}
#meta-table {
	margin-bottom:0;
}
#meta-options div:last-child {
	margin-bottom:0;
	padding-bottom:0;
}
.sort-show, .sort-stateroom-type, .sort-categories {
	padding:.5em 0;
}
.sort-show {
	width:50px;
}
.sort-stateroom-type {
	width:170px;
}
.sort-stateroom-type label + label {
	margin-top:5px;
}
.sort-categories {
	padding-top:.6em;
	width:187px;
}
.sort-categories .row2 {
	margin-top:5px;	
}
.sort-show > .form-field {
	margin-top:.4em;	
}
.sort-stateroom-type > label {
	margin:0;	
}


/* Icons */
.sr-icon {
	border:#666 solid 1px;
	color:#000;
	cursor:default;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	margin:0;
	min-width:21px;
	/*overflow:hidden;*/
	padding:2px 2px 1px;
	text-align:center;
}
.sr-IF {
	background:#95C1E8;
}
.sr-IE {
	background:#B5AED7;
}
.sr-IC {
	background:#5BA398;
}
.sr-OY {
	background:#D7789A;
}
.sr-OZ {
	background:#F25D3D;
}
.sr-OV {
	background:#CAA7AD;
}
.sr-OW {
	background:#9FBCC2;
}
.sr-OF {
	background:#EACB01;
}
.sr-B4 {
	background:#DF6B18;
}
.sr-ME {
	background:#72C6B7;
}
.sr-S6 {
	background:#80B4C2;
}

/* Public Areas */

#state-rooms {
	display:none;
}
#public-areas ul {
	list-style-type:none;
	list-style-position:outside;
	min-height:175px;
}
#public-areas li {
	font-size: 1.15384em;
}
#public-areas li + li {
	padding-top:10px;
}

/* Not available */

#no-available-public-areas {
	/*display:none;*/
	min-height:110px;
	padding-top:60px;
}
#no-available-staterooms{
	min-height:110px;
	padding-top:60px;
}


/* Scroll to top */
#scroll-to-top {
	margin:.5em 4em 0 0;
}
#scroll-to-top a {
	text-decoration:none;
}

/*
*  Ships and Deck Levels
*/

/* Ships */
#AP {
	background:url(/images/deckplan/AP-Profile.png) top left no-repeat transparent scroll;
}
.AP {
	background:url(/images/deckplan/AP-Decks.png) top left no-repeat transparent scroll;
}
#CB {
	background:url(/images/deckplan/CB-Profile.png) top left no-repeat transparent scroll;
}
.CB {
	background:url(/images/deckplan/CB-Decks.png) top left no-repeat transparent scroll;
}
#CO, #IP {
	background:url(/images/deckplan/CO-Profile.png) top left no-repeat transparent scroll;
}
.CO, .IP {
	background:url(/images/deckplan/CO-Decks.png) top left no-repeat transparent scroll;
}
#DP, #CP, #SP {
	background:url(/images/deckplan/DP-Profile.png) top left no-repeat transparent scroll;
}
.DP, .CP, .SP {
	background:url(/images/deckplan/DP-Decks.png) top left no-repeat transparent scroll;
}
#DI {
	background:url(/images/deckplan/DI-Profile.png) top left no-repeat transparent scroll;
}
.DI {
	background:url(/images/deckplan/DI-Decks.png) top left no-repeat transparent scroll;
}

#KP, #EP, #RU {
	background:url(/images/deckplan/KP-Profile.png) top left no-repeat transparent scroll;
}
.KP, .EP, .RU {
	background:url(/images/deckplan/KP-Decks.png) top left no-repeat transparent scroll;
}
#NP, #TP {
	background:url(/images/deckplan/NP-Profile.png) top left no-repeat transparent scroll;
}
.NP, .TP {
	background:url(/images/deckplan/NP-Decks.png) top left no-repeat transparent scroll;
}
#OP, #PA {
	background:url(/images/deckplan/OP-Profile.png) top left no-repeat transparent scroll;
}
.OP, .PA {
	background:url(/images/deckplan/OP-Decks.png) top left no-repeat transparent scroll;
}
#RP, #GP {
	background:url(/images/deckplan/RP-Profile.png) top left no-repeat transparent scroll;
}
.RP, .GP {
	background:url(/images/deckplan/RP-Decks.png) top left no-repeat transparent scroll;
}
#SA {
	background:url(/images/deckplan/SA-Profile.png) top left no-repeat transparent scroll;
}
.SA {
	background:url(/images/deckplan/SA-Decks.png) top left no-repeat transparent scroll;
}


/* Deck Levels */
/*
.CB.deck-4, .CO.deck-4, .KP.deck-4, .DP.deck-4, .DI.deck-4, .EP.deck-4, .NP.deck-4, .AP.deck-4, .IP.deck-4, .RP.deck-4, .RU.deck-4, .SA.deck-4, .CP.deck-4, .SP.deck-4, .TP.deck-4 {
	background-position: 0px 0px;
}
*/
.CB.deck-4, .CO.deck-4, .KP.deck-4, .DP.deck-4, .DI.deck-4, .EP.deck-4, .NP.deck-4, .AP.deck-4, .IP.deck-4, .RP.deck-4, .RU.deck-4, .SA.deck-4, .CP.deck-4, .SP.deck-4, .TP.deck-4, .GP.deck-4 {
	background-position: 0px -84px;
}
.CB.deck-5, .CO.deck-5, .KP.deck-5, .DP.deck-5, .DI.deck-5, .EP.deck-5, .NP.deck-5, .AP.deck-5, .IP.deck-5, .RP.deck-5, .RU.deck-5, .SA.deck-5, .CP.deck-5, .SP.deck-5, .TP.deck-5, .GP.deck-5 {
	background-position: 0px -168px;
}
.CB.deck-6, .CO.deck-6, .KP.deck-6, .DP.deck-6, .DI.deck-6, .EP.deck-6, .NP.deck-6, .AP.deck-6, .IP.deck-6, .RP.deck-6, .RU.deck-6, .SA.deck-6, .CP.deck-6, .SP.deck-6, .TP.deck-6, .GP.deck-6 {
	background-position: 0px -252px;
}
.CB.deck-7, .CO.deck-7, .KP.deck-7, .DP.deck-7, .DI.deck-7, .EP.deck-7, .NP.deck-7, .AP.deck-7, .IP.deck-7, .RP.deck-7, .RU.deck-7, .SA.deck-7, .CP.deck-7, .SP.deck-7, .TP.deck-7, .GP.deck-7 {
	background-position: 0px -336px;
}
.CB.deck-8, .CO.deck-8, .KP.deck-8, .DP.deck-8, .DI.deck-8, .EP.deck-8, .NP.deck-8, .AP.deck-8, .IP.deck-8, .RP.deck-8, .RU.deck-8, .SA.deck-8, .CP.deck-8, .SP.deck-8, .TP.deck-8, .GP.deck-8 {
	background-position: 0px -420px;
}
.CB.deck-9, .CO.deck-9, .KP.deck-9, .DP.deck-9, .DI.deck-9, .EP.deck-9, .NP.deck-9, .AP.deck-9, .IP.deck-9, .RP.deck-9, .RU.deck-9, .SA.deck-9, .CP.deck-9, .SP.deck-9, .TP.deck-9, .GP.deck-9 {
	background-position: 0px -504px;
}
.CB.deck-10, .CO.deck-10, .KP.deck-10, .DP.deck-10, .DI.deck-10, .EP.deck-10, .NP.deck-10, .AP.deck-10, .IP.deck-10, .RP.deck-10, .RU.deck-10, .SA.deck-10, .CP.deck-10, .SP.deck-10, .TP.deck-10, .GP.deck-10 {
	background-position: 0px -588px;
}
.CB.deck-11, .CO.deck-11, .KP.deck-11, .DP.deck-11, .DI.deck-11, .EP.deck-11, .NP.deck-11, .AP.deck-11, .IP.deck-11, .RP.deck-11, .RU.deck-11, .SA.deck-11, .CP.deck-11, .SP.deck-11, .TP.deck-11, .GP.deck-11 {
	background-position: 0px -672px;
}
.CB.deck-12, .CO.deck-12, .KP.deck-12, .DP.deck-12, .DI.deck-12, .EP.deck-12, .NP.deck-12, .AP.deck-12, .IP.deck-12, .RP.deck-12, .RU.deck-12, .SA.deck-12, .CP.deck-12, .SP.deck-12, .TP.deck-12, .GP.deck-12 {
	background-position: 0px -756px;
}
.CB.deck-14, .CO.deck-14, .KP.deck-14, .DP.deck-14, .DI.deck-14, .EP.deck-14, .NP.deck-14, .AP.deck-14, .IP.deck-14, .RP.deck-14, .RU.deck-14, .SA.deck-14, .CP.deck-14, .SP.deck-14, .TP.deck-14, .GP.deck-14 {
	background-position: 0px -840px;
}
.CB.deck-15, .CO.deck-15, .KP.deck-15, .DP.deck-15, .DI.deck-15, .EP.deck-15, .NP.deck-15, .AP.deck-15, .IP.deck-15, .RP.deck-15, .RU.deck-15, .SA.deck-15, .CP.deck-15, .SP.deck-15, .TP.deck-15, .GP.deck-15 {
	background-position: 0px -924px;
}
.CB.deck-16, .CO.deck-16, .KP.deck-16, .DI.deck-16, .EP.deck-16, .NP.deck-16, .AP.deck-16, .IP.deck-16, .RP.deck-16, .RU.deck-16, .SA.deck-16, .TP.deck-16, .GP.deck-16 {
	background-position: 0px -1008px;
}
.CB.deck-17, .KP.deck-17, .DI.deck-17, .EP.deck-17, .NP.deck-17, .AP.deck-17, .RP.deck-17, .RU.deck-17, .SA.deck-17, .TP.deck-17, .GP.deck-17 {
	background-position: 0px -1092px;
}
.CB.deck-18, .KP.deck-18, .EP.deck-18, .RP.deck-18, .RU.deck-18, .GP.deck-18 {
	background-position: 0px -1176px;
}
.CB.deck-19, .KP.deck-19, .EP.deck-19, .RP.deck-19, .RU.deck-19, .GP.deck-19 {
	background-position: 0px -1260px;
}
.deck-20 {
	background-position: 0px -1344px;
}
.deck-21 {
	background-position: 0px -1428px;
}

.OP.deck-3, .PA.deck-3 {
	background-position: 0px 0px;
}
.OP.deck-4, .PA.deck-4 {
	background-position: 0px -84px;
}
.OP.deck-5, .PA.deck-5 {
	background-position: 0px -168px;
}
.OP.deck-6, .PA.deck-6 {
	background-position: 0px -252px;
}
.OP.deck-7, .PA.deck-7 {
	background-position: 0px -336px;
}
.OP.deck-8, .PA.deck-8 {
	background-position: 0px -420px;
}
.OP.deck-9, .PA.deck-9 {
	background-position: 0px -504px;
}
.OP.deck-10, .PA.deck-10 {
	background-position: 0px -588px;
}
.OP.deck-11, .PA.deck-11 {
	background-position: 0px -672px;
}
.OP.deck-12, .PA.deck-12 {
	background-position: 0px -756px;
}


/*
*  Disclaimer
*/

#disclaimer p:last-of-type {
	margin-bottom:0;
}


/*
 *  Landing Page
 */
 
#deck-plan-landing {
	margin-top:8em;
} 
#deck-plan-landing p {
	color:#888;
}
#deck-plan-landing a {
	display:block;
	margin:0 auto .8em auto;
	width:500px;
}

/*
 *	Deckplan D&A tab styles
 */
 
#tab-content #content, #tab-content #deckplan, #tab-content #deck-holder {
	width:930px;
}
#tab-content #container {
	background:none;
}
#tab-content #sort {
	float:none;
	margin:0;
	text-align:left;
	width:auto;
}
#tab-content .button {
	clear:none;
}
#tab-content #content {
	margin:0 0 0 -6px;
	padding:0;
}
#tab-content #deck-plan-landing {
	display:none;
}
#tab-content #deckplan {
	margin:0;
}
#tab-content #deck-holder {
	position:relative;
	right:0 !important;
}
#tab-content #widget.fixed {
	margin-left:-458px;
}
#tab-content #ship-name {
	display:none;
}

/*
 *	MEDIA QUERIES
 */

@media screen and (min-height: 700px) {
	.ship-profile {
		display:block;
	}
	.profile-map {
		min-height:152px;
		padding: 0;
	}
	.profile-map > label {
		display: none;
	}
	#deck-no {
		bottom:7px;
		position:absolute;
		left:22px;
		min-width:260px;
	}
}


/*
 *	FOR TESTING ONLY
 */
 
#ship {
	background:url(/deckplan/SA_8_background_5.png) top left no-repeat scroll;
}