@charset "utf-8";
/*
 *  Princess Cruises Destinations Styles
 *
 *  The purpose of this file is to house styles unique to the destination section
 */ 


/*
 * Small title
 */
.sub-title, .sub {
	display: block;
	font-size: .6521739em;
	text-transform: none;
}


/*
 * LI separated by rules
 */
.horiz-li-divider li {
	padding: .25em 0;
}
.horiz-li-divider li + li {
	border-top: 1px solid #ccc;
}


/*
 * Button hold to house large cta buttons
 */
.button-holder {
	text-align: center;
}
.button-holder > .button {
	margin: .5em .5em 0 0;
	text-align: center;
	min-width: 155px;
}


/*
 * POI Lightbox 
 */
.poi-top-copy > h2 {
	margin-bottom: .75em;
}
.popupContainer .poi-top-copy > h2 {
	display:none;
}
.poi-top-copy .destinations-img + h2 {
	margin-top: 0;
}
.destinations-img > img {
	border: 1px solid #999;
    display: block;
    height: auto;
    width: 100%;
}
.poi-top-copy + h3 {
	background:#FDF2E0;
	-webkit-box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, .3); 
}
.poi-list h4 {
    padding-left: 30px;
}
.poi-number {
	background:#EF5A28;
	border:#BBB solid 1px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	display:inline-block;
	line-height:1em;
	margin-left: -30px;
	margin-right:10px;
	padding:2px 5px;
	text-align: center;
}
.poi-img {
	padding-left:0;
}
.poi-list ul {
	list-style-type:none;
	padding:0;
}
.poi-list li + li {
	margin-top:15px;
}
.poi-list p {
	margin:0 0 0 30px;
}


