@charset "utf-8";
/*
 * Site Search - styles for the search template
 */


/*
 * Top Search Links
 */
.top-search {
	list-style: none;
	margin: 0;
	padding-left: 0;
	white-space: nowrap;
}
.top-search-item > a {
	display: block;
}
.top-search-flag, .top-search-item > a {
	padding: .25em .75em;
}
.top-search-flag {
	background: #bd0000;
	color: #fff;
	display: inline-block;
	margin-bottom: 1em;
	padding-left: 1.75em;
	position: relative;
	vertical-align: top;
}
.top-search-flag:before {
	border: 12px solid transparent; 
	border-left: 16px solid #FFF;
	content: '';
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 101;
}
.top-search-item {
	border: 1px solid #666;
	float: left;
}
/* align top search links in 2 column layout */
@media screen and (max-width: 567px) {
	.top-search-item {
		width: 50%;
	}
	.top-search > .top-search-item:nth-child(2n+1) {
		clear: left;
	}
}
/* align top search links in 3 column layout */
@media screen and (min-width: 568px) and (max-width: 899px) {
	.top-search-item {
		width: 33.3333333333333333%;
	}
	.top-search > .top-search-item:nth-child(3n+1) {
		clear: left;
	}
}
/* set a max width for top search links to align right of flag */
@media screen and (min-width: 768px) {
	.top-search {
		display: inline-block;
		width: 568px;
	}
}
/* switch top search link from boxes to inline links with divider */
@media screen and (min-width: 900px) {
	.top-search-item {
		border-top: none;
		border-right: none;
		border-bottom: none;
		width: auto;
	}
	.top-search > .top-search-item:first-child {
		border-left: none;
	}
	.top-search {
		width: auto;
	}
}

/*
 * Search Results - main part of the page
 */
@media screen and (min-width: 768px) {
	.results {
		float: right;
	}
}

.result-info h2 + h3 {
	margin: 0;
}
.result-item {
	padding-bottom: 15px;
}
.result-item + .result-item {
	padding-top: 15px;
}
.result-subtitle em, .result-desc em {
    font-family: 'Gotham SSm 7i', Arial, Helvetica, sans-serif;
}

/*
 * Categories / Topics - sidebar sections of the page
 */
.categories, .topics {
	position: relative;
}
.categories {
	margin-bottom: 15px;
}
.topics {
	clear: left;
}
.categories > h3, .topics > h3 {
	margin-bottom: 0;
}
.categories li, .topics li {
	padding: 5px 15px;
}
.toggle-categories-btn {
	display: none;
	position: absolute;
	right: 8px;
	top: 12px;
}
/* when screen size is smaller than a tablet, collapse the categories list into a drawer */
@media screen and (max-width: 767px) {
	.topics {
		margin-top: 30px;
	}
	.categories > h3:hover {
		cursor: pointer;
	}
	.categories > ul {
		display: none;
	}
	.toggle-categories-btn {
		display: block;
	}
}
/* position the suggested topics into a 2-col layout for large phone devices */
@media screen and (min-width: 568px) and (max-width: 767px) {
	.topics li {
		float: left;
		width: 50%;
	}
}

.pagination {
	text-align: center;
}
.pagination > .pagination-link {
	background-color:#3c5e8c;
	border-radius: 5px;
	color:#fff;
	cursor:pointer;
	display: inline-block;
	padding: .25em .5em;
	margin: .5em;
	min-width: 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.pagination > .pagination-link:hover {
	background: #e5f3fd;
	color: #0054A0;
}
.pagination > .pagination-link.current {
	cursor: default;
	background-color: #f1f1f1;
	color: #333;
}
.pagination > .previous, .pagination > .next {
	background-color: transparent;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-radius: 0px;
	height: 0;
	padding: 0;
	text-align: left;
	text-indent: -999em;
	min-width: 0;
	width: 0; 
	vertical-align: middle;
}
.pagination > .previous {
	border-right: 12px solid #3C5E8C;
}
.pagination > .previous:hover {
	background-color: transparent;
	border-right-color: #e5f3fd;	
}
.pagination > .next {
	border-left: 12px solid #3C5E8C;	
}
.pagination > .next:hover {
	background-color: transparent;
	border-left-color: #e5f3fd;
}