@charset "utf-8";

/*
 *  Princess Cruises Sweepstakes
 *
 *  required styles for the global sweepstakes form used on princess.com via the cms.
 */ 
.sweepsstakes-intro > div > p:first-child {
	margin-top: 0;
}
.sweepstakes-form form, .cruises .sweepstakes-wrapper {
	background: #f4f9fd;
	border: 1px solid #d0d1d2;
}
 .cruises .sweepstakes-wrapper {
 	padding: 10px 10px 0;
 }
.cruises .sweepstakes-form form {
	border: none;
}
.cruises #sweepstakes > .row {
	padding-left: 0;
	padding-right: 0;
}
.cruises .sweepstakes-success > .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.sweepstakes-form, .sweepstakes-success {
	margin-bottom: -15px;
}
.disclaimer-content {
	max-height: 150px;
	overflow-y: scroll;
}
.birthday-group select {
	margin: 0;
}
.form-field > input[type=text], .form-field > select {
	width: 100%;
}
.birthday-group {
	margin: 0;
	padding: .76922307em 0;
	min-height: 68px;
}
.birthday-group legend {
	display: block;
	position: relative;
	top: .76922307em;
}
.birthday-group .form-field {
	margin-bottom: 1px;
}
.birthday-group .birth-month > label, .birthday-group .birth-date > label, .birthday-group .birth-year > label {
	top: .6153846em;
}
.birth-month, .birth-date, .birth-year {
	width: 100%;
	margin-bottom: 4px;
}
.form-field .plain-text-btn {
	margin: 0;
}
@media (max-width: 319px) {
	.birthday-group .birth-date, .birthday-group .birth-year {
		margin-left: 0;
		padding-left: 10px !important;
	}
	.birthday-group .birth-date > label, .birthday-group .birth-year > label {
		left: 1.5em;
	}
}
@media (min-width: 320px) {
	.birth-month {
		width: 120px;
	}
	.birth-date {
		width: 60px;
	}
	.birth-year {
		width: 75px;
	}
}
.birth-month, .birth-date, .birth-year {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
.form-field.checkbox > label {
	display: inline;
}
.disclaimer-link {
	margin: 0;
}
.loading {
	display: inline-block;
	font-size: 1.1538em;
	font-weight: 700;
}
.loading img {
	height: 26px;
	width: 26px;
	vertical-align: middle;
}
#sweepstakes-msg {
	display: block;
	padding-top: 10px;
}
.disclaimer-content > div {
	padding: 0;
}
.disclaimer-content p:first-child {
	margin-top: 0;
}
@media (max-width: 767px) {
	.col-phone {
		clear: left;
	}	
}

/* overriding responsive grid to adjust layout when sweepstakes form is embed in targeted landing page */
@media (min-width: 768px) {
	.sweepstakes-form {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cruises .sweepstakes-form {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
	}
	.cruises .sweepstakes-form, .cruises .sweepstakes-success {
		margin-bottom: 0;
	}
	.cruises .col-firstname, .cruises .col-lastname, .cruises .col-phone {
		width: 50%;
	}
	.cruises .col-email, .cruises .col-dob {
		width: 100%;
	}
}

