@charset "utf-8";
/*
 *  Princess Cruises 50th Anniversary
 *
 *  The purpose of this file is to house styles unique to the 50th anniversary
 */ 
.timeline-wrapper {
	margin-bottom: -15px;
}
.loading > img {
	vertical-align: middle;
}
.year-wrapper {
	background: #fff;
}
.year-wrapper.loading {
	min-height: 400px;
}
.year {
	position: relative;
	margin: 0 0;
}
.year-events.empty {
	background: url(/images/global/ajax_loader.gif) no-repeat center;
	min-height: 350px;
}


/*
 * Year title in timeline
 */
.year-title {
	line-height: 1;
	min-height: 54px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}
.year-title > .y {
	background-color: #fbf7f7;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #0054A0;
	display: inline-block;
	font-size: 2.85em;
	left: 50%;
	margin-left: -65px;
	padding: 0 10px;
	position: absolute;
	text-align: center;
	width: 130px;
	z-index: 500;
}
.lt-ie9 .year-title > .y {
	letter-spacing: -2px;
	padding: 0;
}
@media screen and (min-width: 850px) {
	.year-title {
		display: block;
	}
	.year-title > .fixed {
		position: fixed;
		top: 99px;
	}
	.year-title > .bottom {
		position: absolute;
		bottom: 0;
		top: auto;
	}
}


/*
 * Event layout
 */
.event-feature {
	position: relative;
	margin: 15px 0 0;
	z-index: 10;
}
.event-feature + .event-feature {
	margin-top: 15px;
}
.event-caption {
	margin-top: 1em;
}
@media screen and (min-width: 768px) {
	.event-feature + .event-feature {
		margin-top: 70px;
	}
	.event-feature.left {
		clear: left;
	}
	.event-feature.right {
		clear: right;
		float: right;
	}
	.event-feature.right .event-push {
		left: 16.666666666666664%;
	}
	.event-feature.left .timeline-h {
		right: -20%;
	}
	.event-feature.left .timeline-h > .dot {
		right: -12px;
	}
	.event-feature.right .timeline-h {
		left: -20%;
	}
	.event-feature.right .timeline-h > .dot {
		left: -12px;
	}
}


/*
 * Verticle and horizontal lines for desktop timeline view
 */
@media screen and (min-width: 768px) {
	.timeline-v {
		background: #e3dede;
		border-left: 1px solid #b0aaaa;
		border-right: 1px solid #b0aaaa;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
		position: absolute;
		top: 0;
		width: 4px;
		z-index: 1;
	}
	.timeline-h {
		background: #e3dede;
		border-bottom: 1px solid #b0aaaa;
		border-top: 1px solid #b0aaaa;
		font-size: 0;
		height: 4px;
		line-height: 0;
		position: absolute;
		top: 50px;
		width: 50%;
	}
	.timeline-h > .dot {
		background: url(/images/global/sprite_timeline.svg) no-repeat -15px -285px;
		height: 24px;
		position: absolute;
		top: -12px;
		width: 24px;
	}
	.no-svg .timeline-h > .dot {
		background: url(/images/global/sprite_timeline.png) no-repeat -15px -285px;
	}
	.event-feature.left .timeline-h {
		right: -20%;
	}
	.event-feature.left .timeline-h > .dot, .no-svg .event-feature.left .timeline-h > .dot {
		right: -12px;
	}
	.event-feature.right .timeline-h {
		left: -20%;
	}
	.event-feature.right .timeline-h > .dot, .no-svg .event-feature.right .timeline-h > .dot  {
		left: -12px;
	}
}


/*
 * Timeline nav
 */
 @media screen and (max-width: 639px) {
	.timeline-nav-wrapper {
		margin-top: -15px;
	}
}
.timeline-nav-bar {
	background: #a17705; /* Old browsers */
	background: -moz-linear-gradient(left,  #a17705 0%, #ce9f21 50%, #a17705 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a17705), color-stop(50%,#ce9f21), color-stop(100%,#a17705)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #a17705 0%,#ce9f21 50%,#a17705 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #a17705 0%,#ce9f21 50%,#a17705 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #a17705 0%,#ce9f21 50%,#a17705 100%); /* IE10+ */
	background: linear-gradient(to right,  #a17705 0%,#ce9f21 50%,#a17705 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a17705', endColorstr='#a17705',GradientType=1 ); /* IE6-9 */
	display: block;
	font-size: 1.38462em;
	margin: 0 auto;
	position: relative;
	text-align: center;
	max-width: 768px;
	width: 100%;
	z-index: 1000;
}
.timeline-nav-bar > .button {
	margin: .5em 1em;
}
.timeline-nav-bar.fixed {
	-webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3); 
	position: fixed;
	top: 50px;
	margin: 0 auto;
}
.timeline-nav-bar.fixed {
	border-bottom: #999 5px solid;
}
.timeline-nav-bar.stop {
	position: absolute;
	bottom: 0;
	top: auto;
}
@media screen and (min-width: 768px) {
	.timeline-nav-bar.fixed {
		top: 0;
	}
	.mfp-wrap + #container .timeline-nav-bar.fixed {
		right: 16px;
	}
}
@media screen and (min-width: 798px) {
	.timeline-nav-bar {
		max-width: 990px;
	}
}
@media screen and (min-width: 798px) and (max-width: 1019px) {
	.timeline-nav-bar.fixed {
		width: auto;
		left: 15px;
		right: 15px;
	}
}
@media screen and (min-width: 1020px) {
	.timeline-nav-bar.fixed {
		margin-left: auto;
		margin-right: auto;
	}
}
.timeline-nav {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.timeline-nav > li {
	display: none;
	position: relative;
}
.timeline-nav > .current {
	display: inline-block;
}
.timeline-nav .y-label {
	color: #fff;
	display: inline-block;
	line-height: 1;
	font-size: 30px;
	padding: 13px;
}
.timeline-nav .dot {
	display: none;
} 
.timeline-btn {
	background: transparent;
	border: 0;
	bottom: 10px;
	cursor: pointer;
	display: block;
	height: 37px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 20px;
}
.timeline-btn:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: .8;
}
.timeline-next {
	right: 15px;
}
.timeline-prev {
	left: 15px;
}
.timeline-btn .arrow {
	background: url(/images/global/sprite_timeline.svg) no-repeat;
	height: 100%;
	width: 100%;
}
.no-svg .timeline-btn .arrow {
	background: url(/images/global/sprite_timeline.png) no-repeat;
}
.timeline-next .arrow, .no-svg .timeline-next .arrow {
	background-position: center -515px;
}
.timeline-next:hover .arrow, .no-svg .timeline-next:hover .arrow {
	background-position: center -557px;
}
.timeline-prev .arrow, .no-svg .timeline-prev .arrow {
	background-position: center -599px;
}
.timeline-prev:hover .arrow, .no-svg .timeline-prev:hover .arrow {
	background-position: center -641px;
}
.timeline-nav-bar .select-year {
	color: #f0e5c0;
	display: none;
	visibility: hidden;
	font-size: 30px;
	padding: 10px 0 5px;
}

@media screen and (max-width: 849px) {
	.timeline-nav-bar.selectYear {
		padding: 0;
	}
	.timeline-nav-bar.selectYear li {
		display: inline-block;
	}
	.timeline-nav-bar.selectYear .y-label {
		color: #f0e5c0;
		display: inline-block;
		font-size: 20px;
		padding: 10px 0;
		min-width: 45px;
	}
	.timeline-nav-bar.selectYear .has-events .y-label {
		color: #fff;
	}
	.timeline-nav-bar.selectYear .timeline-btn {
		display: none;
	}
	.timeline-nav-bar.selectYear .select-year {
		display: inline-block;
		visibility: visible;
	}
}

@media screen and (min-width: 850px) {
	.timeline-nav-bar {
		background: #fff;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		padding-top: 10px;
		padding-bottom: 12px;
	}
	.timeline-nav {
		background: #fff;
		border-bottom: solid 1px #a6a7aa;
		padding: 26px 0 0;
		position: relative;
		margin: 0 70px;
	}
	.timeline-nav > li {
		background: url(/images/global/sprite_timeline.svg) no-repeat center -145px;
		bottom: 0;
		display: inline-block;
		min-height: 30px;
		vertical-align: bottom;
	}
	.no-svg .timeline-nav > li {
		background: url(/images/global/sprite_timeline.png) no-repeat center -145px;
	}
	.timeline-nav > .has-events, .no-svg .timeline-nav > .has-events {
		background-position: center -180px;
	}
	.timeline-nav > .has-events {
		cursor: pointer;
	}
	.timeline-nav > .current {
		cursor: default;
	}
	.timeline-nav .dot {
		background: url(/images/global/sprite_timeline.svg) no-repeat;
		bottom: -6px;
		display: block;
		height: 12px;
		position: absolute;
		left: 50%;
		margin-left: -6px;
		width: 12px;
		z-index: 99;
	}
	.no-svg .timeline-nav .dot {
		background: url(/images/global/sprite_timeline.png) no-repeat;
	}
	.timeline-nav li:hover > .dot {
		background-position: -21px -233px;
		cursor: pointer;
	}
	.no-svg .timeline-nav li:hover > .dot {
		background-position: -21px -233px;
	}
	.timeline-nav .current > .dot, .timeline-nav .current:hover > .dot {
		background-position: -21px -268px;
		cursor: default;
	}
	.no-svg .timeline-nav .current > .dot, .no-svg .timeline-nav .current:hover > .dot {
		background-position: -21px -268px;
	}
	.timeline-nav .y-label {
		display: block;
		overflow: hidden;
		padding: 0;
		position: absolute;
		text-indent: -999em;
		color: #7e7e7e;
	}
	.timeline-nav > li:nth-child(5n+1) > .y-label {
		left: 50%;
		margin-left: -25px;
		text-align: center;
		text-indent: 0;
		width: 50px;
	}
	.no-svg .timeline-nav > .show-year > .y-label {
		left: 50%;
		margin-left: -25px;
		text-align: center;
		text-indent: 0;
		width: 50px;
	}
	.timeline-nav > li:nth-child(10n+1) {
		background-position: center -5px;
	}
	.no-svg .timeline-nav > .decade {
		background-position: center -5px;
	}
	.timeline-nav > li:nth-child(10n+1).has-events {
		background-position: center -40px;
	}
	.no-svg .timeline-nav > .decade.has-events {
		background-position: center -40px;
	}
	.timeline-nav > li:nth-child(10n+1) > .y-label {
		font-size: 20px;
		top: -25px; 
	}
	.no-svg .timeline-nav > .decade > .y-label {
		font-size: 20px;
		top: -25px; 
	}
	.timeline-nav > li:nth-child(10n+6) {
		background-position: center -75px;
	}
	.timeline-nav > .half-decade {
		background-position: center -75px;
	}
	.timeline-nav > li:nth-child(10n+6).has-events {
		background-position: center -110px;
	}
	.no-svg .timeline-nav > .half-decade.has-events {
		background-position: center -110px;
	}
	.timeline-nav > li:nth-child(10n+6) .y-label {
		font-size: 18px;
		top: -10px; 
	}
	.timeline-nav > .half-decade > .y-label {
		font-size: 18px;
		top: -10px; 
	}
	.timeline-btn {
		bottom: 15px;
		height: 45px;
		opacity: 1;
		width: 25px;
	}
	.lt-ie9 .timeline-btn {
		height: 37px;
	}
	.timeline-next .arrow {
		background-position: center -315px;
	}
	.timeline-next:hover .arrow {
		background-position: center -365px;
	}
	.timeline-prev .arrow {
		background-position: center -415px;
	}
	.timeline-prev:hover .arrow {
		background-position: center -465px;
	}
}


/*
 * fiftieth-h-ribbon
 */
.fiftieth-h-ribbon {
	margin: 1em auto 3.5em;
	padding: 0 15px;
	position: relative;
	max-width: 400px;
}
@media (min-width: 640px) {
	.fiftieth-h-ribbon {
		max-width: 728px;
		margin-left: 50px;
		margin-right: 50px;
	}
}
@media (min-width: 868px) {
	.fiftieth-h-ribbon {
		margin-left: auto;
		margin-right: auto;
	}	
}
.fiftieth-h-ribbon > a {
	background: #c3922d;
	border: 15px solid #c3922d;
	border-left-width: 30px;
	border-right-width: 30px;
	color: #fff;
	display: block;
	font-size: 1.153846153846154em;
	position: relative;
	z-index: 10;
}
@media (min-width: 640px) {
	.fiftieth-h-ribbon > a {
		-webkit-box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, .4);
		box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, .4);
	}
	.boxshadow .fiftieth-h-ribbon:before, .boxshadow .fiftieth-h-ribbon:after {
		background: #c3922d;
		border: 30px solid transparent;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 15px;
		width: 0;
		z-index: 1;
	}
	.boxshadow .fiftieth-h-ribbon:before {
		border-left-color: #fff;
		left: -15px; 
	}
	.boxshadow .fiftieth-h-ribbon:after {
		border-right-color: #fff;
		right: -15px; 
	}
}


.svg .fifthieth-logo > .ir {
	background: url("/images/global/princess-50th-logo_h.svg") no-repeat center center;
	background-size: 100%;
	display: block;
	width: 100%;
	height: 45px;
}
.no-svg .fifthieth-logo > .ir, .svg .fifthieth-logo > img {
	display: none;
}

.fiftieth-h-ribbon .fifthieth-cta {
	font-style: oblique;
	padding-top: .75em;
	padding-bottom: .75em;
	text-align: center;
}
.fiftieth-h-ribbon .fifthieth-logo {
	padding-bottom: 12px;
}
.fiftieth-h-ribbon .fifthieth-logo + .fifthieth-cta {
	border-top: 1px dotted #fff;
	padding-top: 8px;
}
@media (min-width: 640px) {
	.fiftieth-h-ribbon .fifthieth-logo {
		padding-bottom: 0;
	}
	.fiftieth-h-ribbon .fifthieth-logo + .fifthieth-cta {
		border-top: none;
		border-left: 1px dotted #fff;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fiftieth-h-ribbon .fifthieth-cta {
		text-align: left;
	}
}

