/* Whats Included Lightbox */
.header-img img {
	float: left;
}
.what-included-container .drop-tab-ul {
	margin: 10px;
}
.mfp-content .what-included td {
	border: 1px solid #ccc;
	border-width: 1px 0 0;	
	padding: 10px 10px 0;
}
.mfp-content .what-included td:first-child {
	width: 40%;
}
.mfp-content .what-included {
	border-spacing: 10px;	
	border-collapse: separate;
	width: 95%;
	clear: both;
}
.mfp-content .what-included .icon.icon-check{
	background-repeat: no-repeat;
	width: auto;
}
.mfp-content .included {
	margin: 0 5px 0 15px;
}
.icon-check{
	background-image:url('/images/global/search_sprite.png');
    display: inline-block;
	background-position: 0 -800px;
	width: 11px;
	height: 12px;
}
@media screen and (max-width: 480px) {
	/* Whats Included Ligtbox */
	.what-included-container .drop-tab-ul {
		margin: 0;
	}
}