@charset "utf-8";
/*
 *  Princess Cruises Group Planner Styles
 *  
 */ 

.loading {
	display: inline-block;
	font-size: 1.1538em;
	font-weight: 700;
}
.loading img {
	height: 26px;
	width: 26px;
	vertical-align: middle;
}

.bg-slideshow-container img {
	margin: 0 auto;
	width: auto;
	max-width: 100%;
}

.headline-green-638325-bg {
	background: #638325;
	color: #fff;
	padding: .4em .70em;
}
#content input[type="text"], #content input[type="email"], #content input[type="password"], #content textarea {
	width: 100%;
}
.invite-list-wrapper {
	margin-top: 10px;
}
.step-icon {
	background: #007ba3;
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	height: 23px;
	line-height: 23px;
	margin-right: .25em;
	text-align: center;
	width: 23px;
}
.headline-blue-007ba3-bg .step-icon {
	background: #fff;
	color: #007ba3;
}
.add-invitee-btn .pc-icons {
	display: inline-block;
	vertical-align: baseline;
}
.add-invitee-btn.deactive:hover {
	text-transform: none;
}
@media (min-width: 640px) {
	.group-vacations {
		float: right;
	}
}
@media (min-width: 768px) {
	.group-invite {
		float: right;
	}
}

.edit-cruise-btn {
	color: #fff;
	display: block;
	padding: .75em;
	position: absolute;
	right: 15px;
	top: 15px;
}
.edit-cruise-btn .pc-icons {
	display: inline-block;
	vertical-align: baseline;
}
.contact-lookup-btn {
	display: inline-block;
	padding: .75em;
}
@media screen and (min-width: 768px) {
	#save-cruise-list > .saved-cruise-wrapper:nth-child(2n+1) {
		clear: left;
	}
	#save-cruise-list > .saved-cruise-wrapper.odd {
		clear: left;
	}
}
.mfp-content .saved-cruise-item {
	padding-bottom: 50px;
}
.group-cruise-item, .saved-cruise-item {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.3);
	box-shadow: 0 4px 5px rgba(0,0,0,.3);
	position: relative;
}
.group-cruise-item + .group-cruise-item {
	margin-top: 15px;
}
.cruise-img + .cruise-desc {
	float: left;
	position: relative;
}
.cruise-img {
	padding: 15px;
	width: 100%;
}
.cruise-desc {
	padding: 0 15px 15px;
	width: 100%;
}
.cruise-days {
	border-right: 1px solid #999;
	display: inline-block;
	left: 15px;
	padding: 5px 10px 5px 0;
	position: absolute;
}
.cruise-days > div {
	line-height: 1;
}
.cruise-info {
	margin-left: 65px;
}
@media (min-width: 480px) {
	.cruise-img {
		width: 33.33333333333333%;
	}
	.cruise-desc {
		padding-top: 15px;
		padding-left: 0;
		width: 66.66666666666666%;
	}
	.cruise-days {
		left: 0;
		top: 15px;
	}	
}



.itin-img, .itin-award-img {
	float: left;
	padding: 15px 0;
	position: relative;
	width: 100%;
}
.itin-img {
	width: 61.2280701754386%;
}
.itin-award-img {
	padding-left: 15px;
	width: 38.7719298245614%;
}
.cruise-tour .itin-img {
	width: 50%;	
}
.cruise-tour > .itin-img:first-child {
	padding-right: 7px;
}
.cruise-tour > .itin-img + .itin-img {
	padding-left: 7px;
}
.cruise-itin {
	padding-bottom: 15px;
}
.itin {
	margin: 0 auto 15px;
	width: 100%;
}
.itin .shorex > td {
	background: #e8eef3;
}
.itin .landex > td {
	background: #dbe6d5;
}
.itin .at-sea > td {
	background: #f0f4f7;
}
.itin .day {
	width: 50px;
}
.itin .arrive, .itin .depart {
	width: 90px;
}
.itin th {
	border-bottom: 2px solid #fff;
}
.itin td {
	border-top: 1px solid #fff;
}
.itin tr > th:first-child, .itin tr > td:first-child {
	border-right: 5px solid #fff;
	text-align: center;
	vertical-align: middle;
}
.itin tr > th:last-child, .itin tr > td:last-child {
	border-left: 1px solid #fff;
	text-align: right;
}
@media (max-width: 479px) {
	.itin tr > th:first-child, .itin tr > td:first-child, .itin colgroup > col:first-child  {
		display: none;
	}
}
.itin-cta {
	text-align: center;
	margin-bottom: 0;
}
.pricing-details-btn {
	display: block;
	margin: 0 auto 15px;
	max-width: 250px;
	text-align: center;
}
@media (min-width: 500px) {
	.pricing-details-btn {
		float: right;
		margin: 0 0 0 10px;
	}
	.itin-cta {
		text-align: left;
	}	
}

.vote-form, .vote-results {
	position: relative;
}
.vote-form > fieldset {
	margin: 0;
}

.arrow-legend {
	background: #007ba3; 
	color:  #fff;
	padding: 10px 5px 10px 15px; 
	position: relative;
}
.arrow-legend:after {
	border: 0 solid transparent;
	border-left-color: #007ba3;
	content: '';
	font-size: 0;
	height: 0;
	left: 100%;
	line-height: 0;
	position: absolute;
	width: 0;
	top: 0;
}
.vote-results > .arrow-legend {
	background: #999;
}
.vote-results > .arrow-legend:after {
	border-left-color: #999;
}
@media (max-width: 399px) {
	.arrow-legend {
		padding-right: 15px;
		text-align: left;
		width: 100%;
	}
	.vote-form .arrow-legend + .form-field, .vote-results .arrow-legend + .form-field {
		margin-left: 15px;
	}
}
@media (min-width: 400px) {
	.vote-form .arrow-legend, .vote-results .arrow-legend {
		float: left;
		margin-right: 30px;
	}
	.vote-form .arrow-legend:after, .vote-results .arrow-legend:after {
		border-width: 19px 16px;
	}
}
.vote-form-msg, .vote-form-loading {
	bottom: 0;
	position: absolute;
	right: 0;
}
.vote-form-loading {
	padding: 6px 15px;
}
.vote-form-msg {
	padding: 10px 15px;
}



.rsvp {
	padding-right: 0;
	position: relative;
}
.rsvp fieldset {
	margin: 0;
}
.rsvp legend {
	background: #007ba3; 
	color:  #fff;
	font-size: 18px;
	padding: 7px 15px;
	position: relative;
	width: 100%;
}
.rsvp-button {
	display: block;
	float: left;
	width: 33.33333333333333%;
	text-align: center;
}
.rsvp-button input {
	display: block;
	float: left;
	margin-left: -999em;
	position: relative;	
}
.rsvp-button label {
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 1;
	padding: 1em .25em;
}
.rsvp-button label:hover {
	cursor: pointer;
}
.rsvp-button.deactive label:hover {
	cursor: default;
}
.rsvp-button.rvsp-selected {
   box-shadow: inset 0 0 10px #000000;
}
.rvsp-selected label:hover {
	cursor: default;
}
.rsvp-icon {
	background: url(/images/global/sprite_pc-icons.svg) no-repeat #fff;
	border: 5px solid #fff;
	border-radius: 16px;
	display: block;
	margin: 0 auto 5px;
	height: 28px;
	width: 28px;
}
.no-svg .rsvp-icon {
	background-image:url(/images/global/sprite_pc-icons.png);
}
.circle-check {
	background-position: 2px -17px;
}
.circle-qmark {
	background-position: -301px -17px;
}
.circle-x {
	background-position: -286px -17px;
}
.rsvp-button.deactive.rvsp-selected .rsvp-icon {
	background-position: 999px 999px;
}
.rsvp-form-loading {
	bottom: 40px;
	position: absolute;
	text-align: center;
	width: 33.33333333333333%;
}
.rsvp-form-loading > img {
	height: 22px;
	width: 22px;
}
.rsvp-form-loading.going {
	left: 0;
}
.rsvp-form-loading.maybe {
	left: 33.33333333333333%;
}
.rsvp-form-loading.not-going {
	left: 66.66666666666666%;
}
.rsvp-form-msg {
	display: block;
	padding-top: 5px;
	text-align: center;

}
/* Sign In */
.group-welcome {
	background: rgba(235,235,235,.85);
	padding: 15px; 
	margin: 15px;
}
.no-rgba .group-welcome {
	background: #ebebeb;
}

@media (min-width: 525px) {
	.group-welcome {
		margin-top: 30px;
	}
}

@media (min-width: 768px) {
	.group-welcome {
		max-width: 768px;
		margin: 30px auto;
	}
}

@media (min-width: 769px) {
	.group-welcome {
		border-radius: 10px;
	}
}


/* invitee list */
.invitees {
	list-style: none;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.invitees .rsvp-status {
	overflow: hidden;
	/*padding: 15px;*/
	position: relative;
	line-height: 1;
}
.invitees .rsvp-status + .rsvp-status {
	border-top: 4px solid #fff;
}
.invitee-list-btn, .invitee-list-total {
	background: none;
	border: none;
	cursor: default;
	display: block;
	padding: 15px;
	margin: 0;
	text-align: left;
	width:  100%;
}
.invitee-list-btn.active:hover {
	background: #f1f8fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f8fd 0%, #e5f3fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f8fd), color-stop(100%,#e5f3fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f8fd 0%,#e5f3fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f8fd 0%,#e5f3fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f8fd 0%,#e5f3fd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f8fd 0%,#e5f3fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f8fd', endColorstr='#e5f3fd',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}
.invitee-list-btn .pc-icons {
	display: none;
	margin: 0;
	position: absolute;
	right: 10px;
	top: 20px;
	vertical-align: middle;
}
.invitee-list-btn.active .pc-icons {
	display: block;
}
#invite-display-list {
	margin: 0 -15px;
}
.invitee-list {
	color: #333;
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.invitee-list > li {
	padding: 7px 15px;
	position: relative;
}
.invitee-count {
	background: #fff;
	border-radius: 8px;
	display: block;
	font-size: 21px;
	line-height: 1;
	padding: 4px 10px;
	position: absolute;
	text-align: center;
	right: 30px;
	top: 10px;
	width: 50px;
}

.going > .invitee-list-btn {
	color: #648326;
}
.going .invitee-count { 
	background-color: #648326;
	color: #fff;
}
.maybe > .invitee-list-btn {
	color: #999;
}
.maybe .invitee-count {
	background-color: #999;
	color: #fff;
}
.not-going > .invitee-list-btn {
	color: #bd0000;
}
.not-going .invitee-count {
	background-color: #bd0000;
	color: #fff;
}
.no-reply > .invitee-list-btn {
	color: #666;
}
.no-reply .invitee-count {
	background-color: #666;
	color: #fff;
}
.edit-invitee-status, .remove-contact {
	background-clip: content-box;
	border: 7px solid transparent;
	margin: 0;
	position: absolute;
	vertical-align: middle;
}
.edit-invitee-status {
	height: 28px;
	right: 41px;
	top: 0;
	width: 27px;
}
.lt-ie9 .edit-invitee-status, .lt-ie9 .remove-contact {
	border-left-width: 6px;
	border-right-width: 6px;
	width: 23px;
	right: 44px;
}
.remove-contact {
	height: 26px;
	padding: 0;
	right: 8px;
	top: 2px;
	width: 26px;
}
.edit-invitee-status:hover, .remove-contact:hover {
	cursor: pointer;
}
.edit-rsvp-btn {
	background: transparent;
	border: none;
	display: block;
	width: 100%;
	margin: 0;
}
.edit-rsvp-btn:hover {
	background-color: #e5f3fd;
}
.edit-rsvp-btn + .edit-rsvp-btn {
	border-top: 1px solid #999;
}

.rsvp + .whos-going, 
.invite-list-wrapper + .whos-going, 
.whos-going + .helpful-cruising {
	margin-top: 15px;
}
@media (max-width: 767px) {
	.helpful-cruising {
		display: none;
	}
}
.helpful-cruising .pc-icons {
	display: inline-block;
	margin-left: 0;
	vertical-align: baseline;
}

/* comment section */
.comment-inner-wrapper {
	padding-bottom: 15px;
	position: relative;
	overflow: hidden;
}
.comment-form {
	padding: 5px 15px;
}
.comment-form-loading {
	text-align: center;
	width: 95px;
}
.comment-form-btn, .comment-form-loading {
	float: right;
}
@media (min-width: 568px) {
	.comment-field {
		margin-right: 95px;
	}
	.comment-form-btn, .comment-form-loading {
		bottom: 28px;
		position: absolute;
		right: 0;
	}
}
.comment {
	padding: 15px;
}
.comment-form + #comment-list > .comment, .comment + .comment {
	border-top: 3px solid #fff;
}
.comment-name, .comment-timestamp {
	margin-bottom: .25em;
}
.comment-content {
	word-wrap: break-word;
}

/* email option form */
.email-form-loading, .email-form-msg {
	margin-left: 31px;
}


/* Dashboard */
.vacation-list + .vacation-list {
	border-top: 1px solid #fff;
}
.vacation-list h4.gotham-book {
	letter-spacing: normal;
}
.vacation-list ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.vacation-list li {
	padding: 15px 0;
}
.vacation-list li + li {
	border-top: 1px solid #b2b2b2;
}
.add-to-vac {
	bottom: 0;
	display: none;
	margin: 0 -15px 0;
	padding-left: 34px;
	padding-right: 15px;
	position: absolute;
	width: 100%;
}
.remove-cruise-item > *, .remove-vacation-item > * {
	opacity: .25;
}
.remove-cruise-wrapper {
	position: relative;
	overflow: hidden;
}
.remove-cruise-btn, .remove-cruise-loading {
	float: right;	
}
.remove-cruise-btn {
	margin: 0;
	padding: 4px 5px;
}
.remove-cruise-btn > .pc-icons {
	margin: 0;
}
.remove-cruise-msg {
	line-height: 22px;
}
.remove-cruise-loading {
	font-size: 13px;
}
.remove-cruise-loading > img {
	height: 22px;
	width: 22px;
}
.mfp-content .remove-cruise-alert {
	margin-bottom: -35px; /* negative margin is being used to pull the alert down in lightbox */
	position: relative;
}
.remove-cruise-item .remove-cruise-wrapper, .remove-vacation-item .remove-vacation-wrapper {
	opacity: 1;
}
.mfp-content #popupContainer .remove-cruise-wrapper {
	display: none;
}
.mfp-content #popupContainer.remove-cruise-confirm {
	max-width: 640px;
}
.mfp-content #popupContainer.remove-vacation-confirm {
	max-width: 700px;
}
.remove-cruise-confirm .button + .button, .remove-vacation-confirm .button + .button {
	margin-left: 1em;
}
.mfp-container .add-to-vac {
	display: block;
}
.mfp-container .remove-cruise-alert + .add-to-vac {
	display: none;
}


/* Cloud Sponge */
.cloudsponge {
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
	display: inline-block;
	height: 32px;
	width: 32px;
}
.cloudsponge + .cloudsponge {
	margin-left: .5em;
}
.cloudsponge:hover {
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}
.cloudsponge.deactive {
	cursor: default;
	opacity: .3;
}
.cloudsponge.gmail {
	background-image: url(/images/gvp/gmail.png);
}
.cloudsponge.yahoo {
	background-image: url(/images/gvp/yahoo.png);
}
.cloudsponge.windowslive {
	background-image: url(/images/gvp/outlook.com.png);
}
.cloudsponge.aol {
	background-image: url(/images/gvp/aol.png);
}
.cloudsponge.addressbook {
	background-image: url(/images/gvp/apple-desktop.png);
}
.cloudsponge.outlook {
	background-image: url(/images/gvp/outlook-desktop.png);
}

/*
 * cruise with me banner
 */
.cwm-banner-btn {
	border: none;
	display: block;
	width: 100%;
}
.cwm-screen {
	display: none;
}
.cwm-banner ul {
	margin-top: 0;
	text-align: center;
}
.cwm-banner-logo {
	background: url(/images/global/cruise-with-me-logo.svg);
	height: 55px;
	display: block;
	width: 230px;
	margin: 0 auto;
}
.no-svg .cwm-banner-logo {
	background: url(/images/global/cruise-with-me-logo.png);
}
.cwm-steps {
	display: inline-block;
	margin: 15px 5px 0 5px;
}
.cwm-icon {
	background-color: #007ba3;
	border-radius: 50%;
	display: block;
	height: 44px;
	margin: 0 auto 5px;
	position: relative;
	width: 44px;
}
.cwm-icon .pc-icons {
	margin: 0 auto;
	position: relative;
	top: 11px;
}
.cwm-learn-more {
	text-decoration: underline;
}
.cwm-banner-btn:hover .cwm-learn-more {
	text-decoration: none;
}
@media (min-width: 400px) and (max-width: 567px) {
	.cwm-steps {
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (min-width: 568px) {
	.cwm-banner-logo {
		display: inline-block;
		margin-right: 15px; 
	}
	.cwm-steps {
		margin-top: 5px;
	}
}
@media (max-width: 992px) {
	.cwm-banner {
		text-align: center;
	}
}
@media (min-width: 992px) {
	.cwm-banner ul {
		margin-top: 10px;
	}
	.cwm-screen {
		display: block;
	}
}



/*
 * Sort & Filter by fields for Saved Cruises
 */
.sort-filter-col {
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
@media screen and (min-width: 800px) {
	.sort-filter-col {
		float: left;
		width: 50%;
	}
}
.sort-field, .filter-field {
	margin-left: auto;
	margin-right: auto;
	padding-left: 70px;
	max-width: 400px;
}
.sort-field > label, .filter-field > label {
	float: left;
	margin: 7px 0 7px -70px;
	text-align: right;
	width: 60px;
}
.sort-field > select, .filter-field > select {
	margin-left: 0 !important;
	width: 100%;
}