@charset "utf-8";
html,body {
	width: 100%;
}
body {
	font-family: "Courier New", Courier, monospace;
}
.wrapper {
	margin: 0 auto;
	width: 850px;
}
table {
	width: 100%;
	font-size: 16px;
}
h1, input {
	font-family: Arial,Helvetica,sans-serif;
}
h1 {
	color: #99ccff;
}
.keys {
	line-height: 36px;
}