/* Ezair */
/*.ezair-search form {
    display: block;
}*/
.block {
    display: block;
}
.inline {
    display: inline;
}
.underline {
  text-decoration: underline;
}
.no-margin {
    margin: 0;
}
.margin-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.margin-50-left {
    margin-left: 50px;
}
.clear-both {
    clear: both;
}
.border-radius-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#javascript-disabled-warning {
    background: #bd0000;
    z-index: 99999;
    position: relative;
    padding: 1em;
    color: white;
    text-align: center;
    border: 2px solid white;
}
.button.disabled {
    border-color: #A5A5A5;
}
/*.light-blue-bg {    
    background: #e5f3fd;
}
.fieldset-block {   
    background-color: #e5f3fd;
    border: 0;
}*/
img.rwd {
    max-width: 100%;
}
.inline-block {
    display: inline-block;
}
.float-none {
    float: none;
}
.lt-ie9 .float-none {
    float: none !important;
}
.ez-darkblue-bg {
    background-color: #007ba3;
}
.ez-lightestblue-bg {
    background-color: #e7eff6;
}
.ez-lighterblue-bg {
    background-color: #cedfec;
}
.ez-lightblue-bg {
    background-color: #b4cfe3;
}
.ez-white-bg {
    background-color: #ebebeb;
}
.web-font select, .web-font select option {
    letter-spacing: normal;
}
.align-text-top {
    vertical-align: text-top;
}
/* for Chrome on Android */
select, input[type='text'], textarea {
    background-color: white;
}
input[type="text"].error {
    background-color: #fdfde0;
}
#princess-footer {
    margin-top: 0;
}
/*#cp-footer a[data-page='LOGOUT'] {
    display: none;
}*/
#cp-footer {
    margin-top: 0;
}
.article-header h2 {
    letter-spacing: 1px;
}
.article-header h1 {
    line-height: 1.19;  /* fix for ie border-radius bug, eliminates extra border line */
}
.article-header h1 + a + h2 {
    margin-top: .5em;
}
.border-radius-3 {
    border-radius: 3px;
}
.border-radius-top-3 {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.border-radius-top-6 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.width-100 {
    width: 100%;
}
.lt-ie9 .ui-tooltip-princess {
    border:  1px solid #0054A0 !important;
}

.ui-tooltip-princess .ui-tooltip-titlebar .ui-tooltip-title, .ui-tooltip-princess .qtip-titlebar {
    font-weight: normal;
}
.ui-tooltip .ui-tooltip-tip canvas, .qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
    display: none !important;
}
/* hide feedbackify when there is a lightbox up */
.mfp-bg ~ #feedbackify {
    display: none;
}
/* MFP Lightboxes */

.mfp-content #popupContent {
    padding: 5px;
}
.ez-validation-messages .mfp-content #popupContent {
    padding: 20px 15px 5px;
}
.mfp-content #popupTitleArea {
    border-top: 10px solid #0054A0;
}
.ez-iframed .mfp-content {
    max-width: 880px;
}
.ez-iframed .mfp-wrap {
    left: 8px;
    overflow-y: hidden !important;
}
.ez-iframed .mfp-wrap.ez-tnc-lightbox {
    overflow-y: auto !important;
}
.ez-iframed .mfp-close-wrapper {
    position: absolute;
    top: -20px;
    left: auto;
}
/*.ezair .mfp-content .article-header {
    padding-bottom: 0;
}*/
/*.mfp-content .drop-tab {
    margin-top: 1em;
}*/
.mfp-content .droptab-menu {
    padding-left: 0 !important;
    padding-top: 0 !important;
}
#ezair-header {
    background-color: #00468C;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.4);
    /*padding-top: 28px;*/
    /*text-align: center;*/
    box-sizing: border-box; /* for old pages without rwd */
}
.lt-ie9 #princess-logo.fiftieth > img {
    left: 0;
}
.ezair #princess-header, .ezair-classic #princess-header {
    display: block;
}
.ezair #princess-header #touch-menu, .ezair-classic #princess-header #touch-menu {
    display: none;
}
.lt-ie9 .ezair #header > .inner-wrapper, .lt-ie9 .ezair-classic #header > .inner-wrapper {
    min-height: 70px;
    height: 70px;
}
.product-HA #ezair-header, .product-PA #ezair-header, .product-CCL #ezair-header, .product-CL #ezair-header, .product-CU #ezair-header, .product-SB #ezair-header {
    background: white;
}
.product-HA #ezair-header-bottom, .product-PA #ezair-header-bottom,  .product-CCL #ezair-header-bottom, .product-CL #ezair-header-bottom, .product-CU #ezair-header-bottom, .product-SB #ezair-header-bottom {
    display: none;
}
.ezair-header-inner {
    max-width: 990px;
    margin: 0 auto;
    padding: 8px 0;
}
.mfp-content .popupContainer .droptab-menu {
    background-color: transparent;
}
#ez-previous-summary .itn-seat-list, #ez-previous-summary .ez-details-change-link {
    visibility: hidden;
    display: none;
}
.ez-header-logo {
    margin: 0 auto;
    background-repeat: no-repeat;
    text-indent: -999em;
}
.product-PC .ez-header-logo {
    /*background-image: url(/images/global/princess_logo.png);*/
    background: url(/images/global/princess-50th-logo-cbn_h.svg) top left no-repeat;
    height: 35px;
    width: 77px;
}
.lt-ie9 .product-PC .ez-header-logo {
    background: url(/images/global/princess-50th-logo-cbn_h.png) top left no-repeat;
}
.product-HA .ez-header-logo {
    background-image: url(/images/airbook/HA_HA_logo.png);
    height: 50px;
    width: 215px;
}
.product-PA .ez-header-logo {
    background-image: url(/images/airbook/PA_PA_logo.png);
    height: 50px;
    width: 93px;
}
.product-CU .ez-header-logo {
    background-image: url(/images/airbook/CU_CU_logo.png);
    height: 35px;
    width: 177px;
}
/*.product-PC.booking-JP .ez-header-logo {
    background-image: url(/images/ezairbook/PC_JP_logo.gif);
    height: 71px;
    width: 188px;
}*/
.product-CCL .ez-header-logo, .product-CL .ez-header-logo {
    background-image: url(/images/ezairbook/CCL_logo.png);
    height: 44px;
    width: 185px;
}
.product-SB .ez-header-logo {
    background-image: url(/images/ezairbook/SB_SB_logo.gif);
    height: 41px;
    width: 160px;
}

/* extra bottom padding for tall logos */
/*.product-PC.booking-JP #ezair-header, .product-CU.booking-CU #ezair-header, .product-CL.booking-PA #ezair-header,.product-PA.booking-PA #ezair-header {
    padding-top: 20px;
}*/
/* extra top padding for short logos */
/*.product-SB #ezair-header {
    padding-top: 35px;
}*/
/* no header in iframe */
.ez-iframed #ezair-header {
    display: none;
}
.ezair-no-cp #steps-bar {
    margin-top: 4em;
}
.ezair-no-cp #container {
    padding-bottom: 4em;
}
#container {
    min-height: 75em;
}
.ez-iframed #container {
    min-height: 0;
}
.ez-iframed.ezair-results #container {
    min-height: 700px;
}
.ez-iframed #ez-flight-selection .article-container {
    min-height: 800px;
}
.ezair #content {
    padding: 40px 0;
}
.ezair-search #content {
    padding: 0;
}
.ezair.ez-iframed #content {
    padding: 0;
    margin-top: 15px;
}
.ezair-error #steps-bar {
    display: none;
}
#container.ezair-bg {
    background-color: #0d2f56;
    background-image: url(/images/airbook/ezair-bg.jpg);
}
.product-CCL #container.ezair-bg {
    background-color: #0065a2;
    background-image: url(/images/airbook/CCL-bg.jpg);
}
.product-CL #container.ezair-bg {
    background-color: #0065a2;
    background-image: url(/images/airbook/CL-bg.jpg);
}
.product-PA #container.ezair-bg {
    background-color: #112251;
    background-image: url(/images/airbook/PA-bg.jpg);
}
.ez-iframed #container.ezair-bg {
    background: white;
}
.ezair .cp-touch-menu {
    z-index: 1000;
}
.ez-logo {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    font-size: 42px;
    color: #5e5e5e;
    letter-spacing: -1px;
}
.ez-logo-blue {
    color: #177ca3;
}
.ez-logo-reg {
  font-size: 28px;
  top: -0.5em;
  font-weight: 400;
  letter-spacing: -.1em;
}
.ez-waiting-title > .ez-logo-reg {
  top: -0.2em;
}
#ez-search-sale-banner {
    background-color: #bd0000;
}
.ez-search-sale-msg {
    border-top: 1px solid white;
}
#tab-container {
    min-height: 20em;
}
.ez-iframed #tab-container {
    border-radius: 0;
}
.ez-iframed #tab-container #ez-dpt-summary {
   border-radius: 0;
}
.ez-iframed .article-header {
   border-radius: 0 !important;
}
.ezair-search.autoair-flow .full-tab {
    display: none;
}
.ezair .full-tab {
    margin-bottom: -15px;
    padding-bottom: 3px;
}
.article-header .droptab-container {
    margin-bottom: 0;
    padding-top: 15px;
}
#ez-autoair .droptab-container {
    margin-bottom: 15px;
    padding: 0 15px;
}
.droptab-disabled {
    margin-right: -15px;
    margin-left: -15px;
}
.droptab-no-margin li + li {
    margin-left: 0;
}
#search {
    overflow: visible !important;
}
.no-rgba .ezair .full-tab {
    background: #ebebeb;
}
.ezair .droptab-menu.droptab-mobile-menu {
    margin-bottom: 0;
    padding: 0;
}
.ezair-search #steps-bar {
    display: none;
}
.ezair .article-container {
    border-radius: 0;
}
.inline-field + .inline-field {
    margin-left: 0;
}
.inline-field.checkbox {
    padding-right: 2em;
}
.ez-search-booked {
    border-top: 1px solid #d0d1d2;
}
#ez-search-filters .checkbox input {
    margin-left: -1.5em;
    float: left;
}
.ez-search-guest-set .form-field input, .ez-search-guest-set .form-field label {
    margin-bottom: 10px;
}
.autoair-flow #ez-search-passengers {
    display: none;
}
#ez-search-passengers .checkbox, #ez-rslt-filters .checkbox {
    padding-left: 1.7em;
}
.ezair .ez-search-location-radio {
    margin-right: 10px;
}
.ez-search-guest-set label.error {
    display: none !important;
}
#ez-search-filters {
    background-color: #007ba3;
    padding-top: 35px;
    padding-bottom: 10px;
    box-shadow: none;    
    position: relative;
}
#ez-search-filters legend {
    position: absolute;
    top: 10px;
    color: white;
}
#ez-search-filters select {
    min-width: 13em;
}
.form-field.ez-horizontal {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ez-horizontal label {
    color: white;
    display: inline-block;
    width: 25%;
}
.ez-horizontal select {
    width: 70%;
}
.checkbox.ez-horizontal {
    padding-left: 0.769223em;
}
.checkbox.ez-horizontal label {
    padding-left: 26%;
    width: auto;
}
#ez-search-filters .checkbox {
    padding-left: 25%;
}
.form-checkbox-wrapper {
    margin-left: 11px;
}
.checkbox .form-checkbox-wrapper label {
    padding-left: 0;
}
#ez-search-filters .checkbox .form-checkbox-wrapper input {
    float: none;
    margin-left: 0;
}
#ez-ship-bg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 80px;
    height: 55px;
    top: 21px;
    background-image: url(/images/airbook/sprite_air-icons.svg);
    background-position: 10px -201px;
}
.lt-ie9 #ez-ship-bg { 
    background-image: url(/images/airbook/sprite_air-icons.png);

}
#ez-search-depart .ez-search-dir-header:before {
    border-radius: 0 6px 0 0;
}
#ez-search-return .ez-search-dir-header:before {
    border-radius: 6px 0 0 0;
}
.ez-search-dir-container.deactive {
    display: none;
}
.deactive .ez-search-dir-header:before, .deactive .ez-search-dir-body:before, .lt-ie9 .deactive .veil, .deactive .deactive-target:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
}
.deactive .deactive-target:before {
    background: rgba(255, 255, 255, .6);
}
.deactive .deactive-target.light-blue-bg:before {
    background: rgba(229, 243, 253, .7);
}
.ez-search-dir-container-empty .deactive-target.ez-search-dir-header:before {
    display: none;
}
.lt-ie9 .ez-search-dir-container-empty .ez-search-dir-header .veil {
    display: none;
}
.lt-ie9 .deactive .veil {
    background: rgb(255, 255, 255);
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}
.lt-ie9 .deactive .light-blue-bg .veil {
    background: rgb(229, 243, 253);
    /*background: rgb(228, 242, 252);*/
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}
.ez-flight-title {
    width: 100%;
}
#ez-search-dir-bg {
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 4px -2px rgba(0,0,0,.3),3px 2px 4px -2px rgba(0,0,0,.3),-3px 2px 3px -2px rgba(0,0,0,.3);
}
.no-boxshadow #ez-search-dir-bg {
    border-left: 1px solid #d0d1d2;
    border-bottom: 1px solid #d0d1d2;
    border-right: 1px solid #d0d1d2;
}
#ez-search-dir-bg:before {
    display: none;
}

#ez-search-bg-strip {
    position: absolute;
    background: #007ba3;
    top: 60px;
    bottom: 0;
    left: 49%;
    width: 2%;
    box-shadow: -4px 0px 5px -4px rgba(0,0,0,.3) inset;
}
.ez-search-dir-header {
    top: 1px;    /* fixes ie problem of border radius causing elements underneath to bleed through on bottom */
}
#ez-search-fields .ez-flight-title {
    letter-spacing: 2px;
}
.ez-search-dir-container-empty .ez-flight-title  {
    /*visibility: hidden;*/
    display: none;
}
#ez-depart-title-empty, #ez-return-title-empty {
    margin-top: 0;
    display: none;
}
.ez-empty-direction-message {
    display: none;
    position: absolute;
    top: -2em;
    z-index: 10;
}
.ez-search-dir-container-empty .ez-empty-direction-message {
    display: block;
}
.ez-search-dir-container-empty #ez-depart-title-empty, .ez-search-dir-container-empty #ez-return-title-empty {
    display: block;
}
.ez-search-dir-container-empty .ez-search-add-btn {
    display: none;
}
.ez-search-dir-container-empty .ez-cruise-info {
    visibility: hidden;
}
/*.ez-search-dir-container-empty .ez-search-dir-body {
    display: none;
}*/

.ez-search-dir-container-empty .ez-search-dir-header {
    min-height: 5em;
}
.ez-cruise-info {
    min-height: 2.8em;
}
.ez-search-dir-container .inline-field {
    padding-left: 0;
    padding-right: 0;
}
.ui-datepicker {
    width: 91%;
}
#ez-search-submit .button {
    padding: 7px 55px;
}
.mc-validation-hidden {
    display: none;
}

/* Fly with Friends */

.itn-route-preview .itn-total-duration {
    display: none;
}
#ez-fwf-waiting img {
    width: 64px;
}
.ez-fwf-booking-search-wrapper {
    width: 14em;
}
.ez-search-fwf-wrapper label.error {

}

/* Datepicker */

input.datepicker {
    background-image: url(/images/airbook/icon-calendar.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding-left: 30px;
}
.ui-datepicker {
    width: 20em;
    box-shadow: 0px 0px 24px rgba(0,0,0,.7);
    border: none;
    padding: 0;
}
.ui-datepicker .ui-datepicker-header {
    padding: .5em 0;
    background: #00223e;
    border: none;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: .5em;
}
.ui-datepicker td:first-child {
    padding-left: 6px;
}
.ui-datepicker td:last-child {
    padding-right: 6px;
}
.ui-datepicker thead {
    color: #00223e;
}
.ui-datepicker td a {
    text-align: center;
}
.ui-datepicker .ui-state-default {
    background: #e5f3fd;
    text-align: center;
}
.ui-datepicker .ui-state-active {
    background-color: white;
}

.ui-datepicker .ui-state-hover {
    background: white;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: white;
}

/* Search Results */

/*.ui-tooltip {
    display: none !important;
}*/
/*.mfp-bg.mfp-ready {
    opacity: .8;
}*/

.ezair-results .ez-results-hidden {
    display: none;
}
#princess-header + #steps-bar {
    padding-top: 2em;
}
.ez-iframed .ez-fare-chart-lightbox .mfp-container, .ez-iframed .ez-dpt-details-lightbox .mfp-container {
    top: 20px !important;
}
#ez-fare-chart td, #ez-fare-chart th {
    border: 2px solid white;
}
#ez-fare-chart th span {
    width: 100%;
    height: 100%;
    display: block;
    padding: 4px 5px;
}
#ez-chart-flex-header span {
    border-radius: 3px 0 0 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
#ez-chart-rstr-header span {
    border-radius: 0 3px 0 0;
}
#ez-fare-chart th  {
    text-align: center;
    border: 0;
}
#ez-fare-chart td {
    padding: 8px 5px;
    max-width: 18em;
}
.ez-chart-checkmark {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: white !important;
}
#ez-search-fwf-itns-fares .itn-route,#ez-search-fwf-itns-fares .ez-fare-card {
    display: table-cell;
    height: 1px;
    float: none !important;
    vertical-align: top;
}
#ez-rslt-sidebar {
    display: none;
}
#ez-rslt-filters {
    font-size: 1.153846153846154em !important;
}
.ez-rslt-fltr-header {
    display: none;
}
.mfp-bg.ez-mobile-filter-lightbox.mfp-ready {
    opacity: .9;
}
.ez-mobile-filter-lightbox .mfp-container {
    padding: 30px 5px;
}
#ez-rslt-fltr-mobile-cancel {
    text-decoration: none;
}
.ez-fltr-mobile-header {
    background-color: #0d2f56;
    border-bottom: 1px solid #32516a;
    width: 100%;
}
.ez-rslt-fltr-menu {
    display: none;
    /*margin: 1em 0;*/
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.ez-rslt-fltr-menu.active {
    display: block;
}
#ez-rslt-fltr-sortby label {
    padding-left: 10px;
}
#ez-rslt-filters .checkbox label {
    padding-left: 5px;
}
.ez-rslt-fltr-menu input[type='radio'] {
    margin-left: -.9em;
    float: left;
}
#ez-rslt-filters .ez-rslt-fltr-menu input[type='checkbox'] {
    margin-left: -12px;
}
.ez-fltr-mobile-header .arrow-toggle {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 8px;
    top: 5px;
    float: right; 
    transition: 100ms linear all;   
}
.ez-fltr-mobile-header.active .arrow-toggle {    
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
#ez-fltr-apply-btn {
    padding: 0.3076em 3em;
    display: block;
    margin: .5em auto 1.5em;
}
#ez-rslt-sidebar .ez-help-info {
    padding-top: 20px;
}
#ez-rslt-sidebar .ez-help-title {
    display: block;
}
/*#ez-rslt-sidebar .ez-help-phone {
    white-space: nowrap;
}*/
.ez-rslt-found {
    text-align: center;
}
#ez-rslt-topbar .ez-help-info {
    width: 100%;
    text-align: center;
    padding: 10px;
}
#ez-rslt-topbar .ez-help-title {
}
#ez-fltr-mobile-open {
    margin-right: 4%;
    margin-bottom: 10px;
    padding-left: 2em;
    padding-right: 2em;
}
#ez-rslt-sort-select {
    display: none;
}
.itn-route {
    position: static;
}
.itn-route-preview .itn-route {
    box-shadow: none;
}
.itn-stop-container {
    padding-top: 15px;
}
.itn-origin {
    text-align: left;
    /*padding-left: 15px;    */
    padding-left: 10%;
    padding-right: 0;
    width: 45%;
    position: absolute;
}
.ezair .itn-layover {
    position: relative;
    top: -11px;
    padding: 0 5%;
    line-height: 16px;
    display: inline-block;
    z-index: 2;
}
.itn-stop-time {
    display: none;
}
.itn-stop-airport {
    font-size: 1.384615384615385em;
}
.ezair .itn-final {
    text-align: right;
    /*padding-right: 15px;*/
    padding-right: 10%;
    padding-left: 0;
    width: 45%;
    position: absolute;
    top: 15px;
    right: 0;
}
.ez-itn-details .next-day-full, .itn-route-wrapper .next-day-segment {
    display: none;
}
/* in multicity results, the first leg shouldn't show the whole itinerary's "arrive next day" message */
.ez-multicity-search .itn-row:first-child .next-day-full {
  display: none;
}
.itn-stop-container > .row {
    min-height: 9em;
}
.ezair .itn-line {
   /* width: 86%;
    left: 7%;*/
    width: 74%;
    left: 13%;
    top: 0;
}
.itn-total-duration {
    display: none;
}
.ez-mobile-menu {
    background-color: #e5f3fd;
    border-radius: 0 !important;
    color: white;
}
.itn-route-preview .itn-row:last-child:nth-of-type(even) {
    border: 0;
}
.itn-route-preview .itn-row:nth-of-type(1) {
    border-radius: 4px 4px 0 0;
}
.ez-fwf-check-another.plain-text-btn {
    display: block;
    margin: 3em auto 0;
    text-decoration: underline;    
}
/*.ez-fwf-check-another.button {
    text-decoration: none;
}*/
.itn-oper-details span:after {
    content: ",";
}
.itn-oper-details span:last-child:after {
    content: "";
}
/* ie8 can't target :last-child, so use nbsp's instead of commas */
.lt-ie9 .itn-oper-details span:after {
    content: "\00a0\00a0";

}
.ezair .itn-carrier-MLT {
    max-height: none;
}
.ez-rslt-loading .itn-container-wrapper {
    visibility: hidden;
}
.ez-rslt-loading .itn-route, .ez-rslt-loading .ez-card-cell {
    box-shadow: none;
}
.ez-rslt-loading #ez-loading-msg {
    background: url(/images/airbook/ez-loading.gif) no-repeat top center;
    background-size: 64px 64px;
    position: absolute;
    z-index: 9999;
    text-align: center;
    top: 100px;
    width: 100%;
    height: 300px;
    padding-top: 80px;
}
.lt-ie9 .ez-rslt-loading #ez-loading-msg {
     background: url(/images/airbook/ez-loading_64.gif) no-repeat top center;
}
.ez-header-links a {
    padding: 0 5px 2px 7px;
}
.ez-header-links .ez-back-to-host {
    padding-left: 0;
    padding-top: 8px;
    display: block;
    border-left: 0;
}
.ez-header-links a:first-child {
    padding-left: 0;
}
.ez-header-links a + a {
    border-left: 1px solid #a1a1a1;
}
.ezair-results #container .article-header {
    padding-bottom: 60px;
}
.ezair-results .article-header.results-error {
    padding-bottom: 40px;
}
.article-container.results-error {
    background-color: white;
}
#ez-rslt-main-error .ez-help-info {
    padding-top: 15px;
}
#ez-rslt-main-error .ez-help-title {
    display: block;
}
#ez-rslt-topbar {
    margin-top: -65px;
}
.hidden-faretype, .hidden-stopcount, .hidden-departtime, .hidden-airline,.hidden-filters,.hidden-msg {
    display: none;
}
.show-msg {
    display: block !important;
}
.ez-filter-disabled {
    color: #a6a6a6;
}
.ez-fare-type-header {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.ez-fare-card-flex .ez-fare-type-header, .ft-flexible .ft-title, #ez-chart-flex-header span {
    background-color: #0D2F56;
}
.ez-fare-card-restricted .ez-fare-type-header, .ft-restricted .ft-title, #ez-chart-rstr-header span  {
    background-color: #5a5a5a;
}
.ez-card-cell {
    height: 100%;
    min-height: 16em;
   /* min-width: 11em;*/
    position: relative;
}
.autoair-flow .ez-card-cell, .ez-card-cell-tall {
    height: 100%;
    min-height: 18.5em;
   /* min-width: 11em;*/
    position: relative;
}
/*.autoair-flow .ez-change-search-link {
    display: none;
}*/
.ez-saved-flight .ez-fare-select-btn {
    display: none;
}
.ez-saved-flight #ez-autoair {
    margin-bottom: 0;
}
.itn-container-wrapper[data-flex-sale="true"] .ez-card-cell, .itn-container-wrapper[data-rstr-sale="true"] .ez-card-cell, .itn-container-wrapper[data-flex-carrier-sale="true"] .ez-card-cell, .itn-container-wrapper[data-rstr-carrier-sale="true"] .ez-card-cell {
    min-height: 16em;
}
.ez-fare-card .sale-rbn {
    margin-right: -4px;
}
.ez-fare-card .sale-rbn-banner:after {
    border-width: 2px;
}
.carrier-savings {
 
}
.lt-ie9 .ez-card-cell {
    height: auto;
    min-height: 18em;
}
.ez-fare-info {
    padding: 10px;
    clear: both;
    line-height: 1.2;
    margin-top: 1.2em;
}
.itn-container-wrapper[data-flex-sale="true"][data-rstr-sale=""] .ez-fare-card-restricted .ez-fare-info, .itn-container-wrapper[data-flex-carrier-sale="true"][data-rstr-sale=""] .ez-fare-card-restricted .ez-fare-info, .itn-container-wrapper[data-rstr-carrier-sale="true"][data-flex-sale=""] .ez-fare-card-flex .ez-fare-info, .itn-container-wrapper[data-rstr-sale="true"][data-flex-sale=""] .ez-fare-card-flex .ez-fare-info  {
    margin-top: 2.5em;
}
.ez-fare-sale .ez-fare-total, .ez-fare-sale .ez-fare-additional {
    color: #bd0000;
}
.ez-fare-total:first-child {
    padding-top: 15px;
}
.sale-rbn + .ez-fare-info {
    margin-top: 0 !important;
}
.ez-fare-select-btn {
    position: absolute;
    bottom: 1em;
    width: 100%;
}
.lt-ie9 .ez-fare-select-btn {
   
}
.ez-fare-card .sale-rbn {

}
.sale-rbn-right-8 {
    margin-right: -8px;
}
#ez-rslt-main .ez-fare-additional {
    display: none;
}
#ez-rslt-return .ez-fare-card-empty {
    display: none;
}
#ez-rslt-return .ez-fare-card, .ez-filtered-flexible .ez-fare-card, .ez-filtered-restricted .ez-fare-card, .itn-solo-farecard .ez-fare-card {
    left: 25%;
}
#ez-rslt-return .ez-fare-total,#ez-rslt-return .ez-fare-roundtrip-msg {
    display: none;
}
#ez-search-fwf-wrapper .ez-fare-additional, #ez-search-fwf-wrapper .ez-fare-additional {
    display: none;
}
#ez-search-fwf-results .ez-faretable-link {
    display: none;
}
.itn-container-wrapper {
    position: relative;
    padding-bottom: 30px;
}
#fly-with-friends .itn-container-wrapper + .itn-container-wrapper {
    margin-top: 75px;
}
#fly-with-friends .itn-container-wrapper {
    margin-top: 50px;
}
.itn-container-wrapper {
    background: white;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 65px;
    box-shadow: 0px 0px 6px rgba(0,0,0,.3);
}
#ez-autoair .itn-container-wrapper {
    padding-bottom: 50px;
}
.fwf-itn-preview.itn-container-wrapper {
    padding-bottom: 30px;
}
.itn-footer {
    position: absolute;
    bottom: 0;
    background-color: #e5f3fd;

}
.itn-restrictions-link, .itn-baggage-link {
    text-decoration: none;
    display: inline-block;
    margin: .25em 0;
}
.itn-restrictions-link:hover, .itn-baggage-link:hover {
    text-decoration: underline;
}
.ez-terms-list li + li {
    margin-top: .5em;
}
.ez-rslt-fltr-fieldset {
    
}
.ez-rslt-fltr-fieldset .form-field {
    padding: .5em 1em .5em 0;
}
.ez-rslt-fltr-fieldset .checkbox input {
    margin-right: 5px;
}

.ez-fare-card-empty.ez-fare-card-flex .ez-fare-type-header {
   background-color: #566D89;
}
.ez-fare-card-empty.ez-fare-card-restricted .ez-fare-type-header {
   background-color: #8B8B8B;
}
.ez-filtered-restricted .ez-fare-card-flex, .ez-filtered-flexible .ez-fare-card-restricted {
    display: none;
}
.ez-filtered-restricted.ez-filtered-flexible .ez-fare-card-flex, .ez-filtered-restricted.ez-filtered-flexible .ez-fare-card-restricted {
    display: block;
}
#fly-with-friends .ez-fare-card {
    /*left: 25%;*/
    margin: 0 auto;
    float: none;
    left: auto;
    width: 15em;
}
#ez-autoair .itn-full-farecard-wrapper {
    text-align: center;
}
#ez-autoair .ez-fare-card {
    width: 48%;
    padding: 5px 7px;
    max-width: 175px;
    display: inline-block;
    float: none;
    left: auto;
    vertical-align: top;
}
#ez-autoair .itn-solo-farecard .ez-fare-card {
    min-width: 175px;
}
#ez-autoair {
    background: rgba(235,235,235,.85);
}
#ez-autoair .itn-container-wrapper {
    max-width: 650px;
}
#ez-autoair .full-tab {
    background: transparent;
}
/* override drop tabs setting overflow hidden to keep shadows visible */
.autoair-tab-content {
    overflow: visible !important;
}
/*overriding old inline styles */
.ez-tnc-lightbox.mfp-ready #searchresultsbox {
    height: auto !important;
    overflow: auto !important;
    width: auto !important;
    float: none !important;
    background-color: white;
}
.ez-tnc-lightbox.mfp-ready #searchresultsbox table, .ez-tnc-lightbox.mfp-ready #searchresultsbox td {
    width: 100% !important;
    background-color: white;
}
.ez-tnc-lightbox.mfp-ready  .bluetitle56 {
    width: 100% !important;
    background-color: white !important;
}
.ez-terms-links-container li {
    display: inline-block;
    padding-right: 2em;
}
.ez-terms-container {
    padding: 20px 50px 10px;
    border: 1px solid #999999;
}
.ez-terms-container .form-field.checkbox {
    background-color: #e5f3fd;
    display: inline-block;
    padding-right: 40px;
    margin: 10px 0;
    border: 1px solid #d0d1d2;
}
.droptab-disabled {
    padding: 0 !important;
}
.droptab-disabled li {
    width: 100%;
    text-align: left  !important;
}
.droptab-disabled li a {
    padding-left: 15px;
    cursor: default;
}
.droptab-disabled li.active:after {
    display: none;
}
.ez-dpt-summary-cell {
    text-align: center;
}
#ez-dpt-summary .itn-carrier-logo {
    float: right;
    padding-right: 2px;
}
#ez-dpt-summary .itn-row {
    background-color: #ebebeb;
    min-height: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
#ez-dpt-summary .itn-route-wrapper {
    border-top: 1px solid #d0d1d2;
    border-bottom: 1px solid #d0d1d2;
}

#ez-dpt-summary .itn-stop-img {
    background-color: #ebebeb;
}
#ez-dpt-summary .itn-oper-details {
    display: none;
}
#fly-with-friends .ez-card-cell {
    min-height: 17em;
}
#fly-with-friends .ez-fare-roundtrip-msg {
    visibility: hidden;
}
.fwf-guest-name {
    position: absolute;
    top: -38px;
}
.fwf-reset-guests-container {
    border-top: 1px solid #d0d1d2;
    padding-top: 20px;
    text-align: center;
}
/* Waiting Splash Screen */
.ezair-classic #ez-waiting * {
    box-sizing: border-box;
}
.ez-waiting-lightbox .mfp-container {
    padding: 0;
}
/* avoid flash of unstyled content in ie8 due to media queries loading with respond.js */
.lt-ie9 .ez-waiting-lightbox.mfp-bg.mfp-ready {
    background: #000000;
    opacity: .6;
    filter: alpha(opacity=60); 
}
.lt-ie9 #ez-waiting {
    display: none;
}

.ez-waiting-lightbox.mfp-bg.mfp-ready {
    background: #5194c5;
    opacity: 1;
    filter: none;
}
.ez-waiting-lightbox.mfp-bg.mfp-removing {
    opacity: 0 !important;
}
.ez-waiting-progress {
    visibility: hidden;
    opacity: 0;
}
.ez-waiting-plane, .ez-waiting-progress-line {
    display: none;
}
.ez-waiting-title {
    font-size: 20px;
    padding-left: 20px;
}
.ez-waiting-logo-text {
    padding-top: 22px;
    display: inline-block;
    letter-spacing: 4px !important;
}
.product-PC.booking-PO .ez-waiting-logo-img {
    background-image: url(../../images/airbook/logo-plane-sailing.svg);
    margin: -25px auto 30px;
    width: 198px;
    height: 142px;
}
.no-svg .product-PC.booking-PO .ez-waiting-logo-img {
    background-image: url(../../images/airbook/logo-plane-sailing.png);
}
.ez-waiting-tagline {
    letter-spacing: 2px !important;
    position: relative;
    display: inline-block;
    font-size: 20px;
}
.ez-waiting-tagline-line1 {
    display: block;
}
.ez-dash-line {
    width: 40px;
    height: 2px;
    background: white;
    position: absolute;
    top: 22%;
}
.ez-waiting-tagline-long .ez-dash-line {
    width: 30px;
}
.ez-dash-line-left {
    left: -23px;
}
.ez-waiting-tagline-long .ez-dash-line-left {
    left: -40px;
}
.ez-dash-line-right {
    right: -23px;
}
.ez-waiting-tagline-long .ez-dash-line-right {
    right: -40px;
}
.ez-waiting-benefits {
    display: none;
}
.ez-waiting-progress {
    background: url(../../images/airbook/loading-mobile.gif) no-repeat center center;
    height: 64px;
    width: 100%;
    margin: 30px 0;
}


/* Media Queries */


@media (max-width:47.9375em) {   /* Small */

    .ez-fare-card-solo .sale-rbn {
        position: absolute;
        right: 0;
    }
    .ez-fare-card-solo .ez-fare-info {
        width: 48%;
        display: inline-block;
        padding-top: 24px;
        padding-bottom: 0;
        padding-right: 0;
    }
    .ez-fare-card-solo .ez-fare-select-btn {
        width: 50%;
        position: static;
        display: inline-block;
        vertical-align: bottom;
    }
    .ez-fare-card-solo .button {
        width: 80%;
        margin-left: 10%;
        position: static;
        padding: 5px;
    }
    .ez-card-cell {
        /*min-height: 0;*/
        padding-bottom: 15px;
    }
}

/* mn */
@media (min-width:40em) { /* Min Small */


    .ezair-search #content {
        padding: 40px 0;
    }
    #ez-rslt-return .ez-fare-card, .ez-filtered-flexible .ez-fare-card, .ez-filtered-restricted .ez-fare-card, .itn-solo-farecard .ez-fare-card {
        left: 29.167%;
    }
    .sm-block {
        display: block;
    }
    .sm-inline-block {
        display: inline-block;
    }
    .sm-align-right {
        text-align: right;
    }
    .sm-absolute {
        position: absolute;
    }
    .mfp-content #popupContent {
        padding: 30px;
    }
    .ez-validation-messages .mfp-content #popupContent {
        padding: 30px;
    }        
    #ez-search-sale-banner {
        border-bottom: 5px solid #a09f9f;
        position: absolute;
        top: 0;
        z-index: 96;        
    }
    #ezair-header {
        box-shadow: none;
    }
    .ezair-header-inner {
        padding: 15px 0;
    } 
    #ezair-header-top {
        border-bottom: 1px solid #82a6c7;
        margin-bottom: 1px;
    }
    .ezair-error #ezair-header-top {
        margin-bottom: 0;
    }    
    .product-PC .ez-header-logo{
        margin: 0 0 0 15px;
    }
    .product-CCL .ez-header-logo, .product-CL .ez-header-logo {
        margin: 0 auto;
    }
    .product-PC .ez-header-logo {
        background-position: -85px 0;        
        width: 235px;
    }
    .lt-ie9 .product-PC .ez-header-logo {
        background-position: -85px 0;        
    }   
    #ezair-header-bottom {
        height: 39px;
        background: url(/images/global/sprite_header-nav-footer.png) repeat-x 0 -35px #fcfcfc;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(50%,#f7f7f7),color-stop(100%,#dcdcdc));
        background: -webkit-linear-gradient(top,#fcfcfc 0,#f7f7f7 50%,#dcdcdc 100%);
        background: -moz-linear-gradient(top,#fcfcfc 0,#f7f7f7 50%,#dcdcdc 100%);
        background: -ms-linear-gradient(top,#fcfcfc 0,#f7f7f7 50%,#dcdcdc 100%);
        background: -o-linear-gradient(top,#fcfcfc 0,#f7f7f7 50%,#dcdcdc 100%);
        border-bottom: 1px solid #9b9b9b;        
    }
    .ezair .full-tab {
        padding-left: 15px;
        padding-top: 0;
    }
    #ez-autoair .full-tab   {
        padding-left: 0;
    }
    .article-header .droptab-container {
        margin-bottom: -15px;   
    } 
    .ez-search-booked {
        border-top: 0;
    }    
    #ez-search-filters {
        background-color: #e5f3fd;
        margin: 10px 0;
        padding-bottom: 0;
        box-shadow: 0px 3px 4px -2px rgba(0,0,0,.3),3px 2px 4px -2px rgba(0,0,0,.3),-3px 2px 3px -2px rgba(0,0,0,.3);               
    }
    #ez-search-filters legend {
        color: #333333;
    }
    #ez-search-filters > span:first-of-type {
        padding-left: 0;
    }
    /* hackier version of above for ie8 */
    .lt-ie9 #ez-search-filters legend + .form-field {
        padding-left: 0;
    }
    #ez-search-filters > span.hidden + span {
        padding-left: 0;
    }
    #ez-search-filters .form-field {
        width: 15.5em;
    }
    #ez-search-filters .checkbox {
        width: 15.5em;
        padding-left: 30px;
    }
    #ez-search-filters .form-field select {
        width: 100%;
        min-width: 0;
    }
    .form-field.ez-horizontal {
        padding: 10px 15px 10px 15px;
        display: inline-block;
    }
    .form-field.ez-horizontal label {
        color: #333;
        display: inline-block;
        padding: 0;
    }
    .form-checkbox-wrapper {
        margin-left: 0;
    }
    #ez-search-filters .checkbox .form-checkbox-wrapper input {
        float: left;
        margin-left: -1.5em;
    }
    #ez-search-depart {
        width: 48%;
    }
    #ez-search-return {
        width: 48%;
        left: 4%;
        margin-top: 0;
    }
    #ez-search-dir-bg:before {
        content: "";
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e5f3fd;
        z-index: -1;
        display: block;
    }    
    #ez-search-depart .ez-search-dir-header {
        border-radius: 0 6px 0 0;
    }
    #ez-search-return .ez-search-dir-header {
        border-radius: 6px 0 0 0;
    }    
    .ez-search-dir-header {
        width: 90%;
    }
    #ez-search-return .ez-search-dir-header {
        left: 10.1%;
    }
    .ez-search-dir-container.deactive {
        display: block;
    }    
    .ez-search-dir-container .inline-field {
        padding-right: 15px;
    }    
    .ez-search-booked {
        border-left: 1px solid #d0d1d2;
        border-top: 0;
    }
    .ezair-manage-flights .ez-search-booked {
        border: 0;
    }
    
    /* Search Results */

    .ez-header-links .ez-back-to-host {
        padding-left: 7px;
        padding-top: 0;
        border-left: 1px solid #a1a1a1;
        display: inline;
    }
    .fare-table-wrapper {
        box-shadow: 0px 0px 6px rgba(0,0,0,.3);
    }
    .ezair-results .header-link {
        right: 20px;
        top: 10px;
    }
    #ez-fare-chart th span {
        padding: 4px 20px;
    }
    #ez-fare-chart th  {
        width: 10em;
    }
    #ez-fare-chart td {
        height: 5em;
        padding: 20px;
    }
    #ez-rslt-sidebar {
        display: block;
    }
    #ez-rslt-filters {
        font-size: 1em !important;
    }    
    .ez-rslt-topbar-wrapper {
        background-color: white;
    }
    .ez-fltr-mobile-header {
        background-color: #007ba3;
        border-bottom: 0;
        font-size: 1em !important;        
    }
    .ez-rslt-fltr-header {
        display: block;
    }
    .ez-rslt-fltr-menu {
        display: block;
    }
    .ez-rslt-mobile-filter {
        display: none;
    }
    #ez-fltr-mobile-open, #ez-fltr-apply-wrapper {  
        display: none;
    }
    .ez-fltr-mobile-header .arrow-toggle {
        display: none;
    }
    #ez-rslt-fltr-mobile-header {
        display: none;
    }
    #ez-rslt-filters .ez-rslt-fltr-menu input[type='checkbox'], #ez-rslt-filters .ez-rslt-fltr-menu input[type='radio'] {
      margin-left: -1.5em;
    }               
    #ez-rslt-filters .checkbox label {
      padding-left: 3px;
    }
    #ez-rslt-fltr-sortby label {
      padding-left: 5px;
    }    
    #ez-rslt-topbar .ez-help-info {
        display: none;
    }
    .ez-rslt-found {
        text-align: left;
    }    
    #ez-rslt-sort-select {
        display: block;
    }
    #ez-rslt-sort-select .horizontal-field {
        /*float: right;
        padding-right: 10px;*/
    }
    #ez-rslt-sort {
        display: block;
    }
    .ez-rslt-fares-explained {
        padding-top: 8px;
        text-align: right;
    }
    .itn-route {
        position: static;
    }
    .itn-stop-container {
        padding-top: 0;
    }
    .itn-origin {
        text-align: right;
        padding-left: 5px;    
        padding-right: 15px;
        width: 25%;
        position: relative;
    }
    .ezair .itn-layover {
        line-height: 14px;
        position: relative;
        top: auto;
        padding: 0 3%;
    }
    .itn-stop-time {
        display: block;
    }
    .itn-stop-airport {
        font-size: 1em;
    }
    .ezair .itn-final {
        text-align: left;
        padding-right: 5px;
        padding-left: 15px;
        width: 25%;
        position: relative;
        top: auto;
        right: auto;
    }
    .itn-stop-container > .row {
        min-height: 0;
    }
    .ezair .itn-line {
        width: 50%;
        left: 25%;
        top: 10px;
    }
    .itn-total-duration {
        display: block;
    }
    .ez-mobile-menu {
        background-color: #cedfec;
        border-radius: 3px;
        color: #333;
    }
    .itn-dtl-carrier-logo {
        width: 20%;
    }
    .itn-dtl-carrier-info {
        width: 75%;
    }                                     
    .itn-dtl-row {
        border-left: 1px solid #b2b2b2;
        border-right: 1px solid #b2b2b2;
    }
    #ez-dpt-summary .itn-route-wrapper {
        margin-top: -12px;
        border: 0;
    }
    .ez-dpt-summary-cell {
        text-align: left;
    }
    .droptab-disabled {
        padding-left: 15px !important;
        padding-bottom: 3px !important;
        margin-left: 0;
        margin-right: 0;
    }
    .droptab-disabled li {
        width: auto;
        text-align: left;
    }
    .droptab-disabled li a {
        padding: 10px 20px;
    }
    .droptab-disabled li.active:after {
        display: block;
    }
    .ez-details-change-link {
        position: absolute;
        top: -25px;
        right: 0;
    }
    #fly-with-friends .ez-fare-card {
        /*left: 29.1666667%;*/
    }
    .fwf-reset-guests-container {
        border: 0;
        padding-top: 0;
        text-align: left;
    }    
    /* restore waiting in ie8 after respond.js delivers media queries */
    .lt-ie9 .ez-waiting-lightbox.mfp-bg.mfp-ready, .lt-ie9 #ez-waiting {
        display: block;
    }

    .ez-waiting-lightbox.mfp-bg.mfp-ready {
        background: #000000;
        opacity: .6;
        filter: alpha(opacity=60); 

    }
   
    .ez-waiting-lightbox .mfp-container {
        padding: 30px 15px;
        background: none;
    }
    #ez-waiting {
        /*background: url(../../images/airbook/loading-sky-bg.jpg) no-repeat 0 0;*/
        background: url(../../images/airbook/waiting-dark-bg.jpg) no-repeat 0 0;
        border-radius: 4px;
        background-size: contain;
    }
    .product-CL.booking-PA #ez-waiting {
        background: url(../../images/airbook/waiting-bright-bg.jpg) no-repeat 0 0;
    }
    /* giving a div an aspect ratio  */
    #ez-waiting {
        position: relative;
        width: 100%;
    }
    #ez-waiting:before {
        content: "";
        display: block;
        padding-top: 66.25%;  /* this is the ratio of the bg image 960x636 */    
    }
    /* end aspect ratio rules */
    .ez-waiting-bg {
        max-width: 100%;
        border-radius: 6px;
    }
    .ez-waiting-main {
        position: absolute;
        top: 0;
        padding-top: 40px;
        overflow: hidden;
    }
    .ez-waiting-main.ez-waiting-with-logo {
        padding-top: 0;
    }
    .ez-waiting-title {
        font-size: 26px;
    }
    .ez-waiting-logo-text {
        padding-top: 29px;
        display: inline-block;
        letter-spacing: 4px !important;
    }
    .ez-waiting-tagline {
        letter-spacing: 4px !important;
        font-size: 20px;
    }
    .ez-waiting-tagline-line1 {
        display: inline;
    }    
    .ez-logo {
        border: 0 !important;
        font-size: 56px !important;
    }
    .ez-dash-line {
        width: 40px;
        /*width: 50px;*/
        height: 2px;
        top: 46%;
    }
    .ez-dash-line-left {
        left: -55px;
        /*left: -65px;*/
    }
    .ez-waiting-tagline-long .ez-dash-line-left {
        left: -37px;
    }
    .ez-dash-line-right {
        right: -55px;
        /*right: -65px;*/
    }
    .ez-waiting-tagline-long .ez-dash-line-right {
        right: -35px;
    }
    .ez-waiting-benefits {
        display: block;
        padding-left: 9%;
        padding-top: 40px;
        font-size: 20px;
    }
    .ez-waiting-benefits-item {
        min-height: 70px;
        padding-left: 45px;
        padding-top: 5px;
        font-size: 18px;
        background-size: 30px auto !important;    
    }
    .ez-waiting-benefits-arrival {
        background: url(../../images/airbook/icon-lock.svg) no-repeat top left;
    }
    .no-svg .ez-waiting-benefits-arrival {
        background: url(../../images/airbook/icon-lock.png) no-repeat top left;
    }
    .ez-waiting-benefits-contact {
        background: url(../../images/airbook/icon-phone.svg) no-repeat top left;
    }
    .no-svg .ez-waiting-benefits-contact {
        background: url(../../images/airbook/icon-phone.png) no-repeat top left;
    }
    .ez-waiting-benefits-price {
        background: url(../../images/airbook/icon-pricetag.svg) no-repeat top left;
    }
    .no-svg .ez-waiting-benefits-price {
        background: url(../../images/airbook/icon-pricetag.png) no-repeat top left;
    }
    .ez-waiting-progress {
        margin-top: 40px;
        height: 10px;
        position: relative;
        display: inline-block;
        /*max-width: 85%;*/
        width: 85%;
        background: none;
        height: auto;
        margin-bottom: auto;
    }
    .ez-waiting-progress-line {
        display: block;
        width: 100%;
        height: 6px;
        background: #b9c2ca;
        border-radius: 10px;
        box-shadow: 0px 2px 3px rgb(71, 111, 145);
        overflow: hidden;
    }
    .ez-waiting-progress-green {
        background: #00ff26;
        width: 0;
        height: 100%;
        /*border: 1px solid #0DD872;*/
    }
    .ez-waiting-plane {
        display: block;
        position: absolute;
        left: -3%;
        top: -22px;
        width: 60px;
  /*      opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
    }
    .ez-waiting-message {
        padding-top: 45px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);    
    }


}
@media (min-width: 768px) {
        .lt-ie9 #princess-logo.fiftieth > img {
        left: -85px;
    }    
}
/* min width: 768px (med) */
@media (min-width: 48em) {

    .md-absolute {
        position: absolute;
    }
    .md-align-right {
        text-align: right;
    }

    #ez-search-filters .form-field {
        width: 13em;
    }
    #ez-search-filters .checkbox {
        width: 13em;
    }
    #ez-ship-bg {
        background-position: 0px -144px;
    }
    .ez-search-fwf-chk-btn {
        right: 0;
        top: 37%;
    }
    .ez-search-fwf-chk-btn.error-msg {
        right: 0;
        top: 20%;
    }
    .ez-rslt-fares-explained {
        padding-top: 0;
    }    
    #ez-rslt-sort {
        display: inline-block;
    }
    #ez-rslt-sort-select {
        padding-top: 3px;
    }
    .itn-route-preview .itn-route {
        box-shadow: 0px 0px 6px rgba(0,0,0,.3);
    }
    #ez-autoair .itn-container-wrapper, #fly-with-friends .itn-container-wrapper {
        background: transparent;
        padding-bottom: 0;
        box-shadow: none;
        max-width: none;
    }
    #fly-with-friends .itn-container-wrapper {
        margin-top: 20px;
    }    
    #fly-with-friends .itn-container-wrapper + .itn-container-wrapper {
        border-top: 1px solid #d0d1d2;
        margin-top: 40px;
        padding-top: 30px;
    }    
    #fly-with-friends .itn-route, #ez-autoair .itn-route {
        position: relative;
        box-shadow: 0px 0px 6px rgba(0,0,0,.3);        
    }
    #fly-with-friends .ez-fare-card, #ez-autoair .ez-fare-card {
        left: auto;
        float: left;
        margin-left: 1%;
        padding: 0;
        width: 165px;
    }
    #ez-autoair .ez-fare-card {
        width: 19.7%;
    }
    #fly-with-friends .itn-footer, #ez-autoair .itn-footer {
        position: relative;
        bottom: auto;
        background-color: transparent;
    }    
    .fwf-itn-preview.itn-container-wrapper {
        background: transparent;
        box-shadow: none;
    }
    .fwf-guest-name {
        position: relative;
        top: auto;
    }                              
    
    .md-radius-10-bottom {
        border-radius: 0 0 10px 10px;
    }
    .ez-iframed .md-radius-10, .ez-iframed .md-radius-10-bottom, .ez-iframed .article-container {
        border-radius: 0 !important;
    }
    .ez-waiting-title {
        font-size: 30px;
    }
    .ez-logo {
        font-size: 60px !important;
    }
    .ez-waiting-main {
        padding-top: 6%;
    }
    .ez-waiting-tagline {
        font-size: 26px;
    }
    .ez-waiting-benefits {
        padding-left: 10%;
        padding-top: 60px;
    }
    .ez-waiting-benefits-item {
        font-size: 20px;
        padding-left: 60px;
        background-size: 45px auto !important;    
    }    
    .ez-waiting-progress {
        margin-top: 10%;
    }
    .ez-waiting-progress-line {
        height: 8px;
    }    
    .ez-waiting-plane {
        width: 70px;
        top: -26px;
    }
    .ez-waiting-message {
        padding-top: 50px;
    }
    .ez-rslt-currency-type {
        top: 22px;
        right: 22px;
    }
}
@media (min-width: 770px) {
    .ezair .article-container {
        border-radius: 0 0 10px 10px;
    }
    .md-radius-10 {
        border-radius: 10px;
    }
}
/* lg */
/* min width: 992px (large) */
@media (min-width: 62em) {

    #ez-rslt-return .ez-fare-card, .ez-filtered-flexible .ez-fare-card, .ez-filtered-restricted .ez-fare-card, .itn-solo-farecard .ez-fare-card {
        left: 0;
    }
    .lg-absolute {
        position: absolute;
    }
    .lg-inline {
        display: inline;
    }
    #ez-search-filters .form-field {
        width: 15.5em;
    }
    #ez-search-filters .checkbox {
        width: 13em;
    }
    .ez-saved-flight .ez-rslt-currency-type {
        top: 30px;
    }
    #fly-with-friends .itn-container-wrapper {
        margin-top: 0;
    }    
    #fly-with-friends .ez-fare-card {
      /*  left: auto;
        float: left;
        width: 18.9%;
        margin-left: 1%;*/
    }
    .ez-search-fwf-chk-btn {
        right: 0;
        top: 45%;
    }    
    .itn-full {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .itn-full .itn-row:last-child:nth-of-type(even) {
        border-bottom: 0;
    }
    #fly-with-friends .itn-footer-terms {
        padding-left: 35px;
    }
    .itn-route, .ez-filtered-flexible.ez-filtered-restricted .itn-route {
        width: 60.11111111111%;
        min-height: 200px;
    }
    #ez-rslt-return .itn-route, .ez-filtered-restricted .itn-route, .ez-filtered-flexible .itn-route {
        width: 79.305556%;
    }
    .ez-fare-card {
        width: 18.9%;
        margin-left: 1%;
        padding: 0;
    }    
    .itn-container-wrapper {
        background: transparent;
        padding-bottom: 0;
        box-shadow: none;
    }
    .itn-route {
        position: relative;
        box-shadow: 0px 0px 6px rgba(0,0,0,.3);
    }
    .ezair .itn-layover {
        padding: 0 1.5%;
    }    
    .itn-footer {
        position: relative;
        bottom: auto;
        background-color: transparent;
        
    }
    #ez-autoair .itn-route {
        position: relative;
        box-shadow: 0px 0px 6px rgba(0,0,0,.3);
        float: left;
    }
    #ez-autoair .itn-layover {
        padding: 0 1.5%;
    }    
    #ez-autoair .itn-footer {
        position: relative;
        bottom: auto;
        background-color: transparent;
        
    }
    #ez-autoair .ez-fare-card {
        width: 18.9%;
        margin-left: 1%;
        padding: 0;
        left: 0;
    }
    .ezair .itn-layover {
        padding: 0 2.5%;
    }
    .ez-rslt-fltr-fieldset .form-field {
        padding: .35em 1em .35em 0;
    }
    .ez-waiting-main {
        padding-top: 8%;
    }
    .product-PC.booking-PO .ez-waiting-logo-img {
        margin-bottom: 50px;
    }
    .ez-waiting-title {
      font-size: 32px;
    }
    .ez-logo {
        font-size: 60px !important;
    }
    .ez-waiting-tagline {
        font-size: 32px;
    }
    .ez-waiting-benefits {
        padding-top: 80px;
    }
    .ez-waiting-benefits-item {
        padding-left: 70px;
        background-size: auto !important;
    }                
    .ez-waiting-plane {
        width: auto;
        top: -35px;
    }       
    .ez-waiting-message {
        text-shadow: none;
    }

    .ez-rslt-found {
        padding-top: 8px;
    }
    .ez-rslt-fares-explained {
        padding-top: 8px;
    }
}

