#steps-bar {
    text-align: center;
}
.steps-list {
    list-style: none;
}
.steps-item {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    min-width: 4.5em;
    max-width: 11em;
    position: relative;
}
.steps-item:before {
    position: absolute;
    top: .9em;
    width: 100%;
    left: -50%;
    z-index: 1;
    content: "";
}
.steps-item-1:before {
    display: none;
}
.steps-number {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    position: relative;
    z-index: 2;
}
.steps-label {
    padding-top: 5px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.steps-bar-light .steps-item:before {
    border-top: 2px solid #dddddd;
}
.steps-bar-light .steps-item-active:before, .steps-bar-light .steps-item-done:before {
    border-top: 2px solid #0D2F56;
}
.steps-bar-light .steps-number {
    background: #dddddd;
    color: #0054A0;
}
.steps-bar-light .steps-item-done .steps-number, .steps-bar-light .steps-item-active .steps-number {
    background: #0D2F56;
    color: #dddddd;
}
.steps-bar-light .steps-item a {
    color: #dddddd;
    text-decoration: none;
}
.steps-bar-light .steps-item a:hover  {
    text-decoration: underline !important;
}

@media (max-width: 40em) {
    .steps-label {
        font-size: 90%;
    }
}