/* Reset CSS */
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, address, cite, em, img, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, 
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0; 
padding:0; 
border:0; 
outline:0; 
font-size:100%; 
vertical-align:baseline; 
}

ol, ul{list-style:none}

/* remember to define focus styles! */
:focus{outline:0}
a{outline:none}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse; border-spacing:0}
/* Reset CSS Ends */
body{font:70%/16px Arial,Helvetica,sans-serif}
#container{
    background-image:url(/images/global/home_background.jpg); 
 background-position:center top; 
 background-repeat:no-repeat}
#content{
 margin:55px auto 0; 
 overflow:visible; 
 padding:0; 
 position:relative; 
 width:980px}

h1{font-size:21px; color:#666; font-weight:200; padding:5px 15px}


 /* Content */
 a{color:#0054a0; text-decoration:none}
 a:hover{text-decoration:underline}
 #container #content{background:#FFF; margin:15px auto 0 auto;  width:960px; overflow:visible; z-index:90; font-size:12px}
 #tab-content{overflow:visible; position:relative; padding:15px 17px 5px; border:1px solid #ccc; margin-top:-1px; margin-bottom:15px}
 #itinerary .map{float:left; padding-bottom:5px; padding-right:15px; width:354px}
 .align-right{text-align:right}
 .align-center{text-align:center}
 .align-left{text-align:left}
 .disclaimer{color:#666; font-size:10px; line-height:14px; margin-left:0; padding-bottom:15px}
 .display-none{display:none}
 .float-right{float:right}
 .list-normal{margin-bottom:5px}
 .list-normal li{line-height:16px; list-style:disc inside}
 .margin-15{margin:15px}
 .margin-b-15{margin-bottom:15px}
 .margin-l-r-5{margin:0 5px}
 .more-info{margin:3px 4px 3px 10px; vertical-align:middle}
 .next-back{display:block; margin-left:28px; padding:10px 15px 15px 17px; width:25%; background-position:left 10px}
 .normal-paragraph{font-weight:200; line-height:16px}
 .other-dates{display:block; font-weight:700; padding-bottom:10px; padding-left:30px}
 .ship-image{left:5px; margin-left:12px; position:absolute}
 .ship-info-image{border-bottom:10px solid #9c1c20}
 .width-70{width:70px}
 div.error{background:#f9f8f2; border:1px solid #9a8048; color:#9c1c20; line-height:14px; margin-bottom:10px; padding:7px}
 div.note{position:relative; top:-24px}
 #sort{float:left; width:46%; text-align:right; margin-right:10px}
 #col-right .compare-cruises{background:#f7f7f7; margin-right:5px; margin-left:10px}
 .compare-cruises span{background:#e5e5e5; display:block; text-align:center; padding:5px}
 .compare-cruises h3{background:#8daac7; color:#FFF; text-transform:uppercase; padding:3px}
 #col-right .compare-cruises p{padding-bottom:10px}

.cruise-details{display:table-cell; vertical-align:top; width:480px; padding:0 20px 42px 10px; position:relative; overflow:visible !important; z-index:305}
.css-table{display:table; margin-top:4px; clear:both; padding-top:0; padding-bottom:4px; height:100%}
.css-table>div{display:table-row}
.css-table>div>div:first-child{display:table-cell; vertical-align:top}
.css-table p{padding-bottom:6px}
.other-options{border-left:1px solid #baccdd; margin-left:10px; margin-top:10px; padding:20px 10px}
.other-options ul{line-height:18px; list-style:none outside; padding:12px 0}
.other-options li{padding:2px 0; overflow:hidden}
.cruise-details li span{font-weight:700}
.cruise-details li{line-height:1.8em}
.other-options img{vertical-align:middle}
#tabs, #search-tabs{line-height:9px; position:relative; z-index:300; margin-top:30px; clear:both; zoom:1}
.ie7 html #tabs, .ie7 html #search-tabs{font-size:1px}
.ie7 #tabs {margin-top: 10px;}
#tabs img {margin-right:1px}
#search-tabs {padding: 0 16px; margin-top: 0;}
.ie7 #search-tabs {margin-bottom: -1px;}
.clear{clear:both; display:block; height:0; overflow:hidden; visibility:hidden; width:0}
.cruise-details h2{font-size:13px; color:#000; ; padding:0 0 5px 0}
.pricing-details-table td{text-align:center; color:#000; font-size:12px; padding:4px 3px;border:1px solid #CCC;  vertical-align:middle; max-width:200px}
.pricing-details-table.sold-out td{color:#A41E22}
#search-results .pricing-details-table td{ background:#FFF;}
html.ie7 #search-results .pricing-details-table td{ padding:4px 1px}
html.ie7 #search-results .pricing-details-table th{ padding:4px 1px}
html.ie7 .pricing-details-table .interior, html.ie7 .pricing-details-table .oceanview{ width:71px}
.pricing-details-table th{padding:3px; max-width:100px; min-width:65px; text-align:center; }
#compare-dates-fares .pricing-details-table th{border-left:1px solid #CCC; border-right:1px solid #CCC;}
#compare-dates-fares .pricing-details-table th:nth-child(1),#compare-dates-fares .pricing-details-table th:last-child{ border-left:1px solid #fff; border-right:1px solid #fff;}
.pricing-details-table .embarkation-date{color:#252525; vertical-align:middle; text-align:left;}
.pricing-details-table .fees-taxes{text-align:left; color:#333}
.pricing-details-table .currency{display:block; width:100px; float:right; color:#666}
*+html .pricing-details-table .currency{margin-top:-16px}
#pricing{padding-right:20px; padding-bottom:15px; padding-left:20px}
#pricing p{font-weight:700}
#pricing li{padding-top:5px; padding-bottom:5px; color:#0054a0; font-weight:700}
#pricing li img{vertical-align:middle}
#pricing ul{margin-top:10px; float:left; position:relative}
.sign-in a{color:#4A6817}
#tab-content .pricing-expanded{background:#fff; display:block}
.pricing-details-table{table-layout:fixed; width:565px}
#tab-content .pricing-details-table{table-layout:fixed; width:100%; }
#tab-content small{font-size:.9em; color:#666; line-height:12px; display:block; padding:5px 8px}
.pricing-details-table tr.odd td{background:#f0f0f0}
.sort{height:11px; margin:2px 0 0 2px; position:absolute}
.sort span{display:block; height:5px; line-height:1px; margin-bottom:1px; width:10px}
#pricing .select-different-date{padding-left:10px; padding-top:12px; padding-bottom:0px; color:#0054a0}
#itinerary, /*#ship, */#weather{background:#FFF; margin-bottom:10px; overflow:hidden; zoom:1}
#itinerary .itinerary-table{font-size:12px;width:555px; background:#e7edf4; table-layout:fixed; float:left}
.itinerary-table caption{text-align:left; font-size:13px; font-weight:700; color:#333; padding-bottom:8px}
.itinerary-table th{background:#e6e7e8; padding:5px 10px; border-bottom:2px solid #FFF}
.itinerary-table td{padding:5px 10px; border-bottom:1px solid #FFF; vertical-align:middle}
.row-even td{background:#E8EEF4}
#flights{background:#FFF; margin-bottom:10px; border:1px solid #CCC; padding:10px; overflow:hidden; zoom:1; width:720px; margin-right:auto; margin-left:auto}
#flights-content{float:left; width:525px; padding-right:10px}
#flights-content h4{font-size:18px; color:#4A4A4A; font-weight:200; margin-bottom:7px}
#flights-content-in-frame{margin:-11px}
#flights-image{float:left; width:185px}
#flights #flights-content small{padding-left:0px; color:#333}
#weather .weather-content{float:left; width:430px; padding-right:15px}
.weather-content .temperature{padding-left:20px; display:block; padding-top:8px; padding-bottom:10px}
#select-port-div{background:#EBEBEB; padding:7px 5px; margin-top:-5px; margin-bottom:5px}
#tabs a, #search-tabs a{
display:inline-block;
padding:8px 12px;
margin-right:3px;
color:#FFF; 
border-top-right-radius:6px;
border-top-left-radius:6px;
font-size:13px;
text-decoration:none;
line-height:15px; 
background:#0054a0; /* old browsers */
background:-moz-linear-gradient(top,#3b7cb6 0%,#0356a1 74%,#0054a0 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3b7cb6),color-stop(74%,#0356a1),color-stop(100%,#0054a0)); 
background:-webkit-linear-gradient(top,#3b7cb6 0%,#0356a1 74%,#0054a0 100%);
background:-o-linear-gradient(top,#3b7cb6 0%,#0356a1 74%,#0054a0 100%); 
background:-ms-linear-gradient(top,#3b7cb6 0%,#0356a1 74%,#0054a0 100%);
}
#tabs a:hover, #search-tabs a:hover { 
background:#3b7cb6; 
background:-moz-linear-gradient(top,#658eb2 0%,#0054a0 100%); 
background:-webkit-linear-gradient(top,#658eb2 0%,#0054a0 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#658eb2),color-stop(100%,#0054a0));
background:-o-linear-gradient(top,#658eb2 0%,#0054a0 100%); 
background:-ms-linear-gradient(top,#658eb2 0%,#0054a0 100%);
}
#tabs .active, #tabs .active:hover, .ie7 #tabs a.active,
#search-tabs .active, #search-tabs .active:hover, .ie7 #search-tabs a.active {
background:#FFF; 
color:#000000; 
border:1px solid #CCC;
filter:none;
border-bottom: 1px solid #fff;
margin-bottom: -2px;
display: default;
cursor: default;
}
#no-navigation{
background:url(/images/global/bg_no_nav.gif) repeat-x; height:20px; left:0; position:absolute; top:98px; width:100%}
#flights .error{color:#9F1C20; font-weight:500; padding:3px 0 15px 0; font-size:12px}
#itinerary ul{margin-bottom:20px; overflow:hidden; float:left; width:235px; margin-right:15px}
.itinerary-map{border:1px solid #999; margin-bottom:7px}
#cruise-icon{background:#e6eff4; width:45px; padding:1px 5px; text-align:center; border:1px solid #666; margin-bottom:20px; font-weight:700; color:#666; float:right; margin-right:3px}
#tours-icon{background:#dbe6d6; width:45px; padding:1px 5px; text-align:center; border:1px solid #666; margin-bottom:20px; font-weight:700; color:#666; float:right; margin-right:3px; clear:both}
#itinerary h5{font-size:13px; font-weight:700}
.itinerary-table .tours th{background:#dbe6d5}
.itinerary-table .tours td{background:#edf3e9}
.itinerary-table .row-even.tours td{background:#dbe6d5}
#navigation{z-index:100}
.facebook-like{padding:5px 0; width:120px; height:50px}
.itinerary-table td:first-child, .itinerary-table th:first-child {border-right:solid 5px #fff}
col#day{width:45px; text-align:center;}
col#arrive{width:72px; text-align:left;border-right: solid 1px #fff}
col#depart{width:72px}
.at-sea td{background:#f4f7f9}
#itinerary .port-name-date{float:left}
#itinerary .two-day-experience{float:left; margin-left:10px}
#container small{display:block; font-size:.9em; padding-bottom:5px}
#price-disclaimer small {width: 700px;}
/*Weather Tab */
.weather-table{text-align:left; vertical-align:central; margin:0 auto}
.weather-table td{ border-bottom:#ccc 1px solid; padding:7px 10px; vertical-align:middle}
.weather-table col#wx-date-port{width:342px}
.weather-table col#wx-ave-temp {width:200px}
.weather-table col#wx-ave-rain {width:200px}
.wx-title{border-bottom:#ccc 1px solid; line-height:24px; font-weight:bold}

/* Popup/Lightbox Styles */
/*#popup-header{border-top:solid 12px #0d4f8e; margin:0 -25px; padding-bottom:15px}*/
#heading{background:#e5e5e5;  padding:5px 10px;  overflow:hidden; zoom:1}
#heading h1{color:#333; float:left}
#heading .list-box{float:left; margin-top:5px; font-size:11px; border:solid 1px #547aa7; padding:2px}
#javascript-disabled-warning{background:#F4F3CA; border:solid 2px #420F10; padding:5px; width:70%; margin:10px auto}
#javascript-disabled-warning strong{color:#990000}

/*princing details pop_up*/
#loading-pricing-details {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    font-size: 13.5px;
}
.pricing-note {
    color: #db0000;
    font-weight:700
}
.pax-pricing-opts {
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    table-layout: fixed;
    margin: 10px 0;
}
.pax-pricing-opts td, .pax-pricing-opts th {
    padding: 15px 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.pax-pricing-opts tr > td:first-child, .pax-pricing-opts tr > th:first-child {
    width: 200px;
    text-align: right;
}
.pax-pricing-opts th {
    color: #fff;
    background: #666;
}
.pax-pricing-opts tfoot td {
    font-weight: 400;
    text-align: center !important;
    background: #f1f1f1;
}
.pax-pricing-opts tfoot tr > td:first-child {
    width: auto;
}
.pax-pricing-opts .total-fare {
    font-size: 1.6923em;
    font-weight: bold;
}
/* Search Results Styles */
#search-filters{width:227px; float:left; margin:0 10px 15px 0; font-size: 13px;}
#main-content{width:723px; float:left; margin-bottom:15px}
#search-filters h3{background:#666; color:#fff; padding:3px 5px; font-size:1.1em; font-weight:200}
#search-filters h4{background:#d9d9d9; padding:5px; border-bottom:3px solid #CCC; font-size:13px; font-weight:200; zoom:1}
#search-filters h6{padding:5px 0 5px; font-weight:200}
#search-filters h5{padding:5px 0 2px}
#search-filters ul{padding:5px 10px; border-bottom:2px solid #666}
#search-filters .dates{background:#fff; overflow:hidden; padding:5px 0; border-bottom:2px solid #666}
#search-filters .dates dl{width:52px; float:left; padding:0 10px; border-left:solid 1px #ccc}
#search-filters .dates dl:first-child{border-left:none}
#search-filters .dates dt{text-align:center; font-weight:700; margin-bottom:5px}
#start-new-search{background:#f2f8fc; padding:10px}
#start-new-search a{background:url(/images/global/booking_engine_sprite.png) no-repeat left -87px; padding:3px 2px 6px 24px; display:inline-block}
#accomodation-box, #personal-pricing-box{padding:5px 10px; background:#fcfbec}
label{-moz-user-select:none; -webkit-user-select:none; user-select:none}
.show-all-button{
font-size:11px; 
background:#6e6f71; 
background:-moz-linear-gradient(top,#858789 0%,#6e6f71 74%,#666769 100%); 
background:-webkit-linear-gradient(top,#858789 0%,#6e6f71 74%,#666769 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#858789),color-stop(74%,#6e6f71),color-stop(100%,#666769)); 
color:#FFF; 
padding:2px 5px; 
font-weight:700; 
float:right; 
margin:-2px 0 0; 
cursor:pointer; 
 -moz-user-select:none; -webkit-user-select:none; user-select:none
}
*+html .show-all-button{margin-top:-15px}
.show-all-button.disabled{opacity:.4; filter:alpha(opacity=40); cursor:auto}
#compare-cruises-block{background:#f7f7f7; margin-top:10px}
#compare-cruises-block h5{background:#8ba9c8 url(/images/global/booking_engine_sprite.png) no-repeat 5px -361px; ; color:#fff; padding:5px 10px 5px 35px; font-size:1.1em}
#compare-cruises-block  ul{border-bottom:none}
#compare-cruises-block  li{border-bottom:solid 1px #ccc; padding:5px 24px 5px 5px; position:relative}
#compare-cruises-block  li img{position:absolute; right:2px; top:10px}
#compare-cruises-block p{padding:10px 30px; text-align:center; color:#000}
#compare-cruises{background:#e5e5e5; padding:10px; text-align:center; color:#fff}
.disabled{opacity:.35; filter:alpha(opacity=35); cursor:auto; text-decoration:none}
.breadcrumb-new{background:#f5f5f5 repeat-x; color:#666; font:11px Arial,Helvetica,sans-serif; height:22px; line-height:22px; margin:0 0 15px; overflow:hidden; padding:0; width:100%; clear:both}
.breadcrumb-new a{background:url(/images/global/breadcrumb_arrow.gif) no-repeat right; color:#0054a0; display:inline-block; outline:none; padding-right:20px; text-decoration:none}
.breadcrumb-new li{background:url(/images/global/breadcrumb_bg.gif) repeat-x; display:inline-block; float:left; list-style-type:none; padding-left:10px}
.breadcrumb-new li.current{background:none}
.breadcrumb-new li.prev-page{background:url(/images/global/breadcrumb_arrow_last.gif) no-repeat right}
#top-panel{background:#eaebec; padding:5px; border-bottom:solid 1px #8c8a8b}
#top-panel select{margin-right:10px; padding:1px 3px; width:180px}
#top-panel option{padding:2px}
#search-results{
background:url(/images/global/booking_engine_sprite.png) left -991px repeat-x #dbdbdb;
padding: 1px 10px}
.no-multiplebgs #search-results{background:#f5f5f5 url(/images/global/booking_engine_sprite.png) left -991px repeat-x}
.big-text{padding-top:3px; 
font-size:24px; 
font-weight:bold}
.count-days{width:50px; 
text-align:center; 
border-right:#dedede 1px solid; 
float:left; 
margin-right:10px}
.cruise-title-ships {
    float:left; 
    width:315px; 
    font-size: 13px;
    margin-right:5px;
}
#recently-viewed .cruise-title-ships {width: 270px;}
.results-node{
    background:#fff;
    border-radius:5px;
    border: solid 1px #252525;
    padding:7px 10px 0 10px;
    margin: 20px 0;
    page-break-inside: avoid;
}
.results-node a{color:#000}
.results-node h4 a{color:#0054a0}
.list-ports {
    font-size: 13px;
    padding-bottom:5px; 
    margin-bottom:5px; 
    border-bottom:#dedede 1px solid
}
.list-ports a {
    color: #0054A0;
    display: inline-block;
}
.oldie .list-ports a {
    display: inline;
    zoom: 1;
}
.list-ports .divider {
    font-weight: 700;
}
.depart-date {
margin:0 1px 2px; 
font-weight:700; 
color:#0054a0; 
background:#eee; 
background:-moz-linear-gradient(top,#e7e8e9 0%,#fff 100%); 
background:-webkit-linear-gradient(top,#e7e8e9 0%,#fff 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e7e8e9),color-stop(100%,#fff)); 
background:-ms-linear-gradient(top,#e7e8e9 0%,#fff 100%); 
border:1px solid #ccc; 
border-top-right-radius:5px;
width:17px;
height:20px;
font-size: 12px !important;
line-height:18px;
text-align:center;
vertical-align:middle;
display:inline-block;
}
.depart-date.inactive{color: #fff; background: #666; padding: 1px; width:15px; height:18px;}
.results-node .depart-date a{color:#0054a0; display:block; padding: 1px; width:15px; height:18px;}
.results-node .depart-date a:hover{color:#0054a0; background: #c1d1e2; text-decoration: none;}
.itinerary-summary{padding-bottom:5px; 
margin-bottom:5px; 
border-bottom:#dedede 1px solid}

.count-days h6{font-size:20px; font-weight:200}
.cruise-title-ships h4{color:#0054a0; font-weight:200; font-size:18px; line-height: 1.1; padding-bottom:2px; width:370px}
#recently-viewed .cruise-title-ships h4 {width: 270px;}
.cruise-dates{ position: relative; line-height:25px; overflow:hidden}
.cruise-dates  .year{color:#000; font-weight:700; margin:0 5px 5px 0; float:left; clear:left; font-size: 15px;}
.cruise-dates  .months{ float:left; width:90%; margin-bottom:5px; font-size: 13px;}
.cruise-dates  .month{margin-left:5px; font-weight:700; white-space:nowrap; display:block; float:left} /* IE8 and IE9 ignore white-space:no-wrap on inline elements. SO changed display to block */
/*apply changes to search results only. need to re-evaluate when DA changes are received
#search-results .cruise-dates .year {
    font-size: 15px;
}
#search-results .cruise-dates .months {
    font-size: 13px;
}
*/
.year-months {
    overflow: hidden;
    border-top: 1px solid #DEDEDE;
    padding-top: 5px;
}
.year-months:first-child {
    border-top: 0;
}
/*
.months + .year:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    clear: left;
}

h4::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #596b89;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#596b89), color-stop(25%,#596b89), color-stop(100%,#fff));
    background: -webkit-linear-gradient(left, #596b89 0%,#596b89 25%, #fff 100%);
    background: -moz-linear-gradient(left, #596b89 0%, #596b89 25%, #fff 100%);
    background: -ms-linear-gradient(left, #596b89 0%,#596b89 25%, #fff 100%);
    background: -o-linear-gradient(left, #596b89 0%,#596b89 25%, #fff 100%);
    background: linear-gradient(left, #596b89 0%,#596b89 25%, #fff 100%);
}
*/


.results-node small{font-style:italic; margin-top:-3px}
.itinerary-map-link{float:left}
.itinerary-summary-ports-dates{float:left; width:72%; margin-right:5px}
.pricing-details{float:right; width:27%; position:relative}
.pricing{width:165px; padding:5px; border:solid 1px #ccc; background:#fffeeb; text-align:right; font-size:12px; float:right}
.pricing .room-type{font-weight:700}
.pricing .amount{font-size:12px; font-weight:700; margin-left:3px}
.launch-fare{color:#333; margin-top:3px;}
.pax-3-4 { margin-top:4px; line-height: 14px;}
.onboard-credit{color:#608A2F;}
.your-fare{font-weight:700}
.your-fare > td {color: #bd0000;}
.pricing-details-table td.your-fare {color: #bd0000;}
.pricing-details-table td.your-fare:first-child {color: #000;}
.onboard-credit .amount{color:#608a2f}
.your-fare .amount{color:#bd0000}
.your-fare.no-savings .amount{color:#bd0000}
.strike-out{text-decoration:line-through}
.other-pricing-details{float:right; text-align:right; position:relative; width:185px; padding:5px 3px; font-size:11px}
#content .view-pricing-terms{position:absolute; bottom:10px; left:0; color:#0054a0; text-decoration:none}
#content .view-pricing-terms:hover{text-decoration:underline}
.fare-currency{font-size:1.1em; font-weight:700; color:#000;}
.taxes-and-fees {font-size: 12px; color: #000;}
#personal-pricing{float:left; margin-right:3px}
.select-room-type{padding-bottom:2px}
.select-room-type input[type="radio"] { margin-right: 2px; vertical-align:middle}
#view-myprincess{text-align:center}
#view-myprincess p{margin:10px 0 7px 0; font-size:13px; color:#000}
#view-myprincess a.button{
padding-left:25px; 
background:#0f5ea6 url(/images/global/booking_engine_sprite.png) no-repeat 5px -205px; 
background:url(/images/global/booking_engine_sprite.png) no-repeat 5px -205px,-moz-linear-gradient(top,#3779b5 0%,#0054a0 100%); 
background:url(/images/global/booking_engine_sprite.png) no-repeat 5px -205px,-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3779b5),color-stop(100%,#0054a0));
background:url(/images/global/booking_engine_sprite.png) no-repeat 5px -205px,-webkit-linear-gradient(top,#3779b5 0%,#0054a0 100%); 
}
.itinerary-summary p{margin-top:5px; width:490px}
/*apply changes to search results only. need to re-evaluate when DA changes are received*/
#search-results .itinerary-summary p { font-size: 13px; }
.results-node .button{color:#fff; float:right}
.results-node .show-all-staterooms {margin-top: 5px;}
html.ie7 .results-node .show-all-staterooms {width: 120px; text-align:center;}
.price-date-and-deals{float:right; width:177px;}
*+html .price-on-date{line-height:15px}
.price-date-and-deals div{float:right; }
.price-on-date{font-size:11px; font-weight:700; color:#fff; text-align:right; width:165px; padding: 2px 5px; margin: 0; border: 1px solid #ccc; border-bottom: none; background-color:#666;}
.onboard-credit-indicator{background:#608a2f; color:#fff; width:50px; text-align:center; font-size:11px; font-weight:700; line-height:13px; padding:3px; margin-bottom:3px; float:right; margin-left:5px;}
.onboard-credit-bug {width: 56px;}
.sale-promotion-bug, .save-on-air-bug {width: 50px;}
.price-date-and-deals  .onboard-credit-bug, .price-date-and-deals  .sale-promotion-bug, .price-date-and-deals .save-on-air-bug{margin: 0 0 5px 5px;}
.actions{margin:10px -10px 0;}
.cruisetours .actions{background:#eef2e5}
a.save-to-myprincess {
display:inline-block; 
color:#0054a0; 
text-decoration:none; 
border-right:solid 1px #ccc; 
padding:5px 12px 5px 21px; 
margin-left:12px; 
background:url(/images/global/booking_engine_sprite.png) no-repeat 3px 6px}
a.save-to-myprincess{background-position:left -204px; padding-left:21px}
a.view-additional-fares {
	display: block;
	padding: 7px;
	text-align:center;
	text-decoration:none; 
	color:#0054a0; 
	font-weight: 700;
	background:#e9f5fd;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px
}
a.view-additional-fares:hover {
	background:#f2f9ff;
}
.cruisetours a.view-additional-fares {
	background:#dfe6d4;
}
.cruisetours a.view-additional-fares:hover {
	background:#E6ECDD;
}
.additional-fares-icon {
	display: inline-block;
	width: 16px;
	height: 10px;
	margin: 0 5px -1px;
	background:url(/images/global/booking_engine_sprite.png) no-repeat 0 -48px;
}
a.remove-from-compare{background-position:left -491px; padding-left:21px; color:#666}
.continue-save-remove{text-align:center}
.continue-save-remove a{border:none}
a.add-to-compare{background-position:left -145px; padding-left:29px}
.pricing a{color:#0054a0}
.soldout{font-size:13px}
.learn-save .inactive, .actions .inactive, #social-sharing-slot .inactive{opacity:.4; filter:alpha(opacity=40); cursor:auto}
.total-search-results{font-weight:700; float:right; margin-right:10px; margin-top:3px}
*+html .total-search-results{margin-top:-23px}
div.total-search-results{text-align:center; margin:10px; float:none}
#show-more{margin:5px auto 15px auto; text-align:center}
#show-more .button{
color: #fff;
font-size:1.2em; 
font-weight: 700;
padding:5px 40px; 
background:#0054a0 url(/images/global/booking_engine_sprite.png) no-repeat 20px -696px; 
background:url(/images/global/booking_engine_sprite.png) no-repeat 20px -696px,url(/images/global/booking_engine_sprite.png) no-repeat right -696px,-moz-linear-gradient(top,#3779b5 0%,#0054a0 100%); 
background:url(/images/global/booking_engine_sprite.png) no-repeat 20px -696px,url(/images/global/booking_engine_sprite.png) no-repeat right -696px,-webkit-linear-gradient(top,#3779b5 0%,#0054a0 100%); 
background:url(/images/global/booking_engine_sprite.png) no-repeat 20px -696px,url(/images/global/booking_engine_sprite.png) no-repeat right -696px,-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3779b5),color-stop(100%,#0054a0))}

*+html .iefloatleft{float:left}
*+html .iefloatleft.excursion-options{ overflow:hidden}
.iefloatleft img{
    margin:3px 10px 5px 3px}

.room-type a{color:#333}
.pricing-expanded {
    background:#f2f9ff url(/images/global/pricing_expanded_bg-universal.png) repeat-x left top; 
    margin:0 -10px; 
    border-bottom-left-radius:5px; border-bottom-right-radius:5px; 
    padding:15px 10px 10px 10px; 
    overflow:hidden; 
    zoom:1
}
.cruisetours .pricing-expanded { background-color:#eef2e5 }
.day-date-ship-promo { text-align:right; font-size:12px; line-height:16px; margin-right:2px }
.day-date-ship-promo .date { font-weight:700; font-size: 13px }
.pricing-details-table td.launch-fare { margin:0; color:#333; font-size:.9em }

.pricing-details-table .fares{width:84px;}
.pricing-details-table .suite{width:84px;}
.pricing-details-table .mini-suite{width:84px;}
.ie7 .pricing-details-table .fares, .ie7 .pricing-details-table .suite, .ie7 .pricing-details-table .mini-suite{width:80px;}
.pricing-details-table .balcony{width:80px;}
.pricing-details-table .oceanview{width:76px;}
.pricing-details-table .interior{width:76px;}
.pricing-details-table .continue{width:79px;}
.pricing-details-table  .view-itin{width:80px}
.pricing-details-table .date-ship-promo{width:120px;}
html.ie7 .pricing-details-table .date-ship-promo {width:115px}
#compare-dates-fares .pricing-details-table .suite{border-left:solid 1px #ccc;border-right:solid 1px #ccc}
#compare-dates-fares .pricing-details-table .mini-suite{border-left:solid 1px #ccc;border-right:solid 1px #ccc}
#compare-dates-fares .pricing-details-table .balcony{border-left:solid 1px #ccc;border-right:solid 1px #ccc}
#compare-dates-fares .pricing-details-table .oceanview{border-left:solid 1px #ccc;border-right:solid 1px #ccc}
#compare-dates-fares .pricing-details-table .interior{border-left:solid 1px #ccc;border-right:solid 1px #ccc}

#tab-content .pricing-details-table.table-header{margin-left:0}
.table-header a{color:#0054a0}
.pricing-expanded .other-pricing-details{width:auto; font-size: 12px; color: #000;}
#content .pricing-expanded .view-pricing-terms{position:static;}
.pricing-expanded .taxes-and-fees {font-size: 13px; font-weight: 700; color: #000;}
.pricing-expanded .currency{font-weight:700}
.pricing-expanded .clear{height:10px}
.pricing-details-table td.soldout{font-weight:200; color:#666}
.day-date-ship-promo .sale-promotion-bug, .day-date-ship-promo .save-on-air-bug, .day-date-ship-promo .onboard-credit-bug {float: right; margin:3px 0;}
.day-date-ship-promo .sale-promotion-bug, .day-date-ship-promo .onboard-credit-bug {margin-left:3px;}
.onboard-credit td{color:#608A2F}
.onboard-credit td:first-child{font-size:11px}
.pricing-details-table .sale{color:#A41E22}
.pricing-details-table td.not-applicable{color:#666}
.pricing-details-table td.soldout-state{color:#666}
.pricing-details-table td.selected{background-color:#f1f8fc;}
.pricing-not-available{margin-bottom:15px;}
.pricing.pricing-not-available {color:#A41E22; font-size:12px; line-height:16px; text-align:left}
.pricing-not-available, .pricing-not-available td{color:#A41E22; line-height:1.4em}
.pricing-expanded .show-more{padding:5px 5px 5px 5px; font-size:13px; font-weight:700; text-align: center; color:#0054a0; zoom:1}
.show-more a{color:#0054a0; padding: 3px 0 3px 25px; background:url(/images/global/booking_engine_sprite.png) no-repeat left -623px;}
.next-departure-dates{display:none}
.pricing-expanded{display:none}
/*Ports Popup */
.lightbox #port-box{max-width:930px;}
.port-description h2{
clear:both; 
    color:#2E2E2E; 
    font-size:16px; 
    font-weight:700; 
    padding:5px 5px 10px 5px}
.lightbox .port-description p{padding:0 5px 7px 5px}
.lightbox  h3.poi-filter{font-size:14px; color:#444; padding:10px 5px 0}
.lightbox  .excursion-list{background:url(/images/global/excursion-top-bg.gif) repeat-x top; clear:both; width:100%; margin-top:11px; overflow:hidden}
.excursion-list { position:relative; }
.excursion-list h4{line-height:22px; padding-left:25px; position:relative; color:#444;  font-size:13px;  font-weight:700}
.excursion-list h4 img{margin-left:-25px; position:absolute}
.excursion-list li{margin-bottom:5px}
.excursion-list ul{float:left; list-style:none; margin:20px 10px 5px; width:455px}
.lightbox .excursion-list ul{float:left; list-style:none; margin:20px 2% 5px; width:45%}
.excursion-note{color:#999; font:11px Arial,Helvetica,sans-serif; padding:5px 0 0 10px}
.change-port{ margin:15px 0 15px 5px}
#port-box{
    background:url(/images/global/port_bg.gif) repeat-x scroll 0 0 transparent; 
    padding:5px 0}
.view-itinerary-popup-link{padding:5px; margin:0 10px; font-size:13px}

/* GFT Pricing */
.bundled-gft-banner {
	background: #fffdea;
	border: 1px solid #8b8b8b;
	font-size: 13px;
	padding: 5px 5px 6px;
	position: relative;
	margin: 30px 25px;
}
.bundled-gft-banner > .see-pay {
	float: left;
	margin: -6px 13px -6px -6px;
	position: relative;
}
.other-pricing-details > .see-pay {
	background: #f60;
	color: #fff;
	font-weight: 700;
	margin-right: 5px;
	padding: 2px 4px;
}

/* Save on Air */
.save-on-air-headline {
	background: url(/images/global/booking_engine_sprite.png) left -850px repeat-x #8d1820;
	background: -moz-linear-gradient(top,  #a51e22 0%, #a31e23 40%, #8c191c 60%, #89181e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a51e22), color-stop(40%,#a31e23), color-stop(60%,#8c191c), color-stop(100%,#89181e));
	background: -webkit-linear-gradient(top,  #a51e22 0%,#a31e23 40%,#8c191c 60%,#89181e 100%);
	background: -o-linear-gradient(top,  #a51e22 0%,#a31e23 40%,#8c191c 60%,#89181e 100%);
	background: -ms-linear-gradient(top,  #a51e22 0%,#a31e23 40%,#8c191c 60%,#89181e 100%);
	background: linear-gradient(to bottom,  #a51e22 0%,#a31e23 40%,#8c191c 60%,#89181e 100%);
	border: 1px solid #ccc;
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}
.save-on-air-headline a {
	color: #fff;
}
.save-on-air-headline .small {
	font-size: .85em;
}
#flights > .save-on-air-headline {
	font-size: 16px;
	margin-bottom: 15px;
	padding: 10px;
}
#flights > .save-on-air-headline .small {
	display: block;
	font-size: 11px;
	padding-top: 5px;
}
#flights-content > p, #flights-content > ul {
	line-height: 1.5;
	margin-bottom: 10px;
}
#flights-content > ul {
	list-style: disc;
	padding-left: 65px;
}
#flights-content input {
	margin: 0 .75em;
	padding: 6px 4px;
}
 
 /* =============================================================================
    Details & Availablity - Date / Price / Air / Room
    ========================================================================== */

#date-price-room-slot   {
    width:570px;
    float:left;
    margin:10px 12px 10px 0
}
#date-price-room-slot .itinerary-summary {
    padding-bottom:10px;
    border-bottom:solid 3px #ccc
}
#date-price-room-slot .cruise-title {
    font-size:20px;
    font-weight: 200;
    color:#000;
    padding-bottom:3px;
    width:auto;
    line-height:1.1em
}
#social-sharing-slot{width:180px; overflow:hidden}
#departure-date, #pax, #select-stateroom, #currency, #air-preference-slot{position:relative; padding-left:35px}
#date-pax-continue label, #select-stateroom label, #air-preference-slot  label{display:block; font-weight:700; color:#000; padding:6px 0}
#date-pax-continue select{margin-bottom:5px}
#date-pax-continue small{font-style:italic; display:inline-block; line-height:13px}
#date-pax{width:350px; float:left; border-right:solid 1px #ccc; padding:3px 10px 3px 5px; margin:5px 5px 5px 0}
.step-number{background:#404040; color:#fff; font-size:17px; font-weight:700; width:15px; text-align:center; padding:4px; border-radius:14px; position:absolute; top:3px; left:0}
#departure-date img{vertical-align:middle; margin-bottom:4px}
#departure-date select, #air-preference-slot select {width:315px}
#pax select{float:left; margin-right:10px}
#pax small{float:left; width:83%}
#pax {overflow:hidden}
#promo-slot{width:378px; height:232px; overflow:hidden; padding-top:10px}
#promo-slot img {max-width: 100%}

.voyage-help {width: 185px; float: right; font-size:14px; text-align: right;}
#voyage-number{font-size:16px; font-weight:700; color:#0054a0; padding:0 3px}
.ship-name{white-space:nowrap; display: inline-block;}
#email-cruise{background:url(/images/global/booking_engine_sprite.png) no-repeat left -746px; padding:3px 0 3px 18px; display:inline-block; text-align:right}
#save-cruise{background:url(/images/global/booking_engine_sprite.png) no-repeat left -796px; padding:3px 0 3px 18px; margin-right: 6px; display:inline-block; text-align:right}
#price-disclaimer .continue-btn, #select-stateroom .continue-btn {
    display:inline-block;
    font-size:16px; 
    font-weight:700; 
    padding: 10px 50px;
}
#select-stateroom .continue-btn {
    margin: 0;
}
#price-disclaimer .continue-btn {
    margin: 0 40px;
    float: right;
}
#select-stateroom{margin:0 5px 10px 5px; width:915px}
#select-stateroom .pricing-details-table {
    width: 880px;
}
#select-stateroom .pricing-details-table td {
    padding: 7px 12px;
}
#select-stateroom td.launch-fare, #select-stateroom .your-fare, #select-stateroom td.onboard-credit {
    text-align:right;
    font-size: 12px;
}
#select-stateroom .pricing-details-table .continue {
    width:175px;
}
#select-stateroom .other-pricing-details{
    float:none;
    text-align:left;
    position:relative;
    width:auto;
    padding:5px 0px;
    font-size:12px
}
#select-stateroom .other-pricing-details a {
    font-weight: 700;
    padding-right: 10px;
}
.pricing-details-table .selected {
    background: #f1f8fc;
}
#select-stateroom .stateroom-type label {
    display:inline-block
}
.stateroom-type .launch-fare, .stateroom-type .your-fare, .stateroom-type .onboard-credit{text-align:right; padding:0 4px 0 8px; float:left; width:80px}
.stateroom-type .your-fare{font-size:13px; font-weight:700; color:#000; padding-top:2px}
.stateroom-type .onboard-credit{font-size:11px; color:#608A2F; padding:3px 4px 0 8px}
.stateroom-type .amount{color:#000; font-size:13px; float:left; padding-top:2px}
.stateroom-type .amount.onboard-credit{color:#608A2F; padding:3px 0; font-size:13px; width:auto; font-weight:700}
.stateroom-type .amount.fare{font-weight:700}
.stateroom-type .soldout{padding:12px}
.view-pictures{margin-left:3px}
.stateroom-type .soldout-state a{color:#0054A0; display:inline-block}
input.soldout-state{visibility:hidden}
.stateroom-type.selected{
background:#eef6fb; 
background:-moz-linear-gradient(top,#f7fbfd 0%,#f3f9fc 85%,#e1ebf1 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7fbfd),color-stop(85%,#f3f9fc),color-stop(100%,#e1ebf1)); 
background:-webkit-linear-gradient(top,#f7fbfd 0%,#f3f9fc 85%,#e1ebf1 100%)}
.tax-fees-currency{
float:left; 
 margin-left:250px; 
 margin-top:-22px; 
color:#666}
*+html .tax-fees-currency{float:none; margin-top:-20px; margin-bottom:10px}
.tax-fees-currency .amount, .tax-fees-currency .currency{font-weight:700; color:#000}
/*div based select layout - end*/
.promo-icon-slot{clear:both; overflow:hidden}
#sign-in-continue a.save-to-myprincess{border:none; margin-left:3px}
#sign-in-continue #start-new-search{background:none; padding:0}
.stateroom-type.pricing-unavailable{width:96%;  color: #A41E22; line-height: 2.2em; min-height:25px; text-align:left; padding:5px 15px}
#compare-cruises-table{}
#compare-cruises-table td{padding:5px 10px; border-bottom:solid 1px #fff; vertical-align:middle}
#itinerary1, #itinerary2, #itinerary3{background:#f4f7f9}
#itinerary1, #itinerary2{border-right:solid 1px #ccc}
#itinerary-images-row td{background:#fff}
#labels{background:#efefef; width:130px}
#compare-cruises-table .count-days{width:40px; margin-top:4px}
#itinerary-summary td:first-child{background:#fff}
#itinerary-summary td{vertical-align:top}
#accom-personal-pricing-box small{margin-top:-5px; font-style:italic}

/* Overlay Style  */
#overlay-layer{background:#fff; opacity:0.8; filter:alpha(opacity=80); width:300px; height:300px; position:absolute; top:0; left:0; z-index:299; display:none; border:solid 1px #ccc}

#matching-itineraries-slider{
position:absolute; 
background-color:#fff; 
border:1px solid #666; 
line-height:1.3em; 
margin:10px auto; 
padding:10px; 
text-align:center; 
width:210px; 
border-radius:10px; 
-moz-box-shadow:0 0 5px #888888; 
-webkit-box-shadow:0 0 5px #888888; 
box-shadow:0 0 5px #888888; 
height:140px; 
top:-1000px; 
left:-1000px; 
z-index:320; 
display:none}
.pointer-arrow-border{
    border-color:transparent #666 transparent transparent; 
    border-style:solid; 
    border-width:17px; 
    bottom:65px; 
    height:0; 
    left:-34px; 
    position:absolute; 
    width:0}
.pointer-arrow{
    border-color:transparent #fff transparent transparent; 
    border-style:solid; 
    border-width:16px; 
    bottom:66px; 
    height:0; 
    left:-32px; 
    position:absolute; 
    width:0}
#no-of-matching-itineraries{
color:#FF6600; 
font-size:26px; 
padding:5px}
#matching-itineraries-slider h5{
padding:7px; 
font-size:18px; 
font-weight:200}
#matching-itineraries-slider .button{padding:8px 10px; margin:5px 0}
#cancel-changes{padding:5px 10px 5px 24px; background:url(/images/global/booking_engine_sprite.png) no-repeat left -489px; margin:5px; display:inline-block; line-height:20px}
#recently-viewed .itinerary-summary-ports-dates{width:100%; position:relative}
#recently-viewed .results-node{padding-bottom:10px; margin:8px 0}
#recently-viewed .itinerary-summary{min-height:55px}
#recently-viewed a.save-to-myprincess{border:none; padding:5px 0 5px 21px}
.learn-save{position:absolute; top:5px; right:0; width:160px; text-align:right}
.inactive:hover{text-decoration:none}
#popup-header .title{color:#8090B0; font-weight:700}
#popup-header .title span{color:#626162}
#popup-content{width:750px; padding:10px 20px;}
#compare-cruises-table .itinerary-row{vertical-align:top; background:#fff; padding:5px}
#compare-cruises-table td.label{background:#EFEFEF; vertical-align:top}
#compare-cruises-table{width:100%; table-layout:fixed}
#compare-cruises-table .itinerary-table{width:99%}
#compare-cruises-table .itinerary-table td{padding:5px; background:#e6ecf2; border-right:solid 5px #fff}
#compare-cruises-table .itinerary-table .at-sea td{background:#f3f5f8}
#compare-cruises-table .itinerary-table.cruisetour td{background:#dde5d1; vertical-align:top}
#compare-cruises-table li{margin:0 5px 5px 15px; list-style:disc}
#compare-cruises-table .ship-name{font-weight:700; text-decoration:underline; margin-bottom:10px}
sup{vertical-align:super; font-size:.8em}

#compare-cruises-table .launch-fare, #compare-cruises-table .your-fare, #compare-cruises-table .onboard-credit{
 float:left; 
 padding:0 4px 0 8px; 
 text-align:right; 
 width:88px}
#compare-cruises-table .launch-fare{font-size:11px; font-weight:700; color:#000}
#compare-cruises-table .your-fare{font-size:11px; font-weight:700; color:#000; padding-top:2px}
#compare-cruises-table .onboard-credit{font-size:11px; color:#608A2F; padding:3px 4px 0 9px; font-weight:700}
#compare-cruises-table .amount{color:#000; font-size:13px; float:left; padding-top:2px}
#compare-cruises-table .amount.onboard-credit{color:#608A2F; padding:3px 0; font-size:13px; width:auto; font-weight:700}
#compare-cruises-table .amount.onboard-credit.not-applicable{color:#666; font-weight:200}
#compare-cruises-table .amount.fare{font-weight:700; color:#A41E22}
#compare-cruises-table .soldout{padding:12px; text-align:center}
#compare-cruises-table .soldout-state{opacity:.4; filter:alpha(opacity=40);  display:inline-block}
.row-title{ font-size:11px;font-weight:700; text-align:right}
#compare-cruises-table td.price{background:#FFF; padding:5px; border-bottom:solid 1px #E2E2E2}
.price .promo-icon-slot{float:right; clear:none}
.price .promo-icon-slot img{margin-top:10px}
.pricing-slot{float:left}
.price .promo-icon-slot .onboard-credit-indicator{margin-top:10px}
.highlighted-text{font-weight:700; color:#000; font-size:1.1em}
.stateroom{text-align:right; font-size:1.1em; font-weight:700}
#air-preference-slot select{min-width:265px}
#search-results .pricing-details-table .highlighted-meta{background:#FFFEEB }
html.ie7 #compare-cruises-table{ background:#F4F7F9}
#add-another-cruise-to-compare {margin:50px 10px}
.pricing-details-table .day-date-ship-promo-cell {width:166px; color:#333 !important; background:#F1F1F2;border:solid 1px #ccc }
#search-results .pricing-details-table .day-date-ship-promo-cell {background:none; border:none}
#compare-dates-fares h3{
    background:#f1f1f2;
	color:#000;
	padding: 8px 17px;
	font-size:16px;
	font-weight:200;
	margin:0 -17px 10px -17px
}
.pricing-details-table .view-itin-cell{background:#F1F1F2;border-right:solid 1px #ccc}
html.ie7 .stateroom-type input{ vertical-align:middle}
html.ie7 .stateroom-type label{ vertical-align:middle}
#compare-dates-fares .pricing-details-table .highlighted-meta{background:#f1f8fc}
.pricing-unavailable { width:578px}
#search-results .pricing-unavailable { width:562px}
html.ie7 #search-results .pricing-unavailable { width:560px}
html.ie7 .pricing-unavailable { width:622px}
.itinerary-summary-ports-dates small a { color: #0054a0; }
.currency, .govt-tax-fees{ font-weight:700}
.govt-tax-fees{color: #ff6600; font-size: 12px;}
.port-land{ font-weight:700}
.list-ports p{ padding:5px 0}
.tooltip{
	position:absolute; 
	background-color:#fff; 
	border:1px solid #666; 
	line-height:1.3em; 
	padding:10px; 
	text-align:left; 
	-moz-box-shadow:0 0 5px #888888; 
	-webkit-box-shadow:0 0 5px #888888; 
	box-shadow:0 0 5px #888888; 
	min-height:70px; 
	min-width:120px; 
	top:-2000px; 
	left:-2000px; 
	z-index:318; 
	display:none;
}
.blue-tooltip{ border: solid 5px #0054a0; border-bottom:solid 10px #0054a0;}
.red-tooltip{ border: solid 5px #a41e22; border-bottom:solid 10px #a41e22;}
.tooltip .pointer-arrow{ bottom:-33px; left:auto; right:-5px !important; border-color:#0054a0 transparent transparent; border-width:12px; clip:rect(auto, auto, 12px, auto)}
.blue-tooltip .pointer-arrow{border-color:#0054a0 transparent transparent; }
.red-tooltip .pointer-arrow{border-color:#a41e22 transparent transparent; }
.tooltip h2{margin:-10px -10px 10px -10px; padding: 3px 10px 6px; font-size:22px; color:#fff;}
.blue-tooltip h2 {background:#0054a0}
.red-tooltip h2 {background:#a41e22}
.grey-tooltip{ border: solid 5px #58595b; border-bottom:solid 10px #58595b;}
.grey-tooltip .pointer-arrow{border-color:#58595b transparent transparent; }
.grey-tooltip h2 {background:#58595b}
.hover{ background:#F30}
#tooltip-content{overflow:hidden; font-size: 12px;}
#tooltip-content ul{ margin:3px; overflow:hidden}
#tooltip-content li{ list-style:disc; margin-left:14px}
.invisible-area { padding:14px; position:absolute; bottom:-25px; margin:0 -15px; width:100%}
#search-filters li, #search-filters dd{ clear:both; line-height:17px}
#search-filters #cruises input { float: left; margin-right:5px; }
.view-additional-options{display:inline-block; padding-top:3px;font-size:12px}
.pricing-details-table .onboard-credit-indicator{ width:88px; padding:3px 1px; margin-top:3px}
.results-node .pricing-details-table .button{ display:block; float:none; padding: 10px 13px;}
.display-none {display:none}
col.sold-out{ width:483px}
html.ie7 col.sold-out{ width:515px}
#search-results col.sold-out{ width:483px}
html.ie7 #search-results col.sold-out{ width:477px}

#diff-depart-date{background:url(/images/global/booking_engine_sprite.png) no-repeat left -770px; padding:3px 2px 7px 24px; display:inline-block}
.itinerary-summary .facebook-like-link {float: right; height: 24px; line-height: 24px; margin: 5px 0 0 21px; vertical-align: bottom; width: 112px; overflow:hidden}
#search-filters ul#sub-trade { border-bottom:none; padding:5px 17px}
#compare-cruises-table .ship-features td{ vertical-align:top}
.credit-currency{color:#608A2F;}
.tax-fees-currency .credit-currency .currency{ color:#608A2F}
.credit-currency td{color:#608A2F}
#warning { border:solid 1px #ccc; padding:15px; color:#A41E22}
#social-sharing-slot .facebook-like{ height:23px}
#accomodation-box select {
  vertical-align: middle;
}
#personal-pricing-box label{ float:left; margin:-2px 0 5px 2px; width:180px}
#personal-pricing-box a { color: #FF6600; }
#popup-header h1{ font-size:18px}
#search-filters #personal-pricing-box p { padding:4px 0 3px 18px}
.oldie #search-filters #personal-pricing-box p { padding-left:22px}
#container small + .clear{ height:10px}

/* 
 * Social Sharing, Cruised w/Princess & Sign In Continue Block 
 */
 #sign-in-continue {
    float:left; 
    width: 185px;
    padding:15px 5px
}
 
/* Sign In / Sign Out Block */
#signin-signout-block {
	/*
    display:inline;
    color:#FF6600;
    */
	padding:5px 0 5px;
	line-height:18px;
}
.ie7 #signin-signout-block {
    padding-top:5px
}
.ie9 #signin-signout-block, .ie8 #signin-signout-block {
    padding-left:2px
}
#signin-signout-block a { 
    color:#FF6600; 
    font-weight:700
}
#signin-signout-block img { 
    vertical-align: top; 
    margin-right: 2px; 
    margin-top: -1px
}
.ie7 #signin-signout-block img { 
    margin-top:-2px
}
.lower-fares { 
    font-weight:200;
}
/* Mods for search cruises */
.searchlight-simple #signin-signout-block { 
    display:inline-block;
    padding-left: 15px;
}
.ie7 .searchlight-simple #signin-signout-block { 
    padding-bottom: 0;
    display:inline;
    zoom: 1;
}

/* Cruises w/Princess */
.cruised-with-princess-block { 
    margin:10px 0 5px;
    font-size:12px
}
.cruised-with-princess-block a { 
    color:#f60; 
    font-weight:200; 
}
#sign-in-continue .cruised-with-princess-block label { 
    display:inline; 
    padding: 0
}
#cruised-with-princess { 
    margin-left: 0;
}
/*

.oldie #cruised-with-princess { 
    margin-right:0;
}
.ie9 #cruised-with-princess { 
    margin-right:0;
}
.ie7 #sign-in-continue .cruised-with-princess-block label, .ie8 #sign-in-continue .cruised-with-princess-block label, .ie9 #sign-in-continue .cruised-with-princess-block label { 
    margin-top:2px
}
.oldie #signin-signout-block, .ie9 #signin-signout-block{ 
    padding-left:5px
}


.searchlight-simple .cruised-with-princess-block input{ 
    vertical-align:middle
}
*/


.sep{ padding:0 7px; line-height:20px}