/* Carousel Menu */
.carousel-menu, #mobile-content {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.carousel-menu {
	margin-top:0;
	position:relative;
}
.destinations-landing .carousel-menu {
	margin-top:20px;
}
.carousel-menu-ul {
	float:left;
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	transition:left ease .5s;
}
.carousel-menu-ul, .swipe-area, .l-fade, .r-fade, .carousel-bg {
	height:45px;
}
.carousel-bg {
	width:100%;
	background:#007BA3;
}
.carousel-menu-arrow {
	content:'';
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 13px solid #007ba3;
	position:absolute;
	left:50%;
	margin-left:-12px;
	z-index:999;
}
.carousel-menu-ul li {
	background:#007BA3;
	display:inline-block;
	float:left;
	line-height:45px;
	min-width:110px;
	margin:0;
	text-align:center;
}
.carousel-menu-ul li a {
	color:#FFF;
	outline:none;
	text-decoration:none;
}
.carousel-menu-ul li + li {
	/*border-left:#006c8f solid 1px;*/
}
.swipe-area {
	/*height:100%;*/
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:999;
}
.l-fade, .r-fade{
	position:absolute;
	top:0;
	/*height:100%;*/
	width:40%;
	z-index:2;
}
.l-fade{
	left:0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2JhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDdiYTMiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(0,123,163,1) 20%, rgba(0,123,163,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(20%,rgba(0,123,163,1)), color-stop(100%,rgba(0,123,163,0)));
	background: -webkit-linear-gradient(left, rgba(0,123,163,1) 20%,rgba(0,123,163,0) 100%);
	background: -o-linear-gradient(left, rgba(0,123,163,1) 20%,rgba(0,123,163,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,123,163,1) 20%,rgba(0,123,163,0) 100%);
	background: linear-gradient(to right, rgba(0,123,163,1) 20%,rgba(0,123,163,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ba3', endColorstr='#00007ba3',GradientType=1 );
}
.l-fade:after {
	left:0;
	top: 50%; 
	border: solid transparent; 
	content: ""; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(255, 255, 255, 0); 
	border-right-color: #ffffff; 
	border-width: 10px; 
	margin-top: -10px;
}
.r-fade{
	right:0;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2JhMyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDdiYTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(0,123,163,0) 0%, rgba(0,123,163,1) 80%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,123,163,0)), color-stop(80%,rgba(0,123,163,1)));
	background: -webkit-linear-gradient(left,  rgba(0,123,163,0) 0%,rgba(0,123,163,1) 80%);
	background: -o-linear-gradient(left,  rgba(0,123,163,0) 0%,rgba(0,123,163,1) 80%);
	background: -ms-linear-gradient(left,  rgba(0,123,163,0) 0%,rgba(0,123,163,1) 80%);
	background: linear-gradient(to right,  rgba(0,123,163,0) 0%,rgba(0,123,163,1) 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00007ba3', endColorstr='#007ba3',GradientType=1 );
}
.r-fade:after {
	right: 0; 
	top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(255, 255, 255, 0); 
	border-left-color: #ffffff; 
	border-width: 10px; 
	margin-top: -10px;
}
.ie9 .l-fade, .ie9 .r-fade {
	filter: none;
}
