@charset "utf-8";
/*
 *  Princess Cruises CMS Styles
 *
 *  The purpose of this file is to house styles which are repeated throughout the CMS but not necessarily throughout the rest of princess.com
 */ 


/*
 * Breadcrumbs 
 */
.breadcrumb-nav {
	background: rgba(225,225,225,.9);
	margin: 0 auto -28px;
	padding: 5px 15px;
	position: relative;
	max-width: 768px;
	z-index: 101;
}
.no-rgba .breadcrumb-nav {
	background: #e1e1e1;
}
.breadcrumb-item {
	display: inline-block;
	font-size: 13px;
	position: relative;
}
.breadcrumb-item + .breadcrumb-item:before {
	background: url("/images/global/sprite_pc-icons.png") no-repeat scroll -107px -42px;
	content: '';
	display: inline-block;
	height: 14px;
	margin: 0 10px;
	position: relative;
	top: 3px;
	width: 8px;
}
@media screen and (min-width: 768px) {
	.breadcrumb-nav + .cms-bg > #content.small-spacing {
		margin-top: 60px; /* 30px accounts for the breadcrumbs, the other 30px is for the spacing */
	}
}
@media screen and (min-width: 770px) {
	.breadcrumb-nav {
		-webkit-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
	}
}
@media screen and (min-width: 798px) and (max-width: 1020px) {
	.breadcrumb-nav {
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media screen and (min-width: 798px) {
	.breadcrumb-nav {
		max-width: 990px;
	}
}


/*
 * Play Button Overlay
 */
.play-btn {
	color: #fff;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	margin-left: -40px;
	margin-top: -30px;
}
.play-btn .play-icon {
	background: black;
	border: 1px solid #fff;
	border-radius: 30px;
	display: block;
	height: 60px;
	margin: 0 auto .25em;
	position: relative;
	text-indent: -999em;
	width: 60px;
	opacity: .4;
}
.play-btn .play-icon:before {
	border: 16px solid transparent;	
	border-left-color: #fff;
	content: ' ';
	font-size: 0;
	height: 0;
	left: 26px;
	line-height: 0;
	position: absolute;
	width: 0;
	top: 14px;
}
.play-label {
	display: none;
}
.bg-slideshow-item .play-label {
	display: inline-block;
}
a:hover .play-btn {
	text-decoration: underline;
}
a:hover .play-btn .play-icon {
	opacity: .8;
}
@media screen and (min-width: 480px) {
	.play-btn {
		margin-top: -40px;
	}
	.play-btn .play-icon {
		border-radius: 40px;
		height: 80px;
		width: 80px;
	}
	.play-btn .play-icon:before {
		border-width: 20px;	
		left: 35px;
		top: 20px;
	}
}


/*
 * Sticky bar
 */
.sticky-wrapper {
	margin: 15px 0;
}
.sticky-wrapper:first-child {
	margin-top: 0;
}
.sticky-bar {
	background: #e6e6e6;
	font-size: 1.38462em;
	margin: 0 auto;
	padding: .5em 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 900;
}
.sticky-bar > .button {
	margin: .5em 1em;
}
.sticky-bar > .special-offers-click, .sticky-bar > .special-offers-click + .button {
	visibility: hidden;
}
.full-width .sticky-wrapper > .sticky-bar:before {
	background: #e6e6e6;
	content: ""; 
	display: block;
	bottom: 0;
	left: 0;
	position: absolute; 
	right: 0;
	top: 0; 
	z-index: -1;
}
@media screen and (min-width: 61.875em) {
	.full-width .sticky-wrapper > .sticky-bar:before {
		left: 50%;
		margin-left: -50%; /* for browsers that don't support calc, we're setting the margin-left to -50% to offset the left position */
		margin-left: calc(-100vw / 2);
		max-width: 1700px;
		width: 100vw;
	}
}
@media screen and (min-width: 106.25em) {
	.full-width .sticky-wrapper > .sticky-bar:before {
		margin-left: -850px;
	}
}
@media screen and (min-width: 48em) {
	.sticky-bar.fixed {
		-webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3);
		-moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3);
		box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3); 
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		max-width: 990px;
	}
	.full-width .sticky-wrapper > .sticky-bar.fixed {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; 
	}
	.full-width .sticky-wrapper > .fixed:before {
		-webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3);
		-moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3);
		box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3); 
	}
	.mfp-wrap + #container .sticky-bar.fixed {
		right: 16px;
	}
	.sticky-bar.stop {
		position: absolute;
		bottom: 0;
		top: auto;
	}
}
/* Custom variation for Excursion Sticky Bar */
.excursion-bar {
	font-size: 1em;
}
.excursion-bar .form-field > select {
	width: 100%;
}
.excursion-bar .already-booked, .excursion-bar .already-booked-link {
	display: block;
	padding-bottom: 5px;
	float: left;
}
.excursion-bar .already-booked {
	margin-right: 1em;
}
@media (min-width: 640px) and (max-width: 767px) {
	.excursion-bar .col-xs-12 + .row {
		clear: left;
	}
}



/*
 * Background Slideshow
 */
.bg-slideshow-container {
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.bg-slideshow-container img {
	margin-left: -28.5083%;
	width: 157.01668%;
}
.full-width .bg-slideshow-container .slide-img {
	width: 100%;
}
.full-width .bg-slideshow-container .slide-img > img {
	margin-left: 0;
	width: 100%;
}
.slideshow {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
}
.slideshow img {
	width: 100%;
	border: 1px solid #999999;
}
@media screen and (min-width: 768px) {
	.full-width .bg-slideshow-container .slide-img > img {
		margin-left: 0;
		width: 100%;
	}
}
@media screen and (min-width: 1020px) {
	.bg-slideshow-container {
		height: 650px;
		left: 50%;
		margin-left: -800px;
		width: 1600px;
	}
	.full-width .bg-slideshow-container {
		height: auto;
		left: auto;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.bg-slideshow-container img, .bg-slideshow-container .slide-img > img {
		margin-left: 0;
		width: auto;
	}
	.full-width .bg-slideshow-container .slide-img > img {
		width: 100%;
	}
}
.bg-slideshow-row {
	position: relative;
	margin: 0 auto;
}
.bg-slideshow-row.not-ready, .slideshow-row.not-ready {
	background: url(/images/global/ajax_loader.gif) no-repeat center center;
}
.bg-slideshow-row.not-ready > .bg-slideshow-controls, .bg-slideshow-row.not-ready > .bg-slideshow-nav, 
.slideshow-row.not-ready > .slideshow-controls, .slideshow-row.not-ready > .slideshow-nav {
	display: none;
}
.bg-slideshow, .slideshow {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.bg-slideshow-item, .slideshow-item {
	overflow: hidden;
	position: relative;
	padding: 0;
	text-align: center;
	width: 100%;
}
.bg-slideshow-item > a {
	display: block;
	left: 15px;
	right: 15px;
	height: 54%;
	position: absolute;
	z-index: 10;
}
@media screen and (min-width: 768px) {
	.bg-slideshow-item > a {
		top: 30px;
	}
}
@media screen and (min-width: 860px) {
	.bg-slideshow-item > a {
		height: 300px;
	}
}
@media screen and (min-width: 1020px) {
	.bg-slideshow-item > a {
		max-width: 990px;
		width: 100%;
		left: 50%;
		margin-left: -495px;
		right: auto;
	}
}
.full-width .bg-slideshow-item > .slide-link, .full-width .bg-slideshow-item > a {
	background: #fff;
	bottom: 0;
	height: 100%;
	left: 0;
	max-width: 990px;
	margin: 0 auto;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}


/* SlideshowNav Styles - "The dots" */
.bg-slideshow-nav {
	left: 50%;
	margin-left: -100px;
	position: absolute;
	top: 42%;
	text-align: center;
	width: 200px;
	z-index: 100;
}
@media (min-width: 360px) {
	.bg-slideshow-nav {
		top: 44%;
	}
}
@media (min-width: 480px) {
	.bg-slideshow-nav {
		top: 46%;
	}
}
@media (min-width: 568px) {
	.bg-slideshow-nav {
		top: 50%;
	}
}
@media screen and (min-width: 48em) {
	.bg-slideshow-nav {
		display: none;
	}
}
.full-width .bg-slideshow-nav {
	bottom: 15px;
	top: auto;
}
@media screen and (min-width:60em) {
	.full-width .bg-slideshow-nav {
		bottom: auto;
		top: 72.5%;
	}
}
.bg-slideshow-nav a {
	text-shadow: 2px 2px 4px #111;
	text-shadow: 2px 2px 4px rgba(0,0,0,.4);
	color: #464646;
	display: inline-block;
	font-size: 2em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: .6;
	outline: none;
	text-decoration: none;
	-webkit-text-stroke: 1px;
}
.bg-slideshow-nav a + a {
	margin-left: 10px;
}
.bg-slideshow-nav a:focus {
	outline: none;
}
.bg-slideshow-nav a:hover {
	color: #aaa;
	opacity: .5;
}
.bg-slideshow-nav a.activeSlide, .bg-slideshow-nav .cycle-pager-active {
	color: #fff;
	opacity: 1;
}
.bg-slideshow-nav a::-moz-focus-inner {
	border: 0;
}

@media screen and (min-width:640px) {
	/* Slideshow */
	.bg-slideshow-nav a {
		font-size: 2.5em;
	}
}
@media screen and (min-width: 860px) {
	.bg-slideshow-nav {
		top: 285px;
	}
}
.slideshow-thumb-nav img, .video-thumb-link {
	cursor: pointer;
}
.slideshow-thumb-nav img, .video-thumb-link img{
	border: 2px solid #999999;
}
.cycle-pager-active img, .video-thumb.active img {
	border: 2px solid #f05a28;	
}
.slideshow-caption {
	z-index: 200;
}

/* Duplicate Styles need to clean up */
.bg-slideshow-controls, .slideshow-controls, .video-controls {
	background: rgba(0,84,160,.3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA0054a0', endColorstr='#AA0054a0');
	border: 0;
	cursor: pointer;
	display: block;
	height: 64px;
	margin-top: -32px;
	padding: 5px;
	position: absolute;
	top: 27%;
	width: 29px;
	z-index: 150;
}
.bg-slideshow-controls:hover, .slideshow-controls:hover, .slideshow-controls:hover  {
	background: rgba(66,114,158,.4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA42729e', endColorstr='#AA42729e');
}
.bg-slideshow-prev {
	left: 15px;
}
.bg-slideshow-next {
	right: 15px;
}
.slideshow-prev, .video-prev {
	left: -44px;
}
.slideshow-next, .video-next {
	right: -44px;
}
.bg-slideshow-controls .arrow, .slideshow-controls .arrow, .video-controls .arrow {
	background-image: url(/images/home/arrows.png);
	height: 100%;
	width: 100%;
	margin: 0;
}
.bg-slideshow-prev .arrow, .slideshow-prev .arrow, .video-prev .arrow {
	background-position: top left;
}
.bg-slideshow-next .arrow, .slideshow-next .arrow, .video-next .arrow {
	background-position: top right;
}
@media screen and (max-width: 767px) {
	.bg-slideshow-controls, .slideshow-controls, .video-controls {
		display: none;
	}

}
@media screen and (min-width: 768px) {
	.bg-slideshow-controls {
		top: 32.5%;
	}
	.slideshow-controls, .video-controls {
		display: block;
		top: 50%;
	}
}
@media screen and (min-width: 860px) {
	.bg-slideshow-controls {
		top: 180px;
	}
}
@media screen and (min-width: 990px) {
	.bg-slideshow-prev {
		left: 50%;
		margin-left: -470px
	}
	.full-width .bg-slideshow-prev {
		left: 5%;
		margin-left: 0;
	}
	.bg-slideshow-next {
		right: 50%;
		margin-right: -470px
	}
	.full-width .bg-slideshow-next {
		right: 5%;
		margin-right: 0;
	}
}
.full-width .bg-slideshow-controls {
		top: 49%;
}
@media screen and (min-width: 60em) {
	.full-width .bg-slideshow-controls {
			top: 41%;
	}
}


/*
 * Quote
 */
.quote {
	margin: 1em 0;
	padding: 20px 15px 25px;
}
.quote > .line1, .quote > .line2 {
	display: block;
}
.quote > .line1 {
	font-size: 1.53846em;
}
@media (min-width: 640px) {
	.quote > .line1 {
		font-size: 1.92307em;
	}
}


/*
 * Text & Image Rows
 */
.row-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}
.row-divider:first-child {
	padding-top: 0;
}
.row-divider:last-child {
	padding-bottom: 0;
}
.row-divider + .row-divider, .row-divider + script + .row-divider {
	border-top: 1px solid #d0d1d2;
}
@media (max-width: 640px) {
	/* for small screens, add extra spacing between each img-text row */
	.img-txt-row {
		padding-bottom: 15px;
	}
	.img-txt-row:last-child {
		padding-bottom: 0;
	}
	.img-txt-row + .img-txt-row {
		padding-top: 15px;
	}
}

@media (min-width: 640px) and (max-width: 900px) {
	/* turn on row dividers for all versions of img-text rows for medium sized screens */
	.img-txt-row {
		padding-bottom: 15px;
	}
	.img-txt-row:last-child {
		padding-bottom: 0;
	}
	.img-txt-row + .img-txt-row {
		border-top: 1px solid #d0d1d2;
		padding-top: 15px;
	}
}


/*
 * Floating Cards
 */
.article-container > .floating-cards:first-child {
	margin-top: -15px;
}
.floating-cards {
	background: #e1e1e1;
}
.floating-cards.white-bg {
	background: #fff;
}
.floating-cards .card {
	background: #fff;
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: 0 9px 10px rgba(0,0,0,.3);
	box-shadow: 0 9px 10px rgba(0,0,0,.3);
	width: 100%;
}
.floating-cards .card-col + .card-col > .card {
	border-top: 1px solid #ccc;
}
@media screen and (min-width: 640px) {
	.floating-cards .card {
		border: 1px solid #ccc;
	}
}
.floating-cards .card-buttons {
	text-align:center;
}
.floating-cards .card-buttons > .button {
	margin: 0 .25em;
	min-width: 155px;
	text-align: center;
}
.floating-cards .card-buttons > .button + .button {
	margin-top: .5em;
}


/*
 * Image Grid
 */
.img-grid {
	background: #e1e1e1;
	position: relative;
}
.img-grid-title {
	background: rgba(16, 44, 77, 0.9);
	color: #fff;
	margin: 0;
	padding: .25em 1.25em;
	position: relative;
	text-align: center;
	width: 100%;
}
.no-rgba .img-grid-title {
	background: #102c4d;
}
.img-grid a {
	display: block;
	height: 100%;
	width: 100%;
}
.img-floating-caption {
	transition: padding .5s ease;
}
.img-grid a:hover > .img-floating-caption {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}
.img-grid .img-floating-caption {
	bottom: 0;
	position: absolute;
}


/*
 * Call To Action for Get Brochures & Signup for Special Offers
 */
@media screen and (min-width: 798px) and (max-width: 1020px) {
	.cta-bar {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.cta-bar .cta-get-brochure {
	display: block;
	margin: 0 auto;
	max-width: 330px;
}
.cta-bar .cta-get-brochure > img {
	float: left;
	margin-right: .25em;
}
.cta-bar .cta-get-brochure > .line {
	display: block;
}
.cta-bar .cta-get-brochure > img + .line {
	margin-top: .5em;
}
@media screen and (min-width: 768px) {
	.cta-bar .cta-special-offers {
		border-left: 2px solid #898989;
	}
}


/*
 * Floating image caption position at bottom of image with 
 */
.img-floating-caption {
	background: rgba(0, 0, 0, 0.75);
	display: block;
	color: #fff;
	padding: .75em 1.25em;
	text-align: center;
	width: 100%;
}
.img-floating-caption.white {
	background: rgba(255, 255, 255, 0.75);
	color: #000;
}
.no-rgba .img-floating-caption {
	background: #000;
}
.no-rgba .img-floating-caption.white {
	background: #fff;
}
@media screen and (min-width: 640px) {
	.img-floating-caption {
		bottom: 0;
		position: absolute;
	}
}


/*
 * ie8 work around to accommodate media queries
 */
.lt-ie9 .col-xs-12.float-right {
	float: right !important;
}


/*
 * LI separated by rules
 */
.horiz-li-divider li {
	padding: .25em 0;
}
.horiz-li-divider li + li {
	border-top: 1px solid #ccc;
}


/*
 * Droptab placement
 */
.drop-tab-wrapper {
	margin: 15px 0 -15px;
}
.drop-tab-wrapper.not-ready {
	height: 40px;
	overflow: hidden;
	visibility: invisible;
}


/*
 * Site Search in Article Header & Article Aside
 */
.article-header .site-search {
	margin: 0 auto -10px;
	position: relative;
	max-width: 640px;
}
.article-aside .site-search {
	position: relative;
}
.article-aside .site-search-field {
	padding-right: .76922307em;
}
.article-header .site-search-field > input, .article-aside .site-search-field > input {
	padding: 6px 32px 6px 6px;
	width: 100%;
}
.article-header .site-search-btn, .article-aside .site-search-btn {
	border: 4px solid transparent;
	position: absolute;
	right: -4px;
	top: 16px;
	width: 29px;
	height: 30px;
}
.article-aside .site-search-btn {
	right: 0.92307692307692em;
}

/*
 * Anchor Scroll
 */
.anchor-scroll-field label {
	vertical-align: middle;
}
.anchor-scroll-label {
	margin-right: .5em;
}
.anchor-scroll-field .anchor-scroll {
	max-width: 100%;
}

/*
 * Info Bar at top of page
 */
.info-bar-wrapper {
    background: #333;
    position: relative;
    width: 100%;
    z-index: 200;
}
.info-bar {
    color: #e6e6e6;
    display: block;
    font-size: 1.076923076923077em; /* 14px */
    padding: .5em 1em .5em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.info-bar:hover {
    text-decoration: underline;
}
.info-bar-wrapper.lto-promo {
	background: #c60006;
}
.info-bar-wrapper.lto-promo .info-bar {
	color: #fff;
}
@media (min-width: 480px) {
	.info-bar {
		font-size: 1.230769230769231em; /* 16px */
	}
}
@media (min-width: 60em) {
	.info-bar {
		font-size: 1.384615384615385em; /* 18px */
	}
}

/*
 * Site Survey
 */
.loading > img {
	vertical-align: middle;
}
.survey-fieldset .survey-question {
	display: block;
	float: left;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}
.survey-fieldset .survey-question + .form-field, .survey-fieldset .survey-question + .star-rating-wrapper {
	clear: left;
}
.star-rating-wrapper {
	margin: 0 auto;
	width: 15em;	
}
.star-field {
	display: block;
	float: left;
}
.star-field > input {
	position: absolute;
	left: -999em;
	clip:rect(0,0,0,0);
}
.star-field > label {
    width: 3em;
    padding: 0 .25em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1.2;
}
.star-field > label:before {
    content: '★ ';
    font-size: 3em;
}
.star-field.gold > label {
	color: gold;
	text-shadow: 1px 1px gold, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.star-field.hover > label  {
	color: #0054A0;
	text-shadow: 1px 1px #0054A0, 2px 2px #333, .1em .1em .2em rgba(0,0,0,.5);
}
.star-field > label, .star-field.no-hover > label {
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}