body {
	overflow:hidden;
}
body, #container {
	background:#0D2F56;
}
#content {
	background:none;
}
.popupContent-destinations {
	margin:0 !important;
	padding-bottom:15px;
}
.destinations-img {
	position:relative;
}
.destinations-img img {
	display:block;
	position:relative;
	width:100%;
}
.destinations-img img, #gallery-group-video img, #gallery-group img, #video-pager img {
	border:#999 1px solid;
	display:block;
	height:auto;
	width:100%;
}
#gallery-group img {
	cursor:pointer;
}
.img-caption {
	background:rgba(0,0,0,.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA000000', endColorstr='#AA000000');
	bottom:0;
	/*display:none;*/
	left:0;
	padding:.5em 0;
	position:absolute;
	right:0;
	transition:all .25s;
	width:100%;
	z-index:999;
}
.destinations-landing {
	/*min-height:650px;*/
	pointer-events:none;
	position:relative;
	z-index:10;
}
#princess-footer {
	margin-top:0;
}
#fbPrLikeWidget {
	display:inline-block;
	margin:0 0 0 20px !important;
	min-width:140px;
	position:relative;
	z-index:99999;
}
#popupContainer #fbPrLikeWidget {
	display:block;
	height:36px;
	margin:0 !important;
	padding:10px;
	position:relative;
}
#popupContainer #fbPrLikeWidget > div {
	max-width:145px;
	position:absolute;
	right:15px;
}

/* Heading */
h1.header-holder  {
	background:rgba(255,255,255,.8);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');
	font-size:13px;
	margin:45% 0 0 0;
	padding:15px 5px 35px 10px; 
	text-align:left;
}
h1.header-holder .line1 {
	font-size: 2.153846153846154em;		/*28px*/
	line-height:1.2em;
}
h1.header-holder .line2 {
	display:block;
	font-size: 1.153846153846154em;		/*15px*/
	line-height:1.3em;
	padding:0 5px;
}
h1.header-holder .line2, .cruise-tabs-body h3 .sub {
	font-family:'Gotham SSm 4r', Arial, Helvetica, sans-serif;
	letter-spacing:0;
	text-transform:none;
}
h1.header-holder .sub {
	display:block;
	font-size:.9em;	
}
.tighter-text {
	letter-spacing:-.025em;
}
.looser-text {
	letter-spacing:.025em;
}
div.availability, h3.cruisetour-types {
	margin:0 0 15px 0;
	padding:0;
}
div.availability {
	font-size:1.15384em;
}
h3.cruisetour-types {
	font-size: 1.30769em;
}
.location {
	font-size:4em;
	padding:0;
	line-height:1em;
	margin:2em 0 0 0;
	position:static;
	left:50%;
	top:0;
	text-shadow: 0px 2px 5px rgba(0,0,0,.5);
	width:100%;
}
.cruise-tabs {
	margin: 10px 0 25px 0;
	padding: 0;
	text-align:center;
}
.cruise-tabs li { 
	display:block;
	zoom:1; 
	border: none; 
}
.cruise-tabs li.active {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMjYzNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzFhMjYzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTI2MzUiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(26,38,53,0) 0%, rgba(26,38,53,1) 50%, rgba(26,38,53,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(26,38,53,0)), color-stop(50%,rgba(26,38,53,1)), color-stop(100%,rgba(26,38,53,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(26,38,53,0) 0%,rgba(26,38,53,1) 50%,rgba(26,38,53,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(26,38,53,0) 0%,rgba(26,38,53,1) 50%,rgba(26,38,53,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(26,38,53,0) 0%,rgba(26,38,53,1) 50%,rgba(26,38,53,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(26,38,53,0) 0%,rgba(26,38,53,1) 50%,rgba(26,38,53,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a2635', endColorstr='#001a2635',GradientType=1 ); /* IE6-8 */
}
.cruise-tabs li a { 
	color: #007BA3;
	display: block; 
	padding: 5px 0; 
	outline: none;
	text-align:center;
	text-decoration:none;
}
.cruise-tabs li a.active { 
	color: #1c86a8;
}
.cruise-tabs-inner p {
	margin-top:.5em;
}
.cruise-tabs-inner .col1 {
	padding:0;
}
.cruise-tabs-inner a h3 {
	color:#0054A0;
}
.bullets {
	padding:0;
}
.list-header {
	line-height:1em;
	margin:1em 0;
}
.cruise-tabs-body {
	background:#FFF;
}
.cruise-tabs-body + .cruise-tabs-body {
	margin-top:15px;
}
.panel-container .cruise-tabs-body h3 {
	font-size: 1.769230769230769em;
	line-height:1em;
	margin:0;
	padding:12px 0;
}
.cruise-tabs-body h3 .sub {
	display:block;
	font-size:15px;
}
.cruise-tabs-body img, .panel-container.promo img {
	display:block;
	width:100%;
}
.cruise-tabs-body img {
	border:#999 solid 1px;
}
.cruise-tabs-body {
	text-align:center;
	margin-bottom:15px;
}
.cruise-tabs-inner {
	padding-bottom:30px;
}
.cruise-tabs-inner > p {
	margin-top:10px 0;
	line-height:1em;
}
.cruise-tabs-body .list-header {
	font-size:1.25em;
}
.cruise-tabs-body ul {
	margin:0;
	padding:0;
}
.cruise-tabs-body li {
	border-bottom:#CCC solid 1px;
	list-style:none;
	margin:0;
	padding:6px 0;
}
.cruise-tabs-body .button, .promo-inner .button {
	font-size:1.38461em;
	font-weight:400;
	margin:20px auto 0;
	min-width:200px;
}
.cruise-tabs-body .button + .button {
	margin-top:.5em;
}
.promo-inner {
	background:#FFF;
	margin:15px 0;
	padding-bottom:20px;
	text-align:center;
}
.promo-inner h3 {
	font-size: 1.769230769230769em;
	line-height:1em;
	margin:0;
	padding-top:15px;
	text-align:center;
}
.promo-inner .button {
	margin-top:0;
}
.promo-inner .button-holder {
	bottom:0;
	margin-left:0;
	height:auto !important;
	padding-bottom:5px;
	position:relative;
}
.destinations-lightbox-grid {
	margin:0 0 15px 0;
	position:relative;
}
.destinations-index-grid {
	position:relative;
}
.destinations-lightbox-grid h3 {
	background:rgba(71,84,98,.9);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC475462', endColorstr='#CC475462');
	font-size:1.38461em;
	font-weight:400;
	margin:0;
	padding:5px 0;
	position:relative;
	top:0;
	width:100%;
	z-index:999;
}
.destinations-lightbox-grid > div {
	padding:0;
}
.destinations-index-grid > div {
	padding:0 0 15px;
}
.destinations-lightbox-grid a, .destinations-index-grid a {
	outline:none;
}
.destinations-lightbox-grid a:hover > .img-caption, .destinations-index-grid a:hover > .img-caption {
	background:rgba(0,0,0,.6);
	padding:.75em 0;
	text-shadow: 0px 1px 2px #000000;
}
.destinations-lightbox-grid img {
	border:none;
}

/* Main slideshow styles */
#slideshowHolder {
	display:block;
	height:auto;
	left:0;
	margin-left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%;
	z-index:1;
}
.lt-ie8 #slideshowHolder {
	z-index:1;
}
#slideshow {
	position: relative;
}
.lt-ie8 #slideshow {
	z-index:1;
}
#slideshow img {
	width:128%;
	margin-left:-13%;
}
#slideshow > a, #slideshow > img {
	display:none;
}

/* SlideshowNav Styles - "The dots" */
#slideshowNav {
	position:absolute;
	text-align:center;
	top:164px;
	/*top:25%;*/
	width:100%;
	z-index:150;
}
#slideshowNav a {
	text-shadow: 2px 2px 4px #111;
	text-shadow: 2px 2px 4px rgba(0,0,0,.4);
	color:#464646;
	display:inline-block;
	font-size:2em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	-moz-opacity:.6;
	-khtml-opacity:.6;
	opacity:.6;
	outline:none;
	text-decoration:none;
	-webkit-text-stroke: 1px;
}
#slideshowNav a + a {
	margin-left:10px;
}
#slideshowNav a:focus {
	outline:none;
}
#slideshowNav a:hover {
	color:#AAA;
	opacity:.5;
}
#slideshowNav a.activeSlide, #slideshowNav .cycle-pager-active {
	color:#FFF;
	opacity:1;
}
#slideshowNav a::-moz-focus-inner {
	border:0;
}

/* Slideshow Controls - Arrows */
#slideshowControls {
	display:none;
	position:absolute;
	top:50px;
	width:100%;
	z-index:500;
}
#prev, #next, .carousel-control-prev, .carousel-control-next, .gallery-control-prev, .gallery-control-next, .vid-gallery-control-prev, .vid-gallery-control-next {
	background:rgba(0,84,160,.3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA0054a0', endColorstr='#AA0054a0');
	cursor:pointer;
	display: inline-block;
	position:absolute;
}
.touch #prev, .touch #next {
	background:rgba(0,84,160,.5);
}
.arrow {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:url(/images/home/arrows.png) no-repeat;
	display:inline-block;
	height:54px;
	margin:7px 5px;
	text-indent:-999em;
	text-transform: capitalize;
	width:19px;
}
.lt-ie8 .arrow {
	font-size: 0;
	line-height: 0;
	text-indent: 0;
}
#prev {
	left:20px;
}
#prev .arrow {
	background-position:top left;
}
#prev:hover, #next:hover, #carousel-prev:hover, #carousel-next:hover, #gallery-prev:hover, #gallery-next:hover, #vid-gallery-prev:hover, #vid-gallery-next:hover {
	background:rgba(66,114,158,.4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA42729e', endColorstr='#AA42729e');
}
#next {
	right:20px;
}
#next .arrow, .carousel-control-next .arrow, .gallery-control-next .arrow, .vid-gallery-control-next .arrow {
	background-position:top right;
}
.gallery-holder {
	padding-left:10px;
	padding-right:10px;
}
.fade {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkMmY1NiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDJmNTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(13,47,86,0) 0%, rgba(13,47,86,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13,47,86,0)), color-stop(100%,rgba(13,47,86,1)));
	background: -webkit-linear-gradient(top,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	background: -o-linear-gradient(top,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	background: -ms-linear-gradient(top,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	background: linear-gradient(to bottom,  rgba(13,47,86,0) 0%,rgba(13,47,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000d2f56', endColorstr='#0d2f56',GradientType=0 );
	pointer-events:none;
	height:50px;
	position:absolute;
	bottom:0px;
	width:100%;
	z-index:500;
}
.ie9 .gradient {
	filter: none;
}


/* Main Lightbox */
#popupContainer {
	min-height:150px;
	overflow:hidden;
}
#popupContainer, .dest-return-link {
	margin-left:auto;
	margin-right:auto;
	/*max-width:800px;*/
}
#popupContainer #content {
	width:100%;
}
#popupContent {
	min-height:500px;
	margin:25px 0 15px;
}
#ajax-tab-container {
	overflow:hidden; /* Fix for swipe menu overflowing lightbox */
}
#ajax-tab-container .panel-container {
	padding:15px 0;
}
.panel-container h1, #destinations-select-holder {
	display:none;
}
#destinations-select-holder .form-field {
	padding:0;
}
.destinations-landing .drop-tab {
	top:-25px;
}
.destinations-landing .panel-container > p {
	/*display:none;*/
	margin:0;
	padding:15px;
}
.drop-tab > .panel-container > p {
	padding-top:0;
}
.destinations-landing .panel-container > h2 {
	color:#FFF;
	text-align:center;
}
.panel-container h3 {
	font-size:18px;
}
.destinations-landing .panel-container + .panel-container {
	margin-top:20px;
	padding-top:0;
}
.destinations-landing .panel-container > h2, .destinations-landing .panel-container > p {
	/*display:none;*/
}
.destinations h2 {
	font-size:1em;
	margin:0;
	padding:0 10px;
}

/* Overview Lightbox */
.destinations h2.headline-gray-e6-bg {
	margin:1em 0;
	padding:.5em;
}
.feature-item.col-xs-12 {
	padding:0;
}
.feature-item + .feature-item {
	margin-top:2em;
}
.feature-item p {
	margin:0;
}
p.feature-availability {
	font-style:italic;
	margin:.5em 0 0 0;
}
.intro-img-holder {
	/*margin-top:15px;*/
	padding:0;
}

/* Photo Gallery Lightbox */
#gallery-main-img {
	margin-bottom:10px;
	padding:0 5px;
}
#gallery-main-img img {
	display:none;
}
#gallery-group {
	padding:0;
}
#gallery-group > div {
	padding:0 5px 10px 5px;
}
.img-row > div {
	margin-bottom:2%;
	padding:0;
	width:32%;
}
.img-row > div + div {
	margin-left:2%;
}
#gallery-group .cycle-pager-active > img {
	border-color:#007BA3;
	-webkit-box-shadow: 0 0 5px 0 #007BA3;
	-moz-box-shadow: 0 0 5px 0 #007BA3;
	-ms-box-shadow: 0 0 5px 0 #007BA3;
	box-shadow: 0 0 5px 0 #007BA3;
}	

/* Video Gallery Lightbox */
#gallery-main-video, .cycle-video-slideshow {
	position:relative;
	padding-bottom:46.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.cycle-youtube {
	width:100%;
	height:100%;
}
#gallery-main-video iframe, 
.cycle-video-slideshow iframe, 
#gallery-main-video object, 
.cycle-video-slideshow object, 
#gallery-main-video embed, 
.cycle-video-slideshow embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#gallery-group-video > div, #video-pager > div {
	color:#0054A0;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
}
.hidden-video-copy {
	display:none;
}
.video-title {
	margin-top:1em;
}

/* POI Lightbox */
#port-box {
	padding:0 15px;
}
.poi-top-copy > h2{
	display:none;
}
.stand-alone .poi-top-copy > h2{
	display:block;
}
.poi-top-copy p:first-of-type {
	margin-top:0;
}
.poi-top-copy + h3 {
	background:#FDF2E0;
	-webkit-box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, .3); 
}
.poi-number {
	background:#EF5A28;
	border:#BBB solid 1px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	display:inline-block;
	line-height:1em;
	margin-right:10px;
	padding:2px 5px;
}
.poi-img {
	padding-left:0;
}
.poi-list ul {
	list-style-type:none;
	padding:0;
}
.poi-list li + li {
	margin-top:15px;
}
.poi-list p {
	margin:0 0 0 30px;
}

/* Destinations Ports */
.map-holder {
	padding:0;
}
.map-holder :first-child {
	margin-top:0;
	padding-top:0;
}
.map-holder :last-child {
	margin-bottom:0;
	padding-bottom:0;
}
.map-holder h3 {
	margin:0;
	padding:0 0 15px 0;
}
.map-holder > h3 span {
	display:block;
}
.map-holder > h3 a {
	font-size:15px;
	font-family:'Gotham SSm 4r', Arial, Helvetica, sans-serif;
	text-transform:none;
	letter-spacing:normal;
	padding:0 5px;
}
#destinations-ports {
	background:#09213D;
	margin-top:20px;
	position:relative;
	z-index:5;
}
#destinations-ports.top-spacing-0 {
	margin-top:0;
}
#destinations-ports.white-bg {
	background:#FFF;
}
#destinations-ports h2 {
	background:#647F90;
	font-size: 1.384615384615385em;
	margin:0;
	padding:12px 0;
	position:absolute;
	top:0;
	width:100%;
	z-index:500;
}
#destinations-ports h2.sticky {
	-webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .3); 
	position:fixed;
}
#destinations-ports h2 .button {
	display:block;
	font-size:1em;
	margin:5px auto 0 auto;
	width:85%;
	vertical-align: top;
}
.ports-content {
	width:100%;
}
.dest-port {
	padding:20px 0;
	position:relative;
}
.dest-port:first-of-type {
	margin-top:20px;
}
.port-details {
	font-size:1em;
}
.dest-port h3 {
	line-height:1.05em;
}
.dest-port h4 {
	margin:0;
}
.dest-port .sub {
	position:relative;
	top:-1.1em;
}
.port-details h3 {
	margin-top:15px;
}
.port-details ul {
	list-style:none;
    margin:.5em 0 0 10px;
	padding:0;
}
.port-details li {
	padding:5px;
}
.port-details li:before {
	display:inline-block;
	content:'-';
	width:1em;
	margin-left:-1em;
}

/* Come Back New */
.cbn-holder {
	/*padding-top:10px;*/
	padding-bottom:10px;
}
.cbn-holder :first-child, .cbn-details :first-child {
	margin-top:0;
	padding-top:0;
}
.cbn-holder :last-child, .cbn-details :last-child {
	margin-bottom:0;
	padding-bottom:0;
}
.cbn-row:first-child {
	margin-top:30px;
}
.cbn-row:last-of-type {
	margin-bottom:30px;
}
.cbn-row img, .map-holder img {
	display:block;
	position:relative;
	width:100%;
}
.lt-ie9 .cbn-details {
	margin-top:0;
}
.cbn-links {
	list-style:none;
	margin:0;
	padding:0;
}
.cbn-links a:after {
	border-top: 4px solid transparent;
	border-left: 4px solid #0054A0;
	border-bottom: 4px solid transparent;
	content:'';
	height:0;
	margin:5px 0 0 8px;
	position:absolute;
	width:0;
}
.cbn-logo-divider {
	background:#135E8F;
	padding:15px 0;
}
.cbn-logo-divider p {
	position:absolute;
	text-indent:-999em;
}
.cbn-scroll, .cbn-arrow-bg, .cbn-arrow-dot {
	-webkit-border-radius:100% 100% 100% 100%;
	border-radius:100% 100% 100% 100%;
}
.cbn-scroll, .cbn-arrow-bg, .cbn-arrow-dot, .cbn-arrow-point {
	left:50%;
	z-index:999;
}
.cbn-arrow-bg, .cbn-arrow-dot, .cbn-arrow-point {
	position:absolute;
}
.cbn-scroll {
	bottom:-80px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	height:145px;
	margin-left:-100px;
	position:fixed;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	width:200px;
}
.cbn-scroll.oov {
	bottom:-150px;
}
.lt-ie9 .cbn-scroll {
	background:none url(/images/global/cbn-scroll.png) top center no-repeat;
	bottom:0px;
	height:66px;
	margin-left:-100px;
	position:fixed;
}
.cbn-arrow-bg {
	height:40px;
	margin-left:-20px;
	width:40px;
	top:5px;
}
.cbn-arrow-dot {
	height:4px;
	margin-left:-2px;
	width:4px;
}
.cbn-arrow-bg .dot1 {
	top:6px;
}
.cbn-arrow-bg .dot2 {
	top:12px;
}
.cbn-arrow-bg .dot3 {
	top:18px;
}
.cbn-arrow-point {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid white;
	height: 0;
	margin-left:-8px;
	top:26px;
	width: 0;
}
.lt-ie9 .cbn-arrow-bg, .lt-ie9 .cbn-arrow-dot, .lt-ie9 .cbn-arrow-point {
	display:none;
}
.cbn-scroll .text {
	display:block;
	position:absolute;
	top:47px;
	width:100%;
}
.new-to-cruising-grid {	
}
.new-to-cruising-grid h3 {
	margin:.5em 0 .25em 0;
}
h3.quote {
	margin:0;
	padding:25px 15px;
}
h3.quote .line1, h3.quote .line2 {
	display:block;
}
h3.quote .line1 {
	font-size: 1.53846em;
}
.cbn-add-this-holder {
	display:block;
	position:relative;
	top:50px;
}
.cbn-add-this-holder #fbPrLikeWidget {
	margin: 0 0 0 -70px !important;
	left:50%;
}
.exclusive-deals > div:first-child {
	margin-bottom:30px;
	/*margin-top:40px; Fix for add this widget*/
	padding:0 15px;
}
.exclusive-deals > div:last-of-type {
	margin-bottom:20px;
}
.exclusive-deals ul {
	padding:0;
}
.exclusive-deals li {
	line-height:2em;
	list-style-image:none;
	list-style-type:none;
}
.exclusive-deals li:before {
	background:url(/images/global/sprite_pc-icons.png) no-repeat;
	background-position:0px -20px;
	content:'';
	display:inline-block;
	height:12px;
	margin-right:10px;
	width:15px;
}
.exclusive-deals .special-offers-holder .button, .exclusive-deals .enter-to-win {
	font-size: 1.384615384615385em;
}
.exclusive-deals .special-offers-holder .button {
	margin:0;
}
.exclusive-deals .enter-to-win {
	margin-top:15px;
	padding:.5em 1em;
}
.top-10:first-of-type {
	margin-top:65px;
}
.top-10 + .top-10 {
	margin-top:40px;
}

/* Carousel */
#carousel-container {
	background:#FFF;
	padding-top:25px;
	padding-bottom:30px;
}
#carousel-container, .carousel-thumb {
	position:relative;
}
#carousel {
	margin:10px auto 0 auto;
	max-width:80%;
}
#carousel .destinations-img {
	padding:0 5px;
}
#carousel a {
	outline:none;
}
.carousel-controls, .gallery-controls, .vid-gallery-controls {
	bottom:40%;
	left:0;
	position:absolute;
	width:100%;
	z-index:999;
}
.gallery-controls, .vid-gallery-controls {
	top:240px;
}
.carousel-control-prev, .carousel-control-next, .gallery-control-prev, .gallery-control-next, .vid-gallery-control-prev, .vid-gallery-control-next {
	top:50%;
	margin-top:-34px;
}
.carousel-control-prev {
	left:10px;
}
.gallery-control-prev, .vid-gallery-control-prev {
	left:15px;
}
.carousel-control-next {
	right:10px;
}
.gallery-control-next, .vid-gallery-control-next {
	right:15px;
}
.gallery-controls, .vid-gallery-controls {
	display:none; /* Hid gallery and video controls until past ipad size */
}

/* Brochure / Sign up for special offers section */
#get-brochure-bar {
	background:#DDDEE3;
	padding:30px 0;
}
#get-brochure-bar .brochure-holder {
	background:url(/images/share/destinations/alaska/brochure/ak-brochure.png) top left no-repeat;
	margin:0 auto;
	min-height:103px;
	padding:0 0 0 90px;
	width:290px;
}
#get-brochure-bar h2 {
	font-size:1.76923em;
}
.special-offers-holder .button {
	font-size: 1.153846153846154em;
	margin:15px 0 0 0;
	max-width:320px;
	padding:15px 0;
	width:100%;
}

/* Play button behavior */
.popup-youtube .play_border {
	margin:-40px 0 0 -40px;
	position:absolute;
	top:50%;
}
.popup-youtube:hover .play_border {
    border-color: transparent;
	opacity:.8;
}
.play_holder {
	top:10%;
}
.hero_video {
	position:absolute;
}
.hero_video .play_border {
	margin-top:0;
	position:relative;
}


/* Breadcrumbs */
.bread-crumbs {
	display:none; /* Hidden until 768px */
}

/* Extend Your Stay */
.xys-row {
	margin:15px 0;
}
.xys-row .rwd-accordion-content p {
	margin:0;
}
.xys-row .rwd-accordion-content p + p {
	margin-top:5px;
}
.xys-copy {
	margin-top:10px;
}

/* Cruisetour Excursion Lightbox */
.ctex .responsive-img img {
	margin-top:15px;
}

@media (min-width: 400px) {
	.map-holder {
		padding:0 15px;
	}
	.blocks {
		padding-right:15%;
	}
	.play_holder {
		top:80px;
	}
}

/* Whats Included Lightbox */
.header-img img {
    float: left;
}
.what-included-container .drop-tab-ul {
	margin: 10px;
}
.mfp-content .what-included td {
	border: 1px solid #ccc;
	border-width: 1px 0 0;	
	padding: 10px 10px 0;
}
.mfp-content .what-included td:first-child {
	width: 40%;
}
.mfp-content .what-included {
	border-spacing: 10px;	
	border-collapse: separate;
	width: 95%;
	clear: both;
}
.mfp-content .what-included .icon.icon-check{
	background-repeat: no-repeat;
	width: auto;
}
.mfp-content .included {
	margin: 0 5px 0 15px;
}
.icon-check{
	background-image:url('/images/global/search_sprite.png');
    display: inline-block;
	background-position: 0 -800px;
	width: 11px;
	height: 12px;
}


/* @media (min-width: 40em) */
@media (min-width: 640px) {
	/* Heading */
	h1.header-holder {
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		padding:20px 0 35px 0;
		line-height:1.5em;
		margin:250px 0 0 0;
		text-align:center;
	}
	h1.header-holder .line1 {
		font-size:32px;
	}
	h1.header-holder .line2 {
		display:block;
		font-size: 1.15384em;
		line-height:1.2em;
		margin-top:.3em;
	}
	h1.header-holder .sub {
		display:inline;
		font-size:inherit;	
	}
	.location {
		font-size:4em;
		padding:0;
		line-height:1em;
		margin:0 0 0 -480px;
		position:absolute;
		left:50%;
		top:0;
		text-shadow: 0px 2px 5px rgba(0,0,0,.5);
		width:960px;
	}
	.fade {
		height:100px;
	}
	#slideshowControls {
		display:block;
		top:100px;
	}
	#destinations-ports h2 .button {
		width:150px;
	}
	.destinations-landing .panel-container {
		position:relative;
		top:-15px;
	}
	.destinations-landing .drop-tab .panel-container {
		top:4px;
	}
	.cruise-tabs-inner p {
		margin-top:.5em;
		line-height:1.15384em;
	}
	.promo-inner {
		padding-bottom:0;
		text-align:left;
	}
	.promo-inner h3 {
		padding-top:15px;
		text-align:left;
	}
	.promo-inner p {
		margin:.5em 0;
	}
	.promo-inner .button {
		margin-top:0;
	}
	.promo-inner .button {
		font-size:1em;
		min-width:inherit;
	}
	.bullets {
		padding:0 15px;
	}
	.destinations-lightbox-grid {
		margin:0 15px 15px 15px;
		position:relative;
	}
	.destinations-lightbox-grid h3 {
		position:absolute;
	}
	.destinations-index-grid > div {
		padding:0 7px 15px 7px;
	}
	.cruise-tabs-body .button, .promo-inner .button {
		min-width:120px;
	}
	#carousel {
		max-width:90%;
	}
	
	/* Slideshow */
	#slideshowNav a {
		font-size:2.5em;
	}

	/* Main Lightbox */
	.destinations h2 {
		font-size:1.30769em;
		margin:0;
		padding:0 10px 5px 10px;
	}
	#destinations-select-holder {
		display:inline-block;
		float:right;
		text-align:left;
	}
	#destinations-select-holder .form-field {
		padding:0 1em 0 0;
	}
	.carousel-bg {
		display:none;
	}
	#ajax-tab-container > #fbPrLikeWidget {
		float:right;
		margin:10px 20px 0 0 !important;
	}
	#popupContainer #fbPrLikeWidget {
		display:block;
		height: auto;
		margin:0 !important;
		padding:0;
		position:absolute;
		right:15px;
		top:10px;
	}
	#popupContainer #fbPrLikeWidget > div {
		max-width: none;
		position: static;
		right: auto;
	}
	#popupContainer #fbPrLikeWidget + #ajax-data {
		padding-top:20px;
	}

	/* Overview Lightbox */
	.feature-item h3 {
		margin-bottom:0;
	}
	.intro-img-holder {
		float:right !important;
		margin-top:0;
		padding:0 0 10px 15px;
	}
	.intro p:first-of-type {
		margin-top:0;
	}
	.img-row > div {
		margin-bottom:4%;
	}
	
	/* Destinations Ports */
	.port-details {
		text-align:left;
	}
	.port-details h3 {
		margin-top:0;
	}
	.port-details ul {
		padding-left:1em;
		margin:0;
	}
	.port-details li {
		padding:0;
	}
	.port-details li:nth-of-type(1n){
		background:none;
	}
	.map-holder > h3 span {
		display:inline;
		font-size:23px;
	}
	.map-holder > h3 a {
		font-size:15px;
		padding:0 15px;
	}
	.blocks {
		padding-right:0;
	}
	#destinations-ports h2 .button {
		display:inline-block;
		margin:0;
		width:auto;
		vertical-align:middle;
	}
	#destinations-ports h2 .button + .button {
		margin:0 0 0 1em;
	}
	
	/* Come back new */
	h3.quote .line1 {
		font-size: 1.92307em;
	}
	.exclusive-deals > div:first-child {
		margin-top:0;
	}
	.cbn-add-this-holder {
		top:20px;
	}
	
	/* Cruise Tour Finder */
	.cruisetour-ul li {
		min-width:0;
	}
	.cruisetour-ul li a {
		padding:10px 23px;
	}
	
	/* Play button for videos */
	.play_holder {
		top:100px;
	}

	/* Extend Your Stay */
	.xys-copy {
		margin-top:0;
	}	
}

@media screen and (max-width: 480px) {
	/* Whats Included Ligtbox */
	.what-included-container .drop-tab-ul {
		margin: 0;
	}
}
/* @media (min-width: 48em) */
@media (min-width: 768px) {
	h1.header-holder .line2 {
		padding-left:20px;
		padding-right:20px;
	}
	.fade {
		height:150px;
	}
	#slideshowControls {
		top:125px;
	}
	.promo-inner p {
		margin:5px 0;
	}
	.promo-inner .button {
		font-size:1.1em;
		margin-top:10px;
		min-width:200px;
	}
	.ie8 .promo-inner .button {
		min-width:150px;
	}
	.cruise-tabs-inner p, .cruise-tabs-inner .list-header, .cruise-tabs-body ul {
		text-align:left;
	}
	
	/* Destinations Ports */
	.map-holder {
		padding:0;
	}
	
	/* Come back new */
	.cbn-details {
		padding-left:15px;
		padding-right:15px;
	}
	h3.quote .line1 {
		font-size: 2.15384em;
	}
	h3.quote .line2 {
		font-size: 1.15384em;
	}
	
	/* Brochure / Sign up for special offers section */
	#get-brochure-bar .brochure-holder {
		width:auto;
	}
	#get-brochure-bar .button {
		font-size: 1.384615384615385em;
		margin:15px 0 0 0;
		max-width:90%;
	}
	.exclusive-deals > div:last-of-type {
		margin-bottom:0;
	}
	
	/* Breadcrumbs */
	.bread-crumbs {
		-webkit-border-radius: 0;
		border-radius: 0;
		display:block;
		padding:5px;
		position:absolute;
		top:0;
		width:100%;
		z-index:10;
	}
	.bc-inner {
		width:100%;
	}
	.bc-inner > a {
		color:#FFF;
	}
	.bc-item {
		color:#DDD;
		display:inline-block;
		font-size:13px;
		position:relative;
	}
	.bc-item + .bc-item:before {
		background:url("/images/global/sprite_pc-icons.png") no-repeat scroll -57px -42px;
		content:'';
		display:inline-block;
		height:14px;
		margin:0 5px;
		position:relative;
		top:3px;
		width:8px;
	}
	.bc-item + .bc-item:before {
		margin:0 10px;
	}
}

/* @media (min-width: 62em) */
@media (min-width: 992px) {
	#content.min-height {
		min-height:570px;
	}
	#slideshowHolder {
		height:650px;
		left:50%;
		margin-left:-800px;
		width:1600px;
	}
	#slideshow img {
		width:auto;
		margin-left:0;
	}
	.fade {
		height:200px;
	}
	#slideshowControls {
		top:150px;
		left:50%;
		margin-left:-480px;
		width:960px;
	}
	.gallery-controls, .vid-gallery-controls {
		display: block; /* Hid gallery and video controls until past ipad size */
	}
	.cruise-tabs {
		display:none;
	}
	.panel-container > p {
		display:block;
	}
	h3.availability {
		margin-top:0;
	}
	.cruise-tabs-holder {
		color:#333;
		padding-left:5px;
		padding-right:5px;
	}
	.cruise-tabs-holder > .col-lg-3 {
		padding-left:5px;
		padding-right:5px;
	}
	.cruise-tabs-holder > .col-lg-4 {
		padding-left:10px;
		padding-right:10px;
	}
	.cruise-tabs-body {
		background:none;
		display:block !important;
	}
	.cruise-tabs-body + .cruise-tabs-body {
		margin-top:0;
	}
	.cruise-tabs-inner {
		background:#FFF;
		padding-left:10px;
		padding-right:10px;
		position:relative;
	}
	.bullets {
		padding:0;
	}
	.cruise-tabs-body li {
		padding:5px 0 3px 0;
	}
	.list-header {
		line-height:1em;
		margin:1em 0 .5em 0;
	}
	.cruise-tabs-body h3 {
		line-height:1em;
		padding:8px 0 5px 0;
	}
	.button-holder {
		bottom:0;
		position:absolute;
		padding-top:20px;
		text-align:center;
		width:100%;
	}
	.button-holder .button {
		margin:0;
	}
	.cruise-tabs-body .button, .promo-inner .button {
		min-width:200px;
	}
	.lt-ie9 .cruise-tabs-body .button, .lt-ie9 .promo-inner .button {
		min-width:150px;
	}
	.promo-inner {
		margin:15px;
	}
	.promo-inner .button-holder {
		padding-top:0;
		text-align:left;
	}
	.promo-inner h3 {
		padding-top:10px;
		text-align:left;
	}
	.promo-inner .button {
		font-size:1.38461em;
	}
	.destinations-landing .panel-container > h2, .destinations-landing .panel-container > p {
		display:block;
	}
	.destinations-landing .panel-container > h2 {
		padding-left:15px;
		text-align:left;
	}
	
	/* Main Lightbox */
	.ajax-tab-container .panel-container {
		min-height:480px;
	}

	/* Photo Gallery Lightbox */
	#gallery-main-img {
		z-index:90;
	}
	.gallery-control-prev {
		left:30px;
	}
	.gallery-control-next {
		right:30px;
	}
	.vid-gallery-control-prev {
		left:30px;
	}
	.vid-gallery-control-next {
		right:30px;
	}
	
	/* Come back new */
	.left-img {
		padding-left:30px;
		padding-right:0;
	}
	.right-img {
		padding-left:0;
		padding-right:30px;
	}
	.exclusive-deals > div:first-child {
		padding: inherit;
	}
	.cbn-add-this-holder {
		display:inline-block;
		position:absolute;
		left:50%;
		margin-left:0;
		top:30px;
	}
	.cbn-add-this-holder #fbPrLikeWidget {
		left:0;
		margin: 0 0 0 30px !important;
	}
	
	/* Destinations Ports */
	.map-holder {
		padding:5px 15px 15px 15px;
	}
	.ports-content, .carousel-inner, #get-brochure-bar > div {
		margin:0 auto;
		width:960px;
	}
	
	/* Brochure / Sign up for special offers section */
	#get-brochure-bar h2 {
		font-size:32px;
		line-height:1.1em;
	}
	#get-brochure-bar .button {
		font-size: 1.769230769230769em;	
	}
	
	/* Breadcrumbs */
	.bread-crumbs {
		-webkit-border-radius: 0 0 7px 7px;
		border-radius: 0 0 7px 7px;
		padding:5px 12px 7px;
	}
	.bc-inner {
		margin:0 auto;
		width:960px;
	}
	
	/* Play button for videos */
	.play_holder {
		top:90px;
	}

	/* Whats included lightbox */
	.mfp-content .header-img {
		margin-left: 15px;
	}
}

@media (min-width: 1050px) {
	#carousel {
		width:960px;
	}
	.carousel-controls {
		left:50%;
		margin-left:-525px;
		width:1050px;
	}
}

@media (min-width: 1280px) {
	#slideshowControls {
		left:50%;
		margin-left:-640px;
		width:1280px;
	}
}

@media screen and (max-width:960px) {
	#destinations-ports h2.sticky {
		position:absolute !important;
	}

	/* Whats included lightbox */
	.mfp-content .header-img {
		text-align: center;
		width: 100%;
	    overflow: hidden;
	    top: -15px;
	}
	.mfp-content .banner-img {
		display: none;
	}
	.mfp-content .main-img {
		display: block;
		float: none;
    	margin:0 auto;
    	max-width: 100%;
	}
}