@charset "utf-8";
/* CSS Document */

/*
 * Drop Tab Responsive Nav
 */
.drop-tab {
	pointer-events:auto;
	position:relative;
}
.drop-tab > .panel-container {
	padding-top:10px;
}
.drop-tab-nav {
	background:#007BA3;
	display:block;
	color:#FFF;
	font-size: 1.384615384615385em;
	min-height:52px;
	padding:.75em 1em;
}
.drop-tab-nav, .drop-tab-ul {
	position:relative;
	width:100%;
}
.drop-tab-nav .select {
	display:none;
}
.drop-tab-arrow {
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-top: 10px solid #FFF;
	height: 0;
	margin:-3px 0 0 -10px;
	overflow:hidden;
	position:absolute;
	left:50%;
	top:50%;
	text-indent:999em;
	width: 0; 
}
.open .drop-tab-arrow {
	border-top: 10px solid transparent;
	border-bottom: 10px solid #FFF;
	margin-top:-15px;
}
.drop-tab-select-text + .drop-tab-arrow {
	top:35%;
}
.drop-tab-select-text {
	display:block;
	font-size:11px;
	position:absolute;
	bottom:15%;
	text-align:center;
	width:100%;
}
.drop-tab-select {
	border-left:rgba(255,255,255,.5) solid 1px;
	cursor:pointer;
	height:100%;
	position:absolute;
	right:0;
	width:60px;
	top:0;
}
.drop-tab-select.open {
	background:rgba(255,255,255,.25);
}
.drop-tab-ul {
	font-size: 0;
	list-style-type:none;
	margin-top:0;
	margin-bottom:0;
	height:0;
	overflow:hidden;
	padding:0;
	position:relative;
	transition:all .5s ease;
	z-index:101;
}
.drop-tab-ul li {
	background:#0D2F56;
	font-size: 18px; /*1.38461em;*/
	padding:0 15px;
	height:50px;
}
.drop-tab-ul li + li {
	border-top:rgba(255,255,255,.25) solid 1px;
}
.drop-tab-ul li:first-of-type {
	border-top:rgba(0,0,0,.2) solid 5px;
}
.drop-tab-ul:after {
	background:#007BA3;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .2);
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .2);
	content:'';
	height:10px;
	position:absolute;
	width:100%;
	z-index:101;
}
.lt-ie9 .drop-tab-ul:after {
	display:none;
}
.drop-tab-ul a {
	color:#FFF;
	display:block;
	font-weight:400;
	line-height:50px;
	text-decoration:none;
}
/* Styles when used with article-header container */
.article-header .drop-tab {
	margin-top: 15px;
}
.article-header .drop-tab-ul {
	margin-bottom:0;
}

@media (min-width: 640px) {
	.drop-tab {
		background:none;
		margin-top:15px;
		min-height:50px;
		position:relative;
	}
	.drop-tab.hastwoline {
		min-height: 58px;
	}
	.drop-tab-nav {
		display:none;
		height:0;
		width:0;
	}
	.drop-tab-ul {
		clear:left;
		height:auto;
		left:0;
		margin-bottom:12px;
		margin-left:0;
		margin-right:0;
		overflow:visible;
		padding:inherit;
		position:relative;
		text-align:center;
		top:0;
		transition:none;
		width:auto;
		z-index:95;
	}
	.drop-tab-indent .drop-tab-ul {
		margin-left:15px;
		margin-right:15px;
	}
	.drop-tab-left .drop-tab-ul {
		text-align:left;
	}
	.drop-tab-right .drop-tab-ul {
		text-align:right;
	}
	.drop-tab-ul:after {
		background:none;
		border:none;
		box-shadow:none;
		height:0;
		position:static;
	}
	.drop-tab-ul li {
		background:#FFF;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px; 
		border:none !important;
		/*
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3); 
		*/
		display:inline-block;
		font-weight:400;
		height:auto;
		margin:0;
		padding:0;
		position:relative;
		text-align:center;
	}
	.drop-tab-ul li a {
		color:#007BA3;
		display:block;
		/*margin:0 0 0 1px;*/
		padding:10px 20px;
		text-decoration:none;
		line-height:18px;
		outline:none;
	}
	.drop-tab-ul li a:hover {
		background: #f4f9fd;
	}
	.drop-tab-two-line li a, .drop-tab-ul a.twoline {
		padding: 4px 35px 6px;
	}
	.drop-tab-two-line-narrow li a, .drop-tab-ul a.twoline.narrow {
		padding: 4px 15px 6px;
	}
	.drop-tab-two-line .drop-tab-ul a, .drop-tab-ul a.twoline {
		line-height: 1em;
	}
	.drop-tab-two-line span, .drop-tab-ul a.twoline span {
		display: block;
		font-size: 13px;
	}
	.drop-tab-small .drop-tab-ul li a {
		font-size:13px;
		padding:5px 10px;
	}
	.drop-tab-grey .drop-tab-ul li {
		background:#E5E5E5;
	}
	.drop-tab-no-shadow .drop-tab-ul li {
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none; 
	}
	.drop-tab-ul li.active, .drop-tab-ul li.active a:hover {
		background:#007ba3;
	}
	.drop-tab-ul li.active a {
		color:#FFF;
	}
	.drop-tab-ul li.active:after {
		content:'';
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 13px solid #007ba3;
		position:absolute;
		bottom:-12px;
		left:50%;
		margin-left:-12px;
	}
	.drop-tab-ul li + li {
		border:none;
		margin-left:3px;
	}
	.drop-tab-list .drop-tab-ul {
		margin-bottom:0;
	}
	.drop-tab-list .drop-tab-ul li.active:after {
		border:none;
		bottom:0;
		left:0;
		margin:0;
		position:fixed;
	}
	.drop-tab-list .drop-tab-ul li {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		display:block;
		padding:5px;
		text-align:left;
	}
	.drop-tab-list .drop-tab-ul li.active {
		background:#EEE;
	}
	.drop-tab-list .drop-tab-ul li.active a {
		color:#333;
	}
	.drop-tab-list .drop-tab-ul li a {
		line-height:normal;
		padding:0;
	}
	
	/* Styles when used with article-header container */
	.article-header .drop-tab {
		margin-top: 15px;
		margin-bottom:-24px;
	}
}
