.button {
	background-color: #3779B5; /* fallback/image non-cover color */
    background: -webkit-gradient(linear, from(#3779B5), to(#0054A0)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #3779B5, #0054A0); /* Safari 5.1+, Chrome 10+ */
    background: -moz-linear-gradient(top, #3779B5, #0054A0); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #3779B5, #0054A0); /* IE 10 */
    background: -o-linear-gradient(top, #3779B5, #0054A0); /* Opera 11.10+ */
    border: 1px solid #929497;
    clear: both;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 700;
    padding: 3px 10px;
    text-align: center;
}
.button:hover{
    background-color: #658EB2; /* fallback/image non-cover color */
    background: -webkit-gradient(linear, from(#658EB2), to(#0054A0)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #658EB2, #0054A0); /* Safari 5.1+, Chrome 10+ */
    background: -moz-linear-gradient(top, #658EB2, #0054A0); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #658EB2, #0054A0); /* IE 10 */
    background: -o-linear-gradient(top, #658EB2, #0054A0); /* Opera 11.10+ */
    text-decoration: none;
}
#find-compare { border: 3px solid #88abc7; width: 950px; margin: 10px auto 20px auto; clear: both; overflow: visible; position: relative; height: 410px; background:#fff; font-size:11px }
#find-cruise, #fb-search {  width: 950px; margin: 20px auto; clear: both; overflow: hidden; position: relative;  font-size:11px;
padding-bottom:25px;
border-bottom:solid 1px #f5f4f4;
background:#fff;
background:-moz-linear-gradient(top, #fff 0%, #fff 96%, #9f9d9e 97%, #f5f4f4 100%); 
background:-webkit-linear-gradient(top, #fff 0%, #fff 96%,#9f9d9e 97%, #f5f4f4 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(96%,#fff),color-stop(97%,#9f9d9e),color-stop(100%,#f5f4f4));
}
.no-cssgradients #find-cruise { border-bottom:solid 2px #999; padding-bottom:15px}
.bottom-border				{border-bottom:1px solid #f0eee2;}
#searchlight-top-panel 					{ background: url(/images/global/find_bgs.png) repeat-x; padding: 2px 6px; line-height: 21px; position: relative; }
#searchlight-top-panel label 			{ font-weight: 700; padding-right: 10px; }
#searchlight-top-panel label,#searchlight-top-panel input[type="radio"] {
  vertical-align: middle;
}

#searchlight-top-panel .blue 			{ color: #29649f; }
#searchlight-top-panel .green 			{ color: #729731; }
.col1 						{ float: left; width: 240px; padding: 0px; border-right: 1px solid #8D8D8D; }
.col2 						{ float: left; width: 150px; padding: 0px; border-right: 1px solid #8D8D8D; }
.col3 						{ float: left; width: 168px; padding: 0px; border-right: 1px solid #8D8D8D; }
.col4 						{ float: left; width: 178px; padding: 0px;  border-right: 1px solid #8D8D8D; }
.dates						{padding:10px; overflow:hidden}
#find-compare li			{ list-style: none; padding: 2px 2px 2px 7px; border-bottom: 1px solid #CCC; cursor:pointer;-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
 }
#find-cruise .dates ul, #fb-search .dates ul{
	margin:0;
	padding:0;
	list-style:none;	
}
#find-cruise .dates li, #fb-search .dates li{
	border: 1px solid #CCC;
    float: left;
    margin: 3px;
    width: 20px;
	padding:2px;
	cursor:pointer;
	}
#find-compare h2 			{ font-size: 11px; background: #666; color: #FFF; padding: 2px 5px 2px 8px; }
#find-compare .duration li 	{ line-height:17px; }
#find-compare .col1 li		{ line-height:18px}
#find-compare .col4 li		{ width: 22px; border: 1px solid #CCC; margin: 3px; float: left; }
.col2 .year					{ clear: both; overflow: hidden; font-size: 13px; font-weight: 700; color: #333; padding: 6px 0 0 3px; }
.results 					{ 
text-align: center; 
padding:5px;  
border: 1px solid #7d7d7d; 
width:140px;
margin:0 auto;
background:#e9e9e9; /* old browsers */
background:-moz-linear-gradient(top, #c2c2c2 0%, #e9e9e9 15%,#e9e9e9 85%, #c2c2c2 100%); 
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2c2c2),color-stop(15%, #e9e9e9),color-stop(85%, #e9e9e9), color-stop(100%, #c2c2c2));
background:-webkit-linear-gradient(top, #c2c2c2 0%, #e9e9e9 15%,#e9e9e9 85%, #c2c2c2 100%); 
}
.results .no-of-results		{ color: #F60; font-size:20px; display:block; padding-top:3px }
.buttons 					{ padding-top: 10px; text-align: center; }
.col2 .year:first-child 	{ padding-top:0}
#cruises .selected:hover	{ background: #769abc; color:#fff }
#cruises .default, .searchlight-simple .default			{ background: #dde6ee; }
#cruises .selected, .searchlight-simple .selected		{ background: #769abc; color:#fff }
#find-compare .disabled:hover, #find-cruise .dates li.disabled:hover, #fb-search .dates li.disable:hover { background:#fff; cursor:auto}
#cruises 					{ position: absolute; top: 25px; left: 0px; clear: both; overflow:hidden; height:400px  }
#cruisetours				{ position: absolute; top: 25px; left: 0px;clear: both; overflow: hidden; display: none; height:400px}
#cruises li:hover			{ background:#c1d1e1}
#cruisetours .default		{ background: #e6ecdd; }
#cruisetours .selected		{ background: #7c9949; color:#fff }
#cruisetours li:hover		{ background:#c4d1ad}
#cruisetours .selected:hover{ background: #7c9949; color:#fff }
#find-compare #sub-trade	{ margin:-3px -2px -2px -7px; background: #f0f3ea; padding: 4px; border-top: 1px solid #e1e1e1; overflow:hidden}
#find-compare #cruisetours  #sub-trade li { background:#fff;font-size:9px;padding: 4px 7px; border-style: none;margin: 4px 2px 4px; line-height: 12px; border-radius:15px;}
#find-compare #cruisetours  #sub-trade li.default 	{ background: #e6ecdd;  }
#find-compare #cruisetours  #sub-trade li:hover		{ background:#c4d1ad}
#find-compare #cruisetours  #sub-trade li.selected	{background:#7c9949; color:#fff}
#find-compare #cruisetours  #sub-trade li.disabled:hover{background:#fff; color:#333}
#find-compare #cruisetours li.selected ul			{ background:#adb2a6}
#find-compare #cruisetours li.selected li			{ color:#333 }
#find-compare #cruisetours .col1 li 				{ line-height: 29px; }
#find-compare #cruisetours #ship-n-sequence li		{ line-height: 15px; }
#find-compare #cruisetours #tour-duration li 		{ line-height:20px }
#color-legend 				{ position: absolute; top:2px; right: 15px; text-transform:uppercase }
#options span 				{ background: #DDE6EE; }
#selections span 			{ background: #769ABC; }
#eliminated span 			{ background: #fff; }
#color-legend div 			{ float: left; color:#333; margin:5px 5px 5px 7px; line-height:12px; font-size:9px }
#color-legend div span 		{ text-indent: -7000px; padding:0; width: 10px; display: block; float: left; margin-right: 5px; height:10px; width:12px;border:solid 1px #999}
#searchlite-error 			{ background: #FFF; clear: both; height: 435px;  width: 715px;overflow: hidden; position: absolute; top:-6px; left:-3px; z-index:100; opacity:0.8;	filter: alpha(opacity=80);
zoom: 1; display:none}
#error-msg 					{ color: #DB0000; font-weight:700; padding:10px 15px 5px 15px; border: 1px solid #333; background: #FFF; width:250px; margin:0 auto; position: absolute; top:150px; left:200px; z-index:101; text-align: center; }
#error-msg p				{ padding-bottom: 10px; }
#find-compare h4			{ background:#c8c8c8; color:#606060; font-size:10px; padding-left:7px}
.col5 						{float:left;background: url(/images/global/search_light_results_bg.jpg) no-repeat left 20px #c8c8c8; width:210px }
.port li					{ line-height:22px}
.select-room-type 			{ margin:86px 6px 15px 6px; background:#e0e0e0; line-height:20px}
.select-room-type h6		{ padding:2px}
.select-room-type form 		{ padding:0 5px 5px 25px}
.dates ul { overflow:hidden; margin-bottom:10px}
#recently-viewed{ width:526px; float:left; margin:0 10px 0 2px; position:relative; min-height:240px}
#top-picks-slot{ float:left; width:405px !important}
.cruised-with-princess-block {width:70%; margin:5px auto 0 auto}
.cruised-with-princess-block label{ display:inline-block; width:120px}
.cruised-with-princess-block input{ vertical-align:top}
#clear-button {
	color:#fff;
	 background:#8b8b8b; /* old browsers */
	 background:-moz-linear-gradient(top, rgba(159,159,159,1) 0%, rgba(134,134,134,1) 100%); 
	 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(159,159,159,1)),color-stop(100%, rgba(159,159,159,1)));
	 background:-webkit-linear-gradient(top, rgba(159,159,159,1) 0%, rgba(134,134,134,1) 100%); 
	 display: inline-block;
	 padding:3px 10px 3px;
	 border:solid 1px #aaa;
	 font-size:13px;
}
#clear-button:hover{ 
	 text-decoration:none; 
	 background:#979696; /* old browsers */
	 background:-moz-linear-gradient(top, rgba(159,159,159,0.8) 0%, rgba(134,134,134,1) 100%); 
	 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(159,159,159,0.8)),color-stop(100%, rgba(159,159,159,1)));
	 background:-webkit-linear-gradient(top, rgba(159,159,159,0.8) 0%, rgba(134,134,134,1) 100%); 
	 display: inline-block;
	 }
.results-container .button{ padding:3px 20px; font-size:1.2em; margin-right:5px}
#find-cruise select, #fb-search select{ min-width:160px;max-width:190px; margin:5px 5px 15px 5px;
	background:#EEF5FD;
	border:1px solid #999;
}
#find-cruise .col2 select, #fb-search .col2 select{ width:190px}
html.ie7 #find-cruise .col1 select, html.ie7 #fb-search .col1 select{width:170px}
html.ie7 #find-cruise .col2 select, html.ie7 #fb-search .col1 select{width:200px}
#find-cruise option, #fb-search option{ padding:1px}
.searchlight-simple option.default{background:none}
.searchlight-simple option.selected{background:none; color:#000}
#find-cruise .col1, #fb-search .col1 { width:190px; border-right:solid 1px #dddbdb; margin:0 10px 0 35px;min-height:115px}
#find-cruise .col2, #fb-search .col2 { width:220px;  border-right:solid 1px #dddbdb;margin:0 10px 0 5px;min-height:115px}
#find-cruise .col3, #fb-search .col3 { width:470px; border:none}
.year-block { width:150px; float:left}
#find-cruise .results, #fb-search .results{float:left; border-radius:8px;
padding:16px;
font-size:12px;
font-weight:700;
border:solid 1px #ccc;
background:#fafcfd; /* old browsers */
background:-moz-linear-gradient(top, #eef2f6 0%, #f9fafc 10%,#fff 15%, #fff 85%,#f9fafc 90%, #eef2f6 100%); 
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eef2f6),color-stop(10%, #f9fafc),color-stop(15%, #fff),color-stop(85%, #fff),color-stop(90%,#f9fafc), color-stop(100%, #eef2f6));
background:-webkit-linear-gradient(top, #eef2f6 0%, #f9fafc 10%,#fff 15%, #fff 85%,#f9fafc 90%, #eef2f6 100%); 
}
#find-cruise .results .no-of-results, #fb-search .results .no-of-results { display:inline-block; margin-right:5px; font-size:18px; padding:0}
#find-cruise .cruised-with-princess-block, #fb-search .cruised-with-princess-block{ float:left; margin:0 auto 3px 18px}
#find-cruise .cruised-with-princess-block label, #fb-search .cruised-with-princess-block label{ width:auto}
#find-cruise .buttons, #fb-search .buttons{ float:left; width:165px; text-align:left; margin-left:22px; padding-top:5px}
#find-cruise .dates, #fb-search .dates{ padding:0}
#find-cruise .results-container, #fb-search .results-container{ margin:20px 0 10px 40px; overflow:hidden}
#advanced-search-link { float:left; margin-top:8px; font-size:12px}
#find-cruise li:hover, #fb-search li:hover{ background:#c1d1e1}
#find-cruise li.selected:hover, #fb-search li.selected:hover{ background:#769ABC}
#no-recently-found-cruises {position:absolute; top:30px; left:15px; width:90%; padding:10px; text-align:center}
#no-recently-found-cruises p{margin:7px 0; font-size:16px}
.cruised-with-princess-block a{color:#0054A0}
#find-compare li.disabled { opacity:1;filter:alpha(opacity=100);}
h3.year{padding-left:3px; padding-top:3px}
#find-cruise .dates li.disabled:hover, #fb-search .dates li.disabled:hover{ background:#fff; color:#666; cursor:auto}

#cruised-with-princess {
    margin-right: 2px;
}
.searchlight-simple .cruised-with-princess-block input {
    vertical-align: middle;
}
.cruised-with-princess-block a {
    color: #0054A0;
    display: inline;
    font-weight: 200;
}
.searchlight-simple #signin-signout-block {
    display: inline-block;
    padding: 0 10px 5px;
}
#signin-signout-block {
    clear: both;
    color: #FF6600;
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 0;
}
#signin-signout-block img {
    margin-right: 2px;
    margin-top: -1px;
    vertical-align: top;
}
#signin-signout-block a {
    color: #FF6600;
    font-weight: 700;
}


.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

/*FACEBOOK MODS*/
#fb-container {
    width:520px;
	overflow:hidden;
}
#fb-container #content {
	padding: 0;
	width: 100%;
}
#fb-search { 
/*customized*/
width: 498px; 
border: solid 1px #d5d5d5;
background:none;
margin: 0 auto;
padding: 0 10px 10px;
}
#fb-search h1 {
    background: #E0E8F0;
    font-size: 18px;
    font-weight: 400;
    margin: 0px -10px 10px;
    padding: 8px 10px;
}
#fb-search .col1, #fb-search .col2 {
	margin:0;
	padding: 0 17px;
	border-right: none;
	width: 214px;
}
#fb-search .col2{
	border-left: 1px solid #DDDBDB;
}
#fb-search select {
	width: 204px;
	max-width: 204px;
}
.ie7 #fb-search select {
	margin-bottom: 2px;
}
#fb-search .col3 {
	width: 498px;
	margin: 10px auto;
}
#fb-search .year-block {
	width: 130px;
	padding: 0 17px 0 18px;
}
#fb-search .year-block.center {
	border-right: 1px solid #DDDBDB;
	border-left: 1px solid #DDDBDB;
}
#fb-search .year-block h3 {
	margin-top:0;
}
#fb-search .results-container {
	margin: 10px 0;	
}

#fb-search .cruised-with-princess-block {
	width: 458px;
	margin: 0 0 5px 20px;
}
#fb-search #signin-signout-block {
	margin-left: 10px;
}
.ie7 #fb-search #signin-signout-block {
	margin-left: 5px;
}
#fb-search #signin-signout-block .lower-fares {
	margin-left: 3px;
	font-weight: 200;
}
#fb-search #signin-signout-block {
	padding:0;
	font-size:11px;
	display: inline;
}
#fb-search .buttons {
    float: left;
    margin-left: 20px;
    padding-top: 5px;
    text-align: left;
    width: 165px;
}
.display-none {
    display: none;
}
.tooltip{
	position:absolute; 
	background-color:#fff; 
	border:1px solid #666; 
	line-height:1.3em; 
	padding:10px; 
	text-align:left; 
	-moz-box-shadow:0 0 5px #888888; 
	-webkit-box-shadow:0 0 5px #888888; 
	box-shadow:0 0 5px #888888; 
	min-height:70px; 
	min-width:120px; 
	top:-2000px; 
	left:-2000px; 
	z-index:318; 
	display:none;
}
.tooltip .pointer-arrow{ bottom:-33px; left:auto; right:-5px !important; border-color:#0054a0 transparent transparent; border-width:12px; clip:rect(auto, auto, 12px, auto)}
.tooltip h2{margin:-10px -10px 10px -10px; padding: 3px 10px 6px; font-size:16px; color:#fff;}
.grey-tooltip{ border: solid 5px #58595b; border-bottom:solid 10px #58595b;}
.grey-tooltip .pointer-arrow{border-color:#58595b transparent transparent; }
.grey-tooltip h2 {background:#58595b}
#tooltip-content{overflow:hidden}
#tooltip-content ul{ margin:3px; overflow:hidden}
#tooltip-content li{ list-style:disc; margin-left:14px}
.invisible-area { padding:14px; position:absolute; bottom:-25px; margin:0 -15px; width:100%}
.pointer-arrow{
    border-color:transparent #fff transparent transparent; 
    border-style:solid; 
    border-width:16px; 
    bottom:66px; 
    height:0; 
    left:-32px; 
    position:absolute; 
    width:0}

#top-picks {
    background-color: #CCCCCC; /* fallback/image non-cover color */
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), color-stop(0.5, #FFFFFF), color-stop(0.6, #FFFFFF), to(#CCCCCC)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #CCCCCC, #FFFFFF 50%, #FFFFFF 60%, #CCCCCC); /* Safari 5.1+, Chrome 10+ */
    background: -moz-linear-gradient(top, #CCCCCC, #FFFFFF 50%, #FFFFFF 60%, #CCCCCC); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #CCCCCC, #FFFFFF 50%, #FFFFFF 60%, #CCCCCC); /* IE 10 */
    background: -o-linear-gradient(top, #CCCCCC, #FFFFFF 50%, #FFFFFF 60%, #CCCCCC); /* Opera 11.10+ */
    border-bottom: 5px solid #C8D8E8;
    border-radius: 8px 8px 0 0;
    padding: 6px;
}
#top-picks h3 {
    background-color: #C8D8E8;
    border-radius: 8px 8px 0 0;
    color: #222222;
    font-size: 14px;
    font-weight: 200;
    margin: -5px -6px 7px;
    padding: 3px 0 3px 10px;
}
.wrap-inner {
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 0;
    width: auto;
}
.top-pick {
    border-bottom: 1px solid #CCCCCC;
    font-size: 12px;
    line-height: 19px;
    margin: 0 5px;
    overflow: hidden;
    padding: 6px 5px;
}
.top-pick:last-child {
    border: medium none;
}
.top-pick .left {
    float: left;
    width: 275px;
}
.top-pick .right {
    float: right;
    padding: 15px 0 15px 10px;
}
.top-pick h5 {
    font-weight: 200;
    overflow: hidden;
    width: 100%;
	background:none;
	margin-top:0;
	text-transform:none;
}
.cruise-title {
    color: #1E4E8D;
    font-size: 14px;
	line-height: 1.25em;
	padding: 0 2px;
    text-decoration: none;
}
#top-picks .date, #top-picks .ship-name, #top-picks .port {
    color: #000000;
}

hr.spacer {
	margin: 13px 0;
	border: none;
	height: 1px;
	width: 100%;
    background-color: #d5d5d5; /* fallback/image non-cover color */
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.5, #d5d5d5), color-stop(0.6, #d5d5d5), to(#fff)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(left, #fff, #d5d5d5 50%, #d5d5d5 60%, #fff); /* Safari 5.1+, Chrome 10+ */
    background: -moz-linear-gradient(left, #fff, #d5d5d5 50%, #d5d5d5 60%, #fff); /* Firefox 3.6+ */
    background: -ms-linear-gradient(left, #fff, #d5d5d5 50%, #d5d5d5 60%, #fff); /* IE 10 */
    background: -o-linear-gradient(left, #fff, #d5d5d5 50%, #d5d5d5 60%, #fff); /* Opera 11.10+ */
}
.ie7 hr.spacer {
	margin:5px 0;	
}