/* PRINCESS FORMS 
 * Set a baseline for form elements. Should only focus on presentation of the elements, not layout. Thus, no demensions or positioning attributes.
 * Styles need to be merged into princess-normalize during font-sizing ticket.
 */

 /* =============================================================================
    Forms
    ========================================================================== */

form {
    margin: 0;
}
fieldset {
    border: 1px solid #ccc;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
out,
legend {
    border: 0;
    *margin-left: -7px;
    font-size: 14px;
    font-weight: 700;
}
button,
input,
select,
textarea {
    /*font-size: 100%; */
    font-size: 13px; /* need to set relative text size once baseline is defined */
    margin: 0;
    padding: 1px;
    border: 1px solid #999;
    vertical-align: baseline;
    *vertical-align: middle;
}
option {
    font-size: 100%; /* need to correct small type previously set in other reset files */
}
button,
input {
    line-height: normal;
}
table button, table input { 
    *overflow: auto; 
}
button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; 
    -webkit-appearance: button; 
    *overflow: visible; 
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
	resize: vertical;
}

/* Default Fault Button - Used on Input, Button, A Hrefs*/
.button:visited, .button:link, .button:active {
    color: #fff;
}
.button, .btn  {
    color: #fff;
    font-size: 13px; /*need to switch to ems*/
    font-weight: 700; 
    padding: 4px 10px; 
    border: solid 1px #999; 
    background: #0054a0; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3779b5), color-stop(100%,#0054a0)); 
    background: -webkit-linear-gradient(top, #3779b5 0%,#0054a0 100%); 
    background: -moz-linear-gradient(top, #3779b5 0%, #0054a0 100%); 
    background: -o-linear-gradient(top, #3779b5 0%,#0054a0 100%); 
    background: -ms-linear-gradient(top, #3779b5 0%,#0054a0 100%); 
    background: linear-gradient(top, #3779b5 0%,#0054a0 100%); 
}
.gray-btn, .gray-btn.selected:hover {
    background:#c8c8c8; 
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, #d1d1d1),color-stop(100%, #c8c8c8));
    background:-webkit-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%); 
    background:-moz-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%);
    background: -ms-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%); 
    background: -o-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%); 
    background: linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%);
}
.button:hover, .btn:hover{
    text-decoration: none; 
    background: #3779b5; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#658eb2), color-stop(100%,#0054a0)); 
    background: -webkit-linear-gradient(top, #658eb2 0%,#0054a0 100%); 
    background: -moz-linear-gradient(top, #658eb2 0%, #0054a0 100%); 
    background: -o-linear-gradient(top, #658eb2 0%,#0054a0 100%); 
    background: -ms-linear-gradient(top, #658eb2 0%,#0054a0 100%); 
    background: linear-gradient(top, #658eb2 0%,#0054a0 100%); 
}
/*Color Variations*/
.green-btn, .green-btn.selected:hover {
    font-size: 15px;
    background: #619412; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c65d), color-stop(100%,#619412)); 
    background: -webkit-linear-gradient(top, #a2c65d 0%, #619412 100%); 
    background: -moz-linear-gradient(top, #a2c65d 0%, #619412 100%); 
    background: -ms-linear-gradient(top, #a2c65d 0%, #619412 100%); 
    background: -o-linear-gradient(top, #a2c65d 0%, #619412 100%); 
    background: linear-gradient(top, #a2c65d 0%, #619412 100%); 
}
.green-btn:hover {
    background: #82b533; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7d57c), color-stop(100%,#619412)); 
    background: -webkit-linear-gradient(top, #b7d57c 0%, #619412 100%); 
    background: -moz-linear-gradient(top, #b7d57c 0%, #619412 100%); 
    background: -ms-linear-gradient(top, #b7d57c 0%, #619412 100%); 
    background: -o-linear-gradient(top, #b7d57c 0%, #619412 100%); 
    background: linear-gradient(top, #b7d57c 0%, #619412 100%); 
}
.golden-btn, .golden-btn.selected:hover {
    border: solid 1px #c1c1c1; 
    background: #bc8700; 
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #ebac11),color-stop(30%, #d59800), color-stop(100%, #bc8700)); 
    background: -webkit-linear-gradient(top, #ebac11 0%, #d59800 30%, #bc8700 100%); 
    background: -moz-linear-gradient(top, #ebac11 0%, #d59800 30%, #bc8700 100%); 
    background: -ms-linear-gradient(top, #ebac11 0%, #d59800 30%, #bc8700 100%); 
    background: -o-linear-gradient(top, #ebac11 0%, #d59800 30%, #bc8700 100%); 
    background: linear-gradient(top, #ebac11 0%, #d59800 30%, #bc8700 100%); 
}
.golden-btn:hover { 
    text-decoration: none;
    background: #d59800;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #f0c14d),color-stop(30%, #d59800), color-stop(100%, #bc8700)); 
    background: -webkit-linear-gradient(top, #f0c14d 0%, #d59800 30%, #bc8700 100%);
    background: -moz-linear-gradient(top, #f0c14d 0%, #d59800 30%, #bc8700 100%);
    background: -ms-linear-gradient(top, #f0c14d 0%, #d59800 30%, #bc8700 100%); 
    background: -o-linear-gradient(top, #f0c14d 0%, #d59800 30%, #bc8700 100%); 
    background: linear-gradient(top, #f0c14d 0%, #d59800 30%, #bc8700 100%); 
}
.button.deactive, .button.disabled {
    background:#c8c8c8; 
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%, #d1d1d1),color-stop(100%, #c8c8c8));
    background:-webkit-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%); 
    background:-moz-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%);
    background: -ms-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%); 
    background: -o-linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%); 
    background: linear-gradient(top, #d1d1d1 0%, #c8c8c8 100%);     
    cursor: default; 
}
.button.selected {
	cursor: default;
	filter: alpha(opacity=30);
	opacity: .3;
}
.button.selected:hover {
	background: inhertit;
}
.roundedBtn {
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}
.roundedBtn:link, .roundedBtn:hover, .roundedBtn:visited {
	text-decoration: none;
	font-weight: bold;
	padding:5px 10px 3px 5px;
}
.lt-ie8 .roundedBtn {
	display: inline-block;
	margin-bottom: 1px;
	padding:3px 10px 3px 5px;
}
.lt-ie8 .icon {
	margin-bottom: 2px;
}
.blackBtn {
	color: #fff;
	background-color: #000;
}
.orangeBtn {
	color: #fff;
	background-color: #B8632A;
}
.smallBtn {
	font-size: 11px;
}
.icon {
	width:15px;
	height:15px;
	background: url('/images/icon.png') no-repeat;
	display: inline-block;
}
.tabs a:link, .tabs a:visited, .tabs a:hover {
	-moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -khtml-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ababab), color-stop(100%, #666966));
	background-image: -webkit-linear-gradient(top, #ababab, #666966);
	background-image: -moz-linear-gradient(top, #ababab, #666966);
	background-image: -ms-linear-gradient(top, #ababab, #666966);
	background-image: -o-linear-gradient(top, #ababab, #666966);
	background-image: linear-gradient(top, #ababab, #666966);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ababab, endColorstr=#666966);
    z-index: 1;
	background-color: #ababab;
	padding: 3px 10px;
	font-weight:bold;
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}
.tabs .active a {
	background-color: #fff;
	color: #C5A93D;
	border: 1px solid #666966;
	border-bottom: none;
	background-image: none;
	-moz-box-shadow: 1px -1px 1px 0px #CCCCCC;
    -webkit-box-shadow: 1px -1px 1px 0px #CCCCCC;
    box-shadow: 1px -1px 1px 0px #CCCCCC;
}
.tabs li {
	list-style: none;
	display: inline;
}
.tabs {
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
}
.ie9 .tabs a {
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
}
.lt-ie9 .tabs a{
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
}
.ie9 .tabs .active a {
	border-bottom: none;
	padding-bottom: 4px;
}
.lt-ie9 .tabs .active a{
	border-bottom: none;
	padding-bottom: 3px;
}
@-moz-document url-prefix() {
    .tabs {
       padding-bottom: 1px;
    }
}
