/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol, ul {list-style: none}

/* remember to define focus styles! */
:focus {outline: 0;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
/* Reset CSS Ends */


html        { overflow-y:scroll}
body { font:70%/16px Arial,Helvetica,sans-serif; }
#container { background-image:url(../../../images/global/home_background.jpg); background-repeat: no-repeat; background-position: center top; 
}
.float{float:left;margin:3px}
#global-search {position:absolute;right:5px;top:55px;}
input, select, option {color:#333333;font:11px Arial,Helvetica,sans-serif;padding:1px;}
#content { margin:0 auto; overflow:visible; padding:0; position:relative; width:980px }
a:link, a:visited, a:active { text-decoration:none; color: #1E4E8D; }
a.linksorange {color:#FF6600;font-weight:700;margin-right:2px;text-decoration:none;}
a.linksorange:active,a.linksorange:visited {color:#FF6600;}
#navigation {
background:url("../../../images/menu/Nav_BlueGrad.gif") repeat-x scroll 0 0 transparent;
height:32px;
left:0;
position:absolute;
text-align:center;
top:90px;
width:100%;
}
.form-alignment { padding-left: 90px; font-weight:200; line-height:20px }
#sign-in-box { position: absolute; top: 22px; right: 0; background: #f7f7f7; width: 225px; text-align: left; 
padding: 5px 75px 0 10px; ; border: 1px solid #8596b1; z-index: 300; 
box-shadow:  2px 7px 8px #666; -webkit-box-shadow:  2px 7px 8px #666; -moz-box-shadow: 2px 7px 8px #666; margin-bottom: 5px; display: none; }
#sign-in-box h3 { font-size: 13px; color: #666; border-bottom: 1px solid #CCC; padding-bottom: 2px;margin-bottom:12px; }
#sign-in-box .close-box { width: 15px; height: 15px; text-align: center; padding: 2px; position: absolute; top: 4px; right: 10px; }
#sign-in label { width: 84px; display: block; float: left; text-align: right; padding-right: 5px; color: #333; }
#sign-in input { margin-bottom: 8px; }
#global-search img { vertical-align: bottom; }
#page-header-links img { vertical-align: top}
*+html #page-header-links img { vertical-align: middle}
* html #page-header-links img { vertical-align: middle}
#page-header-links .separator { width: 15px; padding: 2px 6px 2px 4px; background: url(../../images/global/footer_separator.jpg) no-repeat 3px top; }
#register-block { width: 185px; margin-right: -100px; background: url(../../images/global/register_block_bg.gif) repeat-x; color: #FFF; margin-left: -10px; text-align: center; padding: 6px 74px 8px 51px; ; margin-top: 12px; }
#ad-image {text-align:center}
#ad-image a { color: #0063A5; font-weight: 700; text-decoration: none; }
.social-links { padding-top: 5px; padding-bottom: 5px; }
#signin-error { color: #F00; padding-top: 2px; padding-bottom: 7px; font-weight: 200; }
#signin-error p{ padding:0}
#sign-in-box label.error, #sign-in-box input.error{ color:red;font-size:11px;padding:0}
#bottom-slot { background: url(../../images/global/bottom_slot_bg.png) repeat-x; overflow: hidden; clear: both; width: 948px; margin-right: auto; margin-left: auto; padding: 15px; margin-top: 10px; }
.centered { text-align: center; }
#bottom-slot .centered img { padding: 0px 40px; }
#bottom-slot .centered img:first-child { border-right: 1px solid #CCC; }
#signin-signout { line-height:20px}
#loading-symbol { position: absolute; top: 42px; right: 10px; width: 50px; display: none; }
.super{font-size:90%;vertical-align:super;text-decoration:none;} 
a.dimmed-link:link, a.dimmed-link:visited, a.dimmed-link:active { text-decoration:none; color: #a2b6ca;; }
.dimmed-link { color:  #a2b6ca; }