@charset "utf-8";
/* CSS Document */

/* Popup/Lightbox Styles */
.lightbox {
	max-width: 686px; /*actual width is 736px, reduce settings to acount for padding*/
}
#popup-header{
	border-top:solid 12px #0d4f8e;
	margin:0 -25px;
	padding-bottom:15px
}
#heading{
	background:#e7eef3;
	padding:5px 10px;
	overflow:hidden;
	zoom:1;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#heading h1{
	color:#8090B0;
	font-size: 18px;
	font-weight:700
}
#heading h1 span{
	color:#626162
}
#heading p {
	font-weight:700
}
#javascript-disabled-warning{
	background:#F4F3CA;
	border:solid 2px #420F10;
	padding:5px;
	width:70%;
	margin:10px auto
}
#javascript-disabled-warning strong{
	color:#990000
}
.popup-form-content {
    margin: 10px auto;
    width: 716px;
}


/* panorama player */
div.panorama,.panorama-view{
	width:100%;
	height:100%;
	overflow:hidden
}
div.panorama {
	width:716px;
	height:342px;
	background-color: #444
}
div.panorama, .panorama-container{
	position:relative
}
.panorama-container img{
	height:100%;
	position:absolute;
	top:0
}
.panorama-view{
	cursor:url(/images/share/lightbox-panorama/openhand.cur),default
}
.panorama-view.grab{
	cursor:url(/images/share/lightbox-panorama/closedhand.cur),default
}

.panorama-view img{
	-o-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none)
}
.panorama-view .area{
	position:absolute;
	display:block;
	opacity:0.2;
	background-color:#000;
	cursor:pointer;
	overflow:hidden;
	text-indent:-9999px
}
.panorama-view .area:hover{
	opacity:0.4
}
.panorama .control-bar {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
    height: 26px;
	text-align:center;
	background-color:#1d1d1d;
	opacity: 0.95;
}
.panorama .info{
	display: block;
    position: absolute;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(/images/share/lightbox-panorama/sprite_vr-panorama.png);
	text-align: left;
	direction: ltr;
	*line-height: 0;
	width: 34px;
	height: 26px;
	color:#fff;
	font: normal 11px sans-serif;
	text-decoration:none;
}
.panorama .info.left{
	background-position: 0 0;
    left: 307px;
}
.panorama .info.left:hover{
	background-position: -36px 0;
}
.panorama .info.right{
	background-position: 0 -120px;
    left: 375px;
}
.panorama .info.right:hover{
	background-position: -36px -120px;
}
.panorama .info.stop{
	background-position: 0 -40px;
    left: 341px;
}
.panorama .info.stop:hover{
	background-position: -36px -40px;
}
.panorama .info.play{
	background-position: 0 -80px;
    left: 341px;
}
.panorama .info.play:hover{
	background-position: -36px -80px;
}

/* Responsive Panorama */
.responsive-panorama .panorama {
	width:100%;
}
.responsive-panorama .control-bar {
	background-color:rgba(0,0,0,.7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000');
	opacity:1;
}
.responsive-panorama .info {
	display:inline-block;
	position:relative;
}
.responsive-panorama .info, .responsive-panorama .info.left, .responsive-panorama .info.stop, .responsive-panorama .info.right, .responsive-panorama .info.play {
	left:inherit;
}

