@charset "utf-8";
/* CSS Document */

.popup-form-content{
	position:relative;
	margin:10px;
	min-height:342px;
	width: 714px;
}
#closeWindow{
	display: none;
}

/* panorama player */
.panorama,.panorama-view{
	width:100%;
	height:100%;
	overflow:hidden
}
.panorama {
	position:absolute;
	width:714px;
	height:342px;
	top:0;
	left:0;
	background-color: #444
}
.panorama, .panorama-container{
	position:relative
}
.panorama-container img{
	height:100%;
	position:absolute;
	top:0
}
.panorama-view{
	cursor:url(/images/share/lightbox-panorama/openhand.cur),default
}
.panorama-view.grab{
	cursor:url(/images/share/lightbox-panorama/closedhand.cur),default
}

.panorama-view img{
	-o-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none)
}
.panorama-view .area{
	position:absolute;
	display:block;
	opacity:0.2;
	background-color:#000;
	cursor:pointer;
	overflow:hidden;
	text-indent:-9999px
}
.panorama-view .area:hover{
	opacity:0.4
}
.panorama .control-bar {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
	background-color:#1d1d1d;
	opacity: 0.95;
}
.panorama .info{
	display: inline-block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(/images/share/lightbox-panorama/sprite_vr-panorama.png);
	text-align: left;
	direction: ltr;
	*line-height: 0;
	width: 34px;
	height: 26px;
	color:#fff;
	font: normal 11px sans-serif;
	text-decoration:none;
}
.panorama .info.left{
	background-position: 0 0;
}
.panorama .info.left:hover{
	background-position: -36px 0;
}
.panorama .info.right{
	background-position: 0 -120px;
}
.panorama .info.right:hover{
	background-position: -36px -120px;
}
.panorama .info.stop{
	background-position: 0 -40px;
}
.panorama .info.stop:hover{
	background-position: -36px -40px;
}
.panorama .info.play{
	background-position: 0 -80px;
}
.panorama .info.play:hover{
	background-position: -36px -80px;
}
