@charset "utf-8";
/*
 *  Princess Cruises Maintenance Page
 *
 */ 

html, body {
	min-height: 100%;
}
.maintenance-bg {
	background-position: 50% 0;
	background-repeat:no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
@media (max-height: 30em) {
	.maintenance-bg {
		background-image: url(/images/global/maintenance/maintenance-bg-xs.jpg);
	}
}
@media (min-height: 30.0625em) and (max-width: 47.9375em) {
	.maintenance-bg {
		background-image: url(/images/global/maintenance/maintenance-bg-md.jpg);
	}
}
@media (min-width: 48em) {
	.maintenance-bg {
		background-image: url(/images/global/maintenance/maintenance-bg.jpg);
	}
}

/* Maintenance Content */
.maintenance-content {
	margin: 0 auto;
	padding: 15px 30px;
	position: relative;
	max-width: 320px;
}
@media (min-width: 22.5em) {
	.maintenance-content {
		padding-top: 30px;
	}
}
@media (min-width: 48em) {
	.maintenance-content {
		padding-top: 60px;
	}
	.maintenance-content > h1 {
		margin-top: 0;
	}
}

/* Logo */
.logo {
	background-image: url(/images/global/maintenance/50th-princess-logo.svg);
	background-position: -138px 0;
	background-repeat: no-repeat;
	height: 40px;
	position: relative;
	width: 260px;
}
.no-svg .logo {
	background-image: url(/images/global/maintenance/50th-princess-logo.png);
}
.maintenance-content > h1 {
	line-height: 1;
}
.maintenance-content > h2 {
	line-height: 1;
	margin-bottom: 0;
}
@media (min-width: 48em) {
	.logo {
		background-position: 0 0;
		height: 125px;
		opacity: .75;
		position: absolute;
		left: -105px;
		width: 105px;
	}
}

/* Follow Princess */
.follow-princess > li {
	display: inline-block;
}
.follow-icon {
    display: block;
    background: url(/images/global/sprite_header-nav-footer.png) no-repeat transparent;
    text-indent: -999em;
    overflow: hidden;
    white-space: nowrap;
    width: 30px;
    height: 30px;
}
.follow-icon.facebook {
	background-position: -5px -165px;
}
.follow-icon.youtube {
	background-position: -5px -200px;
}
.follow-icon.flickr {
	background-position: -5px -235px;
}
.follow-icon.twitter {
	background-position: -5px -270px;
}
.follow-icon.googleplus {
	background-position: -5px -305px;
}
.follow-icon.pinterest {
	background-position: -5px -340px;
}
.follow-icon.instagram {
	background-position: -5px -375px;
}
@media (min-height: 30.0625em) and (max-width: 47.9375em) {
	.follow-princess {
		position: fixed;
		bottom: 3%;
	}
}

/* Background Location Caption */
.background-caption {
	font-style: oblique;
	font-size: 12px;
}
@media (max-width: 47.9375em) and (orientation: portrait) {
	.background-caption {
		bottom: 2.5%;
		color: #fff;
		left: 0;
		text-align: center;
		padding: 0 15px;
		position: fixed;
		text-shadow: #000 2px 2px 3px;
		width: 100%;
	}	
}
@media (max-width: 48em) {
	.background-caption {
		margin-top: 5%;
	}	
}