/*
 * Stateroom Tooltips
 */
/*reset lightbox z-index so that it appears above the tooltip*/
#lightbox-overlay {
	z-index: 25003;
}
.lightbox {
	z-index: 25004;
}
.tooltip-stateroom {
	width: 350px;
	overflow: hidden;
}
.tooltip-stateroom-content > p {
	margin: 0 0 .25em;
}
.tooltip-stateroom-img + .tooltip-stateroom-content {
	margin-left: 120px;
}
.tooltip-stateroom-img {
	border: 1px solid #0054A0;
	float: left;
	height: 66px;
	width: 107px;
}
.gray .tooltip-stateroom-img {
	border: 1px solid #4d4d4d;
}
.tooltip-cta {
	border-top: 1px solid #333;
	clear: both;
	color: #000;
	display: block;
	font-size: 1.1538em;
	font-weight: 700;
	margin-top: 8px;
	padding: 5px 5px 0;
	text-align: center;
}
.stateroom-pricing {
	font-size: .8461em;
	font-weight: 700;
	margin: 0;
}
.stateroom-pricing > .price {
	font-size: 1.6363em;
}
.tooltip-stateroom-content > .sold {
	color: #db0000;
	font-size: 1.3846em;
	font-weight: 700;
	margin-bottom: 0;
}
.higher-zindex{
    z-index: 10000000 !important;
}