/* =============================================================================
   Apply missing styles needed for header / top nav redesign
   ========================================================================== */
.pc-icons {
	background: url(/images/global/sprite_pc-icons.svg) no-repeat transparent;
	direction: ltr;
	display: inline-block;
	overflow: hidden;
	text-align: left; 
	text-indent: -999em; 
	vertical-align: middle;
	margin: 0 .35em;
}
.no-svg .pc-icons {
	background-image:url(/images/global/sprite_pc-icons.png);
}
.pc-icons:hover {
	text-decoration: none;
}
.blue-downarrow-10 {
	background-position: 0px 0px;
	height:10px;
	width:20px;
}
.blue-uparrow-10 {
	background-position: -25px 0px;
	height:10px;
	width:20px;
}
.white-envelope-12 {
	background-position: -447px -20px;
	height: 12px;
	width: 18px;
}
.black-ada-12 {
	background-position: -470px -20px;
	height: 12px;
	width: 11px;	
}
.blue-search-14 {
	background-position: -157px -42px;
	height: 14px;
	width: 13px;
}
.white-search-14 {
	background-position: -174px -42px;
	height: 14px;
	width: 13px;
}
.white-heart-14 {
	background-position: -191px -42px;
	height: 14px;
	width: 16px;
}
.white-heart-outline-14 {
	background-position: -212px -42px;
	height: 14px;
	width: 16px;
}
.blue-heart-14 {
	background-position: -269px -42px;
	height: 14px;
	width: 16px;
}
.blue-heart-outline-14 {
	background-position: -290px -42px;
	height: 14px;
	width: 16px;
}
.user-14 {
	background-position: -233px -42px;
	height: 14px;
	width: 13px;
}
.blue-user-14 {
	background-position: -251px -42px;
	height: 14px;
	width: 13px;
}
.white-chat-bubbles-14 {
	background-position: -311px -42px;
	height: 14px;
	width: 22px;
}
.blue-chat-bubbles-14 {
	background-position: -337px -42px;
	height: 14px;
	width: 22px;
}
.white-hangtag-14 {
	background-position: -382px -42px;
	height: 14px;
	width: 14px;
}
.blue-hangtag-14 {
	background-position: -382px -42px;
	height: 14px;
	width: 14px;
}
.blue-envelope-14 {
	background-position: -401px -42px;
	height: 14px;
	width: 21px;
}
.white-envelope-14 {
	background-position: -426px -42px;
	height: 14px;
	width: 21px;
}
.blue-search-22 {
	background-position: -348px -150px;
	height: 22px;
	width: 21px;
}
.white-search-22 {
	background-position: -374px -150px;
	height: 22px;
	width: 21px;
}
.white-x-22 {
	background-position: -485px -150px;
	height: 22px;
	width: 20px;
}
.white-heart-22 {
	background-position: -400px -150px;
	height: 22px;
	width: 25px;
}
.white-heart-outline-22 {
	background-position: -430px -150px;
	height: 22px;
	width: 25px;
}
.blue-heart-22 {
	background-position: -673px -150px;
	height: 22px;
	width: 25px;
}
.blue-heart-outline-22 {
	background-position: -703px -150px;
	height: 22px;
	width: 25px;
}
.user-22 {
	background-position: -460px -150px;
	height: 22px;
	width: 20px;
}
.blue-user-22 {
	background-position: -733px -150px;
	height: 22px;
	width: 20px;
}
.white-dollar-sign-22 {
	background-position: -654px -150px;
	height: 22px;
	width: 14px;
}
.blue-dollar-sign-22 {
	background-position: -796px -150px;
	height: 22px;
	width: 14px;
}
.white-hangtag-22 {
	background-position: -881px -150px;
	height: 22px;
	width: 22px;
}
.blue-hangtag-22 {
	background-position: -854px -150px;
	height: 22px;
	width: 22px;
}
.white-chat-bubbles-22 {
	background-position: -616px -150px;
	height: 22px;
	width: 34px;
}
.shorex-36 {
	background-position: 0px -372px;
	height: 36px;
	width: 69px;
}
.cruise-with-me-36 {
	background-position: -74px -372px;
	height: 36px;
	width: 163px;
}
.blue-ship-36 {
	background-position: -242px -372px;
	height: 36px;
	width: 74px;
}
.brochure-42 {
	background-position: 0px -418px;
	height: 42px;
	width: 37px;
}
.map-42 {
	background-position: -42px -418px;
	height: 42px;
	width: 45px;
}
.green-envelope-28 {
	background-position: -327px -252px;
	height: 28px;
	width: 41px;
}
.gray-shorex-28 {
	background-position: -374px -252px;
	height: 28px;
	width: 54px;
}
.gray-info-28 {
	background-position: -433px -252px;
	height: 28px;
	width: 28px;
}
.gray-circle-checkmark-32 {
	background-position: -97px -330px;
	height: 32px;
	width: 32px;
}
.black-phone-20 {
	background-position: -40px -120px;
	height:20px;
	width:17px;
}
.text-nowrap, .no-wrap {
	white-space: nowrap;
}
.button {
	border: solid 1px #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-family:'Gotham XNarrow SSm 5r', Arial, Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	padding: .3076em 1.1538em; 
	margin: 0;
	text-decoration: none;
}
.button.large {
	padding: .5555em 1.5555em;
}
.button:focus {
	outline: thin dotted;
}

/* Button shadow effects*/
.button {
	-webkit-box-shadow: 0 1px 1px 0 #ccc;
	-moz-box-shadow: 0 1px 1px 0 #ccc;
	box-shadow: 0 1px 1px 0 #ccc;
}
.button:hover, .button:focus {
	-webkit-box-shadow: 0 2px 3px 0 #ccc;
	-moz-box-shadow: 0 2px 3px 0 #ccc;
	box-shadow: 0 2px 3px 0 #ccc;
	text-decoration: none;
}
.button:active {
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
.button.selected {
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	-moz-box-shadow: 0 0 1px 1px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}
.button, .button.deactive, .button.deactive:hover, .button.deactive:focus, .button.deactive:active {
	background: #0054a0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d7bb3), color-stop(100%,#0054a0)); 
	background: -webkit-linear-gradient(top, #3d7bb3 0%,#0054a0 100%); 
	background: -moz-linear-gradient(top, #3d7bb3 0%, #0054a0 100%); 
	background: -o-linear-gradient(top, #3d7bb3 0%,#0054a0 100%); 
	background: -ms-linear-gradient(top, #3d7bb3 0%,#0054a0 100%); 
	background: linear-gradient(top, #3d7bb3 0%,#0054a0 100%);
	border-color: #044682; 
}
.button.btn-dark-bg {
	border-color:#3d7bb3;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button:hover, .button:focus {
	background: #0261b7; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4994d8), color-stop(100%,#0261b7)); 
	background: -webkit-linear-gradient(top, #4994d8 0%,#0261b7 100%); 
	background: -moz-linear-gradient(top, #4994d8 0%, #0261b7 100%); 
	background: -o-linear-gradient(top, #4994d8 0%,#0261b7 100%); 
	background: -ms-linear-gradient(top, #4994d8 0%,#0261b7 100%); 
	background: linear-gradient(top, #4994d8 0%,#0261b7 100%);
}
.button:active {
	background: #033f75; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376ea0), color-stop(100%,#033f75)); 
	background: -webkit-linear-gradient(top, #376ea0 0%,#033f75 100%); 
	background: -moz-linear-gradient(top, #376ea0 0%, #033f75 100%); 
	background: -o-linear-gradient(top, #376ea0 0%,#033f75 100%); 
	background: -ms-linear-gradient(top, #376ea0 0%,#033f75 100%); 
	background: linear-gradient(top, #376ea0 0%,#033f75 100%);
}
.button.selected {
	background: #bed1e3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3eaf1), color-stop(100%,#bed1e3));
	background: -webkit-linear-gradient(top, #e3eaf1 0%,#bed1e3 100%);
	background: -moz-linear-gradient(top, #e3eaf1 0%, #bed1e3 100%);
	background: -o-linear-gradient(top, #e3eaf1 0%,#bed1e3 100%);
	background: -ms-linear-gradient(top, #e3eaf1 0%,#bed1e3 100%);
	background: linear-gradient(to bottom, #e3eaf1 0%,#bed1e3 100%);
	border-color: #044682;
	color: #034a8a;
}
.button.selected:hover, .button.selected:focus {
	background: #97b8d5;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7ddf1), color-stop(100%,#97b8d5));
	background: -webkit-linear-gradient(top, #c7ddf1 0%,#97b8d5 100%);
	background: -moz-linear-gradient(top, #c7ddf1 0%, #97b8d5 100%);
	background: -o-linear-gradient(top, #c7ddf1 0%,#97b8d5 100%);
	background: -ms-linear-gradient(top, #c7ddf1 0%,#97b8d5 100%);
	background: linear-gradient(to bottom, #c7ddf1 0%,#97b8d5 100%);
}
.button.selected:active {
	background: #759abb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1d3e3), color-stop(100%,#759abb));
	background: -webkit-linear-gradient(top, #c1d3e3 0%,#759abb 100%);
	background: -moz-linear-gradient(top, #c1d3e3 0%, #759abb 100%);
	background: -o-linear-gradient(top, #c1d3e3 0%,#759abb 100%);
	background: -ms-linear-gradient(top, #c1d3e3 0%,#759abb 100%);
	background: linear-gradient(to bottom, #c1d3e3 0%,#759abb 100%);
}
.green-btn {
	background: #619411;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7c963), color-stop(100%, #619411)); 
	background: -webkit-linear-gradient(top, #a7c963 0%, #619411 100%); 
	background: -moz-linear-gradient(top, #a7c963 0%, #619411 100%); 
	background: -ms-linear-gradient(top, #a7c963 0%, #619411 100%); 
	background: -o-linear-gradient(top, #a7c963 0%, #619411 100%); 
	background: linear-gradient(top, #a7c963 0%, #619411 100%); 
	border-color: #568111;
}
.green-btn:hover, .green-btn:focus {
	background: #679d13; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5dc68), color-stop(100%,#679d13)); 
	background: -webkit-linear-gradient(top, #b5dc68 0%, #679d13 100%); 
	background: -moz-linear-gradient(top, #b5dc68 0%, #679d13 100%); 
	background: -ms-linear-gradient(top, #b5dc68 0%, #679d13 100%); 
	background: -o-linear-gradient(top, #b5dc68 0%, #679d13 100%); 
	background: linear-gradient(top, #b5dc68 0%, #679d13 100%); 
}
.green-btn:active {
	background: #578412; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97b55c), color-stop(100%,#578412)); 
	background: -webkit-linear-gradient(top, #97b55c 0%, #578412 100%); 
	background: -moz-linear-gradient(top, #97b55c 0%, #578412 100%); 
	background: -ms-linear-gradient(top, #97b55c 0%, #578412 100%); 
	background: -o-linear-gradient(top, #97b55c 0%, #578412 100%); 
	background: linear-gradient(top, #97b55c 0%, #578412 100%); 
}
.green-btn.selected {
	background: #c0d69e;
	background: -moz-linear-gradient(top, #e2efc7 0%, #c0d69e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2efc7), color-stop(100%,#c0d69e));
	background: -webkit-linear-gradient(top, #e2efc7 0%,#c0d69e 100%);
	background: -o-linear-gradient(top, #e2efc7 0%,#c0d69e 100%);
	background: -ms-linear-gradient(top, #e2efc7 0%,#c0d69e 100%);
	background: linear-gradient(to bottom, #e2efc7 0%,#c0d69e 100%);
	border-color: #41610d;
	color: #43630f;
}
.green-btn.selected:hover, .green-btn.selected:focus {
	background: #afc888;
	background: -moz-linear-gradient(top, #d3e4b1 0%, #afc888 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3e4b1), color-stop(100%,#afc888));
	background: -webkit-linear-gradient(top, #d3e4b1 0%,#afc888 100%);
	background: -o-linear-gradient(top, #d3e4b1 0%,#afc888 100%);
	background: -ms-linear-gradient(top, #d3e4b1 0%,#afc888 100%);
	background: linear-gradient(to bottom, #d3e4b1 0%,#afc888 100%);
}
.green-btn.selected:active {
	background: #9db17e;
	background: -moz-linear-gradient(top, #cedcb3 0%, #9db17e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedcb3), color-stop(100%,#9db17e));
	background: -webkit-linear-gradient(top, #cedcb3 0%,#9db17e 100%);
	background: -o-linear-gradient(top, #cedcb3 0%,#9db17e 100%);
	background: -ms-linear-gradient(top, #cedcb3 0%,#9db17e 100%);
	background: linear-gradient(to bottom, #cedcb3 0%,#9db17e 100%);
}
.button.deactive, .plain-text-btn.deactive, a.deactive {
	cursor: default;
	filter: alpha(opacity=40);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	opacity: .4;
}
