@charset "utf-8";

#ecard-holder {
	width:700px;
	margin:0 auto;
}
#ecard-holder .row {
	height:175px;
}
#ecard-holder .col-1of3 {
	text-align:center;
	padding:5px 0 20px 0;
	width:33.33%;
	margin-left:0;
}
.ecard-thumb {
	margin-top:3px;
}
.ecard-thumb:hover {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}

#ecard-container {
	width:700px;
	height:450px;
}
.preview-holder {
	width:602px;
	height:402px;
	position:relative;
	overflow:hidden;
}
#ecard {
	width:100%;
	height:100%;
	position:absolute;
}
#ecard .face {
	display:block;
	width:100%;
	height:100%;
}
.back {
}
#ecard-list {
	position:relative;
	top:0;
	left:0;
	list-style:none;
	list-style-position:inside;
	margin:0;
	padding:0;
}
#ecard-list li {
	float:left;
}
.card-face, .card-face > img {
	margin:0;
	padding:0;
	display:block;
}
.controls {
	width:49px;
}
.preview-holder, .controls {
	float:left;
}
.preview {
	margin-top:15px;
}
#left-arrow, #right-arrow {
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	cursor:pointer;
	height: 0;
	margin:160px 0 0 13px;
	width: 0;
}
#left-arrow {
	border-right: 24px solid #666;
}
#left-arrow:hover {
	border-right-color:#888;
}
#right-arrow {
	border-left: 24px solid #666;
}
#right-arrow:hover {
	border-left-color:#888;
}

/* BUTTONS */

.buttons {
	margin:10px 50px 0 50px;
}
.reverse-button, .continue-button {
	margin:0 30px;
}
#preview-button {
	margin-top:.8em;
}

/* COMPOSITION */

#ecard-f1 {
	left:-960px;
	position:absolute;
	width:1920px;
	min-height:400px;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-o-perspective: 2000px;
	perspective: 2000px;
}
.ecard-composition #content {
	min-height:715px;
	overflow:hidden;
}
#flip {
	width:960px;
	height:100%;
	position:absolute;
	right:0;
	-webkit-transform-origin:right center;
	-moz-transform-origin:right center;
	-o-transform-origin:right center;
	transform-origin:right center;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transition: -webkit-transform .75s;
	-moz-transition: -moz-transform .75s;
	-o-transition: -o-transform .75s;
	transition:transform .75s;
}
#flip.flipped {
	-webkit-transform: translateX(-100%) rotateY(-180deg);
	-moz-transform: translateX(-100%) rotateY(-180deg);
	-o-transform: translateX(-100%) rotateY(-180deg);
	transform: translateX(-100%) rotateY(-180deg);
}
#ecard-composition {
	-webkit-transition: -webkit-opacity .1s .5s  ease-in-out;
	-moz-transition: -moz-opacity .1s .5s  ease-in-out;
	-o-transition: -o-opacity .1s .5s  ease-in-out;
	transition:opacity .1s .5s  ease-in-out;
}
#ecard-composition.flipped {
	opacity:0;
}
#ecard-composition, #front-flyaway {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
#front-flyaway {
	margin-top:1em;
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
#front-flyaway img {
	border:#FFF solid 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
.no-csstransforms3d #front-flyaway {
	display:none;
}

	
#ecard-composition .fieldset-block {
	margin:1em 0;
}
.composition-details {
	width:60%;
	margin-left:0;
}
.composition-preview {
	width:35%;
	margin-left:4%;
}
.ecard-details-input{
	width:300px;
	display:block;
}
.ecard-details-input:last-of-type{
	display:inline;
}
.lt-ie9 .ecard-details-input {
	display:inline;
}
.ecard-details-textbox{
	width:100%;
	height:85px;
}
.composition-preview .ecard-thumb {
	border:3px solid #FFF;
	margin-bottom:10px;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
	-o-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}
.loading {
	display:none;
}
.loading img {
	vertical-align:middle;
}
#confirm-sent {
	width:960px;
}

/* PREVIEW YOUR eCARD POP-UP LIGHTBOX */
#ecard-preview-container {
	width:630px;
}
.preview-back {
	background:url(/images/ecard/back.jpg) top left no-repeat scroll;
	height:400px;
	width:600px;
}
#ecard-preview-container .preview-holder {
	float:none;
	margin:0 auto;
}


/* RECIPIENT PAGE STYLES */
#view-ecard, #spinner {
	width:610px;
	height:410px;
	left:50%;
	margin-left:-305px;
}
#view-ecard {
	margin-top:20px;
	position:relative;
	-webkit-perspective:2400px;
	-moz-perspective:2400px;
	-o-perspective:2400px;
	perspective:2400px;
}
#spinner {
	position:absolute;
}
#spinner img {
	margin:160px 0 0 0;
}
#spinner p {
	 text-shadow: 2px 2px 2px #CCC;
}
#v-card {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
	-o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
	width:100%;
	height:100%;
	position:absolute;
	-webkit-transform-origin:right center;
	-moz-transform-origin:right center;
	-o-transform-origin:right center;
	transform-origin:right center;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition:transform 1s;
}
#v-card figure {
	display:block;
	position:absolute;
	width:600px;
	height:400px;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
#v-card > .v-front, #v-card > .v-back {
	border:5px solid #FFF;
	background-repeat:no-repeat;
	display:none;
}
#v-card > .v-back {
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
#v-card.flipped {
	-webkit-transform: translateX(-100%) rotateY(-180deg);
	-moz-transform: translateX(-100%) rotateY(-180deg);
	-o-transform: translateX(-100%) rotateY(-180deg);
	transform: translateX(-100%) rotateY(-180deg);
}
#v-card p, #preview-message {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;	
	line-height:1.2em;
	margin:0;
	position:absolute;
}
#reverse-button {
	margin-top:30px;
}
.no-csstransforms3d #v-card .v-back {
	display:none;
	box-shadow:none;
}