@charset "utf-8";
/* 
 * AMAZON STYLES 
 */

/* General Styles */
body {
    font: 75%/1.333 Arial,Helvetica,sans-serif;
}
#content { 
	font-size: 1.071em;
	background: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
.section {
	border: 1px solid #c6c6c6;
	padding: 9px;
	margin: 10px 0;
}
.section h1 {
	background-color: #f5f9fc;
	margin-top:0;
	padding: 10px;
	line-height:1;
	font-weight:200;
	font-size: 1.666em; /*20px*/
	letter-spacing:.095em;
}
.section h1 img, .btn_update-subtotal, .update-cart input[type=image] {
	display: inline;
	vertical-align: middle;
	margin-left: .75em;
}
#book-selected h1 {
	margin-bottom: 1px;
}
.section h2 {
	margin: 0 10px 0px;
	line-height:1;
	font-weight:200;
	font-size: 1.5em; /*18px*/
	line-height: 2em;
	letter-spacing:.095em;
	color:#717171;
}
.section h3 img {
	display: inline;
	vertical-align: middle;
}
.section p {
	margin-left: 10px;
	margin-right: 10px;
}
.section ul {
	margin-left: 10px;
	margin-right: 10px;
}
table {
	width: 100%;
	background: transparent;
	margin: 0;
}
th, td {
	padding: 6px 18px;
	text-align:left;
}
th {
	background-color: #e5e5e5;
	font-size: 1.0833em;	
}
td {
	font-size: 1.1666em; /*14px;*/
	padding-top: 10px;
}
.price {
	color: #9b0600;
}
.amazon-sprite {
	background: url(/images/amazon/sprite_amazon.png) no-repeat 0 0 transparent;
}
.view-link {
	background: url(/images/amazon/sprite_gallery-btns.png) no-repeat -245px -3px transparent;
	padding-left: 15px;
}
.subtitle {
    font-size: 12px;
    letter-spacing: 0.04em;
    margin-left: 0.75em;
}

/* Shopping Cart Styles */
#shopping-cart h1 {
	font-size: 1.25em; /*15px*/
	font-weight: 700;
	letter-spacing: 0;
}
.thumbimg {
	width: 275px;
	padding: 0 10px;
	float :left;
}
.thumbimg ul {
	margin-left:0;
	margin-right:0;
	padding: 0;
	list-style: none;
}
.thumbimg li {
	display: inline;
	margin: 5px 5px 6px 6px;
}
.cart {
	width: 635px;
	float: right;
}
.delete {
	padding-left:36px;
}
.cart .price {
	padding-right:36px;
}
.cart input[type=text] {
	width: 30px;
	font-size:12px;
}
.subtotal, .update-cart {
	text-align: right;
	font-weight: 700;
}
.subtotal {
	padding-right:36px;
}
.btn_update-subtotal {
	width: 50px;
	height: 17px;
	background-position: -10px -30px;
}
.btn_delete {
	width: 46px;
	height: 17px;
	background-position: -80px -30px;
}
.btn_proceed-checkout {
	width: 156px;
	height: 27px;
	background-position: -10px -145px;
}

/* Selected Boooks */
.amazon-logo {
	float: right;
}
.ie7 .amazon-logo {
	margin: -27px 10px 0 0;
}
.expert {
	width:46%;
	background: #f5f9fc;
	padding: 10px 5px 0px;
	border: solid #e1e1e1 1px;
	float:right;
	margin-top:1em;
	margin-bottom:1em;
	-moz-box-shadow: 0px 25px 8px -20px #969696;
	-webkit-box-shadow: 0px 25px 8px -20px #969696;
	box-shadow: 0px 25px 8px -20px #969696;
}
.portrait {
	float: left;
	margin: 0 1em 1em .75em;
}
.ie7 .portrait {
	margin-bottom: .3em;
}
.name{
	font-size: 14px;
	font-weight: 700;	
}

/* Selection list subnav */
#booklist-jumplinks {
	font-size: 1.1666em; /*14px*/
	letter-spacing:.05em;
	line-height: 1.360;
	padding: 5px 0;
	background: -moz-linear-gradient(top, #ddeaf3, #fff 25%, #fff 75%, #ddeaf3);
	background: -ms-linear-gradient(top, #ddeaf3, #fff 25%, #fff 75%, #ddeaf3); 
	background: -webkit-linear-gradient(top, #ddeaf3, #fff 25%, #fff 75%, #ddeaf3);
	background: -webkit-gradient(linear, left top, left bottom, from(#ddeaf3), color-stop(0.25, #fff), color-stop(0.75, #fff), to(#ddeaf3));
	background: -o-linear-gradient(top, #ddeaf3, #fff 25%, #fff 75%, #ddeaf3);
}
.ie9 #booklist-jumplinks, .oldie #booklist-jumplinks {
	background: url(/images/amazon/bg_booklist-gradient.png) center center repeat-x #ddeaf3;
}
#booklist-jumplinks a{
	padding: 0px 10px;
	border-right: solid 1px #c2c2c2;
}
#booklist-jumplinks a.endofrow{
	border-right: none;
}

/*booklists*/
#list1, #list2, #list3, #list4, #list5, #list6, #list7, #list8, #list9, #list10, #book-club, #best-sellers, #kindle {
	border: none;
	padding:0;
}
.gallery {
	position: relative;
	padding: 15px 0;
	border: 1px solid #ebebeb;
	background: -moz-linear-gradient(top, #e9eaec, #fff 5%, #fff 95%, #e9eaec);
	background: -ms-linear-gradient(top, #e9eaec, #fff 5%, #fff 95%, #e9eaec); 
	background: -webkit-linear-gradient(top, #e9eaec, #fff 5%, #fff 95%, #e9eaec);
	background: -webkit-gradient(linear, left top, left bottom, from(#e9eaec), color-stop(0.05, #fff), color-stop(0.95, #fff), to(#e9eaec));
	background: -o-linear-gradient(top, #e9eaec, #fff 5%, #fff 95%, #e9eaec);
}
.ie9 .gallery, .oldie .gallery {
	background: none;
}


/*Scrolling Gallery*/
.scrollable {
	position: relative;
	overflow: hidden;
	width: 862px;
	height: 240px;
	margin: 0 auto;
	padding-bottom:2px;
}
.browse { /*.more is not needed*/
	width: 38px;
	height: 162px;
	position:relative;
	display:block;
	background: url(/images/amazon/sprite_gallery-btns.png) 0px 70px no-repeat;
	cursor:pointer;
}
.prev {
	float:left;
	background-position: 0px 70px;
}
.prev:hover {
	background-position: -40px 70px;
}
.next {
	float:right;
	background-position: -122px 70px;
}
.next:hover {
	background-position: -162px 70px;
}
.browse.disabled {
	cursor: default;
}
.prev.disabled, .prev.disabled:hover {
	background-position: -80px 70px;
}
.next.disabled {
	background-position: -202px 70px;
}

/* root element for scrollable items */
.scrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}
.items div {
	float:left;
}
/*Individual column/book*/
.items .book {
	width: 145px;
	float: left;
	overflow-x: hidden;
	margin: 0 15px;
}
.book-cover {
	display:block;
	min-width:100px;
	max-width:145px;
	height:162px;
}
.book-cover img {
	max-width:100%;
}
.book h4 {
	margin-bottom: 0;
}
.items .author {
	margin: 0 0 .5em 0;
}
.items .price {
	margin: .5em 0;
	font-size:1.0833em
}
.items .strike {
	color: #333;
	font-size:.8461em;
}

/*Book Club Scrolling Gallery*/
#book-club .month h3 {
	text-align:center;
	color:#fff;
	font-size: 1.5em; /*16px*/
	margin: 0 0 .25em;
	font-weight: 200;
	letter-spacing:.05em;
	background-color: #7d7d7d;
	padding: 5px 0 6px;
	border: 1px solid #fff;
	border-bottom: none;
}
#book-club .month:hover h3 {
	color: #fff;
}
#book-club .month {
	background-color: transparent;
	height:100%;
}
#book-club .month:hover {
	background-color: #eef4f9;
}
p.monthly_navi {
	margin-top: 0;
	font-weight:700;
}
p.monthly_navi a{
	padding: 5px;
	font-weight: 400;
}
#book-club .browse {
	margin-top: 31px;
}

/*Kindle Scrolling Gallery*/
#best-sellers .gallery {
	background: none;	
}
#kindle .scrollable{
	height: 335px;
}
#kindle .browse{ 
	height: 215px;
}
#kindle .prev {
	background-position: 0px 97px;
}
#kindle .prev:hover {
	background-position: -40px 97px;
}
#kindle .next {
	background-position: -120px 97px;
}
#kindle .next:hover {
	background-position: -160px 97px;
}
.items .kindle {
	width: 239px;
	float: left;
	overflow-x: hidden;
	margin: 0 27px;
}
.kindle a.product-img {
	display:block;
	min-width:239px;
	height:220px;
}
#kindle .prev.disabled, #kindle .prev.disabled:hover {
	background-position: -80px 97px;
}
#kindle .next.disabled {
	background-position: -200px 97px;
}

/*Best Sellers Gallery*/
#best-sellers-logo {
	float:left;
	width: 425px;
}
#best-sellers .gallery div {
	width:531px;
	float:right;
}
#best-sellers .gallery div p {
	margin: 0 10px;
}
#best-sellers .gallery div img{
	float:left;
	margin-right: 1em;
}

/*Product Details*/
.product-img {
	float:left;
	width: 160px;
	max-width:160px;
	overflow-x:hidden;
	text-align:center;
}

/*cart controls*/
.product-details {
	width:535px;
	float:left;
	margin: 0 15px;
}
.product-details p {
	font-size: .9166em; /*11px*/
}
.product-details p a {
	font-weight: 700;
}
.product-details .title{
	color: #333;
	font-size: 1.5833em;/* 19px / 1.1666em - 14px*/
	line-height:1.25;
	font-weight:700;
	margin-bottom:0;
	letter-spacing: .05em;
}
.product-details .author{
	/*font-size: 1.1666em - 14px*/
	font-weight:400;
	margin-top:0;
	margin-bottom: 1.5em;
}
.pricing-availablity {
	background-color: #f5f9fc;
	padding: 10px 0 1px;
}
.pricing-table td {
	font-size: 1.0833em;/* 13px / 1em - 12px*/
	padding: 3px 5px;
	vertical-align:bottom;
}
.pricing-table .pricelabel {
	font-size: .9231em; /*11px*/
	width: 60px;
	text-align:right;
	padding-right:0;
}
.actualprice .pricelabel {
	padding-top:9px;
}
.strike {
	text-decoration: line-through;
}
.pricelarge {
	font-size: 1.3462em; /*17.5em;*/
}
.availability {
	font-size: 1.5em;
	color: #090;
}
.price.addspace {
	margin-right: 30px;
}
.format-comparison {
	width: 400px;
	margin: 10px;
	padding: 5px 5px 5px;
	border: solid 1px #bfd7ef;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color:#fff;
}
#comparison-table th {
	background-color: #fff;
	font-size: .8333em;/*10px*/
	border-bottom: solid 1px #f2f2f2;
}
#comparison-table th.formats {
	font-size: .9166em;/*11px*/
	color: #d78931;
}
#comparison-table td, #comparison-table th {
	font-size: .9166em;/*11px*/
	padding: 6px;
}
#comparison-table .amazon-price {
	width:82px;
	text-align:center;
}
#comparison-table .new-price, #comparison-table .used-price {
	text-align: right;
	width:66px;	
	padding-left: 0;
}
#comparison-table tr.even td {
	background-color: #fcf9c6;
	border-top: solid 1px #f2f2f2;
}

/*cart controls*/
.cart-controls {
	width: 215px;
	float:left;
}
.cart-controls p{
	text-align:center;
}
.cart-controls fieldset {
	background-color: #f5f9fc;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #C0C0C0;
	padding: 0.35em 0.625em 0.75em;
}
.btn_add-to-cart {
	width: 160px;
	height: 27px;
	background-position: -10px -115px;
}
.btn_add-wish-list {
	width: 160px;
	height: 22px;
	background-position: -10px -85px;
}
.btn_continue-shopping {
	width: 119px;
	height: 22px;
	background-position: -10px -55px;
}
/*Editorial and Product Details*/
#editorial-reviews, #product-details-list {
	border:none;
}
#editorial-reviews {
	border-bottom: 1px solid #c6c6c6; 
}
#editorial-reviews p, #product-details-list p,
#editorial-reviews li, #product-details-list li {
	font-size: 1.0833em; /*13px*/
}
#product-details-list li {
	margin-top: 6px;
	margin-bottom: 6px;
}
#editorial-reviews h2, #product-details-list h2 {
	margin:0;
}
#editorial-reviews .review h2{
	color: #444444;
    font-size: 1.083em;
    font-weight: 700;
	margin:0 10px;
}
#editorial-reviews h3, #editorial-reviews h4, #product-details-list h3 {
	font-size: 1.1666em; /*14px*/
	margin:0 10px;
}

#editorial-reviews h3+p, #product-details-list h2+ul, .review h2+p {
margin-top:0;	
}
.review h2 {
	clear: none;
}
.review table {
	width: auto;
}
.review td {
	padding: 0;
}
.no-bullets {
	list-style: none;
	padding-left: 10px;
}
a.click-for-pricing 
{
    color: #009900;
    font-size: 0.9em;
}