body{
  background-color: rgb(255, 255, 255);
}
  table, td, th {
    border: 1px solid #000000
  }

  table  {
    float: right;
    margin-right: auto;
    height: 417px;
    width: 244px;
    background-color: rgb(200,200,200);
  }

  img.tablephoto{
    text-align: center;
  }

  h2#name, figcaption#figcaption{
    text-align: center;
  }
