/*
 * Hide on intial load
 */
#server-error-msg {
	display: none;
}

/*
 * Section indent
 */
section.indent {
	padding: 0 15px;
}
section.indent-all-sides {
	padding: 15px;
}
section.indent .remove-indent {
	margin: 0 -15px;
}
section.indent .step-headline {
	margin: 2em -15px 1em;
}

/*Step Headline*/
.step-headline {
	background: #007ba0;
	background: -moz-linear-gradient(top, #1485a8 0%, #007ba0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1485a8), color-stop(100%,#007ba0));
	background: -webkit-linear-gradient(top, #1485a8 0%, #007ba0 100%);
	background: -o-linear-gradient(top, #1485a8 0%, #007ba0 100%);
	background: -ms-linear-gradient(top, #1485a8 0%, #007ba0 100%);
	background: linear-gradient(to bottom, #1485a8 0%, #007ba0 100%);
	color: #fff;
	font-size: 1.1538em;
	line-height: 1;
	font-weight: 700;
	/*margin: 2em 0 1em;*/
	margin: 1em 0;
	padding-bottom: .5em;
}
.step-headline .tab {
	position: relative;
	background: #007ba0;
	background: -moz-linear-gradient(top, #3d9ab7 0%, #1485a8 30%, #007ba0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d9ab7), color-stop(30%,#1485a8), color-stop(100%,#007ba0));
	background: -webkit-linear-gradient(top, #3d9ab7 0%, #1485a8 30%, #007ba0 100%);
	background: -o-linear-gradient(top, #3d9ab7 0%, #1485a8 30%, #007ba0 100%);
	background: -ms-linear-gradient(top, #3d9ab7 0%, #1485a8 30%, #007ba0 100%);
	background: linear-gradient(to bottom, #3d9ab7 0%, #1485a8 30%, #007ba0 100%);
	padding: .5em 2.5em .4em 1em;
	line-height: 1;
}
.step-headline .corner {
	border-left: 24px solid transparent;
	border-right: 0 solid transparent;
	border-top: 9px solid #fff;
	display: block;
	height: 0; 
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 0; 
}  

/*
 * Cruise Itinrary and Meta / Trip summary located at top of webpage
 */
.itinerary-summary, .cruise-meta {
	overflow:hidden;
}
.cruise-meta .button{
	display: inline-block;
	font-size: 0.8461em;
	margin: 5px 0 0;
}
.itinerary-summary p, .cruise-meta p {
	margin: .5em 0 0;
}
.itinerary-img, .cruise-meta-img {
	float: left;
	height: 114px;
	width: 185px;
	margin: 0;
}
.itinerary-img + div, .cruise-meta-img + div {
	margin: -5px 0 0 205px;
}
.itinerary-summary.col-1of2 {
	width: 50%;
	margin-right: 10px;
}
.itinerary-summary-lockup {
	margin-bottom: 1em;
}
.itinerary-summary-lockup .duration {
	border-right: 1px solid #d0d1d2;
	float: left;
	font-size: 1.4615em;
	line-height: 1;
	margin: -3px 8px 0 0;
	padding: 1px 6px 3px 0;
	text-align: center;
}
.confirmation .itinerary-summary-lockup .duration {
	font-size: 1.7692em;
}
.lt-ie8 .itinerary-summary-lockup .duration {
	margin-top: 3px;
}
.itinerary-summary-lockup .duration .days {
	display: block;
	font-size: .6315em;
}
.confirmation .itinerary-summary-lockup .duration .days {
	font-size: .6086em;
}
.itinerary-summary-lockup .destination, .cruise-meta .cruise-meta-type {
	font-size: 1.3846em;
	font-weight: 400;
	margin: 1px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.itinerary-summary-lockup .destination {
		margin-left: 45px;
	}
}
.confirmation .itinerary-summary-lockup .destination {
	font-size: 1.6923em;
}
.itinerary-summary-lockup .ship {
	font-size: .9231em;
	font-weight: 400;
	margin: 0;
}
.confirmation .itinerary-summary-lockup .ship {
	font-size: 1.1538em;
}
.cruise-meta .change-cruise-meta {
	font-size: .9230em;
	font-weight: 700;
	margin: 5px 0;
}
#change-meta {
    width: 135px
}	
/*
 * Booking Step sub-nav for each step in the reserve process
 */
.booking-steps {
	font-size: 1.3076em;
	line-height: 1;
	margin: 2.25em 0;
	oveflow: hidden;
}
.booking-steps > span {
	float: left;
}
.booking-steps ul {
	background: #f2f2f2;
	height: 21px;
	list-style: none;
	margin: 0 0 0 125px;
	padding: 0;
	width: 830px;
	/*float: right;*/
}
.booking-steps li {
	color: #808080;
	float: left;
	margin: -4px 0 0 22px;
}
.booking-steps .step {
	color: #808080;
	display: block;
	line-height: 21px;
	padding: 5px 10px;
	text-decoration: none;
}
.booking-steps a.step {
	color: #0054A0;
}
.booking-steps a.step:hover {
	background: #a7d2ec;
	background: -moz-linear-gradient(top, #a7d2ec 0%, #e4f1f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7d2ec), color-stop(100%,#e4f1f9));
	background: -webkit-linear-gradient(top, #a7d2ec 0%, #e4f1f9 100%);
	background: -o-linear-gradient(top, #a7d2ec 0%, #e4f1f9 100%);
	background: -ms-linear-gradient(top, #a7d2ec 0%, #e4f1f9 100%);
	background: linear-gradient(to bottom, #a7d2ec 0%, #e4f1f9 100%);
	color: #0054A0;
}
#step1 .step1, #step2 .step2, #step3 .step3, #step4 .step4, #step5 .step5, #step6 .step6 {
	background: url(/images/book/sprite_reserve.png) top center no-repeat;
	color: #fff;
	padding-bottom: 16px;
}	
	
/* 
 * Accordian effect for selecting deck groups on reserve legacy and staterooms, and payment options on payment page
 */
.accordion {
	background: #e0e0e0;
	border-top: 1px solid #b3b3b3;
	margin-top: .75em;
	padding: 7px 0;
}
.accordion + .accordion {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}	
.accordion-header  {
	background: #fff;
	border-bottom: 1px solid #b3b3b3;
	overflow: hidden;
}
.accordion-header.active, .accordion-header:hover {
	background: url(/images/book/sprite_reserve.png) 0 -500px repeat-x #f4f9fd;
	background: -moz-linear-gradient(top, #d3e8f5 0%, #f4f9fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3e8f5), color-stop(100%,#f4f9fd));
	background: -webkit-linear-gradient(top, #d3e8f5 0%, #f4f9fd 100%);
	background: -o-linear-gradient(top, #d3e8f5 0%, #f4f9fd 100%);
	background: -ms-linear-gradient(top, #d3e8f5 0%, #f4f9fd 100%);
	background: linear-gradient(to bottom, #d3e8f5 0%, #f4f9fd 100%);
}
.accordion-header:hover {
	cursor: pointer;
}
.accordion-results {
	background: #f4f9fd;
	border-bottom: 1px solid #b3b3b3;
	overflow: hidden;
	padding: 15px;
}
.decks .accordion-results {
	padding: 0;
	position: relative;
}
.js .accordion-results {
	display: none;
}
.deactive > .accordion-header:hover, .sold-out > .accordion-header:hover {
	background: #fff;
	cursor: default;
}
.accordion-header.active {
	border-bottom: none;
}
.accordion-header > div {
	float: left;
	padding: 10px 20px 15px;
}
.accordion-header-select {
	text-align: center;
	width: 78px;
}
.accordion-header-select > .button {
	padding: 18px 10px;
	display: inline-block;
}
.lt-ie8 .accordion-header-select > .button {
	display: inline;
	zoom: 1;
}
.accordion-header-desc {
	border-left: 1px solid #ccc;
	width: 440px;
}
.accordion-header-desc h3 {
	font-size: 1.3846em;
	margin: 0 0 .25em;
}
.accordion-header-desc .description {
	color: #333;
	margin: 0;
}
.accordion-header-desc .description + .description {
	margin-top: 13px;
}
.accordion-header-pricing {
	float: right;
	list-style: none;
	margin-right: 20px;
	padding: 0;
	width: 305px;
}
.accordion-header-pricing li {
	font-size: .8461em;
	font-weight: 700;
	text-align: right;
}
	
/*
 * Cruise and Pricing Summary at Bottom of Pages
 */
 .cruise-pricing-wrapper {
	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #e6e6e6 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(50%,#e6e6e6));
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e6e6e6 50%);
	background: -o-linear-gradient(top,  #f2f2f2 0%,#e6e6e6 50%);
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#e6e6e6 50%);
	background: linear-gradient(to bottom,  #f2f2f2 0%,#e6e6e6 50%);
	border: 1px solid #ccc;
	margin-top: 3em;
	overflow: hidden;
	padding: 1.2em 1.2em 1.5em;
}
.cruise-pricing-wrapper .col {
	float: left;
	margin: 0 1.5em 0 0;
}
.cruise-pricing-wrapper .col table {
	margin: 0 0 10px 0;
}
.cruise-pricing-title {
	font-weight: 400;
	font-size: 1.1538em;
	margin: 0 0 .5em;
}
.next-steps {
	width: 220px;
	float: left;
}
.next-steps-title {
	font-weight: 400;
	margin-bottom: 1em;
}
.next-steps-title > .step {
	color: #000;
	font-weight: 700;
}
.next-steps .button {
	display: inline-block;
	font-size: 1.3846em;
    padding: 0.5em;
    text-align: center;
    width: 175px;
}
.lt-ie8.next-steps .button {
	display: inline;
	zoom:1;
}
.next-steps .alert {
	margin: 2em 0 0;
}
.next-steps .alert + p {
	margin-top: .25em;
}

/* Pricing tables */
/*tables in summary wrapper at bottom of page*/
.cruise-pricing-wrapper > .cruise-summary, .cruise-pricing-wrapper > .pricing-summary {
	float: left;
	margin: 0 1.5em 0 0;
}
#payment .pricing-summary {
	margin-left: 50px;
	margin-top: 20px;
}
#payment .gft {
	margin-left: 50px;
	margin-top: -15px;
}
.lt-ie8 #payment .pricing-summary th {
	width: 170px;
}
.pricing-summary th {
	font-size: 1em;
	width: 60%;
}
.pricing-summary td {
	text-align: right;
}
#payment .pricing-summary td {
	width: 90px;
}
.cruise-summary {
	width: 345px;
}
.cruise-summary th {
	font-size: 1em;
	width: 140px;
}
.cruise-summary td {
	width: 173px;
}
.cruise-summary th, .cruise-summary td {
	background: #e6f1fa;
}
.cruise-summary th, .pricing-summary th, .cruise-summary td, .pricing-summary td {
	border-bottom: none;
}
.cruise-summary th, .pricing-summary th {
	border-left: none;
	color: #000;
	font-weight: 400;
	text-align: left;
}
.cruise-summary td, .pricing-summary td {
	border-right: none;
}
/*adjustments for table on payment page*/
.pricing-summary .total-price > th, .pricing-summary .total-price > td {
	padding: .75em;
}
.pricing-summary .total-price > td {
	font-weight: 700;
}
#payment .pricing-summary .total-price > th, #payment .pricing-summary .total-price > td {
	border-top: 3px solid #d0d1d2;
}
#payment .cruise-amount {
	font-size: 1.5384em;
}
.pricing-summary .total-price + tr th, .pricing-summary .total-price + tr td {
	border-top: 3px solid #d0d1d2;
}
.pricing-summary, .gft {
	width: 320px;
}
#popupContent .gft {
    width: 320px;
	margin: auto;
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  #popupContent .gft {
    width: 280px;
}
}
.gft .amount {
    float: right;
    margin: 0 10px;
}
.gft .description {
    float: left;
    margin: 0 10px;
    width: 150px;
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .pricing-summary{
	width: 280px;
  }
}
.onboard-credit th, .onboard-credit td {
	color: #648326;
	padding: .5em .75em;
}
/*updated pricing table in lightboxes*/
.updated-pricing-summary, .sale-tc-table {
	margin: 2em auto;
}
.updated-pricing-summary:first-child, .sale-tc-table:first-child {
	margin-top: 1em;
}
.updated-pricing-summary th {
	font-size: 1em;
	font-weight: 400;
}
.updated-pricing-summary th, .updated-pricing-summary td {
	width: 174px;
}
.updated-pricing-summary thead th, .updated-pricing-summary td { 
	text-align: right;
}
.updated-pricing-summary .total-price > td {
	font-weight: 700;
	padding: .75em;
}
.updated-pricing-summary .total-fare > td {
	padding: .75em;
	text-align: center;
}
.updated-pricing-summary .onboard-credit > td {
	text-align: center;
}
.updated-pricing-summary .fare-amount {
	font-size: 1.1538em;
	font-weight: 700;
}
.updated-pricing > p {
	margin-bottom: 2em;
}
.updated-pricing .continue-btn {
	display: block;
	font-size: 1.1538em;
	margin: auto;
	text-align: center;
	width: 145px; 
}
/*sale t&c table in lightbox*/
.sale-tc-table th {
	font-size:1.1538em;
}
.sale-tc-table th, .sale-tc-table td {
	text-align: center;
	width: 175px;
}
.sale-tc-table th:first-child, .sale-tc-table td:first-child {
	text-align: left;
	width: 215px;
}	
	
/*
 * Stateroom
 */
.instructions {
	font-size: 1.1538em;
	margin: 2.5em auto;
	text-align: center;
}
.instructions > span {
	border: 1px solid #999;
	padding: .5em 1.5em;
}




/* cabin-listing for legacy reserve */
.category-description .meta {
	color: #000;
	font-weight: 400;
	margin: 0;
}
.category-description .deck {
	color: #000;
	font-size: .9285em;
	font-weight: 400;
	margin: 0;
}
.cabin-listing {
	color: #000;
	width: 100%;
}
.cabin-listing th, .cabin-listing td {
	background: #fff;
	border: 1px solid #ccc;
	padding: .75em 1em .50em;
}
.cabin-listing th {
	font-weight: 700;
	text-align: left;
}
.cabin-listing tr.hover td {
	background-color: #f4f9fd;
}
.cabin-listing td {
	font-size: 1.1538em;
	vertical-align: middle;
}
.cabin-listing tr > td:first-child {
	text-align: center;
	width: 70px;
    vertical-align: middle;
}
.cabin-listing tr > td:last-child {
	width: 460px;
}
.cabin-listing tr > td.last-child {
	width: 460px;
}
.cabin-listing a {
	font-weight: bold;
}
.cabin-listing a:hover {
	text-decoration: none;
}
.cabin-listing .button {
	display: inline-block;
	font-size: .8em;
	padding: 8px;
}
.cabin-listing small {
	font-size: 86.65%;
}
.check-stateroom {
	padding-top: 1em;
}
.check-stateroom .col-1of2 {
	margin-left: 2%;
	width: 49%;
}
.prefered-stateroom {
	float: right;
	width: 133px;
}
.check-stateroom input[type="text"] {
	width: 125px;
}
.check-stateroom label {
	display: inline-block;
	margin-left: 1em;
}
.check-stateroom .alert {
	padding-left: .5em;
}
.check-stateroom .loading-icon {
	display: none;
	margin: 0 0 0 52px;
}
.lt-ie8 .check-stateroom label {
	display: inline;
	zoom: 1;
}
.ada-stateroom {
	background: url(/images/book/sprite_reserve.png) 0 -50px no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}
.accordion-header-pricing .ada-stateroom {
	margin-right: .5em;
}
.cabin-listing .ada-stateroom {
	margin-left: .5em;
}
.lt-ie8 .cabin-listing .ada-stateroom, .lt-ie8 .cabin-pricing .ada-stateroom {
	display: inline;
	zoom: 1;
}
.deactive .category-select, .deactive .category-description, .deactive .category-pricing, .deactive .deck-select {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
/* end legacy */ 

 .per-person-pricing-note {
	margin-top: 3px;
	float: right;
 }
.lt-ie8 .per-person-pricing-note {
	margin-top: -16px;
 }
.deck-group-opt > .category-pricing {
	display: none;
}
.sub-meta-pricing, .sub-category-pricing {
	color: #0054A0;
}
.sub-meta-pricing:hover, .sub-category-pricing:hover {
	text-decoration: none;
}
.category-pricing .meta, .meta-pricing .meta, .category-pricing .meta {
	font-size: 1.1818em;
}
.meta-pricing .desc, .category-pricing .desc {
	display: none;
}
.category-pricing .price, .meta-pricing .price, .category-pricing .price {
	font-size: 1.6363em;
}
.sub-category-key {
	border: 1px solid #333;
	display: inline-block;
	margin: 0 .7em -.35em 0;
	padding: 1px;
	width: 14px;
	height: 14px;
}
.category-wrapper > .cabin-availability {
	padding: 1.35em;
}
.cabin-availability .button, .deck-availability .button {
	display: inline-block;
	font-size: .9230em;
	padding: 7px 10px;
}
.lt-ie8 .cabin-availability .button, .lt-ie8 .deck-availability .button {
	display: inline;
	zoom: 1;
}

/* Loading overlay */
.deck-loading-overlay {
	background: rgba(244,249,253,.9);
	height: 513px;
	position: absolute;
	right: 0;
	top: 0;
	width: 810px;
	z-index: 100;
}
.deck-loading-box, .stateroom-loading-box {
	background: #fff;
	border: 2px solid #0054A0;
	-moz-box-shadow: 3px 3px 6px 0 #333;
	-webkit-box-shadow: 3px 3px 6px 0 #333;
	box-shadow: 3px 3px 6px 0 #333;
	padding: 1em;
	text-align: center;
	width: 210px;
}
.deck-loading-box {
	margin: 216px auto 0;
}
.stateroom-loading-box {
	margin: 200px auto;
}
.stateroom-loading-overlay {
	width: 870px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.stateroom-loading-overlay {
		width: 100%;
	}
} 

/* Deck section view */
.js .decks {
	display: none;
}
.deck-row > .cabin-availability form {
	width: 110px;
}
.deck-options {
	background: #fff;
	border-right: 1px solid #ccc;
	color: #000;
	height: 530px;
	list-style: none;
	margin: 0;
	width: 118px;
}
.guarantee-stateroom {
	background: #fff;
}
.guarantee-stateroom  .accordion-results-main, .guarantee-stateroom  form, .guarantee-stateroom  .deck-section {
	background: #F4F9FD;
}
.deck-options {
	padding: 1em 0 0;
}
.deck-section {
	padding: 3em 0 0;
}
.deck-options > li {
	text-align: center;
	padding: .5em;
	margin: .25em -1px .25em 0;
	border: 1px solid transparent;
	line-height: 1.5;
}
.deck-options > li.selected {
	background: #f4f9fd;
	border: 1px solid #ccc;
	border-right-color: #f4f9fd;
}
.js .deck-section {
	display: none;
}
.deck-section {
	float:right;
	position: relative;
	width: 810px;
}
.deck-title {
	font-size: 1.1538em;
	font-weight: 400;
	left: 0;
	margin: .6em 0;
	position: absolute;
	text-align: center;
	top: 13px;
	width: 100%;
}
.deck-title > .view-all-meta {
	font-size: .8666em;
	margin-left: 1em;
}
.deck-section > .change-location, .deck-section > .full-deck-plan {
	position: absolute;
}
.deck-section > .change-location {
	bottom: 43px;
	left: 20px;
	text-align: right;
	width: 110px;
}
.deck-section > .full-deck-plan {
	bottom: 53px;
	right: 20px;
	width: 120px;
}
.accordion-results-main {
	border-left: 1px solid #ccc;
	margin: 0 0 0 118px;
	padding: 25px;
}
.stateroom-type{
	background: #fff;
	width: 450px;
	overflow: hidden;
	font-weight: bold;
}
.stateroom-type+.stateroom-type{
	border-top: none;
}
.stateroom-type .button{
	float: right;
	margin: 0;
}
.stateroom-type  .price{
	font-size: 1.3846em;
	font-weight: bold;
}
.guarantee-category .note{
	float: right;
	width: 275px;
}
/* Zone Selection */
.select-ship-zone {
	margin-top: 1.5em;
	overflow: hidden;
	text-align: center;
}
.select-ship-zone > .ship-zone {
	border: 1px solid #ccc;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: inline-block;
	font-size: 1.3846em;
	font-weight: 700;
	line-height: 22px;
	margin-top: 24px;
	min-height: 130px;
	padding: 1em 0;
	text-align: center;
	vertical-align: top;
}
.ship-zone > .meta-name {
	font-size: .7777em;
	line-height: 1.2em;
}
.ship-zone > .pricing {
	color: #000;
	line-height: 18px;
	padding-top: 5px;
}
.ship-zone.sold-out > .pricing {
	font-size: .7777em;
	padding-top: 27px;
}
.ship-zone.sold-out > input {
	display: none;
}
.ship-zone .pricing > .small {
	font-size: .6111em;
}
.select-ship-zone > .not-selected, .select-ship-zone > .sold-out.not-selected:hover {
	background: rgba(255,255,255,.5);
}
.select-ship-zone > .selected, .select-ship-zone > .ship-zone:hover {
	background: -moz-linear-gradient(top, rgba(228,241,249,0.5) 0%, rgba(228,241,249,0.25) 20%, rgba(167,210,236,0.25) 35%, rgba(167,210,236,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,241,249,0.5)), color-stop(20%,rgba(228,241,249,0.25)), color-stop(35%,rgba(167,210,236,0.25)), color-stop(100%,rgba(167,210,236,0.5)));
	background: -webkit-linear-gradient(top, rgba(228,241,249,0.5) 0%,rgba(228,241,249,0.25) 20%, rgba(167,210,236,0.25) 35%, rgba(167,210,236,0.5) 100%);
	background: -o-linear-gradient(top, rgba(228,241,249,0.5) 0%, rgba(228,241,249,0.25) 20%, rgba(167,210,236,0.25) 35%, rgba(167,210,236,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(228,241,249,0.5) 0%, rgba(228,241,249,0.25) 20%, rgba(167,210,236,0.25) 35%, rgba(167,210,236,0.5) 100%);
	background: linear-gradient(to bottom, rgba(228,241,249,0.5) 0%, rgba(228,241,249,0.25) 20%, rgba(167,210,236,0.25) 35%, rgba(167,210,236,0.5) 100%);
}
.no-cssgradients .select-ship-zone > .selected, .no-cssgradients .select-ship-zone > .ship-zone:hover {
	background: url(/images/book/sprite_reserve-background-opts.png) 0 -500px repeat-x transparent;
}
.select-ship-zone > .sold-out:hover, .no-cssgradients .select-ship-zone > .sold-out:hover  {
	background: transparent;
	cursor: default;
}
.no-rgba .select-ship-zone > .not-selected, .no-cssgradients .select-ship-zone > .sold-out.not-selected:hover {
	background: url(/images/book/sprite_reserve-background-opts.png) 0 -1000px repeat-x transparent;
}
/*Grand Princess*/
#AP { background: url(/images/book/AP_Profile.png) top center no-repeat }
#AP > .ship-zone { padding-top: 243px; }
#AP > .aft { width: 227px; }
#AP > .mid-aft { width: 151px; }
#AP > .midship { width: 117px; }
#AP > .mid-forward, #AP > .mid-foreward { width: 140px; }
#AP > .forward, #AP > .foreward { width: 273px; } 
/*Caribbean Princess*/
#CB { background: url(/images/book/CB_Profile.png) top center no-repeat }
#CB > .ship-zone { padding-top: 255px; }
#CB > .aft { width: 249px; }
#CB > .mid-aft { width: 141px; }
#CB > .midship { width: 104px; }
#CB > .mid-forward, #CB > .mid-foreward { width: 144px; }
#CB > .forward, #CB > .foreward { width: 264px; } 
/*Coral Princess*/
#CO { background: url(/images/book/CO_Profile.png) top center no-repeat }
#CO > .ship-zone { padding-top: 240px; }
#CO > .aft { width: 207px; }
#CO > .mid-aft { width: 132px; }
#CO > .midship { width: 116px; }
#CO > .mid-forward, #CO > .mid-foreward { width: 130px; }
#CO > .forward, #CO > .foreward { width: 323px; } 
/*Sea Princess*/
#CP { background: url(/images/book/CP_Profile.png) top center no-repeat }
#CP > .ship-zone { padding-top: 258px; }
#CP > .aft { width: 230px; }
#CP > .mid-aft { width: 125px; }
#CP > .midship { width: 171px; }
#CP > .mid-forward, #CP > .mid-foreward { width: 125px; }
#CP > .forward, #CP > .foreward { width: 253px; } 
/*Diamond Princess*/
#DI { background: url(/images/book/DI_Profile.png) top center no-repeat }
#DI > .ship-zone { padding-top: 245px; }
#DI > .aft { width: 234px; }
#DI > .mid-aft { width: 145px; }
#DI > .midship { width: 117px; }
#DI > .mid-forward, #DI > .mid-foreward { width: 146px; }
#DI > .forward, #DI > .foreward { width: 262px; } 
/*Dawn Princess*/
#DP { background: url(/images/book/DP_Profile.png) top center no-repeat }
#DP > .ship-zone { padding-top: 259px; }
#DP > .aft { width: 230px; }
#DP > .mid-aft { width: 125px; }
#DP > .midship { width: 171px; }
#DP > .mid-forward, #DP > .mid-foreward { width: 125px; }
#DP > .forward, #DP > .foreward { width: 253px; } 
/*Emerald Princess*/
#EP { background: url(/images/book/EP_Profile.png) top center no-repeat }
#EP > .ship-zone { padding-top: 245px; }
#EP > .aft { width: 239px; }
#EP > .mid-aft { width: 135px; }
#EP > .midship { width: 117px; }
#EP > .mid-forward, #EP > .mid-foreward { width: 139px; }
#EP > .forward, #EP > .foreward { width: 275px; } 
/*Island Princess*/
#IP { background: url(/images/book/IP_Profile.png) top center no-repeat }
#IP > .ship-zone { padding-top: 240px; }
#IP > .aft { width: 207px; }
#IP > .mid-aft { width: 132px; }
#IP > .midship { width: 116px; }
#IP > .mid-forward, #IP > .mid-foreward { width: 130px; }
#IP > .forward, #IP > .foreward { width: 323px; } 
/*Crown Princess*/
#KP { background: url(/images/book/KP_Profile.png) top center no-repeat }
#KP > .ship-zone { padding-top: 245px; }
#KP > .aft { width: 239px; }
#KP > .mid-aft { width: 136px; }
#KP > .midship { width: 117px; }
#KP > .mid-forward, #KP > .mid-foreward { width: 139px; }
#KP > .forward, #KP > .foreward { width: 275px; } 
/*Golden Princess*/
#NP { background: url(/images/book/NP_Profile.png) top center no-repeat }
#NP > .ship-zone { padding-top: 243px; }
#NP > .aft { width: 248px; }
#NP > .mid-aft { width: 141px; }
#NP > .midship { width: 108px; }
#NP > .mid-forward, #NP > .mid-foreward { width: 146px; }
#NP > .forward, #NP > .foreward { width: 261px; } 
/* Ocean Princess */
#OP { background: url(/images/book/OP_Profile.png) top center no-repeat; }
#OP > .ship-zone { padding-top: 280px; }
#OP > .aft { width: 193px; }
#OP > .mid-aft { width: 135px; }
#OP > .midship { width: 153px; }
#OP > .mid-forward, #OP > .mid-foreward { width: 144px; }
#OP > .forward, #OP > .foreward { width: 279px; }
/*Pacific Princess*/
#PA { background: url(/images/book/PA_Profile.png) top center no-repeat }
#PA > .ship-zone { padding-top: 280px; }
#PA > .aft { width: 193px; }
#PA > .mid-aft { width: 135px; }
#PA > .midship { width: 153px; }
#PA > .mid-forward, #PA > .mid-foreward { width: 144px; }
#PA > .forward, #PA > .foreward { width: 279px; } 
/* Royal Princes */
#RP { background: url(/images/book/RP_Profile.png) top center no-repeat }
#RP > .ship-zone { padding-top: 225px; }
#RP > .aft { width: 151px; }
#RP > .mid-aft { width: 210px; }
#RP > .midship { width: 122px; }
#RP > .mid-forward, #RP > .mid-foreward { width: 210px; }
#RP > .forward, #RP > .foreward { width: 215px; }
/*Ruby Princess*/
#RU { background: url(/images/book/RU_Profile.png) top center no-repeat }
#RU > .ship-zone { padding-top: 245px; }
#RU > .aft { width: 239px; }
#RU > .mid-aft { width: 136px; }
#RU > .midship { width: 117px; }
#RU > .mid-forward, #RU > .mid-foreward { width: 139px; }
#RU > .forward, #RU > .foreward { width: 275px; } 
/*Sapphire Princess*/
#SA { background: url(/images/book/SA_Profile.png) top center no-repeat }
#SA > .ship-zone { padding-top: 244px; }
#SA > .aft { width: 236px; }
#SA > .mid-aft { width: 146px; }
#SA > .midship { width: 118px; }
#SA > .mid-forward, #SA > .mid-foreward { width: 145px; }
#SA > .forward, #SA > .foreward { width: 259px; } 
/*Sun Princess*/
#SP { background: url(/images/book/SP_Profile.png) top center no-repeat }
#SP > .ship-zone { padding-top: 258px; }
#SP > .aft { width: 230px; }
#SP > .mid-aft { width: 125px; }
#SP > .midship { width: 171px; }
#SP > .mid-forward, #SP > .mid-foreward { width: 125px; }
#SP > .forward, #SP > .foreward { width: 253px; } 
/*Star Princess*/
#TP { background: url(/images/book/TP_Profile.png) top center no-repeat }
#TP > .ship-zone { padding-top: 243px; }
#TP > .aft { width: 248px; }
#TP > .mid-aft { width: 141px; }
#TP > .midship { width: 108px; }
#TP > .mid-forward, #TP > .mid-foreward { width: 146px; }
#TP > .forward, #TP > .foreward { width: 261px; } 
/* end ship zones */

/*
 * Dining
 */ 
.traditional-dining-options {
	margin-left: 1.5em;
}
.traditional-dining-options > p {
	clear: both;
	margin-top: 1em;
}
.cruise-dining {
	float: left;
	width: 456px;
}
.select-dining-option {
	float: left;
	margin: 0;
	min-height: 281px;
	width: 461px;
}
.lt-ie8 .select-dining-option {
	padding-bottom: 2em;
}
.select-dining-option .radio {
	padding-left: 1.5em;
}
.dining-time {
	padding-left: 0;
}
.dining-time > select, .table-size > select {
	width: 136px;
}

/*
 * Options
 */
.cancel-refunds {
	width: 500px;
	margin: 3em auto;
}
.cancel-refunds tr > th:first-child, .cancel-refunds tr > td:first-child {
	width: 46%;
}
.cancel-refunds tr > td {
	font-weight: 700;
}
.cancel-refunds tr > td:first-child {
	font-weight: 400;
}
.looking-for-air {
	background: url(/images/book/air-banner.jpg) center center no-repeat;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 120px;
	margin: 2em auto 3em;
	padding: 10px 10px 10px 225px;
	width: 460px;
}
.looking-for-air > h3 {
	font-size: 1.3846em;
	margin-top: 0;
}
.looking-for-air > p {
	font-size: 1.0769em;
	margin: 0;
}
.looking-for-air > p + p {
	margin-top: 1em;
}
.looking-for-air > .disclaimer {
	margin-top: .5em;
	font-size: 0.8461em;
}
.ezair-fare, .cruise-amount, .deposit-amount {
	color: #648326;
	font-weight: 700;
}
.pax-transfer {
	margin: .5em 3em .5em 9em;
	padding: .8em;
}
.pax-transfer > p {
	margin-top: 0;
	margin-bottom: 0;
}
.pax-transfer > legend {
	font-size: 1.0769em;
	font-weight: 700;
	left: -7.25em;
	top: 39%;
}
#transfers > .required {
	margin-left: 10.75em;
}
.pax_pre-cruise > select, .pax_post-cruise > select, .pax_protection > select {
	width: 275px;
}
.protection-coverage-details {
	border: 1px solid #d0d1d2;
	border-bottom: none;
	padding: 10px 20px;
}
.pax_protection-selection {
	border: 1px solid #d0d1d2;
	border-top: none;
	margin-top: 0;
}
.lt-ie9 .pax_protection-selection, .lt-ie9 .protection-coverage-details {
	border: none;
	margin-top: 0;
}
.pax_protection > label {
	font-weight: 700;
}
.pax_protection-row {
	margin: 15px 0 0;
	display: inline-block;
}
.pax_protection-row > .col-1of2 {
	width: 400px;
	margin-left: 0;
}
.pax_protection-row > .col-1of2:nth-child(odd) {
	margin-left: 0;
}
/*ie patch for pseudo selector above*/
.pax_protection-row > .col-1of2.odd {
	margin-left: 0;
}
.protection-coverage-options {
	font-size: 1.0769em;
	margin-bottom: 0;
	table-layout: fixed;
	width: 100%;
}
.protection-coverage-options th, .protection-coverage-options td {
	padding: 9px 13px;
	text-align: center;
	vertical-align: middle;
}
.protection-coverage-options .align-top {
	vertical-align: top;
}
.protection-coverage-options .align-top em {
	font-size: .9285em;
}
.protection-coverage-options tr > td:first-child, .protection-coverage-options tr > th:first-child {
	font-size: .9285em;
	font-weight: 700;
	text-align: left;
}
.protection-coverage-options .no-protection {
	width: 150px;
}
.protection-coverage-options tbody .no-protection {
	text-align: left; 
	vertical-align: middle;
}
.protection-coverage-options .platinum, .protection-coverage-options .standard {
	width: 170px;
}
.protection-coverage-options tbody .platinum {
	background: #e7f6d0;
}
.protection-coverage-options tbody .standard {
	background: #f5f6c0;
}
.protection-coverage-options .price-per-pax {
	font-size: 1.0714em;
	font-weight: 700;
}
.protection-coverage-options tfoot tr > td:first-child, .protection-coverage-options tfoot tr > td  {
	width: auto;
}
#protection-coverage.friends-family #regular-msg, #protection-coverage.regular-msg #friends-family, #protection-coverage.regular-msg.notCommodore #commodore{
	display: none;
}
#protection-coverage.regular-msg  #commodore {
	padding-top: 1em;
}
.complimentary-msg {
	color: #648326;
}	
/*
 * Passengers
 */
.passenger-indent {
	margin-left: 80px;
	margin-right: 80px;
}
.pax-sign-in {
	margin-bottom: 0;
}
.pax-sign-in > p {
	margin-top: 0;
	margin-bottom: 0;
}
.past-pax_loading img {
	display: inline;
	vertical-align: middle;
	margin-right: 1em;
}
p.passenger-indent {
	margin: .4em 93px 0;
}
.required-field-instructions {
	padding: 1em 0;
	width: 800px;
}
/* passenger layout */
.pax-sign-in_email > input, .pax-sign-in_password > input {
	width: 210px;
}
.pax_title > input {
	width: 70px;
}
.pax_first-name > input, .pax_middle-name > input, .pax_last-name > input, .pax_member-number > input {
	width: 175px;
}
.pax_phone > input, .pax_alt-phone > input {
	width: 150px;
}
.pax_email > input, .pax_confirm-email > input {
	width: 211px;
}
.pax_suffix > select {
	width: 145px;
}
.pax_gender > select {
	width: 90px;
} 
.pax_birth-month > select  {
	width: 105px;
}
.pax_birth-date > select {
	width: 65px;
}
.pax_birth-year > select {
	width: 85px;
}
.pax_address1 > input, .pax_address2 > input {
	width: 370px;
}
.pax_city > input {
	width: 150px;
}
.pax_state > select {
	width: 140px;
}
.pax_postal-code > input {
	width: 110px;
}
.pax_country > select {
	width: 165px;
}
.pax_phone-type > select, .pax_alt-phone-type > select {
	width: 85px;
}
.pax_middle-name, .pax_last-name {
	margin-left: 99px;
}
.lt-ie8 .pax_middle-name, .lt-ie8 .pax_last-name {
	margin-left: 89px;
}
.lt-ie8 .no-middle-name > label {
	margin-left: 1.85em;
}
.pax_email.required-field {
	margin-left: 0;
}
.pax-phone .inline-instructions {
	width: 410px;
}
.enter-member-number .inline-instructions {
	width: 510px;
}
.past-pax > p {
	margin: 0;
}
.past-pax .inline + .inline {
	margin-left: 2em;
}
.name-change {
	float: right;
	font-style: oblique;
	margin: 0 80px 5px;
	text-align: right;
	width: 300px;
}
/*toggle states for cruised with princess before*/
.pax_member-number .required {
	display: none;
}
.pax_member-number.required-field .required {
	display: inline-block;
}
.pax_member-number.required-field {
	margin-left: 0;
}
/*toggle state for nearest airport*/
.pax_airport {
	margin-left: 0;
}
.pax_airport > select {
	width: 211px;
}

/*
 * Payment page
 */
 .payment-opt > div {
	float: left;
	padding: 15px 10px 15px;
}
.payment-opt > .accordion-header-select {
	text-align: center;
	width: 68px;
}
.payment-opt .button {
	padding: 10px; 
}
.payment-opt > .accordion-header-desc {
	border-left: none;
	padding-left: 5px;
	width: 780px;
	min-width: 480px;
}
.payment-opt h3 {
	font-size: 1.1538em;
	margin: 0 0 .25em;
}
.hold-booking .description {
	font-size: 1.0769em;
}
.free-booking .accordion-results {
	padding: 0 0 0 7.25em;
}
.free-booking .continue-btn {
	float: right;
	margin: 0.5em 2em;
}
.payment-form {
	margin: auto;
	width: 665px;
}
.hold-booking .payment-form {
	width: 743px;
}
.hold-booking .continue-btn {
	margin-top: 3em;
}
.hold-booking .hours {
	background: #fff;
	float: left;
	margin: .5em .7em .5em 0;
	padding: .5em;
	width: 50%;
}
.hold-booking .continue-btn {
	display: block;
	float: right;
	margin: 1.5em 0 0;
	width: 277px;
}
.hold-booking .payment-form h4, .hold-booking .payment-form p {
	line-height: 1.5;
	margin: .25em 0;
}
.cc_type > label, .cc_nu > label, .cc_exp-date > label {
	width: 12em;
} 
.cc_type > select {
	width: 175px;
}
.cc_nu input {
	width: 165px;
}
.cc_cvc > input {
	margin-right: .5em;
	width: 50px;
}
.cc_exp-date > select {
	margin-right: 10px;
	width: 80px;
}
.billing_first-name > input, .billing_last-name > input {
	width: 169px;
}
.billing_houseName > input, .billing_address1 > input, .billing_address2 > input, .billing_address3 > input  {
	width: 370px;
}
.billing_city > input, .billing_county > input, .billing_state > select, .billing_state > input {
	width: 140px;
}
.billing_postal-code > input {
	width: 110px;
}
.billing_country > select {
	width: 165px;
}
.payment-form .continue-btn {
	display: block;
	margin: 2em 0 1em;
	text-align: center;
	width: 280px;
}

/*
 * Confirmation
 */
.headline-in-box {
	font-size: 1.6923em;
}
.cta-headline {
	font-size: 2.1538em;
	font-weight: 400;
	margin: .40625em 0 .25em;
}
.booking-confirm-col {
	margin-left: 2.5%;
	width: 47%;
}
.booking-confirm-col:first-child {
	width: 49%;
}
.booking-confirm-col > section {
	margin: 2em 0;
}
section + .cruise-personalizer {
	border-top: 1px dashed #B2B2B2;
	padding-top: 1.75em;
}
.booking-confirm-col .booking-held {
	margin-top: .5em;
}
.lt-ie8 .booking-confirm-col{
	margin-left: 2.4%;
}
.due-by > td {
	background: #fffff4;
}
.payment-table {
	width: 100%;
}
.payment-table td {
	vertical-align: middle;
}
.payment-table tr > td:first-child {
	width: 130px;
}
.payment-table .inline-btn {
	font-size: 1em;
}
.payment-table .phone-number, .submit-payment .phone-number {
	font-size: 1.25em;
	line-height: 1.5em;
}
.submit-payment .inline-btn {
	margin-right: 1em;
}
.print-email-btns .blue-circle-print-30 {
	margin-left: 0;
}
.print-email-btns > a {
	margin-left: 2em;
}
.print-email-btns > a:first-child {
	margin-left: 0;
}
.cta_facebook {
	margin-left: 42px;
}
.payment-fb-icon {
	display: block;
	float: left;
	margin: 0 0.35em;
}
.need-help {
	clear: both;
	line-height: 1;
	margin-top: 1.75em;
	text-align: right;
	width: 382px;
}
.need-help > .view-hours {
	font-size: .8125em;
}
.ie9 .need-help {
	width: 390px;
}
.register-w-princess > .medium-border {
	border-style: dashed;
	border-top: none;
}
.benefits {
	overflow: hidden;
	padding: 0;
}
.benefits li {
	background: url(/images/global/pc-icon_green-check-12.png) 0 3px no-repeat;
	list-style: none;
	float: left;
	margin-left: 2.25em;
	padding-left: 15px;
	width: 200px;
}
.benefits .odd {
	width: 100px;
	margin-left: 1.5em;
}
#register_email, #register_confirmEmail, #register_password, #register_confirmPassword {
	width: 270px;
}
#register_confirmPassword {
	margin-right: .5em;
}
.cruise-personalizer .inline-btn {
	float: right;
	margin-top: 1em;
	line-height: 1.5;
}
.cruise-personalizer .continue-btn {
	display: inline-block;
	margin-top: .5em;
}
.cp-features {
	overflow: hidden;
}
.cp-features > li {
	float: left;
	margin-right: 2.5%;
	width: 47.5%;
}
.register-w-princess > div {
	min-height: 240px;
}
.register_loading {
	padding-top: 75px;
}
/*countdown*/
.depart-time {
	display: none;
}
.cruise-countdown {
	background: url(/images/book/confirmation.jpg) center center no-repeat;
	position: relative;
	padding: 93px 234px;
}
.hasCountdown {
	bottom: 10px;
	position: absolute;
	right: 0;
	text-align: right;	
}
.countdown_row {
	background: url(/images/book/bg_countdown-banner.png) 0 0 no-repeat;
	display: block;
	overflow: hidden;
	padding: 0 25px 0 185px;
	position: relative;
	text-align: right;
	width: 258px;
}
.countdown_section {
	position: relative;
	color: #fff;
	display: block;
	float: right;
	font-size: .9230em;
	line-height: 1.1;
	text-align: left;
	max-width: 85px;
}
.countdown_amount {
	font-size: 3em;
}
.countdown_separator {
	position: relative;
	display: block;
	float: right;
	color: #fff;
	font-size: 2.7692em;
	padding: 0 5px;
	line-height: 1;
}
/*print*/
@media print {
	.pc-icons, .cruise-countdown, .print-email-btns, .payment-fb-icon, .cta_facebook, #itinerary .need-help, .payment-table .no-border, .register-w-princess, #get-ready img, .inline-btn, #get-ready > h3 {
		display: none !important;
	}
	header {
		height: 130px;
	}
	.escape-completely-img {
		width: 350px;
		height: auto;
		margin: -45px 25px 25px;
		float: right;
	}
	.transfers-row .col-1of2 {
		width: 40%;
		margin-left: 0;
		margin-right: 5%
	}
	.cruise-personalizer, .share-the-savings, .booking-held {
		border: 1px solid #B2B2B2 !important;
		margin: 0 !important;
		padding: 10px;
	}
	.cp-features > li {
		float: none;
		margin-left: 20px;
		width: auto;
	}
	.payment-table {
		width: auto;
		margin: 1em 0;
	}
	.cta-view-cp p, .print .need-help, .print .ie9 .need-help {
		text-align: center;
		width: auto;
		padding: 0 20px;
		line-height: 1.25;
	}
	.booking-confirm-col, #itinerary, #get-ready {
		margin-left: 0;
		font-size: 110%;
	}
	#itinerary {
		width: 37%;
	}
	.booking-confirm-col:first-child, #itinerary {
		line-height: 1.25;
		width: 52%;/*62%*/
	}
	
}

/*
 * Sale icon used in pricing summary table, disclaimer footers and tooltips
 */
.pricing-summary .sale-flag, .meta > .sale-flag {
	display: inline;
	vertical-align: middle;
	margin-left: .5em;
}
.pricing-summary .total-price .sale-flag {
	margin-left: 0;
	margin-right: .5em;
}
.lt-ie9 .pricing-summary .total-price .sale-flag {
	margin-right: 0;
}
.disclaimer > .sale-flag {
	float: left;
	margin-right: 1em;
}
.lt-ie8 .disclaimer > .sale-flag {
	margin-top: 12px;
}
.disclaimer > .sale-flag + p {
	margin-left: 90px;
}
.stateroom-pricing > .sale-flag {
	float: right;
	display: none;
}
.lt8 .stateroom-pricing > .sale-flag {
	margin-top: -25px;
}
.stateroom-pricing.sale > .sale-flag {
	display: block;
}
.tooltip-stateroom-content .upgrade-flag, .tooltip-stateroom-content .ada-stateroom {
	display: none;
}
.upgrade .upgrade-flag, .ada .ada-stateroom  {
	display: inline-block;
}



/*
 * Lightboxes
 */
.cancel-btn, .continue-btn {
	font-size: 1.3846em;
	padding: 0.5em 1em;
}
.hide {
    display:none;
}
.ui-tooltip-content label + label {
	margin: 0;
}

.full-deck h2, .select-deck {
	float: left;
	width: 47%;
	max-width: 400px;
}
.select-deck label {
	font-weight: 700;
}
.full-deck-mask {
	background: url(/images/global/ajax_loader.gif) center center no-repeat;
	height: 520px;
	overflow-x: auto;
	overflow-y: hidden;
	text-align: center;
}
.full-deck-legend {
	list-style: none;
	padding: 0;
	overflow: hidden;
}
.full-deck-legend li {
	display: inline-block;
	font-size: .9230em;
	margin: 10px 10px 10px 0;
	padding-left: 24px;
	position: relative;
	width: 180px;
	vertical-align: middle;
}
.lt-ie8 .full-deck-legend li {
	display: inline;
	zoom: 1;
}
.full-deck-legend li > span {
	display: block;
	background: url(/images/global/sprite_full-deck-legend.png) no-repeat;
	height: 24px;
	left: 0px;
	overflow: hidden;
	padding: 0 8px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
}
.full-deck-legend .interconnecting {
	background-position: 0 0;
}
.full-deck-legend .upto-3-4 {
	background-position: 0 -30px;
}
.full-deck-legend .nc-twins {
	background-position: 0 -60px;
}
.full-deck-legend .nc-queen {
	background-position: 0 -90px;
}
.full-deck-legend .porthole {
	background-position: 0 -130px;
}
.full-deck-legend .rollaway {
	background-position: 0 -160px;
}
.full-deck-legend .upto-3 {
	background-position: 0 -190px;
}
.full-deck-legend .ada {
	background-position: 0 -220px;
}

/* stateroom detail */
/* THESE HAVE BEEN MOVED TO: stateroom-amenities-gallery.css CAN BE REMOVED WHEN EXISTING DOCS ARE UPDATED*/
.stateroom-detail .col-1of2 {
	margin: 0 0 15px 4%;
}
.stateroom-detail .col-1of2:first-child {
	margin-left: 0;
}
.stateroom-detail h1 {
	margin-top: 0;
}
.stateroom-detail .stateroom-type {
	background: #F4F9FD;
	width: auto;
	border: 1px solid #D0D1D2;
}
.guarantee-type p{
	font-size: 1.1538em;
	margin: 5px 0;
}
.bed-code {
	padding-left: 0;
}
.bed-code label {
	text-align: left;
	vertical-align: middle;
}
.bed-code select {
	width: 125px;
}
.bed-code > label + select {
	margin-left: .75em;
}
.upgrade-opt {
	padding-left: 1.6em;
}
.stateroom-detail fieldset {
	padding: 10px;
	margin-bottom: 1.5em;
}
.stateroom-detail legend {
	left: 0;
}
.stateroom-detail .button {
	display: block;
	float: right;
	font-size: 1.1538em;
	padding: 9px 15px;
	margin: 9px 0;
	white-space: nowrap;
}
.stateroom-detail .keep-stateroom {
	margin-left: 18px;
}
.lt-ie8 .stateroom-detail .keep-stateroom {
	margin-left: 13px;
}

.gallery-pricing-wrapper {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(50%,#e6e6e6));
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e6e6e6 50%);
	background: -o-linear-gradient(top, #f2f2f2 0%,#e6e6e6 50%);
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e6e6e6 50%);
	background: linear-gradient(to bottom, #f2f2f2 0%,#e6e6e6 50%);
	border: 1px solid #ccc;
	/*margin-top: -3px;*/
	padding-bottom: 15px;
}
/* THESE HAVE BEEN MOVED TO: stateroom-amenities-gallery.css CAN BE REMOVED WHEN EXISTING DOCS ARE UPDATED*/


/* stateroom amenities */
.js .stateroom-panel {
	display: none;
	position: relative;
}
#amenities {
	display: block;
}
.stateroom-amenities .wrapper {
	border: 1px solid #999;
	padding: 1em 3em;
}
.stateroom-tabs {
	position: relative;
	font-size: 1.1538em;
	line-height: 1;
	margin-bottom: -1px;
}
.lt-ie8 .stateroom-tabs {
	margin-bottom: -2px;
	/*z-index: 1000;*/
}
.stateroom-tabs > .button {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	padding: .5em 1em;
	text-decoration: none;
}
.lt-ie8 .stateroom-tabs > .button {
	display: inline;
	zoom: 1;
}
.stateroom-tabs > .button.active {
	background: #fff;
	border: 1px solid #999;
	border-bottom-color: #fff;
	color: #000;
}
.amenity-image {
	padding: 1.5em 0;
	text-align: center;
}
.amenity-image > img {
	height: auto;
	max-width: 379px;
	width: 100%;
}

/*
 * Stateroom Galleries
 */
.stateroom-gallery, .stateroom-gallery-sm {
	background: url(/images/global/ajax_loader.gif) center center no-repeat transparent;
	text-align: center;
	/*width: 100%;*/
}
.stateroom-gallery {
	margin: 0 20px;
	max-width: 750px;
}
.stateroom-gallery-sm {
	max-width: 427px;
}
.stateroom-gallery-nav {
	line-height: 48px;
	margin-top: 1em;
	text-align: center;
}
.stateroom-gallery-thumb {
	display: inline-block;
	height: 44px;
	width: 71px;
}
.stateroom-gallery-thumb > img {
	border: 1px solid #0054A0;
	vertical-align: middle;
	width: 71px;
}
.lt-ie8 .stateroom-gallery-thumb {
	display: inline;
	zoom: 1;
}
.stateroom-gallery-thumb:hover > img {
	border: 1px solid #999;
}
.stateroom-gallery-thumb.selected > img {
	border: 1px solid #fff;
}
.stateroom-gallery-img {
	display: none;
}
.stateroom-gallery-img.active {
	display: block;
}
.stateroom-gallery img {
	height: auto;
	max-width: 750px;
	width: 100%;
}
.stateroom-gallery-sm img {
	height: auto;
	max-width: 427px;
	width: 100%;
}
.gallery-nav {
	background: url(/images/book/sprite_reserve.png) no-repeat 0 0 transparent;
	height: 0px;
	padding-top: 60px;
	position: absolute;
	top: 37.5%;
	width: 20px;
}
.gallery-prev {
	background-position: -160px -50px;
	left: -20px;
}
.gallery-prev:hover {
	background-position: -200px -50px;
}
.gallery-next {
	background-position: -240px -50px;
	right: -20px;
}
.gallery-next:hover {
	background-position: -280px -50px;
}
/*email booking details*/
.email-to-name > input, .email-to-address > input {
	width: 340px;
}
.email-message > textarea {
	width: 100%;
}
/*changing staterooms and leaving confirmation*/
.warning-message {
	margin: 2em auto 3em;
}
.warning-message > .warning-triangle-bang-24 {
	display: block;
	float: left;
	margin-right: .75em;
}
/*password recovery*/
.pwd-first-name > input, .pwd-last-name > input, .pwd-email > input {
	width: 260px;
}

/*popup with scrolling content*/
#popup-scrolling-content {
	height: 275px;
	overflow-y: scroll;
	position: relative;
}
#popup-scrolling-content > div + div {
	padding-top: 0;
}
.popup-scrolling-nav {
	overflow: hidden;
}
.popup-scrolling-nav li {
	border-left: 1px solid #d0d1d2;
	float: left;
	margin: .75em 0 .85em .5em;
	padding-left: .5em;
}
.popup-scrolling-nav li:first-child {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}
.popup-scrolling-nav .print-btn {
	border-left: 0;
	float: right;
	margin-top: 0;
	margin-bottom: .1em;
}
.popup-scrolling-nav a {
	padding: .5em .1em;
}
.popup-scrolling-nav a:hover {
	color: #000;
	text-decoration: none;
}
.pax-accept-list {
	display: inline-block;
	width: auto;
	text-align: left;
}
.lt-ie8 .pax-accept-list {
	display: inline;
	zoom: 1;
}
.pax-accept-list .inline-field {
	padding-left: 1.5em;
}
.pvpNotExist #vacation-terms-conditions, .pvpNotExist .vacation-terms-links{
	display: none;
}
/*print version...*/
.print #popupTitleArea.seawitch-icon {
	padding: 30px 30px 0;
	background: transparent;
}
.print #popupContent .popup-scrolling-nav {
	display: none;
}
.print #popup-scrolling-content {
	height: auto;
	overflow: auto;
	border: none;
}
.print #popup-scrolling-content .indent-20-all-sides {
	padding: 20px 0;
}

/*
 * Deck level tooltips
 */
.tooltip-green {
	background: #69952f;
}
.tooltip-blue {
	background: #3876c1;
}
.tooltip-purple {
	background: #845aa5;
}
.deck-level {
	max-width: 500px;
}
.deck-level .ui-tooltip-content {
	margin: 0 8px 8px;
	padding: 8px 0 0;
	width: 365px;
}
.tooltip-deck-content {
	background: #fff;
	padding: 1px 8px;
}
.tooltip-deck-content .category-pricing {
	list-style: none;
	margin-bottom: .25;
	padding-left: 0;
}
.tooltip-deck-content .category-pricing > li + li {
	margin-top: .5em;
}
.tooltip-deck-content h4 {
	color: #000;
}
.deck-features {
	border-bottom: 1px solid #999;
	margin-bottom: 1em;
}
.deck-features > p {
	margin: .8125em 0;
}
.tooltip-deck-content > ul:first-child, .tooltip-deck-content > p:first-child {
	margin-top: 0;
}
.tooltip-deck-content .category-pricing .meta {
	font-size: 1em;
	font-weight: 700;
}

/*
 * Stateroom Tooltips
 */
/*reset lightbox z-index so that it appears above the tooltip*/
#lightbox-overlay {
	z-index: 25003;
}
.lightbox {
	z-index: 25004;
}
.tooltip-stateroom {
	width: 350px;
	overflow: hidden;
}
.tooltip-stateroom-content > p {
	margin: 0 0 .25em;
}
.tooltip-stateroom-img + .tooltip-stateroom-content {
	margin-left: 120px;
}
.tooltip-stateroom-img {
	border: 1px solid #0054A0;
	float: left;
	height: 66px;
	width: 107px;
}
.gray .tooltip-stateroom-img {
	border: 1px solid #4d4d4d;
}
.tooltip-cta {
	border-top: 1px solid #333;
	clear: both;
	color: #000;
	display: block;
	font-size: 1.1538em;
	font-weight: 700;
	margin-top: 8px;
	padding: 5px 5px 0;
	text-align: center;
}
.stateroom-pricing {
	font-size: .8461em;
	font-weight: 700;
	margin: 0;
}
.stateroom-pricing > .price {
	font-size: 1.6363em;
}
.tooltip-stateroom-content > .sold {
	color: #db0000;
	font-size: 1.3846em;
	font-weight: 700;
	margin-bottom: 0;
}
.higher-zindex{
    z-index: 10000000 !important;
}