body { 
    font:75%/16px Arial,Helvetica,sans-serif;
    color:#333; 
}
a{color:#0054A0; text-decoration:none}
a:hover{text-decoration:underline}
.css-table {display:table;margin-top:4px;clear:both;padding-top: 0; padding-bottom: 4px;height:100%;}
.css-table>div {display:table-row}
.css-table>div>div:first-child {display:table-cell;vertical-align:top}
.css-table p {padding-bottom:6px}
html.ie7 .iefloatleft {float:left}
.iefloatleft img {
    margin: 3px 10px 5px 3px;
}

.button{ 
display:inline-block; 
background:#0f5ea6; 
background:-moz-linear-gradient(top, #3779b5 0%, #0054a0 100%);
background:-webkit-linear-gradient(top, #3779b5 0%, #0054a0 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #3779b5),color-stop(100%, #0054a0)); 
border:solid 1px #929497;
color:#fff; 
padding:3px 10px;
text-align:center; 
font-weight:700;
clear:both
}

/* for Ship Features tab on Booking Engine Redesign  lad */
#ship-features h1 {
	margin-left: -17px;
	margin-right: -17px;
    background:#f1f1f2;
	color:#000;
	padding: 8px 17px;
	font-size:16px;
	font-weight:200;
}
#ship-features h2 { 
	font-size:14px;
    padding: 15px 0 8px;
}
ul.bullet-list {
	list-style:disc outside none;
	margin: 5px 25px;
}
#ship-features-content-wrap {
	overflow: hidden;
	width:100%;
	background:url(/images/global/faux_bg.gif) -87px 0 repeat-y;
}
#ship-features-content-left {
	float:left;
	margin-right: 27px;
	width: 48%;
}
#ship-features-content-right {
	float:right; 
	width: 48%;
}

.linkarrow {
    background:url(/images/global/booking_engine_sprite.png) no-repeat left -255px;;
    padding-left: 15px;
}
.virtual-bg {
    background:url(/images/global/booking_engine_sprite.png) no-repeat left -307px;;
    padding-left: 25px;
}
#staterooms h2{ padding:5px; color:#222; font-size:15px}
#staterooms{ width:750px; margin:10px auto}

/* css for Top Picks backgound gradients */
#recently-viewed, #top-picks {
	padding:6px;
	border-bottom: 5px solid #c8d8e8;
	border-radius: 8px 8px 0px 0px;
	background: rgb(204,204,204);
	background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 60%, rgba(221,221,221,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(60%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1)));
	background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 60%,rgba(221,221,221,1) 100%);
	background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 60%,rgba(221,221,221,1) 100%);
	background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 60%,rgba(221,221,221,1) 100%);
	background: linear-gradient(top, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 60%,rgba(221,221,221,1) 100%);
}


#recently-viewed h3,#top-picks h3 {
	padding: 3px 0 3px 10px;
	color:#222;
	background-color:#c8d8e8; 
	font-weight:200;
	font-size:14px;
	margin:-5px -6px 7px;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
}

.wrap-inner {
	margin-bottom:0;
	width:auto;
	background-color:#fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #D6D6D6;
}

.top-pick {
	overflow:hidden;
	padding: 6px 5px;
	border-bottom:#ccc 1px solid;
	font-size:12px;
	line-height:19px;
	margin:0 5px;
}
.top-pick:last-child {border:none}
.top-pick .left {float:left; width:270px}
.top-pick .right {float:right;padding: 15px 0 15px 5px;}
.top-pick h5{ font-weight:200; overflow:hidden; width:100%}
.cruise-title {
	font-size:14px;
	color:#1e4e8d;
	text-decoration: none;
}
#top-picks .date,#top-picks .ship-name,#top-picks .port {
	color:#000;
}

#ship-features {width:924px; margin:0 auto}
#top-picks{ width:395px}
html.ie7 .top-pick .left{ width:265px}
.list-normal-disc li { list-style:disc; margin-left:18px}
#ship-features li{ list-style:disc; margin-left:18px}