/*** GLOBAL STYLES **/
* {
	margin:0;
	padding:0
}
body {
	color:#333;
	font:75%/16px Arial, Helvetica, sans-serif;
}
p {
	padding: 1px 5px 12px
}
img {
	border:0
}
/** HEADING STYLES **/
h1 {
	background-color:#FFF;
	color:#333;
	text-transform:none;
	width:738px;
	font-size:18px;
	padding: 12px 0 10px
}
h2 {
	color:#2e2e2e;
	font-size:16px;
	font-weight:700;
	padding:13px 0 5px 5px;
	clear: both
}
h3 {
	color:#444;
	font-size:13px;
	font-weight:700;
	padding-left:5px
}
#wrapper h3 {
	background:#1E4E8D;
	border-bottom:1px solid #fff;
	color:#fff;
	font-size:11px;
	padding:2px 0 2px 5px
}
/*.S-Var-I-TBarGrey-C-LwithArrow h3 {background:#9E9F9F}*/
#content-2col h3 {
	background:#1E4E8D;
	color:#fff;
	font-size:13px;
	text-indent:3px;
	border-bottom:1px solid #fff;
	margin:0;
	padding: 1px 3px 0 2px
}
.results-container h3 {
	background:#e8eef4;
	color:#204D88;
	padding-top:5px;
	padding-bottom:5px
}
h4 {
	color:#444;
	font-size:14px;
	font-weight:700;
	padding-left:5px
}
#content-right h4 {
	background:#9a9a9a;
	color:#FFF;
	font-size:13px;
	font-weight:700;
	line-height:20px;
	clear:both;
	padding: 0 10px
}
.shortContentHolder-TBar-C-L h4 {
	background:#9E9F9F;
	text-transform:uppercase;
	font-size:11px;
	color:#FFF;
	text-indent:5px;
	margin:0 5px
}
h5 {
	color:#5D5D5D;
	font-size:11px;
	font-weight:700;
	background:#EBEBEB;
	text-transform:uppercase;
	padding-left:5px
}
.snippetTArrow-List h5 {
	background:#F8F8F8;
	text-transform:none;
	margin-bottom:5px
}
#content-right h5 {
	color:#1E4E8D;
	text-transform:none;
	background:#FFF
}
h6 {
	font-size:11px;
	padding-left:5px;
	padding-right: 5px;
	line-height: 14px
}
#content-2col .list-heading, .list-heading {
	color:#5D5D5D;
	font-size:11px;
	font-weight:700;
	background:#EBEBEB;
	margin-bottom:1px;
	margin-right:1px;
	padding: 3px 0 3px 10px
}
/** FORM STYLES **/
input, select, option {
	color:#333;
	font:11px Arial, Helvetica, sans-serif;
	padding:1px
}
option {
	margin:3px
}
.snippetTBar-List select {
	width:95%;
	margin:10px 5px
}
#content-right select {
	height:20px;
	width:150px;
	margin:3px 0
}
.select250 {
	width:250px;
	margin:5px
}
#wrapper input, #content-2col input {
	width:130px
}
/** ARROW STYLES **/
p.linkarrow {
	margin-right: 0;
	margin-left: 5px
}
/** OTHER STYLES **/
.hide {
	display:none
}
.clear {
	clear:both
}
span.clear {
	clear:both;
	display: block;
	padding-top:3px;
	line-height: 1px;
	font-size:1px /* safari fix */
}
.color-txt-3 {
	color:#204D88
}
.float {
	float:left;
	margin:3px
}
p.seperator-variable-width {
	clear:both;
	line-height:1px;
	height:1px;
	width:100%;
	vertical-align:middle;
	border-bottom:solid 1px #CCC;
	margin: 0px 0px 5px;
	padding:0
}
.view-link {
	background:url(/images/icon_itinerary.gif) no-repeat left center;
	padding-left:20px
}
.b-border {
	background:url(/images/global/background/banner_line.gif) repeat-x bottom
}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
}
div.pad {
	margin:0 6px
}
/* Hides from IE-mac \*/
* html .clearfix {
	height:1%
}
/** MASTHEAD **/
#search {
	position:relative;
	top:55px;
	float: right
}
#search img {
	vertical-align:top
}
#navigation {
	background:url(/images/menu/Nav_BlueGrad.gif) repeat-x;
	height:32px;
	position:absolute;
	text-align:center;
	top:81px;
	left:0;
	width: 100%
}
#header #user {
	position: absolute;
	top: 40px;
	font-weight: 700;
	color: #777;
	right: 186px;
}
/** LAYOUT STRUCTURE **/
#content {
	position:relative;
	overflow:auto;
	width:738px;
	background:#FFF url(/images/global/background/main_bg.jpg) repeat-x bottom;
	margin: 0 auto;
	padding: 0 11px 15px
}
#container {
	background-image:url(/images/global/background/Home_background.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}
#content-2col {
	width:100%;
	background:#F8F8F8;
	overflow:hidden;
}
#leftSlot {
	width:49%;
	background-color:#F8F8F8;
	height:auto;
	float:left;
	margin-right:5px
}
#rightSlot {
	width:49%;
	float:right;
	background-color:#F8F8F8;
	margin:0
}
div#content-wrap {
	overflow:auto;
	width:738px;
	background:#FFF url(/images/global/background/content-wrap-bg.gif) repeat-y
}
div#content-wrap .noBg {
	overflow:auto;
	width:738px;
}
#banner {
	background:url(/images/global/background/banner_line.gif) repeat-x bottom;
	width:738px;
	overflow:auto;
	padding-bottom:2px
}
/*ADDED*/
#banner-inner {
	margin-bottom:1px;
}
#contentHolder {
	background:url(/images/global/background/body-bg.jpg) repeat-x top
}
/* Breadcrumb Styles*/
#breadcrumbs {
	background:#5B5A58;
	color:#fff;
	font-size:10px;
	height:1.7em;
	line-height:17px;
	margin-top:1px;
	padding-left:5px;
	top:-19px;
	width:487px;
	position:absolute;
	left:0
}
#content-inner .flush {
	margin-top:0px;
}
#BottomSlot1 {
	text-align:left;
	width:738px;
	background-color:#F8F8F8;
	clear:both;
	padding:10px 0;
	margin:0 auto
}
#BottomSlot2 {
	width:738px;
	text-align:center;
	margin:10px auto
}
/*Template P-landing*/
div#content-left {
	float:left;
	border-right:7px solid #CCC;
	background:#F8F8F8;
	width:492px
}
div#content-left2 {
	float:left;
	border-right:7px solid #CCC;
	background:#FFF;
	width:492px
}
div#content-inner {
	margin-top:19px;
	position:relative;
	margin-bottom: 10px
}
div#content-right {
	float:right;
	width:239px;
	background: #FFF;
}
/*Landing page 3 column container*/
#wrapper {
	background:url(/images/global/background/ports-bg.gif) repeat-y;
	overflow:hidden;
	width:738px;
	padding-bottom: 10px
}
#wrapper div {
	float:left;
	width:242px
}
#banner img {
	float:left;
	margin-bottom:3px
}
#banner object {
	margin-bottom:-1px
}
/* Debut image in same heading line issue*
#content-2col img {display:block}
*/
#banner-inner img {
	display:block
}
#banner-inner object {
	display:block
}
#content-2col p {
	padding:2px 5px 5px
}
/** LIST STYLES **/
ol {
	padding-left:5px;
	list-style:decimal;
	margin-left:5px;
	margin-right:0;
	padding-right:0;
	margin-bottom:5px
}
ul.list-horiz li {
	display:inline;
	margin-right:15px
}
.total-result-container li {
	display:inline;
	background:#E7EFF1;
	margin-right:2px;
	margin-left:2px;
	padding:3px
}
.total-result-container ul {
	display:inline;
	margin-right:8px;
	margin-left:8px
}
#breadcrumbs li {
	display:inline
}
#content-2col .list-normal-disc li {
	width:auto;
	list-style:disc inside;
	font-size:11px;
	border-style:none;
	padding:4px 20px
}
#content-2col ul.list-normal-disc {
	width:auto;
	list-style:disc;
	margin-left:10px
}
ul {
	margin-bottom:5px
}
.list-margin li {
	margin-bottom:5px
}
#breadcrumbs ul {
	list-style:none;
	margin-bottom:0
}
#wrapper ul {
	list-style:none;
	width:240px;
	margin:0;
	padding:5px 0 10px
}
#wrapper li {
	padding-left:13px;
	margin:5px
}
#content-2col ul {
	font-size:12px;
	list-style:none;
	width:240px;
	padding:10px 0
}
#content-2col li {
	border-bottom:1px solid #fff;
	padding:5px 0 5px 40px
}
ul.link-list {
	list-style:none outside;
	width:490px;
	margin-top:10px;
	margin-bottom:10px;
	clear:both
}
ul.link-list li {
	width:240px;
	padding-bottom:5px;
	padding-left:5px;
	float:left;
	display:block
}
#content-2col ul.link-list-cell, ul.link-list-cell {
	display:block;
	list-style:none outside;
	width:360px;
	margin:0 5px;
	padding:0
}
#content-2col ul.link-list-cell li, ul.link-list-cell li {
	width:171px;
	float:left;
	padding-bottom:5px;
	padding-left:5px;
	background:#FFF;
	margin:1px
}
#content-2col ul.link-list-cell-s {
	font-size:11px;
	display:block;
	list-style:none outside;
	width:360px;
	margin:3px 0;
	padding:0
}
#content-2col ul.link-list-cell-s li {
	float:left;
	width:170px;
	border:none;
	margin:1px;
	padding:0 0 0 5px
}
#content-right ul {
	display:block;
	list-style:none outside;
	margin-bottom:15px;
	clear:both;
}
#content-right li {
	border-bottom:1px solid #E0E0E0;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px
}
.snippetTArrow-List ul li {
	margin:2px 5px 0;
	padding:0
}
.content-large-slot ol li {
	margin-left:15px
}
.contentBox2 ul {
	margin:-10px;
}
#content-2col .contentBox2 ul li {
	list-style:disc inside;
	font-size:11px;
	border-bottom:0 solid #000;
	margin: -7px -10px 4px 2px;
	padding-right: 0;
	padding-bottom: 0
}
.tableNormal li {
	list-style:none;
	padding-left:5px;
	line-height:28px
}
/*content-right styles*/
#content-right .down-img {
	overflow:auto;
	border-bottom:1px solid #CCC;
	float:none; /*changed from "left"*/
	width:229px;
	margin-top: 7px
}
#content-right .down-img img {
	clear:left;
	float:left;
	display:block;
	margin:0px 5px 7px 0
}
#content-right h4.compare-head {
	background:#8DAAC7
}
#content-right span {
	background:#f7f7f7;
	color:#1E4E8D;
	font-weight:700;
	display:block;
	padding:4px
}
#content-right .btn-bg {
	background:#e5e5e5;
	text-align:center;
	padding:4px
}
#content-right .btn-bg img {
	display:block;
	margin:0 auto
}
#content-right .cuisetour-sidebar {
	margin-top:50px
}
#content-right .find-slot {
	background:#f7f7f7;
	border-top:1px solid #FFF;
	overflow:auto;
	padding:4px
}
#content-right .find-slot p {
	float:left;
	width:136px;
	padding:0 3px
}
/** LINKS STATES**/
a {
	color:#1E4E8D;
	text-decoration:none
}
#breadcrumbs a {
	background:url(/images/global/background/nav_arrow.gif) no-repeat right center;
	padding-right:8px;
	padding-left: 3px
}
.sub-link a {
	color:#5D779A;
	text-decoration:none
}
a.linksorange {
	color:#F60;
	font-weight:700;
	text-decoration:none;
	margin-right: 2px;
}
.snippetTArrow-List a {
	color:#154E8E;
	text-decoration:none
}
.floatContainer a {
	font-weight:700;
	text-decoration:none;
	color:#1E4E8D
}
a.linksorange :hover {
	text-decoration:none
}
#breadcrumbs a:link, #breadcrumbs a:visited {
	color:#fff;
	text-decoration:none
}
.snippetTArrow-List li a {
	text-decoration:none;
	color:#154E8E
}
#container .noLinkBg a {
	background:url(/images/global/navigation/linkNoBg.gif) no-repeat;
	margin:0;
	padding:0
}
#breadcrumbs #ActiveBreadCrumb a, #ActiveBreadCrumb a {
	background:none
}
.snippetVLink a {
	color:#86A3D5;
	text-decoration:none
}
#footerGlobalLinks a {
	font-weight:400;
	padding-right:10px;
	background:url(/images/global/navigation/linkSeperator.gif) no-repeat right;
	color:#666;
	text-decoration:none
}
.cruise-details-table td a {
	color:#5B7F1C
}
.link-list-cell-grey a {
	color:#1E4E8D;
	text-decoration:none;
	font-weight:700;
	font-size:11px
}
a:hover, #breadcrumbs a:hover, #content-inner a.noline:hover, .floatContainer a:hover, #copyRight a:hover {
	text-decoration:underline;
}
/** SNIPPETS STYLES**/
.css-table {
	display:table;
	height:100%;
	margin-top:4px;
	clear:both;
	padding-top: 0;
	padding-bottom: 4px
}
.css-table2 {
	display:table;
	height:100%;
	padding-left:0;
	padding-bottom:3px;
	clear:both;
	background: #FFF;
	color: #333
}
.css-table>div, .css-table2>div {
	display:table-row
}
.css-table>div>div:first-child, .css-table2>div>div:first-child {
	display:table-cell;
	vertical-align:top
}
.shortContentHolder-TBar-C-L p {
	padding:0 0 5px 2px
}
.TBarBlueCLwithArrow {
	background:#8DA9C6;
	font-size:12px;
	text-transform:uppercase;
	color:#FFF;
	text-indent:3px
}
.TBarGreyCLwithArrow {
	background:#9E9F9F;
	font-size:12px;
	text-transform:uppercase;
	color:#FFF;
	text-indent:3px
}
.snippetVLink {
	margin:10px 5px 10px 0px
}
.snippetTArrow-List {
	margin-bottom:10px
}
.headingPanelBlue {
	background:#5C80A2;
	height:18px;
	color:#FFF;
	text-transform:uppercase;
	line-height: 18px;
	font-size: 12px
}
.snippetTArrow-List .links {
	margin:-9px 0 -2px 15px
}
.contentBox {
	margin:10px 5px 5px
}
.contentBox2 {
	border-bottom:1px solid #CCC;
	padding-bottom:14px;
	padding-top:8px;
	margin:10px 5px 5px
}
.contentBox3 {
	margin:10px 5px 15px
}
/** TABLE STYLES **/

table.tableMain th {
	background:#F5F5F5;
	text-align:left;
	font-weight:400;
	white-space:nowrap;
	padding:1px 4px;
	border-bottom:1px solid #DEDEDE
}
.tableMain td {
	color:#254077;
	height:20px;
	border-bottom:1px solid #DEDEDE;
	empty-cells:show;
	padding:3px 3px 3px 5px;
	font-weight: 700
}
.table-main2 caption {
	color:#1D4E8F;
	background:#DCE6EF;
	text-transform:uppercase;
	font-size:12px;
	font-weight:700;
	text-align:left;
	padding:3px 3px 3px 5px;
	margin-top: 7px
}
.table-main2 td {
	white-space:nowrap;
	empty-cells:show;
	text-align:center;
	font-weight:700;
	padding: 4px
}
.tableNormal td {
	vertical-align:top;
	padding:2px 2px 2px 3px;
	border-spacing:0;
	line-height: 14px
}
.shore-result-table th {
	background:#E0E0E0;
	color:#6B6B6B;
	text-align:left;
	padding-left:5px;
	height:20px
}
.shore-result-table td {
	padding-top:10px;
	padding-right:5px;
	vertical-align:top
}
/* Other Styles */
#find-Compare {
	background:#FFF;
	width:708px;
	text-align:center;
	margin:0;
	padding:0px 15px 10px
}
.floatContainer {
	float:left;
	width:49%;
	padding:5px 0 5px 5px
}
.floatContainer2 {
	float:left;
	width:48%;
	padding-right:5px
}
.boxDownload {
	background:#f4f7f9;
	border:1px solid #BFCFDD;
	height:37px;
	clear:both;
	margin-top:10px;
	padding-top: 1px;
	text-align: left
}
.float-box {
	float:left;
	background:#FFF;
	padding:5px
}
.content-shore-excursions {
	background:#F8F8F8;
	border-top:5px solid #FFF;
	width:100%;
	clear: both;
	padding-bottom: 15px
}
.info {
	font-size:12px;
	font-weight:700;
	margin:10px 0 20px
}
.iefloatleft img {
	margin:3px 5px 5px
}
.div-shore-result {
	background:#F8F8F8;
	border-top:5px solid #FFF;
	width:728px;
	padding:10px 5px
}
.row-images {
	white-space:nowrap
}
#content-2col .contentBox2 p {
	padding-left:35px
}
.css-table-out-button {
	position:relative;
	top:-10px;
	margin:5px;
	padding:0
}
.css-table-out-button img {
	margin-top:3px
}
.virtual-bg {
	background:transparent url(/images/icon_virtualtview.gif) no-repeat scroll left 1px;
	padding-left:23px;
}
#search-box {
	margin:5px 5px 8px 7px
}
#search-box img {
	vertical-align:bottom
}
#search-box label {
	padding-left:5px
}
#search-box p {
	padding:1px 0 1px 5px
}
.content-large-slot {
	width:320px;
	float:left
}
.content-small-slot {
	width:170px;
	float:left;
	margin-left:2px
}
.width65 {
	width:65%
}
.deck-cell-width {
	width:210px
}
.width40 {
	width:40px
}
.width80 {
	width:80px
}
.width100 {
	width:100px
}
.width130 {
	width:130px
}
.box-inner-content {
	height:20px;
	padding-top:3px;
	border-style:none;
	background-color: #E9EEF4
}
.v-middle {
	line-height:2.5em
}
#content-2col .list-item-container img {
	display:inline
}
.list-item-container a {
	color:#1E4E8D;
	font-weight:100
}
.b-margin-15 p, p.b-margin-15 {
	margin-bottom:15px
}
#content-2col .grey-bg {
	background:#5A5957
}
.width-330 {
	width:330px
}
.list-normal {
	margin:10px 0 10px 8px;
	list-style:none;
}
#content-2col ul.list-normal {
	font-size:11px;
	margin:0;
	padding:5px
}
#content-2col ul.list-normal li {
	margin:-8px 0 0 -18px;
	list-style:none;
	border-style:none
}
address {
	font-style:normal;
	margin:5px
}
.pad-neg {
	margin:0 0 -10px
}
#content-inner ul.list-normal-disc {
	list-style:disc outside;
	margin:5px 10px 10px;
	padding-right: 15px;
	padding-left: 15px
}
#content-2col .heading7 img {
	display:inline;
	margin:10px 5px 0
}
.results-container {
	background:#f4f7f9;
	margin-bottom:20px;
	clear:both;
	padding-bottom:5px;
	width:100%
}
.table-dining th {
	color:#FFF;
	background:#7296b9;
	text-transform:uppercase;
	padding-left:3px
}
.row-even td {
	background:#f4f7f9
}
.table-dining td {
	vertical-align:top;
	text-align:center;
	border-bottom:1px solid #7296b9;
	padding:3px
}
.table-dining .align-left {
	text-align:left
}
.cell-width-70 {
	width:70px
}
#content-inner .table-dining .btm-no-border {
	border-bottom:none
}
.pad-v-2-h-5 {
	padding:2px 5px
}
.cruise-details-table th {
	background:#DDE6EE;
	text-align:left;
	border-bottom:1px solid #B3B3B3;
	border-left:1px solid #B3B3B3;
	font-weight:400;
	color:#1E4E8D;
	padding:3px
}
.cruise-details-table td {
	background:#FFF;
	border-bottom:1px solid #B3B3B3;
	border-left:1px solid #B3B3B3;
	color:#F60;
	padding:3px
}
.cruise-table th {
	background:#DDE6EE;
	text-align:left;
	border-bottom:1px solid #B0B0B0;
	border-left:1px solid #B0B0B0;
	padding:5px
}
.cruise-table td {
	background:#FFF;
	padding:5px;
	border-bottom:1px solid #B0B0B0;
	border-left:1px solid #B0B0B0
}
.cruise-table2 td {
	border-bottom:1px solid #B0B0B0;
	border-left:1px solid #B0B0B0;
	vertical-align:top
}
.sort-panel {
	background:#E0E0E0;
	width:100%
}
.sort-panel label {
	padding-left:10px
}
.total-result-container {
	margin:6px 0;
	padding:6px 5px
}
.search-details-container {
	background:#FFF;
	clear:both;
	margin:2px 6px
}
.shore-result-table img, img.v-middle {
	margin:0;
	padding:0 0 0 5px
}
.left-float, #content-right .find-slot img {
	float:left
}
.pad-t-b-10 p {
	padding:10px 5px
}
#wrapper p {
	padding: 0 5px 5px
}
#wrapper img.flow, #content-2col img.flow {
	display:inline;
	padding:0 3px
}
.snippetTBar-List, .content-right-snippet h5, .bg-white, #content-left.bg-white {
	background:#FFF
}
.tableNormal caption, .panel-heading, .tableMain caption {
	background:#DEDEDE;
	text-transform:uppercase;
	font-size:12px;
	font-weight:700;
	text-align:left;
	padding:3px 3px 3px 5px;
	color: #5d5d5d
}
.cruise-table .even-row td {
	background:#F7F7F7
}
.b-margin p, .b-margin {
	margin-bottom:7px
}
/*=SPECIFIC STYLES */
#search label {
	position: relative;
	top: -17px;
	left: 48px;
	text-transform: uppercase;
	color: #1E4E8D
}
.css-table p {
	padding-bottom: 6px
}
.css-table2 p {
	padding-bottom: 1px
}
#copyRight a {
	color: #999;
	text-decoration: none
}
#bg-fix {
	background: #FFF
}
/* Plugin CSS Table */
.css-table-plugin {
	display:table;
	color:#000;
	width:98%;
	background: #f4f7f9;
	margin: 10px auto 5px;
	padding: 0;
	border: 1px solid #CCC;
	clear: both
}
.css-table-plugin>div {
	display:table-row
}
.css-table-plugin>div>div:first-child {
	display:table-cell;
	border-right: 1px solid #CCC;
	background: #FFF;
	padding: 2px
}
html>body .css-table-plugin>div>div + div {
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 12px;
	vertical-align: middle;
	height: 46px;
	line-height: 52px;
	padding-left: 5px
}
.plugin-style {
	float:left
}
/* Plugin CSS Table end here */
#content #wrapper .decorative {
	margin-bottom: 10px
}
#content-right .border-none, .border-none p {
	border-style: none;
}
#content-2col .contentBox2 img {
	display:inline;
	vertical-align:text-top;
	margin-right:8px;
}
.right-panel-search img {
	vertical-align: bottom
}
.right-panel-search label {
	margin-right: -40px
}
.results-container .css-table p {
	padding: 0
}
.results-container .css-table {
	padding: 2px 5px 0
}
.list-normal-disc li {
	padding-bottom: 3px
}
#BottomSlot1 .list-normal-disc li {
	width:auto;
	list-style:disc inside;
	font-size:11px;
	border-style:none;
	padding:4px 20px
}
#BottomSlot1 ul.list-normal-disc {
	width:auto;
	list-style:disc;
	margin-left:10px
}
ul.list-normal-disc2 {
	margin: 0px 0 5px 20px;
	padding: 0
}
.form-label-pop p {
	margin: 0;
	padding: 3px 0 0;
}
.neg-t-10 {
	margin-top: -10px
}
#content-2col .no-pad-container p {
	margin: 0;
	padding: 5px 0 0
}
#content-right h4.ready-to-book {
	background: #FFF;
	padding-top: 10px
}
#content-right h4.ready-to-book img {
	background: #FFF;
	margin-bottom: -5px
}
#content-right p {
	padding-bottom: 5px;
	padding-left: 0px
}
.content-center {
	width:230px;
	margin:0 auto
}
.highlight-text {
	color: #F60
}
#content .bookmark {
	color:#FFF;
	background:#9E9F9F;
	padding-top: 1px;
	padding-bottom: 2px;
	margin-bottom: 4px
}
#content .bookmark a {
	text-decoration: none;
	color: #FFF;
}
#content-right .css-table {
	margin: 0px;
	padding: 5px 0px 0px
}
.float-right {
	float: right
}
.box-container {
	background: #EEEEEE;
	clear: both;
	margin-top: -7px
}
.blue-box {
	background: #8daac7;
	color: #FFF;
	font-weight: 700;
	margin-top: 5px;
	clear: both;
	text-transform: none
}
.blue-box p {
	margin: 0px;
	padding: 1px 5px
}
.lightblue-box {
	background: #f4f7f9;
	padding-top: 5px;
	clear: both;
	margin-bottom: 10px
}
.lightblue-box ul {
	width: 142px;
	float: left;
	padding-left: 20px;
	background-color: #f4f7f9;
	list-style: disc outside
}
.lightblue-box li h6 {
	padding: 0px;
	list-style: none;
	margin-left: -15px
}
.cruise-table caption {
	font-weight: 700;
	text-align: left;
	padding: 5px
}
#search-box .img-v-align, .img-v-align {
	vertical-align:middle
}
.sub-link {
	margin: -10px 0px 0px;
	padding-bottom: 0px
}
.info h4 {
	font-style: italic;
	font-weight: bold;
	color: #000
}
.shore-result-table p {
	padding-top: 2px;
	padding-bottom: 3px
}
#content-right .down-img p {
	padding: 0px;
	margin-top: 0px;
}
#content-right .css-table p {
	padding-left: 5px
}
#content-inner .bookmark2 a {
	color:#5d5d5d;
	text-decoration: none
}
.css-table2 .iefloatleft img {
	padding: 0px;
	margin: 0px
}
#content-inner .btm-no-border {
	border-bottom:none
}
.css-table2 .linkarrow {
	margin-left: 0px
}
#content .grey {
	color:#333
}
.no-disc {
	list-style: none
}
.css-table ul {
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px
}
.list-normal-lower-alphabet p {
	padding: 0px;
	margin: 10px 0
}
.ext-stay {
	margin-top: 8px
}
#content-inner .ext-stay .css-table {
	margin: 0px
}
#content-inner .tableMain .css-table2 p {
	font-weight: 200
}
tr.highlight {
	background-color: #f5f5f5;
	cursor: pointer
}
#content-inner .list-passage {
	list-style: none outside;
	margin:0 10px 10px 10px
}
.list-passage li {
	margin-bottom: 6px
}
#content-inner .list-passage ul {
	padding-left: 20px;
	padding-top: 20px;
	list-style: none
}
#content-inner .ext-stay p {
	margin-left: 5px
}
#content-inner .ext-stay .css-table p {
	margin-left: 0px
}
#content-inner .box-inner-content img {
	padding-left: 5px
}
#search span {
	margin-right: -20px
}
#content-inner .bg-no-color li {
	background: none
}
.table-simple td {
	padding:0 2px
}
#wrapper a {
	margin-right: 10px
}
#content-right .css-table {
	padding: 0px
}
.legend {
	height: 12px;
	width: 23px;
	border: 2px groove #333
}
.contentBox3 label {
	font-weight: 700
}
#rightSlot .snippetContainer {
	padding-top: 25px
}
h2 .super {
	font-size:0.6em;
	bottom:0.6em;
	line-height: 0
}
h3 .super, h4 .super, h5 .super {
	font-size:0.8em;
	bottom:0.5em;
	line-height: 0
}
#content-2col .pad-t-b-10 {
	padding:10px 5px
}
.image90 {
	width:95px
}
.image120 {
	width:125px;
	text-align:center
}
.image17 {
	width:17px
}
.image150 {
	width:155px
}
.width250 {
	width:250px
}
.pad-t-10 p {
	padding:10px 5px 5px
}
.shore-table-links {
	font-weight:700
}
div.title-panel {
	background: #f9f9f9;
	border-top: 1px solid #cdcdcd;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-weight: 700;
	padding: 3px 3px 3px 12px;
}
/****Brochure Download Page*****/

#sfo-details {
	padding-bottom: 15px
}
.brochure-download h4 {
	color:#5D5D5D;
	font-size:11px;
	font-weight:700;
	background:#EBEBEB;
	margin:1px 1px 1px 0;
	padding: 5px 0 3px 15px;
	clear: both
}
.brochure-download div {
	background:#FFF;/*padding-left:0px*/
}
.brochure-download select {
	margin-top:2px;
	margin-bottom:4px;
	width:440px;
	height: 19px
}
.brochure-download .css-table h3 {
	margin-left: -8px;
	text-transform: uppercase;
	font-size: 1.1em;
	padding-top: 10px;
}
.brochure-download h3.heading {
	background: #ebebeb;
	text-transform: uppercase;
	font-size: 11px;
	padding: 3px 3px 3px;
}
.brochure-download p.brochure-desc {
	margin-top: -4px;
	padding-left:2px;
	padding-top:5px;
	padding-bottom: 5px;
}
.brochure-download .download-pdf-image {
	padding: 0px;
	margin-bottom: -2px;
	margin-right: 1px;
}
.brochure-download a {
	margin-right: 5px;
}
.brochure-wbox {
	margin: 0px;
	padding-top: 5px;
	background: #ffffff;
}
.brochure-download .download-e-image {
	padding: 0px;
	margin-bottom: -5px;
	margin-right: 1px;
}
.brochure-download .new-image {
	margin-left:-20px;
	margin-right:-7px;
	margin-top:15px;
	vertical-align:top;
}
.brochure-download p { /*cruises.css (line 1057)*/
	margin-left:-5px;
	padding-left:40px;
	padding-top:5px;
	padding-bottom:2px;
}
#sfo-details div.title-panel { /*cruises.css (line 1265)*/
	background:#F9F9F9 none repeat scroll 0% 0%;
	border-top:1px solid #CDCDCD;
	border-width:1px;
	font-weight:700;
	padding:3px 3px 3px 35px;
}
.brochure-download p.brochure-link { /*cruises.css (line 1290)*/
	margin-left:-49px;
	margin-top:-9px;
}
#sfo-details .css-table { /*cruises.css (line 607)*/
	padding-left:22px;
	padding-bottom: 0px;
}
ul.find-steps {
	color:#444444;
	font-size:12px;
	font-weight:700;
	margin:7px 10px 15px0;
}
ul.find-steps li {
	line-height:16px;
	margin-bottom:5px;
	padding-bottom:4px;
	padding-left:0px;
	padding-top:0px;
	vertical-align:baseline;
	list-style-type:none
}
ul.find-steps li span {
	padding-left: 5px;
	line-height: 16px;
}
.bottom-border {
	border-bottom:1px solid #f0eee2;
}
.find-steps img {
	vertical-align: bottom;
}
.virtual-view-list {
	float: left;
	border-right: 1px solid #CCC;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.virtual-view-list ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.virtual-view-list ul {
	padding: 0px 15px 0px 5px;
}
.no-border {
	border-style:none
}

#no-navigation {
	background:url(/images/global/menu/Bg_No_nav_new.gif) repeat-x;
	height:20px;
	position:absolute;
	text-align:center;
	top:81px;
	left:0;
	width: 100%;
	font-size:11px;
}
#specialOfferLink{ background: url(/images/icn_envelope.gif) no-repeat left center; padding: 0 18px}

#content-right .sidebar-snippet { margin-bottom: 15px; }
#content-right .sidebar-snippet p { padding-left: 10px; }
#content-right .sidebar-snippet h5 { font-size: 13px; padding-left: 10px; }
#fbPrLikeWidget, #fbPrCommentWidget {padding:10px 3px 3px;}
#eom-container {clear:both;overflow:hidden}
#eom-container div { width: 30%; float: left; text-align: center; border: 1px solid #CCC; margin: 6px; padding: 5px; }
#eom-container h4{padding:5px;}
#eom-container h6{font-weight:200}
.ssp-album{ background:#0d4f8c !important;}
.ssp-mobile-poster-content {
	/* Parent div of content underneath image */
	 bottom: 45px !important;
	 background:#0d4f8c !important;
}
.ssp-mobile-poster-label {
	/* "Media Gallery" text */  
}
.ssp-mobile-poster-title {
	/* Album and gallery title */   
	font-family: Arial,Helvetica,sans-serif  !important;  
	background:#0d4f8c !important;
	font-weight:normal !important;
	font-size: 20px !important;
	margin:0 !important;
}
.ssp-mobile-poster-description {
	/* Album and gallery description */  
}
.ssp-mobile-poster-button, .ssp-mobile-poster-background {
	display:none  !important;        
}
.ta-find-button {
	margin:0 0 0 132px;
}

/* 
 *  Need to introduce fixes and parts of responsive grid to make Ship Facts / Photo Gallery work
 */
 
.mfp-container, .mfp-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ir {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  border: 0 none;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.panel-container h1, #destinations-select-holder {
	display:none;
}

.ship-facts {
	margin:0 15px;
}

/* Responsive youtube video embed 'video-responsive' class is wrapper for youtube iframe */
.video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.popupVideoMain, .popupVideoSidebar {
	margin:15px 0;
}
.popupVideoMain *:last-child {
	margin-bottom:0;
}
.sPopupSTBar {
	margin-top:15px;
}
.sPopupSTBar ul {
	list-style:none;
	padding:0;
}
.popupVideoSidebar img {
	display:block;
	height:auto;
	width:auto;
}
.popupVideoMain h3 {
	margin: 0.8125em 0 0.5em;
}
.popupVideoMain {
	margin-top:.5em;
}
.popupVideoSidebar .no-spacing {
	margin:0;
	padding:0;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
	float: left;
}
.col-xs-1 {
	width: 8.333333333333332%;
}
.col-xs-2 {
	width: 16.666666666666664%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-4 {
	width: 33.33333333333333%;
}
.col-xs-5 {
	width: 41.66666666666667%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-7 {
	width: 58.333333333333336%;
}
.col-xs-8 {
	width: 66.66666666666666%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-10 {
	width: 83.33333333333334%;
}
.col-xs-11 {
	width: 91.66666666666666%;
}
.col-xs-12 {
	width: 100%;
}

/*change 768px to 640px to accommodate a new breakpoint */

/*@media (min-width:40em) { Removing break points because these pages will not be responsive */
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11 {
		float: left;
	}
	.col-sm-1 {
		width: 8.333333333333332%;
	}
	.col-sm-2 {
		width: 16.666666666666664%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33333333333333%;
	}
	.col-sm-5 {
		width: 41.66666666666667%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.333333333333336%;
	}
	.col-sm-8 {
		width: 66.66666666666666%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.33333333333334%;
	}
	.col-sm-11 {
		width: 91.66666666666666%;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-push-1 {
		left: 8.333333333333332%;
	}
	.col-sm-push-2 {
		left: 16.666666666666664%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-4 {
		left: 33.33333333333333%;
	}
	.col-sm-push-5 {
		left: 41.66666666666667%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-7 {
		left: 58.333333333333336%;
	}
	.col-sm-push-8 {
		left: 66.66666666666666%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-10 {
		left: 83.33333333333334%;
	}
	.col-sm-push-11 {
		left: 91.66666666666666%;
	}
	.col-sm-pull-1 {
		right: 8.333333333333332%;
	}
	.col-sm-pull-2 {
		right: 16.666666666666664%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-4 {
		right: 33.33333333333333%;
	}
	.col-sm-pull-5 {
		right: 41.66666666666667%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-7 {
		right: 58.333333333333336%;
	}
	.col-sm-pull-8 {
		right: 66.66666666666666%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-10 {
		right: 83.33333333333334%;
	}
	.col-sm-pull-11 {
		right: 91.66666666666666%;
	}
	.col-sm-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-sm-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66666666666666%;
	}
/*}
change 992px to 768px to accommodate a new breakpoint at 640
@media (min-width:48em) {*/
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11 {
		float: left;
	}
	.col-md-1 {
		width: 8.333333333333332%;
	}
	.col-md-2 {
		width: 16.666666666666664%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33333333333333%;
	}
	.col-md-5 {
		width: 41.66666666666667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.333333333333336%;
	}
	.col-md-8 {
		width: 66.66666666666666%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33333333333334%;
	}
	.col-md-11 {
		width: 91.66666666666666%;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-push-1 {
		left: 8.333333333333332%;
	}
	.col-md-push-2 {
		left: 16.666666666666664%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-4 {
		left: 33.33333333333333%;
	}
	.col-md-push-5 {
		left: 41.66666666666667%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-7 {
		left: 58.333333333333336%;
	}
	.col-md-push-8 {
		left: 66.66666666666666%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-10 {
		left: 83.33333333333334%;
	}
	.col-md-push-11 {
		left: 91.66666666666666%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-pull-1 {
		right: 8.333333333333332%;
	}
	.col-md-pull-2 {
		right: 16.666666666666664%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-4 {
		right: 33.33333333333333%;
	}
	.col-md-pull-5 {
		right: 41.66666666666667%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-7 {
		right: 58.333333333333336%;
	}
	.col-md-pull-8 {
		right: 66.66666666666666%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-10 {
		right: 83.33333333333334%;
	}
	.col-md-pull-11 {
		right: 91.66666666666666%;
	}
	.col-md-offset-0 {
		margin-left: 0;
	}
	.col-md-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-md-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-md-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-md-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-md-offset-11 {
		margin-left: 91.66666666666666%;
	}
/*}
change 1200px to 992px to accommodate a new breakpoint at 640
@media (min-width:62em) {*/
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11 {
		float: left;
	}
	.col-lg-1 {
		width: 8.333333333333332%;
	}
	.col-lg-2 {
		width: 16.666666666666664%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33333333333333%;
	}
	.col-lg-5 {
		width: 41.66666666666667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.333333333333336%;
	}
	.col-lg-8 {
		width: 66.66666666666666%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33333333333334%;
	}
	.col-lg-11 {
		width: 91.66666666666666%;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-push-1 {
		left: 8.333333333333332%;
	}
	.col-lg-push-2 {
		left: 16.666666666666664%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-4 {
		left: 33.33333333333333%;
	}
	.col-lg-push-5 {
		left: 41.66666666666667%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-7 {
		left: 58.333333333333336%;
	}
	.col-lg-push-8 {
		left: 66.66666666666666%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-10 {
		left: 83.33333333333334%;
	}
	.col-lg-push-11 {
		left: 91.66666666666666%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-pull-1 {
		right: 8.333333333333332%;
	}
	.col-lg-pull-2 {
		right: 16.666666666666664%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-4 {
		right: 33.33333333333333%;
	}
	.col-lg-pull-5 {
		right: 41.66666666666667%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-7 {
		right: 58.333333333333336%;
	}
	.col-lg-pull-8 {
		right: 66.66666666666666%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-10 {
		right: 83.33333333333334%;
	}
	.col-lg-pull-11 {
		right: 91.66666666666666%;
	}
	.col-lg-offset-0 {
		margin-left: 0;
	}
	.col-lg-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-lg-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-lg-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-lg-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-lg-offset-11 {
		margin-left: 91.66666666666666%;
	}
/*}*/